<div class="page-bar ">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="javascript:;" ui-sref="authentication.home.list">
                Home</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <b>E-Forms</b>
        </li>
    </ul>
</div>
<br>
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-blue">
            <i class="glyphicon glyphicon-list font-blue"></i>
            <span class="caption-subject bold uppercase">{{$state.current.data.pageTitle}}</span>
            <!-- <span class="caption-helper">Patient List</span> -->
        </div>
        <div class="actions">
            <button class="btn btn-circle blue" ng-click="Filter()"><i class="fa fa-filter"></i> Filter </button>
            <button class="btn btn-circle red"><i class="fa fa-plus"></i> Create </button>
            <button class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </button>
        </div>
        <!-- <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
            <a href="javascript:;" class="reload"> </a>
            <a href="javascript:;" class="fullscreen"> </a>
            <a href="javascript:;" class="remove"> </a>
        </div> -->
    </div>
    <div class="portlet-body">
    </div>
</div>