<div class="page-bar ">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="authentication.eForms.home">E-Forms</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <b>Appointment</b>
        </li>
    </ul>
</div>
<br>
<div class="row">
	<div class="col-md-4 col-sm-4">
		<div class="tabbable-custom nav-justified">
            <ul class="nav nav-tabs nav-justified">
                <li class="active">
                    <a href="@#tab_view" data-toggle="tab"> View </a>
                </li>
                <li>
                    <a href="@#tab_create" data-toggle="tab"> Create </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_view">
                    <div class="panel panel-default margin-top-30">
                        <!-- <div class="panel-heading">
                            <h3 class="panel-title bold">
                                <i class="fa fa-question-circle"></i> List question
                            </h3>
                        </div> -->
                        <div class="list-group">
                            <a class="accordion-toggle list-group-item" data-toggle="collapse" data-parent="#accordion3" href="@#question1"> 
                                Muốn giề đây ? <span class="badge badge-info">2</span>
                            </a>
                            <div id="question1" class="panel-collapse collapse">
                                <a href="javascript:;" class="list-group-item list-group-item-info"> 
                                    Default <span class="badge badge-warning"> + </span>
                                </a>
                                <a href="javascript:;" class="list-group-item list-group-item-info"> 
                                    Success <span class="badge badge-warning"> + </span>
                                </a>
                            </div>
                            <a class="accordion-toggle list-group-item" data-toggle="collapse" data-parent="#accordion3" href="@#question2"> 
                                Đây muốn giề ? <span class="badge badge-info">2</span>
                            </a>
                            <div id="question2" class="panel-collapse collapse">
                                <a href="javascript:;" class="list-group-item list-group-item-info"> 
                                    Default <span class="badge badge-warning"> + </span>
                                </a>
                                <a href="javascript:;" class="list-group-item list-group-item-info"> 
                                    Success <span class="badge badge-warning"> + </span>
                                </a>
                            </div>
                            <a class="list-group-item"> 
                                Giề muốn đây <span class="badge badge-warning">+</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_create">
                	<div class="panel panel-default margin-top-30">
                        <!-- <div class="panel-heading">
                            <h3 class="panel-title bold">
                                <i class="fa fa-question-circle"></i> List question
                            </h3>
                        </div> -->
                        <div class="list-group">
                            <a class="accordion-toggle list-group-item" data-toggle="collapse" data-parent="#accordion3" href="@#question1"> 
                                Muốn giề đây ? <span class="badge badge-info">2</span>
                            </a>
                            <div id="question1" class="panel-collapse collapse in">
                                <a href="javascript:;" class="list-group-item list-group-item-info"> 
                                    Default <span class="badge badge-warning"> + </span>
                                </a>
                                <a href="javascript:;" class="list-group-item list-group-item-info"> 
                                    Success <span class="badge badge-warning"> + </span>
                                </a>
                            </div>
                            <a class="accordion-toggle list-group-item" data-toggle="collapse" data-parent="#accordion3" href="@#question2"> 
                                Đây muốn giề ? <span class="badge badge-info">2</span>
                            </a>
                            <div id="question2" class="panel-collapse collapse">
                                <a href="javascript:;" class="list-group-item list-group-item-info"> 
                                    Default <span class="badge badge-warning"> + </span>
                                </a>
                                <a href="javascript:;" class="list-group-item list-group-item-info"> 
                                    Success <span class="badge badge-warning"> + </span>
                                </a>
                            </div>
                            <a class="list-group-item"> 
                                Giề muốn đây <span class="badge badge-warning">+</span>
                            </a>
                        </div>
                    </div>
                    <p><a class="btn btn-lg btn-block red-thunderbird" href="javascript:;"> Add</a></p>
                </div>
            </div>
        </div>
	</div>
	<div class="col-md-8 col-sm-8">
		<div class="portlet box red-thunderbird">
		    <div class="portlet-title">
		        <div class="caption">
		            <i class="glyphicon glyphicon-list"></i>
		            <span class="caption-subject bold uppercase">E-Forms Home</span>
		            <span class="caption-helper">Sub title</span>
		        </div>
		        <div class="tools">
		            <a href="javascript:;" class="collapse"> </a>
		            <a href="javascript:;" class="fullscreen"> </a>
		        </div>
		    </div>
		    <div class="portlet-body">
		        
		    </div>
		</div>
	</div>
</div>