<!--BEGIN PAGE HEADER-->
<div class="page-bar ">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="javascript:;" ui-sref="authentication.home.list">Home</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <b>Appointment</b>
        </li>
    </ul>
</div>
<h3 class="page-title bold">Appointment</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN BODY -->
<div class="portlet box green portlet-datatable">
    <div class="portlet-title">
        <div class="caption bold uppercase">
            <i class="icon-list"></i>
            <span class="caption-subject">Appointment</span>
            <!-- <span class="caption-helper font-yellow-lemon"></span> -->
        </div>
        <div class="actions">
            <a  href="javascript:;" class="btn blue-soft" ng-click="LoadData()">
                <i class="fa fa-refresh"></i> Refresh
            </a>
            <a  href="javascript:;" class="btn yellow-lemon" ng-click="Clear()">
                <i class="glyphicon glyphicon-remove"></i> Clear Search
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <!-- <div class="table-scrollable margin-top-10"> -->
        <div class="table-scrollable table-scrollable-borderless table-responsive dt-responsive margin-top-20">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th width="1">#</th>
                        <th >Code</th>
                        <th>Patient</th>
                        <th>Treating Practitioner</th>
                        <th>
                            Submit Date
                            <i class="fa fa-sort-asc sortDataTable" ng-click="sortDataTable('SubmitDate','ASC')" ng-show="typeSubmitDate == 'ASC'"></i>
                            <i class="fa fa-sort-desc sortDataTable" ng-click="sortDataTable('SubmitDate','DESC')" ng-show="typeSubmitDate == 'DESC'"></i>
                        </th>
                        <th width="1" align="center" style="text-align:center">
                            Referral Tracking
                            <img src="./theme/assets/layouts/layout/imgStatus/ReferralTracking.png">
                        </th>
                        <th width="160px">Appointment Type</th>
                        <th>
                            Appointment Date
                            <i class="fa fa-sort-asc sortDataTable" ng-click="sortDataTable('AppointmentDate','ASC')" ng-show="typeAppointmentDate == 'ASC'"></i>
                            <i class="fa fa-sort-desc sortDataTable" ng-click="sortDataTable('AppointmentDate','DESC')" ng-show="typeAppointmentDate == 'DESC'"></i>
                        </th>
                        <th width="1">Correspondence</th>
                    </tr>
                    <tr ng-hide="info.toggle">
                        <td></td>
                        <td>
                            <input type="text" class="form-control" ng-model="info.data.Filter[0].Appointment.Code" ng-enter="reloadData()" capitalize>
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="info.data.Search[0].PatientAppointment.FullName" ng-enter="reloadData()">
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="info.data.Search[1].Doctor.FullName" ng-enter="reloadData()">
                        </td>
                        <td class="form-inline">
                            <input type="text" class="form-control date-picker input-small" style="width: 40% !important" data-date-format="dd/mm/yyyy" ng-model="fromCreateDate" ng-change="reloadData()"> to
                            <input type="text" class="form-control date-picker input-small" style="width: 40% !important" data-date-format="dd/mm/yyyy" ng-model="toCreateDate" ng-change="reloadData()">
                        </td>
                        <td width="131px">
                            {{info.data.Filter.Appointment.Status}}
                            <select class="form-control" ng-model="info.data.Filter[0].Appointment.Status" name="Status" ng-options="item.value as item.name for item in info.apptStatus" ng-change="reloadData()">
                                <option value="">All</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" ng-model="info.data.Filter[0].Appointment.Type" name="Type" ng-change="reloadData()">
                                <option value="">All</option>
                                <option value="Telehealth">Teleheath</option>
                                <option value="Onsite">On Site</option>
                                <option value="PreEmployment">PreEmployment</option>
                                <option value="Campaign">Campaign</option>
                            </select>
                        </td>
                        <td class="form-inline">
                            <input type="text" class="form-control date-picker input-small" style="width: 40% !important" data-date-format="dd/mm/yyyy" ng-model="starFromTime" ng-change="reloadData()"> to
                            <input type="text" class="form-control date-picker input-small" style="width: 40% !important" data-date-format="dd/mm/yyyy" ng-model="endFromTime" ng-change="reloadData()">
                        </td>
                        <td>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tbody>
                        <tr ng-click="WAAppointmentDetail(appt.UID,appt.Type)" ng-repeat="appt in info.listWaapointment.rows">
                            <td>{{($index+1)+ 20*(info.paging.currentPage-1)}}</td>
                            <td>{{appt.Code}}</td>
                            <td>

                                <span>
                                {{(appt.Patients[0].FirstName !== 0)?appt.Patients[0].FirstName:""}} {{(appt.Patients[0].LastName !== null)?appt.Patients[0].LastName:""}}
                                </span><span ng-if="appt.ishavePatientAppointment === true" style="color:red;">*</span>
                            </td>
                            <td>
                                <!--{{((appt.Doctors[0].Title !=null)?appt.Doctors[0].Title:"")+" "+((appt.Doctors[0].FirstName != null)?appt.Doctors[0].FirstName:"") +" "+((appt.Doctors[0].LastName != null)?appt.Doctors[0].LastName:"")}}-->
                                <span
                                    data-toggle="tooltip"
                                    data-placement="left"
                                    title="{{appt.DoctorsName}}">
                                    {{appt.Doctors.length>1?'Group':appt.DoctorsName}}
                                </span>
                            </td>
                            <td>{{appt.CreatedDate | date: 'dd/MM/yyyy'}}</td>
                            <td>
                                <span ng-if="appt.Status === info.apptStatus[3].value"><img src="./theme/assets/layouts/layout/imgStatus/attended.png" ></span>
                                <span ng-if="appt.Status === info.apptStatus[4].value"><img src="./theme/assets/layouts/layout/imgStatus/waitlist.png" ></span>
                                <span ng-if="appt.Status === info.apptStatus[1].value"><img src="./theme/assets/layouts/layout/imgStatus/pending.png" ></span>
                                <span ng-if="appt.Status === info.apptStatus[0].value"><img src="./theme/assets/layouts/layout/imgStatus/received.png" ></span>
                                <span ng-if="appt.Status === info.apptStatus[6].value" class="label label-danger">Cancelled</span>
                                <span ng-if="appt.Status === info.apptStatus[2].value"><img src="./theme/assets/layouts/layout/imgStatus/time.png" ></span>
                                <span ng-if="appt.Status === info.apptStatus[5].value"><img src="./theme/assets/layouts/layout/imgStatus/finish.png" ></span>
                            </td>
                            <td>{{(appt.Type !== "Onsite")?appt.Type:"On Site"}}</td>
                            <td>{{appt.FromTime | date: 'dd/MM/yyyy - HH:mm'}}</td>
                            <td style="text-align:center">
                                <i class="glyphicon glyphicon-ok font-green-haze" ng-if="appt.TelehealthAppointment.Correspondence === 'Y'"></i>
                                <i class="glyphicon glyphicon-remove font-red" ng-if="appt.TelehealthAppointment.Correspondence !== 'Y'"></i>
                            </td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <div class="dataTables_info">Total: {{info.listWaapointment.count}} records</div>
            </div>
            <div class="col-md-7 col-md-7" style="text-align:right">
                <div class="dataTables_paginate paging_simple_numbers" id="sample_1_paginate">
                    <pagination boundary-links="true" total-items="info.listWaapointment.count" ng-model="info.paging.currentPage" class="pagination-md" previous-text="&lsaquo;" next-text="&rsaquo; " first-text="&laquo; " last-text="&raquo;" items-per-page="info.paging.itemsPerPage" max-size="info.paging.maxSize" ng-change="reloadData()"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END BODY-->
<script type="text/javascript">
ComponentsDateTimePickers.init();
</script>
