  <div class="tabbable-line">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="index.html#tab_appointment" data-toggle="tab"> Appointment </a>
        </li>
        <li>
            <a href="index.html#tab_patient" data-toggle="tab"> Patient </a>
        </li>
        <li>
            <a href="index.html#tab_referral" data-toggle="tab"> Referral </a>
        </li>
        <li>
            <a href="index.html#tab_clinical" data-toggle="tab"> Clinical </a>
        </li>
        <li>
            <a href="index.html#tab_treating" data-toggle="tab"> Treating Practitioner </a>
        </li>
        <li>
            <a href="index.html#tab_medical_images" data-toggle="tab"> Medical Images </a>
        </li>
        <li>
            <a href="index.html#tab_referring" data-toggle="tab"> Referring Practitioner </a>
        </li>
        <li>
            <a href="index.html#tab_complain" data-toggle="tab"> Present Complain & Allergy </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_appointment">
            <div class="my-modal-body"  ng-include="'modules/WAAppointment/views/WAAppointmentListDetail_Appointment.html'"></div>
        </div>
        <div class="tab-pane" id="tab_patient">
            <div class="my-modal-body"  ng-include="'modules/WAAppointment/views/WAAppointmentListDetail_Patient.html'"></div>
        </div>
        <div class="tab-pane" id="tab_referral">
            <div class="my-modal-body scroller" style="height:600px" ng-include="'modules/WAAppointment/views/WAAppointmentListDetail_Referral.html'"></div>
        </div>
        <div class="tab-pane" id="tab_clinical">
            <div class="my-modal-body"  ng-include="'modules/WAAppointment/views/WAAppointmentListDetail_Clinical.html'"></div>
        </div>
        <div class="tab-pane" id="tab_treating">
            <div class="my-modal-body"  ng-include="'modules/WAAppointment/views/WAAppointmentListDetail_Treating.html'"></div>
        </div>
        <div class="tab-pane" id="tab_medical_images">
            <div class="my-modal-body" ng-include="'modules/WAAppointment/views/WAAppointmentListDetail_MedicalImages.html'"></div>
        </div>
        <div class="tab-pane" id="tab_referring">
            <div class="my-modal-body" ng-include="'modules/WAAppointment/views/WAAppointmentListDetail_Referring.html'"></div>
        </div>
        <div class="tab-pane" id="tab_complain">
            <div class="my-modal-body" ng-include="'modules/WAAppointment/views/WAAppointmentListDetail_ComplainAndAllergy.html'"></div>
        </div>
    </div>

</div>