<div class="row margin-top-30" style="margin: 0 1em;">
    <div class="col-md-4 col-sm-4 form-group">
        <label class="control-label">Search Site</label>
        <select class="form-control"
            ng-change="searchSite(search.site)"
            ng-options="item.UID as item.SiteName for item in listSites"
            ng-model="search.site">
            <option value="">All Sites</option>
        </select>
    </div>
    <div class="col-md-4 col-sm-4 form-group">
        <label class="control-label">Search Date</label>
        <input id="datepicker-inline" class="form-control" placeholder="Search Date">
    </div>
</div>
<div class="row margin-top-20" style="margin: 0 1em;">
    <div class="col-lg-12"><div id='calendar'></div></div>
</div>

<style type="text/css">
    .fc td .fc-widget-content{
        background-color: #EEEEEE;
    }
</style>
