<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">Telehealth Appointments</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<b>Telehealth Appointments</b>
			<i class="fa fa-angle-right"></i>
		</li>
	</ul>
</div>
<!-- END PAGE HEADER-->

<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption font-green">
			<i class="icon-list font-green"></i>
			<span class="caption-subject bold uppercase"> Telehealth Appointments</span>
		</div>
		<div class="actions">
			<a href="javascript:;" class="btn btn-circle red-thunderbird btn-sm" ng-click="toggleFilter()">
				<i class="fa fa-filter"></i> Filter
			</a>
			<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
		</div>
	</div>
	<div class="portlet-body">
		<!-- begin filter -->
		<span ng-hide="toggle">
            <div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label class="label-control">Patient</label>
						<input type="text" class="form-control input-sm" placeholder="Filter patient" ng-change="filter()" ng-model="infoAppointment.patient">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="label-control">Submit From Date</label>
						<!-- <input type="date" class="form-control" placeholder="Request From Date"> -->
						 <input ng-model="infoAppointment.submit_from_date" type="text" class="form-control input-sm" name="submit_from_date" datepicker-popup="dd/MM/yyyy" is-open="submit_from_date" ng-click="submit_from_date = true" datepicker-options="dateOptions" close-text="Close" style="text-align:center;font-weight:bold;color:blue;" ng-change="filter()">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="label-control">Submit To Date</label>
						<!-- <input type="date" class="form-control" placeholder="Request To Date"> -->
						<input ng-model="infoAppointment.submit_to_date" type="text" class="form-control input-sm" name="submit_to_date" datepicker-popup="dd/MM/yyyy" is-open="submit_to_date" ng-click="submit_to_date = true" datepicker-options="dateOptions" close-text="Close" style="text-align:center;font-weight:bold;color:blue;" ng-change="filter()">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label class="label-control">Treating Practitioner</label>
						<input type="text" class="form-control input-sm" placeholder="Filter Treating Practitioner" ng-model="infoAppointment.doctor" ng-change="filter()">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="label-control">Appointment From Date</label>
						<!-- <input type="date" class="form-control" placeholder="Approval From Date"> -->
						<input ng-model="infoAppointment.appointment_from_date" type="text" class="form-control input-sm" name="appointment_from_date" datepicker-popup="dd/MM/yyyy" is-open="appointment_from_date" ng-click="appointment_from_date = true" datepicker-options="dateOptions" close-text="Close" style="text-align:center;font-weight:bold;color:blue;" ng-change="filter()">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="label-control">Appointment To Date</label>
						<!-- <input type="date" class="form-control" placeholder="Approval To Date"> -->
						<input ng-model="infoAppointment.appointment_to_date" type="text" class="form-control input-sm" name="appointment_to_date" datepicker-popup="dd/MM/yyyy" is-open="appointment_to_date" ng-click="appointment_to_date = true" datepicker-options="dateOptions" close-text="Close" style="text-align:center;font-weight:bold;color:blue;" ng-change="filter()">
					</div>
				</div>
			</div>
        </span>
        <span ng-show="toggle"></span>
		<!-- end filter -->

		<!-- begin table -->
		<div class="table-scrollable">
			<table class="table table-striped table-bordered table-hover" id="sample_1">
			<thead>
				<tr>
					<th width="1">#</th>
					<th>
						Patient
					</th>
					<th>Treating Practictioner</th>
					<th>
						Submit Date
						<i class="fa fa-sort-asc sortDataTable" ng-click="sortDataTable('SubmitDate','ASC')" ng-show="typeSubmitDate == 'ASC'"></i>
						<i class="fa fa-sort-desc sortDataTable" ng-click="sortDataTable('SubmitDate','DESC')" ng-show="typeSubmitDate == 'DESC'"></i>
					</th>
					<th>Status</th>
					<th>
						Appointment Date
						<i class="fa fa-sort-asc sortDataTable" ng-click="sortDataTable('AppointmentDate','ASC')" ng-show="typeAppointmentDate == 'ASC'"></i>
						<i class="fa fa-sort-desc sortDataTable" ng-click="sortDataTable('AppointmentDate','DESC')" ng-show="typeAppointmentDate == 'DESC'"></i>
					</th>
					<th>Correspondence</th>
				</tr>
			</thead>
			<tbody>
			<tbody>
				<tr ng-repeat="p in appointments" ng-click="openAppointmentModal(p.UID)">
					<td>{{$index +1}}</td>
					<td>{{p.TelehealthAppointment.PatientAppointment.FirstName}} {{p.TelehealthAppointment.PatientAppointment.LastName}}</td>
					<td>{{((p.Doctors[0].Title !=null)?p.Doctors[0].Title:"")+" "+((p.Doctors[0].FirstName != null)?p.Doctors[0].FirstName:"") +" "+((p.Doctors[0].LastName != null)?p.Doctors[0].LastName:"")}}</td>
					<td>{{p.RequestDate | date: 'dd/MM/yyyy - hh:mm' : 'UTC'}}</td>
					<td> 
						  <span ng-if="p.Status == 'Watting for approve'" class="label label-default">Watting for approve</span>
						  <span ng-if="p.Status == 'Approved'" class="label label-success">Booked</span>
					      <span ng-if="p.Status == 'Calling'" class="label label-default">Calling</span>
					      <span ng-if="p.Status == 'Pending'" class="label label-warning">Pending</span>
					      <span ng-if="p.Status == 'Cancelled'" class="label label-danger">Cancelled</span>
					      <span ng-if="p.Status == 'Finish'" class="label label-primary">Finish</span>
					</td>
					<td>{{p.FromTime | date: 'dd/MM/yyyy - hh:mm' : 'UTC'}}</td>
					<td ng-show="p.TelehealthAppointment.Correspondence == 'Y'" style="text-align:center">
						<span class="text-success"><i class="fa fa-check"></i></span>
						<!-- <input type="checkbox" class="checkboxes" value="Y" checked="true"> -->
					</td>
					<td ng-show="p.TelehealthAppointment.Correspondence !== 'Y'" style="text-align:center">
						<span class="text-danger"><i class="fa fa-remove"></i></span>
						<!-- <input type="checkbox" class="checkboxes" value="Y" checked="true"> -->
					</td>
				</tr>
			</tbody>
			</table>
		</div>
		<!-- end table -->
		<!-- begin pagination -->
		<div class="row">
			<div class="col-md-5 col-sm-12">
				{{filteredTodos.length }}
			</div>
			<div class="col-md-7 col-sm-12" style="text-align:right">
				<div class="dataTables_paginate paging_simple_numbers" id="sample_1_paginate">
					<pagination 
					boundary-links="true " 
					total-items="filteredTodos.length " 
					ng-model="currentPage " 
					class="pagination-sm " 
					previous-text="&lsaquo; " 
					next-text="&rsaquo; " 
					first-text="&laquo; " 
					last-text="&raquo; " 
					items-per-page="numPerPage " 
					max-size="maxSize "></pagination>
				</div>
			</div>
		</div>
		<!-- end pagination -->
	</div>
</div>

<!-- BEGIN MAIN JS -->
<script>
	App.initComponents();
</script>
