<div class="my-skype">
    <div class="thumbnail">
    </div>
    <div class="row calling">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3 class="text-center page-title">Calling...</h3>
        </div>
    </div>
    <div class="row actions">
        <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-5 col-sm-offset-5 col-xs-offset-5">
            <img src="theme/assets/global/images/E-call_18.png" width="100%" class="my-button">
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
            <img src="theme/assets/global/images/E-call_06.png" width="100%" class="my-button">
        </div>
    </div>
</div>
