<!--<form role="form">
    <div class="form-body">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-lg-offset-1">
                <div class="form-group">
                    <label class="control-label">Doctor Type</label>
                    <select size="1" class="form-control" ng-model="doctorType">
                        <option value="">All</option>
                        <option value="PlasticSurgeon">Plastic Surgeon</option>
                        <option value="OrthopaedicSurgeon">Orthopaedic Surgeon</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Doctor List</label>
                    <select size="5" class="form-control">
                        <option ng-repeat="item in info.listDoctorTreatingPractitioner | filter:doctorType" ng-click="selectTreatingPractitioner(item.UID)">{{((item.Title !=null)?item.Title:"")+" "+((item.FirstName != null)?item.FirstName:"") +" "+((item.LastName != null)?item.LastName:"")}}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-lg-offset-1">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                            <label class="control-label">First name</label>
                            <div class="form-control">{{wainformation.Doctors[0].FirstName}}</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                            <label class="control-label">Middle name</label>
                            <div class="form-control">{{wainformation.Doctors[0].MiddleName}}</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                            <label class="control-label">Last name</label>
                            <div class="form-control">{{wainformation.Doctors[0].LastName}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label class="control-label">Contact number</label>
                            <div class="form-control">{{wainformation.Doctors[0].HomePhoneNumber}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label class="control-label">Department</label>
                            <div class="form-control">{{wainformation.Doctors[0].Department.DepartmentName}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>-->








 <div class="row">
     <div class="col-lg-5 col-md-5 red_treating_table red_treating_border_left">
         <h4 class="uppercase bold">List Doctors Selected</h4>
         <div class="table-scrollable table-scrollable-borderless table-responsive dt-responsive margin-top-10 margin-bottom-10">
             <table class="table table-hover"> <!--table-light-->
                 <thead>
                 <tr class="uppercase">
                     <th>#</th>
                     <th>Name</th>
                     <th>Department</th>
                     <!--<th>Group</th>-->
                     <th width="1"></th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr ng-repeat="doctor in info.listDoctorSelected">
                     <td>{{$index+1}}</td>
                     <td>{{doctor.Name}}</td>
                     <td>{{doctor.DepartmentName}}</td>
                     <!--<td>{{doctor.GroupName}}</td>-->
                     <td>
                         <!--{{doctor.Selected}}
                         <input type="checkbox"
                                class="regular-checkbox regular-no-lable"
                                ng-model="doctor.Selected"
                                ng-true-value="'Y'"
                                ng-false-value="'N'"
                         />-->

                         <!--<a type="button" class="close" ng-click="action.doctorsSelected.removeDoctor(doctor, $index)">&times;</a>-->
                         <a type="button" class="btn red btn-outline btn-sm" ng-click="action.doctorsSelected.removeDoctor(doctor, $index)">Remove</a>
                     </td>
                 </tr>
                 </tbody>
             </table>
         </div>
     </div>
     <div class="col-lg-7 col-md-7 red_treating_table red_treating_border_left">
        <h4 class="uppercase bold">Doctor List</h4>
        <div class="table-scrollable table-scrollable-borderless table-responsive dt-responsive margin-top-10 margin-bottom-10">
            <table class="table table-hover "> <!--table-light-->
                <thead>
                    <tr class="uppercase">
                        <th>#</th>
                        <th ng-repeat="item in display.doctor.item">
                            {{item.name}}
                            <i class="fa fa-sort-asc"  ng-click="display.doctor.sort(item.field,'ASC')" ng-show="display.doctor.fieldSort[item.field]=='ASC'"></i>
                            <i class="fa fa-sort-desc" ng-click="display.doctor.sort(item.field,'DESC')" ng-show="display.doctor.fieldSort[item.field]=='DESC'"></i>
                        </th>
                        <!--<th>Last Name</th>
                        <th>Department</th>
                        <th>Contact Number</th>-->
                        <th width="1"></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td ng-repeat="item in display.doctor.item">
                            <input ng-model="searchObjectMap.doctor.Search[item.field]" ng-keypress="Search($event.which)" class="form-control" placeholder="{{item.name}}" />
                        </td>
                        <!--<td><input type="text" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>-->
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="doctor in info.listDoctorTreatingPractitioner">
                        <td>{{doctor.stt}}</td>
                        <td>{{doctor.FirstName}}</td>
                        <td>{{doctor.LastName}}</td>
                        <td>{{doctor.Department?doctor.Department.DepartmentName:null}}</td>
                        <td>{{doctor.UserAccount?doctor.UserAccount.PhoneNumber:null}}</td>
                        <td>
                            <input type="checkbox" class="regular-checkbox regular-no-lable" ng-model="doctor.Selected" ng-true-value="'Y'" ng-false-value="'N'" ng-click="action.doctor.selectedDoctor(doctor)"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>



        <div class="row">
            <div class="col-md-5 col-sm-5">
                &nbsp;
            </div>
            <div class="col-md-7 col-sm-7" style="text-align:right;">
                <div class="dataTables_paginate paging_bootstrap_number text-right" id="sample_1_paginate">
                    <uib-pagination
                            boundary-links="true"
                            total-items="paging.doctor.count"
                            ng-model="searchObjectMap.doctor.currentPage"
                            class="pagination-md "
                            previous-text="&lsaquo; "
                            next-text="&rsaquo; "
                            first-text="&laquo; "
                            last-text="&raquo; "
                            items-per-page="searchObjectMap.doctor.limit"
                            max-size="searchObjectMap.doctor.maxSize"
                            ng-change="paging.doctor.setPage()"></uib-pagination>
                </div>
            </div>
        </div>


        <!--<div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="dataTables_info" id="sample_1_info2" role="status" aria-live="polite">
                    Showing 1 to 2 of 2 entries
                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="dataTables_paginate paging_bootstrap_number text-right" id="sample_1_paginate2" >
                    <ul class="pagination" style="visibility:visible">
                        <li class="prev disabled"><a href="#" title="Prev"><i class="fa fa-angle-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li class="next disabled"><a href="#" title="Next"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>-->





        <hr/>
        <h4 class="uppercase bold">Group Doctor</h4>
        <div class="table-scrollable table-scrollable-borderless table-responsive dt-responsive margin-top-10 margin-bottom-10">
            <table class="table table-hover "> <!--table-light-->
                <thead>
                    <tr class="uppercase">
                        <th>#</th>
                        <th>
                            Name
                            <i class="fa fa-sort-asc"  ng-click="display.doctorGroup.sort('GroupName','ASC')" ng-show="display.doctorGroup.fieldSort['GroupName']=='ASC'" ></i>
                            <i class="fa fa-sort-desc"  ng-click="display.doctorGroup.sort('GroupName','DESC')" ng-show="display.doctorGroup.fieldSort['GroupName']=='DESC'" ></i>
                        </th>
                        <th>Description</th>
                        <th>Doctors</th>
                        <th width="1"></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input ng-model="searchObjectMap.doctorGroup.search['GroupName']" ng-keypress="paging.doctorGroup.Search($event.which)" class="form-control" placeholder="GroupName"/></td>
                        <td><!--<input type="text" class="form-control"/>--></td>
                        <td><!--<input type="text" class="form-control"/>--></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="group in info.listDoctorGroup">
                        <td>{{group.stt}}</td>
                        <td class="primary-link">{{group.GroupName}}</td>
                        <td>{{group.Description}}</td>
                        <td>{{group.DoctorsName}}</td>
                        <td>
                            <!--<input type="checkbox" class="regular-checkbox regular-no-lable"/>-->
                            <a class="btn green btn-outline" ng-click="action.doctorGroup.selectDoctorFromGroup(group)">Select</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <!--<div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite">-->
                    <!--Showing 1 to 2 of 2 entries-->
                <!--</div>-->
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="dataTables_paginate paging_bootstrap_number text-right redi_paging_sm" id="sample_3_paginate">
                    <uib-pagination
                            boundary-links="true"
                            total-items="paging.doctorGroup.count"
                            ng-model="searchObjectMap.doctorGroup.currentPage"
                            class="pagination-md "
                            previous-text="&lsaquo; "
                            next-text="&rsaquo; "
                            first-text="&laquo; "
                            last-text="&raquo; "
                            items-per-page="searchObjectMap.doctorGroup.limit"
                            max-size="searchObjectMap.doctorGroup.maxSize"
                            ng-change="paging.doctorGroup.setPage()"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
