<div class="panel group">
    <!-- referral details #1 -->
    <!-- <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title uppercase bold">referral details #1</h3>
        </div>
        <div class="panel-body" style="padding: 2em">
            <p>Fill this box for <b>Immediate Referrals</b> only (if the patient must be seen by a specialist within 7 days)</p>
            <p>Has the referral been discussed with a registrar or consultant? (Essential in immediate cases):</p>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group form-md-line-input">
                        <div class="radio-list">
                            <label class="radio-inline">
                                <input type="radio" name="referral_details_radio" value="option1" checked> Yes 
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="referral_details_radio" value="option2"> No 
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="The clinical name">
                            <label class="control-label">If yes, the clinical name</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Site">
                            <label class="control-label">Site</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Contact number">
                            <label class="control-label">Contact number</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Referral advice given">
                            <label class="control-label">Referral advice given</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- referral details #2 -->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title uppercase bold">Referral Details</h3>
        </div>
        <div class="panel-body" style="padding: 2em">
            <!-- 1 -->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                <label class="radio-inline control-label">
                                    Is the referrer the patients usual GP ?
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="IsUsualGP" value="Y" ng-model="requestInfo.TelehealthAppointment.WAAppointment.IsUsualGP" ng-change="ChangeReferrer()"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="IsUsualGP" value="N" ng-model="requestInfo.TelehealthAppointment.WAAppointment.IsUsualGP" ng-change="ChangeReferrer()"> No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row" ng-if="requestInfo.TelehealthAppointment.WAAppointment.IsUsualGP == 'N'">
                <div class="col-md-12">
                    <div class="form-group form-md-line-input">
                            <input type="text" class="form-control edited" placeholder=""  ng-model="requestInfo.TelehealthAppointment.WAAppointment.UsualGPName" name="UsualGPName" />
                            <label class="control-label">If no, name of patients usual GP</label>
                            <div class="form-control-focus"> </div>
                    </div>
                </div> 
            </div>
            <br>
            <div class="row" ng-if="requestInfo.TelehealthAppointment.WAAppointment.IsUsualGP == 'N'">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control edited" placeholder="Contact Number" name="PhoneNumber" ng-model="requestInfo.TelehealthAppointment.WAAppointment.UsualGPContactNumber">
                            <label class="control-label">Contact Number</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-phone"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control edited" placeholder="" name="Fax" ng-model="requestInfo.TelehealthAppointment.WAAppointment.UsualGPFaxNumber">
                            <label class="control-label">Fax Number</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-print"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                <label class="radio-inline control-label">
                                    If the patient has been reffered to this speciality for the same condition before, do they need to be referred to the same place again ?
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="IsSamePlacePreference" value="Y" ng-model="requestInfo.TelehealthAppointment.WAAppointment.IsSamePlacePreference"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="IsSamePlacePreference" value="N" ng-model="requestInfo.TelehealthAppointment.WAAppointment.IsSamePlacePreference"> No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                <label class="radio-inline control-label">
                                    Is the patient suitable for a telehealth consult
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="IsTelehealthSuitable" value="Y" ng-model="requestInfo.TelehealthAppointment.WAAppointment.IsTelehealthSuitable"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="IsTelehealthSuitable" value="N" ng-model="requestInfo.TelehealthAppointment.WAAppointment.IsTelehealthSuitable"> No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                <label class="radio-inline control-label">
                                    Length of referral
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="RefDurationOfReferral" ng-model="requestInfo.TelehealthAppointment.RefDurationOfReferral" value="03"> 3 months
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="RefDurationOfReferral" ng-model="requestInfo.TelehealthAppointment.RefDurationOfReferral" value="12"> 12 months
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="RefDurationOfReferral" ng-model="requestInfo.TelehealthAppointment.RefDurationOfReferral" value="00"> Indefinite
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                <label class="radio-inline control-label">
                                    Is this a renewed referral ?
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="IsRenewReferral" value="Y"  ng-model="requestInfo.TelehealthAppointment.WAAppointment.IsRenewReferral"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="IsRenewReferral" value="N" ng-model="requestInfo.TelehealthAppointment.WAAppointment.IsRenewReferral"> No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- 2 -->
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <a href="javascript:;" class="btn green-jungle btn-block" ng-click="ShowDialog('Skincancer')"> Skin cancer </a>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <a href="javascript:;" class="btn green-jungle btn-block" ng-click="ShowDialog('HandCondition')"> Hand condition </a>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <a href="javascript:;" class="btn green-jungle btn-block" ng-click="ShowDialog('PNS')"> PNS </a>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-md-3 col-sm-3">
                            <p class="form-control-static">
                                <p class="form-control-static" data-display="" ng-if="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.BCC'].Value">BCC :{{requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.BCC'].Value}}</p>
                                </br>
                                <p class="form-control-static" data-display="" ng-if="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.SCC'].Value">SCC :{{requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.SCC'].Value}}</p>
                                </br>
                                <p class="form-control-static" data-display="" ng-if="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.Melanoma'].Value">Melanoma :{{requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.Melanoma'].Value}}</p>
                                </br>
                                <p class="form-control-static" data-display="" ng-if="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.Merkel'].Value">Merkel :{{requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.Merkel'].Value}}</p>
                                </br>
                                <p class="form-control-static" data-display="" ng-if="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.OThers'].Value">Others  :{{requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.OThers'].Value}}</p>
                            <p>
                        </div>
                        <div class="col-md-3 col-sm-3">
                             <p class="form-control-static">
                                <p class="form-control-static" data-display="" ng-if="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Hand__Condition.Ganglion'].Value">Ganglion</p>
                                </br>
                                <p class="form-control-static" data-display="" ng-if="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Hand__Condition.Arthritis'].Value">Arthritis</p>
                                </br>
                                <p class="form-control-static" data-display="" ng-if="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Hand__Condition.DeQuervains__/__Trigger'].Value">DeQuervains/Trigger</p>
                                </br>
                                <p class="form-control-static" data-display="" ng-if="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Hand__Condition.Contracture'].Value">Contracture</p>
                            </p>
                        </div>
                        <div class="col-md-3 col-sm-3">
                             <p class="form-control-static">
                                <p class="form-control-static" data-display="" ng-if="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.PNS.Carpal__Tunnel'].Value">Carpal Tunnel</p>
                                </br>
                                <p class="form-control-static" data-display="" ng-if="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.PNS.Cubital__Tunnel'].Value">Cubital Tunnel</p>
                                </br>
                                <p class="form-control-static" data-display="" ng-if="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.PNS.Tarsal__Tunnel'].Value">Tarsal Tunnel</p>
                                </br>
                                <p class="form-control-static" data-display="" ng-if="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.PNS.Complex__Reconstructive__Case'].Value">Complex Reconstructive Case</p>
                                </br>
                                 <p class="form-control-static" data-display="" ng-if="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.PNS.Other'].Value">Other :{{requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.PNS.Other'].Value}}</p>
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                     <div class="form-group">
                        <h5 class="control-label">
                            <b>Reason for referral/Presenting Problem</b>
                        </h5>
                        <textarea class="form-control" rows="3" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Notes.referralPresenting'].Value">
                        </textarea>
                    </div>
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                            <thead>
                                <tr class="uppercase">
                                    <th width="30%">Name</th>
                                    <th ng-show="uploader.isHTML5">Size</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in uploader.queue" ng-if="item.formData[0].fileTypeClinical == 'referralPresenting'">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td>{{item.file.lastModifiedDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn blue-soft btn-file" ng-click="ClickUploader('referralPresenting')">
                        <i class="glyphicon glyphicon-folder-open"></i>&nbsp; Select Document
                    </button>
                    <button class="btn blue-soft btn-file" ng-click="ClickUploader('referralPresenting')">
                        <i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp; Select Images &nbsp;&nbsp;&nbsp;
                    </button>
                    <div class="input-inline">
                        <div class="input-icon">
                            <span class="btn blue-soft btn-file" ng-hide="true">
                                <i class="glyphicon glyphicon-folder-open"></i>
                                <span class="fileinput-new">&nbsp;Select Document</span>
                            <input type="file" id="referralPresenting" nv-file-select="" uploader="uploader" multiple/>
                            </span>
                            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue('referralPresenting')" ng-disabled="!uploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span> Remove all
                            </button>
                        </div>
                    </div>
                   <!-- <!--  <!-- <div>---------------</div> -->
                   <!--  <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                            <thead>
                                <tr class="uppercase">
                                    <th width="30%">Name</th>
                                    <th ng-show="uploader.isHTML5">Size</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in uploader.queue" ng-if="item.formData[0].fileTypeClinical == 'referralPresenting'">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td>{{item.file.lastModifiedDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn blue-soft btn-file" ng-click="ClickUploader('referralPresenting')">
                        <i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp; Select Images &nbsp;&nbsp;&nbsp;
                    </button>
                    <div class="input-inline">
                        <div class="input-icon">
                            <span class="btn blue-soft btn-file" ng-hide="true">
                                <i class="glyphicon glyphicon-folder-open"></i>
                                <span class="fileinput-new">&nbsp;Select Images </span>
                            <input type="file" id="referralPresenting" nv-file-select="" uploader="uploader" multiple/>
                            </span>
                            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue('referralPresenting')" ng-disabled="!uploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span> Remove all
                            </button>
                        </div>
                    </div> -->
                    <!-- <div>---------------</div> -->
                </div>
            </div>
            <hr>
            <div class="row">
                <h5 class="col-md-12 col-sm-12">
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="radio-list">
                                 <label class="radio-inline control-label bold">
                                    History of Previous skin cancers and treatmens
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="skin_cancers_radio"  value="Yes" ng-model="skin_cancers_radio"> Yes 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="skin_cancers_radio"  value="No"  ng-model="skin_cancers_radio"> No 
                                </label>
                            </div>
                        </div>
                    </div>
                </h5>
                <div class="col-md-6 col-sm-6" ng-show="skin_cancers_radio == 'Yes'">
                    <div class="form-group">
                        <textarea class="form-control edited" rows="4" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Notes.cancersTreatmens'].Value" name="cancersTreatmens"></textarea>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6" ng-show="skin_cancers_radio == 'Yes'">
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                            <thead>
                                <tr class="uppercase">
                                    <th width="30%">Name</th>
                                    <th ng-show="uploader.isHTML5">Size</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in uploader.queue" ng-if="item.formData[0].fileTypeClinical == 'cancersTreatmens'">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td>{{item.file.lastModifiedDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn blue-soft btn-file" ng-click="ClickUploader('cancersTreatmens')">
                        <i class="glyphicon glyphicon-folder-open"></i>&nbsp; Select Document
                    </button>
                    <div class="input-inline">
                        <div class="input-icon">
                            <span class="btn blue-soft btn-file" ng-hide="true">
                                <i class="glyphicon glyphicon-folder-open"></i>
                                <span class="fileinput-new">&nbsp;Select Document</span>
                            <input type="file" id="cancersTreatmens" nv-file-select="" uploader="uploader" multiple/>
                            </span>
                            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue('cancersTreatmens')" ng-disabled="!uploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span> Remove all
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h5 class="col-md-12 col-sm-12">
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="radio-list">
                                 <label class="radio-inline control-label bold">
                                    History of Previous hand surgery
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="hand_surgery_radio"  value="Yes" ng-model="hand_surgery_radio"> Yes 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="hand_surgery_radio"  value="No" ng-model="hand_surgery_radio"> No 
                                </label>
                            </div>
                        </div>
                    </div>
                </h5>
                <div class="col-md-6 col-sm-6" ng-show="hand_surgery_radio == 'Yes'">
                    <div class="form-group">
                        <textarea class="form-control edited" rows="4" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Notes.previousHandSurgery'].Value" name="previousHandSurgery"></textarea>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6" ng-show="hand_surgery_radio == 'Yes'">
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                            <thead>
                                <tr class="uppercase">
                                    <th width="30%">Name</th>
                                    <th ng-show="uploader.isHTML5">Size</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in uploader.queue" ng-if="item.formData[0].fileTypeClinical == 'previousHandSurgery'">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td>{{item.file.lastModifiedDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Remove
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn blue-soft btn-file" ng-click="ClickUploader('previousHandSurgery')">
                        <i class="glyphicon glyphicon-folder-open"></i>&nbsp; Select Document
                    </button>
                    <div class="input-inline">
                        <div class="input-icon">
                            <span class="btn blue-soft btn-file" ng-hide="true">
                                <i class="glyphicon glyphicon-folder-open"></i>
                                <span class="fileinput-new">&nbsp;Select Document</span>
                            <input type="file" nv-file-select="" uploader="uploader" multiple id="previousHandSurgery" />
                            </span>
                            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue('previousHandSurgery')" ng-disabled="!uploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span> Remove all
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <label class="control-label bold">Pathology Provider and Radiology Provider</label>
            <br>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                            <input type="text" class="form-control" placeholder="" ng-model="requestInfo.TelehealthAppointment.WAAppointment.PathologyProvider">
                            <label class="control-label">Pathology provider</label>
                            <div class="form-control-focus"> </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                            <input type="text" class="form-control" placeholder="" ng-model="requestInfo.TelehealthAppointment.WAAppointment.RadiologyProvider">
                            <label class="control-label">Radiology provider</label>
                            <div class="form-control-focus"> </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <label class="control-label">Other Notes</label>
                    <textarea class="form-control" rows="3" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Notes.OtherNotes'].Value"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="showSkinCancer">
    <div class="modal-header my-modal-header">
        <h3 class="panel-title uppercase bold" ng-show="TypeClinical =='Skincancer'">Skin Cancer</h3>
        <h3 class="panel-title uppercase bold" ng-show="TypeClinical =='HandCondition'">Hand Condition</h3>
        <h3 class="panel-title uppercase bold" ng-show="TypeClinical == 'PNS'">PNS</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()"></button>
    </div>
    <div class="modal-body" style="align:center">
        <div>
            <div class="form-group">
            <div class="checkbox-list" ng-show="TypeClinical == 'Skincancer'">
                <label class="">
                    <input type="checkbox" ng-model="BCC" ng-change="ChangeCheckSkinCancer('Skin__cancer','BCC',BCC)"> BCC
                    <span class="my-ul" ng-show="BCC == true">
                        &nbsp;&nbsp;&nbsp;Size :
                        <label class="radio-inline">
                        <input type="radio" name="BCC_radio[]" value="0 - 1 cm" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.BCC'].Value" > 
                        0 - 1 cm</label>
                        <label class="radio-inline">
                        <input type="radio" name="BCC_radio[]" value="1 - 2 cm" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.BCC'].Value">
                         1 - 2 cm</label>
                        <label class="radio-inline">
                        <input type="radio" name="BCC_radio[]" value="> 2 cm" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.BCC'].Value">
                         > 2 cm</label>
                         <div id="form_BCC_error"></div>
                    </span>
                </label>
                <label class="">
                    <input type="checkbox" ng-model="SCC" ng-change="ChangeCheckSkinCancer('Skin__cancer','SCC',SCC)"> SCC
                    <span ng-show="SCC == true">
                        &nbsp;&nbsp;&nbsp;Size :
                        <label class="radio-inline">
                            <input type="radio" name="SCC_radio[]" value="0 - 1 cm" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.SCC'].Value" >0 - 1 cm
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="SCC_radio[]" value="1 - 2 cm" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.SCC'].Value">1 - 2 cm
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="SCC_radio[]" value="> 2 cm" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.SCC'].Value"> > 2 cm
                        </label>
                         <div id="form_SCC_error"></div>
                    </span>
                </label>
                <label class="">
                    <input type="checkbox" ng-model="Melanoma" ng-change="ChangeCheckSkinCancer('Skin__cancer','Melanoma',Melanoma)"> Melanoma
                    <span ng-show="Melanoma == true">
                        &nbsp;&nbsp;&nbsp;Size :
                        <label class="radio-inline">
                            <input type="radio" name="Melanoma_radio[]" value="0 - 1 cm"  ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.Melanoma'].Value">0 - 1 cm
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Melanoma_radio[]" value="1 - 2 cm"  ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.Melanoma'].Value"> 1 - 2 cm
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Melanoma_radio[]" value="> 2 cm"  ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.Melanoma'].Value"> > 2 cm
                        </label>
                         <div id="form_Melanoma_error"></div>
                    </span>
                </label>
                <label class="">
                    <input type="checkbox" ng-model="Merkel" ng-change="ChangeCheckSkinCancer('Skin__cancer','Merkel',Merkel)"> Merkel's
                    <span ng-show="Merkel == true">
                        &nbsp;&nbsp;&nbsp;Size :
                        <label class="radio-inline">
                            <input type="radio" name="Merkel_radio[]" value="0 - 1 cm"  ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.Merkel'].Value" >0 - 1 cm
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Merkel_radio[]" value="1 - 2 cm" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.Merkel'].Value">1 - 2 cm
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="Merkel_radio[]" value="> 2 cm" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.Merkel'].Value"> > 2 cm
                        </label>
                        <div id="form_Merkel_error"></div>
                    </span>
                </label>
                <label class="">
                    <input type="checkbox" ng-model="Skin__cancerOThers" ng-true-value=true ng-false-value=false   ng-change="ChangeCheckSkinCancer('Skin__cancer','OThers',Skin__cancerOThers)"> Others
                    <input type="text" size="15" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Skin__cancer.OThers'].Value" ng-show="Skin__cancerOThers == true" />
                </label>
            </div>
            <div class="checkbox-list" ng-show="TypeClinical == 'HandCondition'">
                <label class="control-label">
                    <input type="checkbox" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Hand__Condition.Ganglion'].Value" ng-true-value="'Y'" ng-false-value="null"> Ganglion
                </label>
                <label class="control-label">
                    <input type="checkbox" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Hand__Condition.Arthritis'].Value" ng-true-value="'Y'" ng-false-value="null"> Arthritis
                </label>
                <label class="control-label">
                    <input type="checkbox" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Hand__Condition.DeQuervains__/__Trigger'].Value" ng-true-value="'Y'" ng-false-value="null"> DeQuervains/Trigger
                </label>
                <label class="control-label">
                    <input type="checkbox" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.Hand__Condition.Contracture'].Value" ng-true-value="'Y'" ng-false-value="null"> Contracture 
                </label>
            </div>
            <div class="checkbox-list" ng-show="TypeClinical == 'PNS'">
                <label class="control-label">
                    <input type="checkbox" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.PNS.Carpal__Tunnel'].Value" ng-true-value="'Y'" ng-false-value="null"> Carpal Tunnel</label>
                <label class="control-label">
                    <input type="checkbox" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.PNS.Cubital__Tunnel'].Value" ng-true-value="'Y'" ng-false-value="null"> Cubital Tunnel</label>
                <label class="control-label">
                    <input type="checkbox" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.PNS.Tarsal__Tunnel'].Value" ng-true-value="'Y'" ng-false-value="null"> Tarsal Tunnel</label>
                <label class="control-label">
                    <input type="checkbox" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.PNS.Complex__Reconstructive__Case'].Value" ng-true-value="'Y'" ng-false-value="null"> Complex Reconstructive Case</label>
                <label class="control-label">
                    <input type="checkbox" ng-model="PNSOther" ng-true-value=true ng-false-value=false ng-change="ChangeCheckSkinCancer('PNS','Other',PNSOther)"> Other &nbsp;
                    <input type="text" placeholder="Other" size="15" ng-model="requestInfo.TelehealthAppointment.ClinicalDetails['Clinical__Details.Telehealth__WAAppointment.PNS.Other'].Value" ng-true-value="'Y'" ng-false-value="null" ng-show="PNSOther == true">
                </label>
            </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn green" ng-click="OK()">OK</button>
        <button class="btn green" ng-click="cancel()">Cancel</button>
    </div>
</script>
