<div class="row profile-account">
    <div class="col-md-2 col-sm-2">
        <ul class="ver-inline-menu tabbable margin-bottom-10">
            <li class="active">
                <a data-toggle="tab" href="index.html#tab_1-1">
                    <i class="fa fa-cog"></i> Personal </a>
                <span class="after"> </span>
            </li>
            <li>
                <a data-toggle="tab" href="index.html#tab_2-2">
                    <i class="fa fa-picture-o"></i> Contact </a>
            </li>
            <li>
                <a data-toggle="tab" href="index.html#tab_3-3">
                    <i class="fa fa-lock"></i> Medicare </a>
            </li>
        </ul>
    </div>
    <div class="col-md-10 col-sm-10">
        <div class="tab-content">
            <div id="tab_1-1" class="tab-pane active">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="row">
							<div class="col-md-6 col-sm-6">
				                <div class="form-group form-md-line-input">
				                    <div class="input-icon">
				                        <!-- <input type="text" class="form-control" placeholder=""> -->
				                        <select class="form-control">
				                        	<option value="">Select Title</option>
				                        	<option value="">Mr</option>
				                        	<option value="">Mrs</option>
				                        	<option value="">Ms</option>
				                        	<option value="">Dr</option>
				                        </select>
				                        <label class="control-label">Title</label>
				                        <div class="form-control-focus"> </div>
				                        <i class="glyphicon glyphicon-edit"></i>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-6 col-sm-6">
				                <div class="form-group form-md-line-input">
				                    <div class="input-icon">
				                        <input type="text" class="form-control" placeholder="">
				                        <label class="control-label">First name</label>
				                        <div class="form-control-focus"> </div>
				                        <i class="glyphicon glyphicon-edit"></i>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-6 col-sm-6">
				                <div class="form-group form-md-line-input">
				                    <div class="input-icon">
				                        <input type="text" class="form-control" placeholder="">
				                        <label class="control-label">Middle name</label>
				                        <div class="form-control-focus"> </div>
				                        <i class="glyphicon glyphicon-edit"></i>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-6 col-sm-6">
				                <div class="form-group form-md-line-input">
				                    <div class="input-icon">
				                        <input type="text" class="form-control" placeholder="">
				                        <label class="control-label">Last name</label>
				                        <div class="form-control-focus"> </div>
				                        <i class="glyphicon glyphicon-edit"></i>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-6 col-sm-6">
				                <div class="form-group form-md-line-input">
				                    <div class="input-icon">
				                        <input type="text" class="form-control" placeholder="">
				                        <label class="control-label">Family name</label>
				                        <div class="form-control-focus"> </div>
				                        <i class="glyphicon glyphicon-edit"></i>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-6 col-sm-6">
				                <div class="form-group form-md-line-input">
				                    <div class="input-icon">
				                        <input type="text" class="form-control" placeholder="">
				                        <label class="control-label">Preferred name</label>
				                        <div class="form-control-focus"> </div>
				                        <i class="glyphicon glyphicon-edit"></i>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-6 col-sm-6">
				                <div class="form-group form-md-line-input">
				                    <div class="input-icon">
				                        <input type="text" class="form-control" placeholder="">
				                        <label class="control-label">Previous name</label>
				                        <div class="form-control-focus"> </div>
				                        <i class="glyphicon glyphicon-edit"></i>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-6 col-sm-6">
				                <div class="form-group form-md-line-input">
				                    <div class="input-icon">
				                        <input type="text" class="form-control" placeholder="">
				                        <label class="control-label">Marital Status</label>
				                        <div class="form-control-focus"> </div>
				                        <i class="glyphicon glyphicon-edit"></i>
				                    </div>
				                </div>
				            </div>
			            </div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="row">
							<div class="col-md-6 col-sm-6">
				                <div class="form-group form-md-line-input">
				                    <div class="input-icon">
				                        <input type="text" class="form-control" placeholder="">
				                        <label class="control-label">Country of Birth</label>
				                        <div class="form-control-focus"> </div>
				                        <i class="glyphicon glyphicon-edit"></i>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-6 col-sm-6">
				                <div class="form-group form-md-line-input">
				                    <div class="input-icon">
				                        <input type="text" class="form-control date-picker" data-date-format="dd-mm-yyyy" placeholder="dd-mm-yyyy">
				                        <label class="control-label">Date of Birth</label>
				                        <div class="form-control-focus"> </div>
				                        <i class="glyphicon glyphicon-calendar"></i>
				                    </div>
				                </div>
				            </div>
				        </div>
				        <div class="row">
				        	<label class="control-label col-md-12 col-sm-12">Sex</label>
				            <div class="col-md-11 col-sm-11 col-md-offset-1 col-sm-offset-1">
				                <div class="form-inline">
				                    <div class="form-group form-md-line-input">
				                        <div class="radio-list">
				                            <label class="radio-inline">
				                                <input type="radio" name="sex" id="male" value="option1" checked> Male 
				                            </label>
				                            <label class="radio-inline">
				                                <input type="radio" name="sex" id="female" value="option2"> Female 
				                            </label>
				                            <label class="radio-inline">
				                                <input type="radio" name="sex" id="sex_other" value="option3" size="15"> Other 
				                                &nbsp;<input type="text" size="15">
				                            </label>
				                        </div>
				                    </div>
				                    <!-- <div class="form-group form-md-line-input">
				                        <div class="input-icon">
				                            <input type="text" class="form-control" placeholder="Other">
				                            <div class="form-control-focus"> </div>
				                            <i class="glyphicon glyphicon-edit"></i>
				                        </div>
				                    </div> -->
				                </div>
				            </div>
				            <div class="col-md-12 col-sm-12">&nbsp;</div>
				            <label class="control-label col-md-12 col-sm-12">Indigenous status</label>
				            <div class="col-md-11 col-sm-11 col-md-offset-1 col-sm-offset-1">
				                <div class="form-inline">
				                    <div class="form-group form-md-line-input">
				                        <div class="radio-list">
				                            <label class="radio-inline">
				                                <input type="radio" name="sex" id="Aboriginal" value="option1" checked> Aboriginal 
				                            </label>
				                            <label class="radio-inline">
				                                <input type="radio" name="sex" id="Torres Strait Islander" value="option2"> Torres Strait Islander 
				                            </label>
				                        </div>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-12 col-sm-12">&nbsp;</div>
				        </div>
				        <div class="row">
				        	<label class="control-label col-md-12 col-sm-12">Interpreter required ?</label>
				            <div class="col-md-11 col-sm-11 col-md-offset-1 col-sm-offset-1">
				                <div class="form-inline">
				                    <div class="form-group form-md-line-input">
				                        <div class="radio-list">
				                            <label class="radio-inline">
				                                <input type="radio" name="sex" id="Yes" value="option1" checked> Yes 
				                            </label>
				                            <label class="radio-inline">
				                                <input type="radio" name="sex" id="No" value="option2"> No 
				                            </label>
				                        </div>
				                    </div>
				                </div>
				            </div>
				            <div class="col-md-12 col-sm-12">&nbsp;</div>
				            <div class="col-md-12 col-sm-12">
				            	<div class="row form-horizontal">
				            		<div class="form-group form-md-line-input">
				                    	<label class="control-label col-md-4 col-sm-4">If yes, language/dialect </label>
			                            <div class="col-md-8 col-sm-8">
			                            	<div class="input-icon">
			                            		<input type="text" class="form-control" placeholder="Language/dialect">
			                            		<div class="form-control-focus"> </div>
				                        		<i class="glyphicon glyphicon-edit"></i>
			                            	</div>
			                            </div>
				                    </div>
				            	</div>
				            </div>
				            <div class="col-md-12 col-sm-12">&nbsp;</div>
				            <div class="col-md-12 col-sm-12">
				                <div class="form-group form-md-line-input">
				                    <div class="input-icon">
				                        <input type="text" class="form-control" placeholder="">
				                        <label class="control-label col-md-3 col-sm-3"> Other special needs ?</label>
				                        <div class="form-control-focus"> </div>
				                        <i class="glyphicon glyphicon-edit"></i>
				                    </div>
				                </div>
				            </div>
				        </div>
					</div>
				</div>
            </div>
            <div id="tab_2-2" class="tab-pane">
                <div class="row">
                	<div class="col-md-6 col-sm-6">
		                <div class="form-group form-md-line-input">
		                    <div class="input-icon">
		                        <input type="text" class="form-control" placeholder="">
		                        <label class="control-label">Contact number (M)</label>
		                        <div class="form-control-focus"> </div>
		                        <i class="glyphicon glyphicon-phone"></i>
		                    </div>
		                </div>
		            </div>
		            <div class="col-md-6 col-sm-6">
		                <div class="form-group form-md-line-input">
		                    <div class="input-icon">
		                        <input type="text" class="form-control" placeholder="">
		                        <label class="control-label">Contact number (H)</label>
		                        <div class="form-control-focus"> </div>
		                        <i class="glyphicon glyphicon-phone-alt"></i>
		                    </div>
		                </div>
		            </div>
		            <div class="col-md-6 col-sm-6">
		                <div class="form-group form-md-line-input">
		                    <div class="input-icon">
		                        <input type="text" class="form-control" placeholder="">
		                        <label class="control-label">Email</label>
		                        <div class="form-control-focus"> </div>
		                        <i class="glyphicon glyphicon-envelope"></i>
		                    </div>
		                </div>
		            </div>
		            <div class="col-md-6 col-sm-6">
		                <div class="form-group form-md-line-input">
		                    <div class="input-icon">
		                        <input type="text" class="form-control" placeholder="">
		                        <label class="control-label">Fax number</label>
		                        <div class="form-control-focus"> </div>
		                        <i class="glyphicon glyphicon-print"></i>
		                    </div>
		                </div>
		            </div>
		            <div class="col-md-12 col-sm-12">
                		<div class="form-group form-md-line-input">
		                    <div class="input-icon">
		                        <input type="text" class="form-control" placeholder="">
		                        <label class="control-label">Address1</label>
		                        <div class="form-control-focus"> </div>
		                        <i class="glyphicon glyphicon-map-marker"></i>
		                    </div>
		                </div>
                	</div>
                	<div class="col-md-12 col-sm-12">
                		<div class="form-group form-md-line-input">
		                    <div class="input-icon">
		                        <input type="text" class="form-control" placeholder="">
		                        <label class="control-label">Address2</label>
		                        <div class="form-control-focus"> </div>
		                        <i class="glyphicon glyphicon-map-marker"></i>
		                    </div>
		                </div>
                	</div>
                	<div class="col-md-6 col-sm-6">
                		<div class="form-group form-md-line-input">
		                    <div class="input-icon">
		                        <input type="text" class="form-control" placeholder="">
		                        <label class="control-label">Suburb</label>
		                        <div class="form-control-focus"> </div>
		                        <i class="glyphicon glyphicon-edit"></i>
		                    </div>
		                </div>
                	</div>
                	<div class="col-md-6 col-sm-6">
                		<div class="form-group form-md-line-input">
		                    <div class="input-icon">
		                        <input type="text" class="form-control" placeholder="">
		                        <label class="control-label">Postcode</label>
		                        <div class="form-control-focus"> </div>
		                        <i class="glyphicon glyphicon-edit"></i>
		                    </div>
		                </div>
                	</div>
                </div>
            </div>
            <div id="tab_3-3" class="tab-pane">
                <div class="row margin-bottom-40">
	                <div class="col-md-10 col-sm-10 ">
	                    <div class="form-inline">
	                        <div class="form-group form-md-line-input">
	                            <div class="radio-list">
	                                <label class="radio-inline">Medicare Eligible</label>
	                                <label class="radio-inline">
	                                    <input type="radio" name="sex" id="Yes" value="option1" ng-checked="true"> Yes 
	                                </label>
	                                <label class="radio-inline">
	                                    <input type="radio" name="sex" id="No" value="option2"> No 
	                                </label>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-md-12 col-sm-12">&nbsp;</div>
	                <div class="col-md-4 col-sm-4">
	                    <div class="form-group form-md-line-input">
	                        <div class="input-icon">
	                            <input type="text" class="form-control" placeholder="">
	                            <label class="control-label">Medicare Number</label>
	                            <div class="form-control-focus"> </div>
	                            <i class="glyphicon glyphicon-edit"></i>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-md-4 col-sm-4">
	                    <div class="form-group form-md-line-input">
	                        <div class="input-icon">
	                            <input type="text" class="form-control" placeholder="">
	                            <label class="control-label">Medicare reference number</label>
	                            <div class="form-control-focus"> </div>
	                            <i class="glyphicon glyphicon-edit"></i>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-md-4 col-sm-4">
	                    <div class="form-group form-md-line-input">
	                        <div class="input-icon">
	                            <input type="text" class="form-control date-picker" data-date-format="dd-mm-yyyy" placeholder="dd-mm-yyyy">
	                            <label class="control-label">Expiry date</label>
	                            <div class="form-control-focus"> </div>
	                            <i class="glyphicon glyphicon-calendar"></i>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-md-12 col-sm-12">&nbsp;</div>
	                <div class="col-md-12 col-sm-12">
	                    <div class="form-inline">
	                        <div class="form-group form-md-line-input">
	                            <div class="input-icon">
	                                <input type="text" class="form-control" placeholder="">
	                                <label class="control-label">DVA number</label>
	                                <div class="form-control-focus"> </div>
	                                <i class="glyphicon glyphicon-edit"></i>
	                            </div>
	                        </div>
	                        <div class="form-group form-md-line-input">
	                            <div class="radio-list">
	                                <label class="radio-inline">
	                                    <input type="radio" name="radio_group1"  value="option1" checked> Motor vehicle accident ? 
	                                </label>
	                                <label class="radio-inline">
	                                    <input type="radio" name="radio_group1"  value="option2"> Work injury ?  
	                                </label>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <hr>
	            <div class="row">
	                <h4 class="control-label col-md-12 col-sm-12">Next of Kin/Guardian</h4>
	                <div class="col-md-12 col-sm-12">
	                    <div class="form-group form-md-line-input">
	                        <div class="input-icon">
	                            <input type="text" class="form-control" placeholder="">
	                            <label class="control-label">Name</label>
	                            <div class="form-control-focus"> </div>
	                            <i class="glyphicon glyphicon-edit"></i>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-md-6 col-sm-6">
	                    <div class="form-group form-md-line-input">
	                        <div class="input-icon">
	                            <input type="text" class="form-control" placeholder="">
	                            <label class="control-label">Relationship</label>
	                            <div class="form-control-focus"> </div>
	                            <i class="glyphicon glyphicon-edit"></i>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-md-6 col-sm-6">
	                    <div class="form-group form-md-line-input">
	                        <div class="input-icon">
	                            <input type="text" class="form-control" placeholder="+61 8888 8888">
	                            <label class="control-label">Contact Number</label>
	                            <div class="form-control-focus"> </div>
	                            <i class="glyphicon glyphicon-phone"></i>
	                        </div>
	                    </div>
	                </div>
	            </div>
            </div>
        </div>
    </div>
    <!--end col-md-9-->
</div>