<div class="panel-group accordion" id="referral_details">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#referral_details" href="index.html#referral_details_1"> <b>REFERRAL DETAILS #1</b> </a>
            </h4>
        </div>
        <div id="referral_details_1" class="panel-collapse in">
            <div class="panel-body" style="padding: 2em;">
                <p>Fill this box for <b>Immediate Referrals</b> only (if the patient must be seen by a specialist within 7 days)</p>
                <p>Has the referral been discussed with a registrar or consultant? (Essential in immediate cases):</p>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                <label class="radio-inline">
                                    <input type="radio" name="referral_details_radio" value="option1" checked> Yes 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="referral_details_radio" value="option2"> No 
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="The clinical name">
                                <label class="control-label">If yes, the clinical name</label>
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-pencil"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Site">
                                <label class="control-label">Site</label>
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-pencil"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Contact number">
                                <label class="control-label">Contact number</label>
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-pencil"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Referral advice given">
                                <label class="control-label">Referral advice given</label>
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-pencil"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#referral_details" href="index.html#referral_details_2"> <b>REFERRAL DETAILS #2</b> </a>
            </h4>
        </div>
        <div id="referral_details_2" class="panel-collapse collapse">
            <div class="panel-body" style="padding: 2em;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <div class="form-group form-md-line-input">
                                <div class="radio-list">
                                     <label class="radio-inline control-label">
                                        Is the referrer the patients usual GP ?
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="referrer_radio"  value="option1"> Yes 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="referrer_radio"  value="option2" checked> No 
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Name of patients usual GP">
                                <label class="control-label">If no, name of patients usual GP</label>
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-pencil"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Contact Number">
                                <label class="control-label">Contact Number</label>
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-pencil"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Fax Number">
                                <label class="control-label">Fax Number</label>
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-print"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <div class="form-group form-md-line-input">
                                <div class="radio-list">
                                     <label class="radio-inline control-label">
                                        If the patient has been reffered to this speciality for the same condition before, do they need to be referred to the same place again ?
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="radio4"  value="option1"> Yes 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="radio4"  value="option2" checked> No 
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <div class="form-group form-md-line-input">
                                <div class="radio-list">
                                     <label class="radio-inline control-label">
                                        Is the patient suitable for a telehealth consult
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="radio5"  value="option1"> Yes 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="radio5"  value="option2" checked> No 
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <div class="form-group form-md-line-input">
                                <div class="radio-list">
                                     <label class="radio-inline control-label">
                                        Length of referral 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="radio6"  value="" checked> 3 months 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="radio6"  value="" > 12 months 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="radio6"  value="" > Indefinite
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <div class="form-group form-md-line-input">
                                <div class="radio-list">
                                     <label class="radio-inline control-label">
                                        Is this a renewed  referral ?
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="radio7"  value="" checked> Yes 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="radio7"  value="" > No 
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#referral_details" href="index.html#referral_details_3"> <b>REFERRAL DETAILS #3</b> </a>
            </h4>
        </div>
        <div id="referral_details_3" class="panel-collapse collapse">
            <div class="panel-body" style="padding: 2em;">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                <b>Reason for referral/Presenting Problem</b>
                            </label>
                            <textarea class="form-control" rows="10">(can upload the referral letter) Fax the referral letter - 1300 xxx xxx
                            </textarea>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <div class="table-scrollable table-scrollable-borderless">
                            <table class="table table-hover table-light">
                                <thead>
                                    <tr class="uppercase">
                                        <th width="30%">Name</th>
                                        <th ng-show="uploader.isHTML5">Size</th>
                                        <th>Date</th>
                                        <th>Body Part</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in uploader.queue">
                                        <td><strong>{{ item.file.name }}</strong></td>
                                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                        <td>{{item.file.lastModifiedDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                        <td>
                                            {{}}
                                        </td>
                                        <td nowrap>
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                <span class="glyphicon glyphicon-trash"></span> Remove
                                            </button>
                                            <button class="btn blue btn-xs" ng-click="ModalBodyPart()">
                                                <span class="fa fa-file-image-o"></span> Select Body Part
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <p><span class="caption-helper">Queue length: {{ uploader.queue.length }}</span></p>
                        </div>
                        <div class="input-inline">
                            <div class="input-icon">
                                <span class="btn blue-soft btn-file">
                                    <i class="glyphicon glyphicon-folder-open"></i>
                                    <span class="fileinput-new">&nbsp;Select Document</span>
                                <input type="file" nv-file-select="" uploader="uploader" multiple/>
                                </span>
                                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> Remove all
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>