<form role="form">
    <div class="row">
        <!-- col 1 -->
        <div class="col-md-9 col-sm-9">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <div class="form-control">12 months</div>
                            <label class="control-label">Duration of Referral</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <select class="form-control" name="Speciality">
                                <option value=""></option>
                                <option value="1">Pending</option>
                                <option value="2">Calling</option>
                                <option value="3">Booked</option>
                                <option value="4">Cancel</option>
                                <option value="5">Finish</option>
                            </select>
                            <label class="control-label">Status</label>
                            <div class="form-control-focus"> </div>
                            <span class="help-block">Some help goes here...</span>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control date-picker" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" >
                            <label class="control-label">Request Date</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control date-picker" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy">
                            <label class="control-label">Appointment Date</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-calendar"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control timepicker timepicker-no-seconds">
                            <label class="control-label">Appointment Time</label>
                            <div class="form-control-focus"> </div>
                            <i class="icon-clock"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="checkbox">
                        <label class="control-label"><input type="checkbox"> Correspondence</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <div class="form-control">Steven Kain</div>
                            <label class="control-label">Patient</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <div class="form-control">John Nathan</div>
                            <label class="control-label">Referring Practitioner</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <select class="form-control">
                                <option value="">------Select Fund-----</option>
                                <option value='ACA'>ACA Health Benefits Fund</option>
                                <option value='AHM'>ahm Health Insurance</option>
                                <option value='AUF'>Australian Unity Health Limited</option>
                                <option value='BUP'>Bupa Australia Pty Ltd</option>
                                <option value='CBH'>CBHS Health Fund Limited</option>
                                <option value='CDH'>CDH Benefits Fund</option>
                                <option value='CPS'>CUA Health Limited</option>
                                <option value='AHB'>Defence Health Limited</option>
                                <option value='AMA'>Doctors' Health Fund</option>
                                <option value='GMF'>GMF Health</option>
                                <option value='GMH'>GMHBA Limited</option>
                                <option value='FAI'>Grand United Corporate Health</option>
                                <option value='HBF'>HBF Health Limited</option>
                                <option value='HCF'>HCF</option>
                                <option value='HCI'>Health Care Insurance Limited</option>
                                <option value='HIF'>Health Insurance Fund of Australia Limited</option>
                                <option value='SPS'>Health Partners</option>
                                <option value='HEA'>health.com.au</option>
                                <option value='LHS'>Latrobe Health Services</option>
                                <option value='MBP'>Medibank Private Limited</option>
                                <option value='MDH'>Mildura Health Fund</option>
                                <option value='OMF'>National Health Benefits Australia Pty Ltd (onemedifund)</option>
                                <option value='NHB'>Navy Health Ltd</option>
                                <option value='NIB'>NIB Health Funds Ltd.</option>
                                <option value='LHM'>Peoplecare Health Insurance</option>
                                <option value='PWA'>Phoenix Health Fund Limited</option>
                                <option value='SPE'>Police Health</option>
                                <option value='QCH'>Queensland Country Health Fund Ltd</option>
                                <option value='RTE'>Railway and Transport Health Fund Limited</option>
                                <option value='RBH'>Reserve Bank Health Society Ltd</option>
                                <option value='SLM'>St.Lukes Health</option>
                                <option value='NTF'>Teachers Health Fund</option>
                                <option value='TFS'>Transport Health Pty Ltd</option>
                                <option value='QTU'>TUH</option>
                                <option value='WFD'>Westfund Limited</option>
                            </select>
                            <label class="control-label">Fund</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- col 2 -->
        <div class="col-md-3 col-sm-3">
            <div class="form-group form-md-line-input">
                <div class="input-icon">
                    <select class="form-control" name="Speciality">
                        <option value=""></option>
                        <option value="1">Plastic Surgeons</option>
                        <option value="2">Orthopaedic Surgeons</option>
                    </select>
                    <label class="control-label">Speciality</label>
                    <div class="form-control-focus"> </div>
                    <span class="help-block">Some help goes here...</span>
                    <i class="glyphicon glyphicon-pencil"></i>
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <div class="input-icon">
                    <select class="form-control">
                        <option value=""></option>
                    </select>
                    <label class="control-label">Name of Specialist (if required)</label>
                    <div class="form-control-focus"> </div>
                    <span class="help-block">Some help goes here...</span>
                    <i class="glyphicon glyphicon-pencil"></i>
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <div class="input-icon">
                    <select class="form-control">
                        <option value=""></option>
                        <option value="Joondalup">Joondalup</option>
                        <option value="Belmont">Belmont</option>
                        <option value="Rockingham">Rockingham</option>
                    </select>
                    <label class="control-label">Site</label>
                    <div class="form-control-focus"> </div>
                    <span class="help-block">Some help goes here...</span>
                    <i class="glyphicon glyphicon-pencil"></i>
                </div>
            </div>
        </div>
    </div>
</form>
