<form class="form-bordered">
	<div class="row">
		<div class="col-md-9 col-sm-8">
			<div class="col-md-6 col-sm-6">
		        <div class="form-group form-md-line-input">
		            <div class="input-icon">
		                <input type="text" class="form-control" placeholder="Duration" name="duration_of_referral">
		                <label class="control-label">Duration of Referral</label>
		                <div class="form-control-focus"> </div>
		                <i class="glyphicon glyphicon-pencil"></i>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="col-md-3 col-sm-4">

		        <div class="form-group form-md-line-input" >
                    <div class="input-icon">
                        <select class="form-control" name="Speciality">
                            <option value=""></option>
                            <option value="1">Plastic Surgeons</option>
                            <option value="2">Orthopaedic Surgeons</option>
                        </select>
                         <label class="control-label" >Speciality</label>
                        <div class="form-control-focus"> </div>
                        <span class="help-block">Some help goes here...</span>
                        <i class="glyphicon glyphicon-pencil"></i>
                    </div>
                   
                </div>
                <div class="form-group form-md-line-input">
                    <div class="input-icon">
                        <select class="form-control">
                            <option value=""></option>
                        </select>
                        <label class="control-label">Name of Specialist (if required)</label>
                        <div class="form-control-focus"> </div>
                        <!-- <span class="help-block">Some help goes here...</span> -->
                        <i class="glyphicon glyphicon-pencil"></i>
                    </div>
                    
                </div>
                <div class="form-group form-md-line-input">
                    <label class="control-label">Site</label>
                        <div class="input-icon">
                            <select class="form-control">
                                <option value=""></option>
                                <option value="Joondalup">Joondalup</option>
                                <option value="Belmont">Belmont</option>
                                <option value="Rockingham">Rockingham</option>
                                
                            </select>
                            <div class="form-control-focus"> </div>
                            <!-- <span class="help-block">Some help goes here...</span> -->
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                   
                </div>
		    
		</div>
	    
	</div>
</form>