<div class="row">
	<div class="col-md-4 col-sm-4">
		<div class="form-group form-md-line-input">
            
                <div class="form-control"></div>
                <label class="control-label">First name</label>
                <div class="form-control-focus"> </div>
                
        </div>
    </div>
    <div class="col-md-4 col-sm-4">    
        <div class="form-group form-md-line-input">
            
                <div class="form-control"></div>
                <label class="control-label">Middle name</label>
                <div class="form-control-focus"> </div>
               
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="form-group form-md-line-input">
           
                <div class="form-control"></div>
                <label class="control-label">Last name</label>
                <div class="form-control-focus"> </div>
               
        </div>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-sm-4">
		<div class="form-group form-md-line-input">
            <div class="input-icon">
                <div class="form-control"></div>
                <label class="control-label">Work Phone</label>
                <div class="form-control-focus"> </div>
                <i class="glyphicon glyphicon-phone"></i>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="form-group form-md-line-input">
            <div class="input-icon">
                <div class="form-control"></div>
                <label class="control-label">Home Phone</label>
                <div class="form-control-focus"> </div>
                <i class="glyphicon glyphicon-phone-alt"></i>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="form-group form-md-line-input">
            <div class="input-icon">
                <div class="form-control"></div>
                <label class="control-label">Fax</label>
                <div class="form-control-focus"> </div>
                <i class="glyphicon glyphicon-print"></i>
            </div>
        </div>
	</div>
</div>
<div class="row">
    <div class="col-md-8 col-sm-8">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group form-md-line-input">
                    
                        <div class="form-control"></div>
                        <label class="control-label">Healthlink ID</label>
                        <div class="form-control-focus"> </div>
                       
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group form-md-line-input">
                   
                        <div class="form-control"></div>
                        <label class="control-label">Provider Number</label>
                        <div class="form-control-focus"> </div>
                       
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="form-group form-md-line-input">
                    <div class="input-icon">
                        <div class="form-control"></div>
                        <label class="control-label">Address1</label>
                        <div class="form-control-focus"> </div>
                        <i class="glyphicon glyphicon-road"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group form-md-line-input">
                    <div class="input-icon">
                        <div class="form-control"></div>
                        <label class="control-label">Address2</label>
                        <div class="form-control-focus"> </div>
                        <i class="glyphicon glyphicon-road"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group form-md-line-input">
                    <div class="input-icon">
                        <div class="form-control"></div>
                        <label class="control-label">Postcode</label>
                        <div class="form-control-focus"> </div>
                        <i class="glyphicon glyphicon-map-marker"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group form-md-line-input">
                    <div class="input-icon">
                        <div class="form-control"></div>
                        <label class="control-label">Suburb</label>
                        <div class="form-control-focus"> </div>
                        <i class="glyphicon glyphicon-tree-conifer"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group form-md-line-input">
                    <div class="input-icon">
                        <div class="form-control"></div>
                        <label class="control-label">State</label>
                        <div class="form-control-focus"> </div>
                        <i class="glyphicon glyphicon-globe"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group form-md-line-input">
                    <div class="input-icon">
                        <div class="form-control"></div>
                        <label class="control-label">Country</label>
                        <div class="form-control-focus"> </div>
                        <i class="fa fa-flag"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="form-group ">
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 100%; height: 100%;">
                    <img src="./theme/assets/global/images/no_signature.png" width="100%" height="100%">
                </div>
                <br>
                <div>
                    <span class="btn green btn-file">
                <span class="fileinput-new">
                Signature </span>
                    <span class="fileinput-exists">
                Change </span>
                    <input type="file" name="...">
                    </span>
                    <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput">
                Remove </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


