<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">Western Appointment</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a ui-sref="authentication.WAAppointment.list">Western Appointment</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<i class="fa fa-angle-right"></i>
			<b>Western Appointment</b>
		</li>
	</ul>
</div>
<!-- END PAGE HEADER-->

<!-- END PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered" id="form_wizard_1">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-blue-steel"></i>
                    <span class="caption-subject font-blue-steel bold uppercase"> Western Appointment -
                        <span class="step-title"> Step 1 of 4 </span>
                    </span>
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body form">
                <form action="#" class=" margin-bottom-40" id="submit_form" method="POST">
                    <div class="form-wizard">
                        <div class="form-body">
                            <ul class="nav nav-pills nav-justified steps">
                                <li>
                                    <a href="#tab1" data-toggle="tab" class="step">
                                        <span class="number"> 1 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Practitioners' Detail</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab" class="step">
                                        <span class="number"> 2 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Patient Details </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab3" data-toggle="tab" class="step active">
                                        <span class="number"> 3 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Step 3 </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab4" data-toggle="tab" class="step">
                                        <span class="number"> 4 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Step 4 </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab5" data-toggle="tab" class="step">
                                        <span class="number"> 5 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Confirm </span>
                                    </a>
                                </li>
                            </ul>
                            <div id="bar" class="progress progress-sm progress-striped" role="progressbar">
                                <div class="progress-bar progress-bar-info"> </div>
                            </div>
                            <div class="tab-content">
                                <div class="alert alert-danger display-none">
                                    <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below. </div>
                                <div class="alert alert-success display-none">
                                    <button class="close" data-dismiss="alert"></button> Your form validation is successful! </div>
                                <div class="tab-pane active" id="tab1">
                                    <!-- BEGIN Referral to-->
                                    <div class="portlet box blue-soft">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-puzzle"></i>
                                                <span class="caption-subject bold uppercase"> Referral to </span>
                                                <!-- <span class="caption-helper">more samples...</span> -->
                                            </div>
                                            <div class="tools">
                                                <a href="" class="collapse"> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="form-horizontal margin-bottom-20">
                                                <div class="form-body">
                                                    <div class="form-group form-md-line-input" >
                                                        <label class="col-md-3 col-sm-3 control-label" >Speciality</label>
                                                        <div class="col-md-6 col-sm-6">
                                                            <div class="input-icon">
                                                                <select class="form-control">
                                                                    <option value=""></option>
                                                                    <option value="1">Plastic Surgeons</option>
                                                                    <option value="2">Orthopaedic Surgeons</option>
                                                                </select>
                                                                <div class="form-control-focus"> </div>
                                                                <span class="help-block">Some help goes here...</span>
                                                                <i class="glyphicon glyphicon-pencil"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-md-line-input">
                                                        <label class="col-md-3 col-sm-3 control-label">Name of Specialist (if required)</label>
                                                        <div class="col-md-6 col-sm-6">
                                                            <div class="input-icon">
                                                                <select class="form-control">
                                                                    <option value=""></option>
                                                                </select>
                                                                <div class="form-control-focus"> </div>
                                                                <!-- <span class="help-block">Some help goes here...</span> -->
                                                                <i class="glyphicon glyphicon-pencil"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-md-line-input">
                                                        <label class="col-md-3 col-sm-3 control-label">Site</label>
                                                        <div class="col-md-6 col-sm-6">
                                                            <div class="input-icon">
                                                                <select class="form-control">
                                                                    <option value=""></option>
                                                                    <option value="Joondalup">Joondalup</option>
                                                                    <option value="Belmont">Belmont</option>
                                                                    <option value="Rockingham">Rockingham</option>
                                                                    
                                                                </select>
                                                                <div class="form-control-focus"> </div>
                                                                <!-- <span class="help-block">Some help goes here...</span> -->
                                                                <i class="glyphicon glyphicon-pencil"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END Referral to-->
                                    <!-- BEGIN Referral form-->
                                    <div class="portlet box blue-soft">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-puzzle"></i>
                                                <span class="caption-subject bold uppercase"> Referral from </span>
                                                <!-- <span class="caption-helper">more samples...</span> -->
                                            </div>
                                            <div class="tools">
                                                <a href="" class="collapse"> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" style="padding: 2em 2em;">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="Name of referrer">
                                                            <label class="control-label">Name of referrer</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="Provider number">
                                                            <label class="control-label">Provider number</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="Healthlink ID">
                                                            <label class="control-label">Healthlink ID</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="Telephone">
                                                            <label class="control-label">Telephone</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-phone"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="Fax">
                                                            <label class="control-label">Fax</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-print"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="Address">
                                                            <label class="control-label">Address</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-map-marker"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END Referral from-->
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <!-- BEGIN Referral form-->
                                    <div class="portlet box blue-soft">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="icon-puzzle"></i>
                                                <span class="caption-subject bold uppercase"> Patient Details </span>
                                                <!-- <span class="caption-helper">more samples...</span> -->
                                            </div>
                                            <div class="tools">
                                                <a href="" class="collapse"> </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" style="padding: 2em 2em;">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="First name">
                                                            <label class="control-label">First name</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="Family name">
                                                            <label class="control-label">Family name</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="Preferred name">
                                                            <label class="control-label">Preferred name</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="Previous name">
                                                            <label class="control-label">Previous name</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="Title">
                                                            <label class="control-label">Title</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="Marital Status">
                                                            <label class="control-label">Marital Status</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="Country of Birth">
                                                            <label class="control-label">Country of Birth</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control date-picker" data-date-format="dd-mm-yyyy" placeholder="Date of Birth">
                                                            <label class="control-label">Date of Birth</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label class="control-label col-md-2 col-sm-2">Sex</label>
                                                <div class="col-md-10 col-sm-10 ">
                                                    <div class="form-inline">
                                                        <div class="form-group form-md-line-input">
                                                            <div class="radio-list">
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="sex" id="male" value="option1" checked> Male 
                                                                </label>
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="sex" id="female" value="option2"> Female 
                                                                </label>
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="sex" id="sex_other" value="option3"> Other 
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group form-md-line-input">
                                                            <div class="input-icon">
                                                                <input type="text" class="form-control" placeholder="Other">
                                                                <div class="form-control-focus"> </div>
                                                                <i class="glyphicon glyphicon-pencil"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12">&nbsp;</div>
                                                <label class="control-label col-md-2 col-sm-2">Indigenous status</label>
                                                <div class="col-md-10 col-sm-10 ">
                                                    <div class="form-inline">
                                                        <div class="form-group form-md-line-input">
                                                            <div class="radio-list">
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="sex" id="Aboriginal" value="option1" checked> Aboriginal 
                                                                </label>
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="sex" id="Torres Strait Islander" value="option2"> Torres Strait Islander 
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12"><hr></div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Address</label>
                                                        <textarea class="form-control" rows="3"></textarea>
                                                    </div>
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="Postcode">
                                                            <label class="control-label">Postcode</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="Contact number">
                                                            <label class="control-label">Contact number</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="Postcode">
                                                            <label class="control-label">Postcode</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Mailing Adress (if different)</label>
                                                        <textarea class="form-control" rows="12"></textarea>
                                                    </div>
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="Fax number">
                                                            <label class="control-label">Fax number</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-print"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12">&nbsp;</div>
                                                <label class="control-label col-md-2 col-sm-2">Interpreter required ?</label>
                                                <div class="col-md-10 col-sm-10 ">
                                                    <div class="form-inline">
                                                        <div class="form-group form-md-line-input">
                                                            <div class="radio-list">
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="sex" id="Yes" value="option1" checked> Yes 
                                                                </label>
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="sex" id="No" value="option2"> No 
                                                                </label>
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="sex" id="Interpreter_other" value="option3"> If yes, language/dialect 
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group form-md-line-input">
                                                            <div class="input-icon">
                                                                <input type="text" class="form-control" placeholder="">
                                                                <div class="form-control-focus"> </div>
                                                                <i class="glyphicon glyphicon-pencil"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12">&nbsp;</div>
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="Other special needs">
                                                            <label class="control-label col-md-3 col-sm-3"> Other special needs ?</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12"><hr></div>
                                                <label class="control-label col-md-2 col-sm-2">Medicare Eligible</label>
                                                <div class="col-md-10 col-sm-10 ">
                                                    <div class="form-inline">
                                                        <div class="form-group form-md-line-input">
                                                            <div class="radio-list">
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="sex" id="Yes" value="option1" checked> Yes 
                                                                </label>
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="sex" id="No" value="option2"> No 
                                                                </label>
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="sex" id="Medicare_number" value="option3"> Medicare Number
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group form-md-line-input">
                                                            <div class="input-icon">
                                                                <input type="text" class="form-control" placeholder="">
                                                                <div class="form-control-focus"> </div>
                                                                <i class="glyphicon glyphicon-pencil"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12">&nbsp;</div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="Medicare reference number">
                                                            <label class="control-label">Medicare reference number</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control date-picker" data-date-format="dd-mm-yyyy" placeholder="Expiry date">
                                                            <label class="control-label">Expiry date</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12">&nbsp;</div>
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="form-inline">
                                                        <div class="form-group form-md-line-input">
                                                            <div class="input-icon">
                                                                <input type="text" class="form-control" placeholder="DVA number">
                                                                <label class="control-label">DVA number</label>
                                                                <div class="form-control-focus"> </div>
                                                                <i class="glyphicon glyphicon-pencil"></i>
                                                            </div>
                                                        </div>
                                                        <div class="form-group form-md-line-input">
                                                            <div class="radio-list">
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="sex"  value="option1" checked> Motor vehicle accident ? 
                                                                </label>
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="sex"  value="option2"> Work injury ?  
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12"><hr></div>
                                                <label class="control-label col-md-12 col-sm-12">Next of Kin/Guardian</label>
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="Name">
                                                            <label class="control-label">Name</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="Relationship">
                                                            <label class="control-label">Relationship</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="input-icon">
                                                            <input type="text" class="form-control" placeholder="Contact Number">
                                                            <label class="control-label">Contact Number</label>
                                                            <div class="form-control-focus"> </div>
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END Referral from-->
                                </div>
                                <div class="tab-pane" id="tab3">
                                    <h3 class="block">Provide your billing and credit card details</h3>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Card Holder Name
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="card_name" />
                                            <span class="help-block"> </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Card Number
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="card_number" />
                                            <span class="help-block"> </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">CVC
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" placeholder="" class="form-control" name="card_cvc" />
                                            <span class="help-block"> </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Expiration(MM/YYYY)
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <input type="text" placeholder="MM/YYYY" maxlength="7" class="form-control" name="card_expiry_date" />
                                            <span class="help-block"> e.g 11/2020 </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Payment Options
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-4">
                                            <div class="checkbox-list">
                                                <label>
                                                    <input type="checkbox" name="payment[]" value="1" data-title="Auto-Pay with this Credit Card." /> Auto-Pay with this Credit Card </label>
                                                <label>
                                                    <input type="checkbox" name="payment[]" value="2" data-title="Email me monthly billing." /> Email me monthly billing </label>
                                            </div>
                                            <div id="form_payment_error"> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab4">
                                    <h3 class="block">Confirm your account</h3>
                                    <h4 class="form-section">Account</h4>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Username:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="username"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Email:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="email"> </p>
                                        </div>
                                    </div>
                                    <h4 class="form-section">Profile</h4>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Fullname:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="fullname"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Gender:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="gender"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Phone:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="phone"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Address:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="address"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">City/Town:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="city"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Country:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="country"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Remarks:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="remarks"> </p>
                                        </div>
                                    </div>
                                    <h4 class="form-section">Billing</h4>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Card Holder Name:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="card_name"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Card Number:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="card_number"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">CVC:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="card_cvc"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Expiration:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="card_expiry_date"> </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Payment Options:</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static" data-display="payment[]"> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <a href="javascript:;" class="btn default button-previous">
                                        <i class="fa fa-angle-left"></i> Back </a>
                                    <a href="javascript:;" class="btn btn-outline green button-next"> Continue
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                    <a href="javascript:;" class="btn green button-submit"> Submit
                                        <i class="fa fa-check"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>