<div class="panel group">
    <!-- relevant past medical history -->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title uppercase bold">Clinical Information</h3>
        </div>
        <div class="panel-body form">
            <form class="form-horizontal margin-bottom-20">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-5 col-sm-5 control-label" >Relevant Past Medical History</label>
                                <div class="col-md-7 col-sm-7">
                                    <p class="form-control-static" data-display=""> ...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-5 col-sm-5 control-label" >Attach Filename</label>
                                <div class="col-md-7 col-sm-7">
                                    <p class="form-control-static" data-display=""> ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-5 col-sm-5 control-label" >Relevant Social Factors</label>
                                <div class="col-md-7 col-sm-7">
                                    <p class="form-control-static" data-display=""> ...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-5 col-sm-5 control-label" >Attach Filename</label>
                                <div class="col-md-7 col-sm-7">
                                    <p class="form-control-static" data-display=""> ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-5 col-sm-5 control-label" >Allergies</label>
                                <div class="col-md-7 col-sm-7">
                                    <p class="form-control-static" data-display=""> ...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-5 col-sm-5 control-label" >Attach Filename</label>
                                <div class="col-md-7 col-sm-7">
                                    <p class="form-control-static" data-display=""> ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-5 col-sm-5 control-label" >Current Medication</label>
                                <div class="col-md-7 col-sm-7">
                                    <p class="form-control-static" data-display=""> ...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-5 col-sm-5 control-label" >Attach Filename</label>
                                <div class="col-md-7 col-sm-7">
                                    <p class="form-control-static" data-display=""> ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-5 col-sm-5 control-label" >Relevant Investigation and Tests (Please Attach Results)</label>
                                <div class="col-md-7 col-sm-7">
                                    <p class="form-control-static" data-display=""> ...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-5 col-sm-5 control-label" >Attach Filename</label>
                                <div class="col-md-7 col-sm-7">
                                    <p class="form-control-static" data-display=""> ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-5 col-sm-5 control-label" >Pathology provider</label>
                                <div class="col-md-7 col-sm-7">
                                    <p class="form-control-static" data-display=""> ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-5 col-sm-5 control-label" >Radiology provider</label>
                                <div class="col-md-7 col-sm-7">
                                    <p class="form-control-static" data-display=""> ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group form-md-line-input">
                                <label class="col-md-5 col-sm-5 control-label" >Other Notes</label>
                                <div class="col-md-7 col-sm-7">
                                    <p class="form-control-static" data-display=""> ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

