<div class="panel group">
    <!-- referral details #1 -->
    <!-- <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title uppercase bold">referral details #1</h3>
        </div>
        <div class="panel-body" style="padding: 2em">
            <p>Fill this box for <b>Immediate Referrals</b> only (if the patient must be seen by a specialist within 7 days)</p>
            <p>Has the referral been discussed with a registrar or consultant? (Essential in immediate cases):</p>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group form-md-line-input">
                        <div class="radio-list">
                            <label class="radio-inline">
                                <input type="radio" name="referral_details_radio" value="option1" checked> Yes 
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="referral_details_radio" value="option2"> No 
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <div class="form-control" data-display="">...</div>
                            <label class="control-label">If yes, the clinical name</label>
                            <i class="glyphicon glyphicon-edit"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <div class="form-control" data-display="">...</div>
                            <label class="control-label">Site</label>
                            <i class="glyphicon glyphicon-edit"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <div class="form-control" data-display="">...</div>
                            <label class="control-label">Contact number</label>
                            <i class="glyphicon glyphicon-edit"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <div class="form-control" data-display="">...</div>
                            <label class="control-label">Referral advice given</label>
                            <i class="glyphicon glyphicon-edit"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- referral details #2 -->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title uppercase bold">&nbsp;</h3>
        </div>
        <div class="panel-body" style="padding: 2em">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                 <label class="radio-inline control-label">
                                    Is the referrer the patients usual GP ?
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="referrer_radio"  value="option1"> Yes 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="referrer_radio"  value="option2" checked> No 
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <div class="form-control" data-display="">...</div>
                            <label class="control-label">If no, name of patients usual GP</label>
                            <i class="glyphicon glyphicon-edit"></i>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <div class="form-control" data-display="">...</div>
                            <label class="control-label">Contact Number</label>
                            <i class="glyphicon glyphicon-edit"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <div class="form-control" data-display="">...</div>
                            <label class="control-label">Fax Number</label>
                            <i class="glyphicon glyphicon-print"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                 <label class="radio-inline control-label">
                                    If the patient has been reffered to this speciality for the same condition before, do they need to be referred to the same place again ?
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="radio4"  value="option1"> Yes 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="radio4"  value="option2" checked> No 
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                 <label class="radio-inline control-label">
                                    Is the patient suitable for a telehealth consult
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="radio5"  value="option1"> Yes 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="radio5"  value="option2" checked> No 
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                 <label class="radio-inline control-label">
                                    Length of referral 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="radio6"  value="" checked> 3 months 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="radio6"  value="" > 12 months 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="radio6"  value="" > Indefinite
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                 <label class="radio-inline control-label">
                                    Is this a renewed  referral ?
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="radio7"  value="" checked> Yes 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="radio7"  value="" > No 
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- referral details #3 -->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title uppercase bold">&nbsp;</h3>
        </div>
        <div class="panel-body" style="padding: 2em">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label">
                            <b>Reason for referral/Presenting Problem</b>
                        </label>
                        <textarea class="form-control" rows="10" disabled>(can upload the referral letter) Fax the referral letter - 1300 xxx xxx
                        </textarea>
                    </div>
                    <div class="form-horizontal">
                        <div class="form-group form-md-line-input">
                            <label class="control-label col-md-4 col-sm-4">Skin cancer</label>
                            <div class="col-md-8 col-sm-8"><div class="form-control">Melanoma</div></div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="control-label col-md-4 col-sm-4">Hand condition</label>
                            <div class="col-md-8 col-sm-8"><div class="form-control">DeQuervains/Trigger</div></div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="control-label col-md-4 col-sm-4">PNS</label>
                            <div class="col-md-8 col-sm-8"><div class="form-control">Complex Reconstructive Case</div></div>
                        </div>
                    </div>    
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                            <thead>
                                <tr class="uppercase">
                                    <th width="30%">Name</th>
                                    <th ng-show="uploader.isHTML5">Size</th>
                                    <th>Date</th>
                                    <th>Body Part</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td>{{item.file.lastModifiedDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                    <td>{{}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <p><span class="caption-helper">Queue length: {{ uploader.queue.length }}</span></p>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">
                <h5 class="col-md-12 col-sm-12">
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="radio-list">
                                 <label class="radio-inline control-label bold">
                                    History of Previous skin cancers and treatmens
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="skin_cancers_radio"  value="option1" checked> Yes 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="skin_cancers_radio"  value="option2"> No 
                                </label>
                            </div>
                        </div>
                    </div>
                </h5>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <textarea class="form-control" rows="10"></textarea>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                            <thead>
                                <tr class="uppercase">
                                    <th width="30%">Name</th>
                                    <th ng-show="uploader.isHTML5">Size</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td>{{item.file.lastModifiedDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <p><span class="caption-helper">Queue length: {{ uploader.queue.length }}</span></p>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row">
                <h5 class="col-md-12 col-sm-12">
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="radio-list">
                                 <label class="radio-inline control-label bold">
                                    History of Previous hand surgery
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="hand_surgery_radio"  value="option1" checked> Yes 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="hand_surgery_radio"  value="option2"> No 
                                </label>
                            </div>
                        </div>
                    </div>
                </h5>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <textarea class="form-control" rows="10"></textarea>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                            <thead>
                                <tr class="uppercase">
                                    <th width="30%">Name</th>
                                    <th ng-show="uploader.isHTML5">Size</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td>{{item.file.lastModifiedDate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <p><span class="caption-helper">Queue length: {{ uploader.queue.length }}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



