<form role="form">
    <div class="form-body">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-lg-offset-1">
                <div class="form-group">
                    <label class="control-label">Doctor Type</label>
                    <select size="1" class="form-control" ng-model="doctorType">
                        <option value="">All</option>
                        <option value="PlasticSurgeon">Plastic Surgeon</option>
                        <option value="OrthopaedicSurgeon">Orthopaedic Surgeon</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Doctor List</label>
                    <select size="5" class="form-control">
                        <option ng-repeat="item in info.listDoctorTreatingPractitioner | filter:doctorType" ng-click="selectTreatingPractitioner(item.UID)">{{((item.Title !=null)?item.Title:"")+" "+((item.FirstName != null)?item.FirstName:"") +" "+((item.LastName != null)?item.LastName:"")}}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-lg-offset-1">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                            <label class="control-label">First name</label>
                            <div class="form-control">{{wainformation.Doctors[0].FirstName}}</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                            <label class="control-label">Middle name</label>
                            <div class="form-control">{{wainformation.Doctors[0].MiddleName}}</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                            <label class="control-label">Last name</label>
                            <div class="form-control">{{wainformation.Doctors[0].LastName}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label class="control-label">Contact number</label>
                            <div class="form-control">{{wainformation.Doctors[0].HomePhoneNumber}}</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <label class="control-label">Department</label>
                            <div class="form-control">{{wainformation.Doctors[0].Department.DepartmentName}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- <div class="row">
    <div class="col-lg-10 col-md-12 col-lg-offset-1">
        <h4 class="uppercase bold">Doctor List</h4>
        <div class="table-scrollable table-scrollable-borderless table-responsive dt-responsive margin-top-10 margin-bottom-10">
            <table class="table table-hover table-light">
                <thead>
                    <tr class="uppercase">
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Department</th>
                        <th>Contact Number</th>
                        <th width="1"></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="text" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Terry</td>
                        <td>Bodgard</td>
                        <td>Check item</td>
                        <td>097 39 40 41</td>
                        <td><input type="checkbox" class="regular-checkbox regular-no-lable"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite">
                    Showing 1 to 2 of 2 entries
                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="dataTables_paginate paging_bootstrap_number text-right" id="sample_1_paginate" >
                    <ul class="pagination" style="visibility:visible">
                        <li class="prev disabled"><a href="#" title="Prev"><i class="fa fa-angle-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li class="next disabled"><a href="#" title="Next"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr/>
        <h4 class="uppercase bold">Group Doctor</h4>
        <div class="table-scrollable table-scrollable-borderless table-responsive dt-responsive margin-top-10 margin-bottom-10">
            <table class="table table-hover table-light">
                <thead>
                    <tr class="uppercase">
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Doctors</th>
                        <th width="1"></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="text" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                        <td><input type="text" class="form-control"/></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td class="primary-link">Meditek</td>
                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry</td>
                        <td>Thanh, Minh, Chiến, Kiệt</td>
                        <td><input type="checkbox" class="regular-checkbox regular-no-lable"/></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td class="primary-link">Medical</td>
                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry</td>
                        <td>Thanh, Minh, Chiến, Kiệt</td>
                        <td><input type="checkbox" class="regular-checkbox regular-no-lable"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite">
                    Showing 1 to 2 of 2 entries
                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="dataTables_paginate paging_bootstrap_number text-right" id="sample_1_paginate" >
                    <ul class="pagination" style="visibility:visible">
                        <li class="prev disabled"><a href="#" title="Prev"><i class="fa fa-angle-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li class="next disabled"><a href="#" title="Next"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
 -->