<div class="panel-group">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title uppercase bold">Patient Details</h3>
        </div>
        <div class="panel-body" style="padding:2em">
            <!-- 1 -->
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="First name" name="Firstname">
                            <label class="control-label">First name</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Family name">
                            <label class="control-label">Family name</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Preferred name">
                            <label class="control-label">Preferred name</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Previous name">
                            <label class="control-label">Previous name</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Title">
                            <label class="control-label">Title</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Marital Status">
                            <label class="control-label">Marital Status</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Country of Birth">
                            <label class="control-label">Country of Birth</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control date-picker" data-date-format="dd-mm-yyyy" placeholder="Date of Birth">
                            <label class="control-label">Date of Birth</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-calendar"></i>
                        </div>
                    </div>
                </div>
                <label class="control-label col-md-2 col-sm-2">Sex</label>
                <div class="col-md-10 col-sm-10 ">
                    <div class="form-inline">
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                <label class="radio-inline">
                                    <input type="radio" name="sex" value="Male" checked> Male 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" id="female" value="Female"> Female 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" id="sex_other" value="Other"> Other 
                                </label>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Other">
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-pencil"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">&nbsp;</div>
                <label class="control-label col-md-2 col-sm-2">Indigenous status</label>
                <div class="col-md-10 col-sm-10 ">
                    <div class="form-inline">
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                <label class="radio-inline">
                                    <input type="radio" name="sex" id="Aboriginal" value="option1" checked="true"> Aboriginal 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" id="Torres Strait Islander" value="option2"> Torres Strait Islander 
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- 2 -->
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="form-inline">
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                <label class="control-label radio-inline">Interpreter required ?</label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" id="Yes" value="option1" checked> Yes 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" id="No" value="option2"> No 
                                </label>
                                <label class="radio-inline">
                                    If yes, language/dialect 
                                </label>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Language/dialect">
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-pencil"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">&nbsp;</div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Other special needs">
                            <label class="control-label col-md-3 col-sm-3"> Other special needs ?</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- 3 -->
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="form-inline">
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                <label class="control-label radio-inline">Interpreter required ?</label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" id="Yes" value="option1" checked> Yes 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" id="No" value="option2"> No 
                                </label>
                                <label class="radio-inline">
                                    If yes, language/dialect 
                                </label>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="Language/dialect">
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-pencil"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">&nbsp;</div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Other special needs">
                            <label class="control-label col-md-3 col-sm-3"> Other special needs ?</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- patient details #4 -->
    <!-- <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title uppercase bold">Patient Details #4</h3>
        </div>
        <div class="panel-body" style="padding:2em">
            <div class="row">
                <div class="col-md-10 col-sm-10 ">
                    <div class="form-inline">
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                <label class="radio-inline">Medicare Eligible</label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" id="Yes" value="option1" ng-checked="true"> Yes 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" id="No" value="option2"> No 
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">&nbsp;</div>
                <div class="col-md-4 col-sm-4">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Medicare Number">
                            <label class="control-label">Medicare Number</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Medicare reference number">
                            <label class="control-label">Medicare reference number</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control date-picker" data-date-format="dd-mm-yyyy" placeholder="Expiry date">
                            <label class="control-label">Expiry date</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-calendar"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">&nbsp;</div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-inline">
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="DVA number">
                                <label class="control-label">DVA number</label>
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-pencil"></i>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                <label class="radio-inline">
                                    <input type="radio" name="radio_group1"  value="option1" checked> Motor vehicle accident ? 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="radio_group1"  value="option2"> Work injury ?  
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- patient details #5 -->
    <!-- <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title uppercase bold">Patient Details #5</h3>
        </div>
        <div class="panel-body" style="padding:2em">
            <div class="row">
                <h4 class="control-label col-md-12 col-sm-12">Next of Kin/Guardian</h4>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Name">
                            <label class="control-label">Name</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Relationship">
                            <label class="control-label">Relationship</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Contact Number">
                            <label class="control-label">Contact Number</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>


