<div class="">
    <h4 class="form-section bold font-blue">Referring Practitioner</h4>
    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4">Healthlink ID</label>
        <div class="col-lg-8 col-md-8">
            <div class="form-control bold text-info">{{wainformation.TelehealthAppointment.Doctors[0].HealthLink}}</div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4">Provider Number</label>
        <div class="col-lg-8 col-md-8">
            <div class="form-control bold text-info">{{wainformation.TelehealthAppointment.Doctors[0].ProviderNumber}}</div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4">First name</label>
        <div class="col-lg-8 col-md-8">
            <div class="form-control bold text-info">{{wainformation.TelehealthAppointment.Doctors[0].FirstName}}</div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4">Middle name</label>
        <div class="col-lg-8 col-md-8">
            <div class="form-control bold text-info">{{wainformation.TelehealthAppointment.Doctors[0].MiddleName}}</div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4">Last name</label>
        <div class="col-lg-8 col-md-8">
            <div class="form-control bold text-info">{{wainformation.TelehealthAppointment.Doctors[0].LastName}}</div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4">Work Phone</label>
        <div class="col-lg-8 col-md-8">
            <div class="form-control bold text-info">{{wainformation.TelehealthAppointment.Doctors[0].WorkPhoneNumber}}</div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4">Home Phone</label>
        <div class="col-lg-8 col-md-8">
            <div class="form-control bold text-info">{{wainformation.TelehealthAppointment.Doctors[0].HomePhoneNumber}}</div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4">Fax</label>
        <div class="col-lg-8 col-md-8">
            <div class="form-control bold text-info">{{wainformation.TelehealthAppointment.Doctors[0].FaxNumber}}</div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4">Address1</label>
        <div class="col-lg-8 col-md-8">
            <div class="form-control bold text-info">{{wainformation.TelehealthAppointment.Doctors[0].Address1}}</div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4">Address2</label>
        <div class="col-lg-8 col-md-8">
            <div class="form-control bold text-info">{{wainformation.TelehealthAppointment.Doctors[0].Address2}}</div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4">Postcode</label>
        <div class="col-lg-8 col-md-8">
            <div class="form-control bold text-info">{{wainformation.TelehealthAppointment.Doctors[0].Postcode}}</div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4">Suburb</label>
        <div class="col-lg-8 col-md-8">
            <div class="form-control bold text-info">{{wainformation.TelehealthAppointment.Doctors[0].Suburb}}</div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4">State</label>
        <div class="col-lg-8 col-md-8">
            <select class="form-control bold text-info" ng-model="wainformation.TelehealthAppointment.Doctors[0].State" disabled>
                    <option value=""></option>
                    <option value="WA">Western Australia</option>
                    <option value="VIC">Victoria</option>
                    <option value="TAS">Tasmania</option>
                    <option value="QLD">Queensland</option>
                    <option value="NSW">New South Wales</option>
                    <option value="NT">Northern Territory</option>
                    <option value="ACT">Australian Capital Territory</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4 col-md-4">Country</label>
        <div class="col-lg-8 col-md-8">
            <div class="form-control bold text-info">{{wainformation.TelehealthAppointment.Doctors[0].Country.ShortName}}</div>
        </div>
    </div>
       
    <div class="form-group">
        <div class="col-lg-12">
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 100%; height: 100%;">
                    <img dimage dimage-uid="wainformation.TelehealthAppointment.Doctors[0].FileUpload.UID" width="100%" height="100%" ng-if="wainformation.TelehealthAppointment.Doctors[0].FileUpload.UID != null">
                    <img src="./theme/assets/global/images/no_signature.jpg" width="100%" height="100%" ng-if="wainformation.TelehealthAppointment.Doctors[0].FileUpload.UID == null">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
    


