<div class="modal-content">
    <div class="modal-header my-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()"></button>
        <h4 class="modal-title bold">
            <i class="glyphicon glyphicon-th-list"></i>
            WA Appointments
        </h4>
    </div>
    <div class="modal-body">
        <detail-waappoint></detail-waappoint>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn default" data-dismiss="modal" ng-click="close()">
            <i class="icon-action-undo"></i> Close
        </button>
        <button type="button" class="btn green">
            <i class="glyphicon glyphicon-save"></i> Save changes
        </button>
    </div>
</div>