<div class="row" ng-if="wainformation.Patients.length != 0">
    <div class="col-md-12 co-xs-12 pull-left">
        <h4><b>PATIENT NO :</b><span class="text-danger"> Linked</span></h4>
    </div>
</div>
<div class="row profile-account">
    <div class="col-md-3 col-sm-3">
        <ul class="nav nav-tabs tabs-left">
            <li class="active">
                <a data-toggle="tab" href="index.html#tab_1-1">
                    Basic Information </a>
                <span class="after"> </span>
            </li>
            <li>
                <a data-toggle="tab" href="index.html#tab_2-2">
                    Contact Information </a>
            </li>
            <li>
                <a data-toggle="tab" href="index.html#tab_kinGuardian">
                    Kin/Guardian </a>
            </li>
            <li>
                <a data-toggle="tab" href="index.html#tab_3-3">
                    Medicare Information
                 </a>
            </li>
        </ul>
    </div>
    <div class="col-md-9 col-sm-9">
        <div class="tab-content">
            <div id="tab_1-1" class="tab-pane active">
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <select class="form-control" ng-model="wainformation.TelehealthAppointment.PatientAppointment.Title">
                                        <option value="">Select Title</option>
                                        <option value="Mr">Mr</option>
                                        <option value="Mrs">Mrs</option>
                                        <option value="Ms">Ms</option>
                                        <option value="Dr">Dr</option>
                                    </select>
                                    <label class="control-label">Title</label>
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" placeholder="" ng-model="wainformation.TelehealthAppointment.PatientAppointment.FirstName">
                                    <label class="control-label">First name</label>
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" placeholder="" ng-model="wainformation.TelehealthAppointment.PatientAppointment.MiddleName">
                                    <label class="control-label">Middle name</label>
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" placeholder="" ng-model="wainformation.TelehealthAppointment.PatientAppointment.LastName">
                                    <label class="control-label">Last name</label>
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" placeholder="" ng-model="wainformation.TelehealthAppointment.PatientAppointment.PreferredName">
                                    <label class="control-label">Preferred name</label>
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" placeholder="" ng-model="wainformation.TelehealthAppointment.PatientAppointment.PreviousName">
                                    <label class="control-label">Previous name</label>
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <select class="form-control" ng-model="wainformation.TelehealthAppointment.PatientAppointment.MaritalStatus">
                                        <option value=""></option>
                                        <option value="Married">Married</option>
                                        <option value="Never married">Never married</option>
                                        <option value="Widowed">Widowed</option>
                                        <option value="Divorced">Divorced</option>
                                        <option value="Separated">Separated</option>
                                    </select>
                                    <label class="control-label">Marital status</label>
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-md-offset-1 col-sm-offset-1">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <div class="input-icon">
                                        <input type="text" class="form-control" placeholder="" ng-model="wainformation.TelehealthAppointment.PatientAppointment.CountryOfBirth">
                                        <label class="control-label">Country of Birth</label>
                                        <div class="form-control-focus"> </div>
                                        <i class="fa fa-flag"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group form-md-line-input">
                                    <div class="input-icon">
                                        <input type="text" class="form-control date-picker" data-date-format="dd/mm/yyyy" placeholder="dd-mm-yyyy" ng-model="wainformation.TelehealthAppointment.PatientAppointment.DOB">
                                        <label class="control-label">Date of Birth</label>
                                        <div class="form-control-focus"> </div>
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-12 col-sm-12">Sex</label>
                            <div class="col-md-11 col-sm-11 col-md-offset-1 col-sm-offset-1">
                                <div class="form-group">
                                    <div class="radio-list">
                                        <label class="radio-inline">
                                            <input type="radio" name="radioTest12" value="Male" ng-model="wainformation.TelehealthAppointment.PatientAppointment.Gender"> Male
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="radioTest12" value="Female" ng-model="wainformation.TelehealthAppointment.PatientAppointment.Gender"> Female
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" size="15" ng-click="info.selectRadioGender()" name="radioTest12" ng-checked="(wainformation.TelehealthAppointment.PatientAppointment.Gender != 'Male' && wainformation.TelehealthAppointment.PatientAppointment.Gender != 'Female' && wainformation.TelehealthAppointment.PatientAppointment.Gender != null)?true:false"> Other &nbsp;
                                            <input type="text" size="10" ng-if="wainformation.TelehealthAppointment.PatientAppointment.Gender == 'Male' || wainformation.TelehealthAppointment.PatientAppointment.Gender == 'Female' || wainformation.TelehealthAppointment.PatientAppointment.Gender == null" disabled>
                                            <input type="text" size="10" ng-model="wainformation.TelehealthAppointment.PatientAppointment.Gender" ng-if="wainformation.TelehealthAppointment.PatientAppointment.Gender != 'Male' && wainformation.TelehealthAppointment.PatientAppointment.Gender != 'Female' && wainformation.TelehealthAppointment.PatientAppointment.Gender != null">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <label class="control-label col-md-12 col-sm-12">Indigenous status</label>
                            <div class="col-md-11 col-sm-11 col-md-offset-1 col-sm-offset-1">
                                <div class="form-group">
                                    <div class="radio-list">
                                        <label class="radio-inline">
                                            <input type="radio" name="Indigenous" value="Aboriginal" ng-model="wainformation.TelehealthAppointment.PatientAppointment.Indigenous"> Aboriginal
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="Indigenous" value="TorresStraitIslander" ng-model="wainformation.TelehealthAppointment.PatientAppointment.Indigenous"> Torres Strait Islander
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-12 col-sm-12">Interpreter required ?</label>
                            <div class="col-md-11 col-sm-11 col-md-offset-1 col-sm-offset-1">
                                <div class="form-group">
                                    <div class="radio-list">
                                        <label class="radio-inline">
                                            <input type="radio" name="InterpreterRequired" id="Yes" value="Y" ng-model="wainformation.TelehealthAppointment.PatientAppointment.InterpreterRequired"> Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="InterpreterRequired" id="No" value="N" ng-model="wainformation.TelehealthAppointment.PatientAppointment.InterpreterRequired"> No
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-horizontal">
                                    <div class="form-group form-md-line-input">
                                        <label class="control-label col-md-4 col-sm-4">If yes, language/dialect </label>
                                        <div class="col-md-6 col-sm-6">
                                            <input type="text" class="form-control" placeholder="" ng-model="wainformation.TelehealthAppointment.PatientAppointment.InterpreterLanguage">
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-horizontal">
                                    <div class="form-group form-md-line-input">
                                        <label class="control-label col-md-4 col-sm-4">Other special needs ?</label>
                                        <div class="col-md-6 col-sm-6">
                                            <input type="text" class="form-control" placeholder="" ng-model="wainformation.TelehealthAppointment.PatientAppointment.OtherSpecialNeed">
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab_2-2" class="tab-pane">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="" ng-model="wainformation.TelehealthAppointment.PatientAppointment.WorkPhoneNumber">
                                <label class="control-label">Contact number (M)</label>
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-phone"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="" ng-model="wainformation.TelehealthAppointment.PatientAppointment.HomePhoneNumber">
                                <label class="control-label">Contact number (H)</label>
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-phone-alt"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="" ng-model="wainformation.TelehealthAppointment.PatientAppointment.Email2">
                                <label class="control-label">Email</label>
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-envelope"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="" ng-model="wainformation.TelehealthAppointment.PatientAppointment.FaxNumber">
                                <label class="control-label">Fax number</label>
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-print"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="" ng-model="wainformation.TelehealthAppointment.PatientAppointment.Address1">
                                <label class="control-label">Address1</label>
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-road"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="" ng-model="wainformation.TelehealthAppointment.PatientAppointment.Address2">
                                <label class="control-label">Address2</label>
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-road"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="" ng-model="wainformation.TelehealthAppointment.PatientAppointment.Suburb">
                                <label class="control-label">Suburb</label>
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-tree-conifer"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="" ng-model="wainformation.TelehealthAppointment.PatientAppointment.Postcode">
                                <label class="control-label">Postcode</label>
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-map-marker"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab_kinGuardian" class="tab-pane">
                <div class="row">
                    <h4 class="control-label col-md-12 col-sm-12">Next of Kin/Guardian</h4>
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group form-md-line-input">
                            <input type="text" class="form-control" placeholder="" ng-model="wainformation.TelehealthAppointment.PatientAppointment.PatientKinName">
                            <label class="control-label">Name</label>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group form-md-line-input">
                            <input type="text" class="form-control" placeholder="" ng-model="wainformation.TelehealthAppointment.PatientAppointment.PatientKinRelationship">
                            <label class="control-label">Relationship</label>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="+61 8888 8888" ng-model="wainformation.TelehealthAppointment.PatientAppointment.PatientKinContactNumber">
                                <label class="control-label">Contact Number</label>
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-phone"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab_3-3" class="tab-pane">
                <div class="row margin-bottom-40">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="form-inline">
                            <div class="form-group form-md-line-input">
                                <div class="radio-list">
                                    <label class="radio-inline">Medicare Eligible</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="MedicareEligible" value="Y" ng-model="wainformation.TelehealthAppointment.PatientAppointment.MedicareEligible"> Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="MedicareEligible" value="N" ng-model="wainformation.TelehealthAppointment.PatientAppointment.MedicareEligible"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">&nbsp;</div>
                </div>
                <div class="row" ng-if="wainformation.TelehealthAppointment.PatientAppointment.MedicareEligible == 'Y'">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group form-md-line-input">
                            <input type="text" class="form-control" placeholder="" ng-model="wainformation.TelehealthAppointment.PatientAppointment.MedicareNumber">
                            <label class="control-label">Medicare Number</label>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group form-md-line-input">
                            <input type="text" class="form-control" placeholder="" ng-model="wainformation.TelehealthAppointment.PatientAppointment.MedicareReferenceNumber">
                            <label class="control-label">Medicare reference number</label>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control date-picker" data-date-format="dd/mm/yyyy" placeholder="dd-mm-yyyy" ng-model="wainformation.TelehealthAppointment.PatientAppointment.ExpiryDate">
                                <label class="control-label">Expiry date</label>
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-calendar"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="wainformation.TelehealthAppointment.PatientAppointment.MedicareEligible == 'Y'">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group form-md-line-input">
                            <input type="text" class="form-control" placeholder="" ng-model="wainformation.TelehealthAppointment.PatientAppointment.DVANumber">
                            <label class="control-label">DVA number</label>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end col-md-9-->
</div>
<div class="row pull-right">
    <div class="col-md-12 co-xs-12">
        <button class="btn red" ng-click="selectPatient()">
            <i class="glyphicon glyphicon-plus"></i> Link Patient
        </button>
    </div>
</div>
