<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">Western Appointment</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a ui-sref="authentication.WAAppointment.list">Western Appointment</a>
		</li>
		<li>
			<i class="fa fa-angle-right"></i>
			<b>Western Appointment</b>
		</li>
	</ul>
</div>
<!-- END PAGE HEADER-->

<!-- END PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered" id="form_wizard_1">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-blue-steel"></i>
                    <span class="caption-subject font-blue-steel bold uppercase"> Western Appointment -
                        <span class="step-title"> Step 1 of 4 </span>
                    </span>
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body form">
                <form action="#" class=" margin-bottom-40" id="submit_form" method="POST">
                    <div class="form-wizard">
                        <div class="form-body">
                            <ul class="nav nav-pills nav-justified steps">
                                <li>
                                    <a href="#tab1" data-toggle="tab" class="step">
                                        <span class="number"> 1 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Practitioners' Detail</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab" class="step">
                                        <span class="number"> 2 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Patient Details </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab3" data-toggle="tab" class="step active">
                                        <span class="number"> 3 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Referral Details </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab4" data-toggle="tab" class="step">
                                        <span class="number"> 4 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Clinical Information </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab5" data-toggle="tab" class="step">
                                        <span class="number"> 5 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Confirm </span>
                                    </a>
                                </li>
                            </ul>
                            <div id="bar" class="progress progress-sm progress-striped active" role="progressbar">
                                <div class="progress-bar progress-bar-info"> </div>
                            </div>
                            <div class="tab-content">
                                <div class="alert alert-danger display-none">
                                    <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below. </div>
                                <div class="alert alert-success display-none">
                                    <button class="close" data-dismiss="alert"></button> Your form validation is successful! </div>
                                <div class="tab-pane active" id="tab1">
                                    <div ng-include="'modules/WAAppointment/views/WAAppointmentGP_PractitionersDetail.html'"></div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <div ng-include="'modules/WAAppointment/views/WAAppointmentGP_PatientDetails.html'"></div>
                                </div>
                                <div class="tab-pane" id="tab3">
                                    <div ng-include="'modules/WAAppointment/views/WAAppointmentGP_ReferralDetails.html'"></div>
                                </div>
                                <div class="tab-pane" id="tab4">
                                    <div ng-include="'modules/WAAppointment/views/WAAppointmentGP_ClinicalInformation.html'"></div>
                                </div>
                                <div class="tab-pane" id="tab5">
                                    <div ng-include="'modules/WAAppointment/views/WAAppointmentGP_Confirm.html'"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <a href="javascript:;" class="btn default button-previous">
                                        <i class="fa fa-angle-left"></i> Back </a>
                                    <a href="javascript:;" class="btn btn-outline green button-next"> Continue
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                    <a href="javascript:;" class="btn green button-submit"> Submit
                                        <i class="fa fa-check"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>