<div class="panel-group">
    <!-- referral to -->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title uppercase bold">referral to</h3>
        </div>
        <div class="panel-body">
            <div class="form-horizontal margin-bottom-20">
                <div class="form-body">
                    <div class="form-group form-md-line-input" >
                        <label class="col-md-3 col-sm-3 control-label" >Speciality</label>
                        <div class="col-md-6 col-sm-6">
                            <div class="input-icon">
                                <select class="form-control" name="Speciality">
                                    <option value=""></option>
                                    <option value="1">Plastic Surgeons</option>
                                    <option value="2">Orthopaedic Surgeons</option>
                                </select>
                                <div class="form-control-focus"> </div>
                                <span class="help-block">Some help goes here...</span>
                                <i class="glyphicon glyphicon-pencil"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 col-sm-3 control-label">Name of Specialist (if required)</label>
                        <div class="col-md-6 col-sm-6">
                            <div class="input-icon">
                                <select class="form-control">
                                    <option value=""></option>
                                </select>
                                <div class="form-control-focus"> </div>
                                <!-- <span class="help-block">Some help goes here...</span> -->
                                <i class="glyphicon glyphicon-pencil"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 col-sm-3 control-label">Site</label>
                        <div class="col-md-6 col-sm-6">
                            <div class="input-icon">
                                <select class="form-control">
                                    <option value=""></option>
                                    <option value="Joondalup">Joondalup</option>
                                    <option value="Belmont">Belmont</option>
                                    <option value="Rockingham">Rockingham</option>
                                    
                                </select>
                                <div class="form-control-focus"> </div>
                                <!-- <span class="help-block">Some help goes here...</span> -->
                                <i class="glyphicon glyphicon-pencil"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- referral from -->
<!--     <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title uppercase bold">referral from</h3>
        </div>
        <div class="panel-body" style="padding: 2em;">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Name of referrer" name="Name_of_referrer">
                            <label class="control-label">Name of referrer</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Provider number" name="Provider_number">
                            <label class="control-label">Provider number</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Healthlink ID" name="Healthlink_ID">
                            <label class="control-label">Healthlink ID</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Telephone">
                            <label class="control-label">Telephone</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-phone"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Fax">
                            <label class="control-label">Fax</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-print"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Address">
                            <label class="control-label">Address</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-map-marker"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>