<div class="panel-group">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title uppercase bold">Patient Details</h3>
        </div>
        <div class="panel-body" style="padding:2em">
            <!-- 1 -->
            <div class="row">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group form-md-line-input">
                            <input type="text" class="form-control edited" name="FirstName" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.FirstName">
                            <label class="control-label">First name
                                <span class="required"> * </span>
                            </label>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group form-md-line-input">
                            <input type="text" class="form-control edited" name="LastName" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.LastName">
                            <label class="control-label">Family name
                                <span class="required"> * </span>
                            </label>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group form-md-line-input">
                            <input type="text" class="form-control" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.PreferredName">
                            <label class="control-label">Preferred name</label>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group form-md-line-input">
                            <input type="text" class="form-control" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.PreviousName">
                            <label class="control-label">Previous name</label>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group form-md-line-input">
                            <select class="form-control" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.Title">
                                <option value=""></option>
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Miss">Miss</option>
                                <option value="Ms">Ms</option>
                            </select>
                            <label class="control-label">Title</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group form-md-line-input">
                            <!--   <input type="text" class="form-control" placeholder="Country of Birth" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.CountryOfBirth"> -->
                            <select class="form-control" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.MaritalStatus">
                                <option value=""></option>
                                <option value="Married">Married</option>
                                <option value="Never married">Never married</option>
                                <option value="Widowed">Widowed</option>
                                <option value="Divorced">Divorced</option>
                                <option value="Separated">Separated</option>
                            </select>
                            <label class="control-label">Marital Status</label>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group form-md-line-input">
                            <select size="1" class="form-control" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.CountryOfBirth">
                                <option ng-repeat="item in ListContry">{{item.ShortName}}</option>
                            </select>
                            <label class="control-label"> Country of Birth</label>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group form-md-line-input">
                            <input type="text" class="form-control date-picker" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.DOB" data-date-end-date="0d">
                            <label class="control-label">Date of Birth</label>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
                <label class="control-label col-md-2 col-sm-2">Sex</label>
                <div class="col-md-10 col-sm-10 ">
                    <div class="form-inline">
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                <label class="radio-inline">
                                    <input type="radio" name="genderNo" value="Male" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.Gender"> Male
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="genderNo" value="Female" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.Gender"> Female
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="genderNo" value="Other" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.Gender"> Other
                                </label>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <input type="text" class="form-control" placeholder="Other" ng-model="showData.GenderOther" ng-disabled="requestInfo.TelehealthAppointment.PatientAppointment.Gender !== 'Other'">
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">&nbsp;</div>
                <label class="control-label col-md-2 col-sm-2">Indigenous status</label>
                <div class="col-md-10 col-sm-10 ">
                    <div class="form-inline">
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                <label class="radio-inline">
                                    <input type="radio" name="IndigenousStatus" value="Aboriginal" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.Indigenous"> Aboriginal
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="IndigenousStatus" value="Torres Strait Islander" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.Indigenous"> Torres Strait Islander
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="IndigenousStatus" value="" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.Indigenous"> None
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <input type="text" class="form-control edited" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.Address1" name="Address">
                        <label class="control-label">Address1
                            <span class="required"> * </span>
                        </label>
                        <div class="form-control-focus"> </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <input type="text" class="form-control" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.Address2">
                        <label class="control-label">Address2</label>
                        <div class="form-control-focus"> </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <input type="text" class="form-control edited" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.Suburb" name="Suburb">
                        <label class="control-label">Suburb
                            <span class="required"> * </span>
                        </label>
                        <div class="form-control-focus"> </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <input type="text" class="form-control edited" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.Postcode" name="Postcode">
                        <label class="control-label">Postcode
                            <span class="required"> * </span>
                        </label>
                        <div class="form-control-focus"> </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <input type="text" class="form-control edited" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.PhoneNumber" name="PhoneNumber">
                        <label class="control-label">Contact Number(M)
                            <span class="required"> * </span>
                        </label>
                        <div class="form-control-focus"> </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <input type="text" class="form-control edited" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.HomePhoneNumber" name="HomePhoneNumber">
                        <label class="control-label">Contact Number(H)</label>
                        <div class="form-control-focus"> </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <input type="text" class="form-control" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.FaxNumber">
                        <label class="control-label">Fax Number</label>
                        <div class="form-control-focus"> </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- 2 -->
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="form-inline">
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                <label class="control-label radio-inline">Interpreter required ?</label>
                                <label class="radio-inline">
                                    <input type="radio" name="InterpreterRequired" id="InterpreterRequired" value="Y" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.InterpreterRequired"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="InterpreterRequired" id="InterpreterRequired" value="N" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.InterpreterRequired" ng-click="InterpreterRequiredNo()"> No
                                </label>
                                <label class="radio-inline">
                                    If yes, language/dialect
                                </label>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <input type="text" class="form-control" placeholder="Language/dialect" ng-disabled="requestInfo.TelehealthAppointment.PatientAppointment.InterpreterRequired === 'N'" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.InterpreterLanguage">
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">&nbsp;</div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group form-md-line-input">
                        <input type="text" class="form-control" placeholder="Other special needs" ng-model="requestInfo.TelehealthAppointment.PatientAppointment.OtherSpecialNeed">
                        <label class="control-label col-md-3 col-sm-3"> Other special needs ?</label>
                        <div class="form-control-focus"> </div>
                    </div>
                </div>
            </div>
            <!-- 3 -->
        </div>
    </div>
    <!-- patient details #4 -->
    <!-- <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title uppercase bold">Patient Details #4</h3>
        </div>
        <div class="panel-body" style="padding:2em">
            <div class="row">
                <div class="col-md-10 col-sm-10 ">
                    <div class="form-inline">
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                <label class="radio-inline">Medicare Eligible</label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" id="Yes" value="option1" ng-checked="true"> Yes 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" id="No" value="option2"> No 
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">&nbsp;</div>
                <div class="col-md-4 col-sm-4">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Medicare Number">
                            <label class="control-label">Medicare Number</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Medicare reference number">
                            <label class="control-label">Medicare reference number</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control date-picker" data-date-format="dd/mm/yyyy" placeholder="Expiry date">
                            <label class="control-label">Expiry date</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-calendar"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">&nbsp;</div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-inline">
                        <div class="form-group form-md-line-input">
                            <div class="input-icon">
                                <input type="text" class="form-control" placeholder="DVA number">
                                <label class="control-label">DVA number</label>
                                <div class="form-control-focus"> </div>
                                <i class="glyphicon glyphicon-pencil"></i>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <div class="radio-list">
                                <label class="radio-inline">
                                    <input type="radio" name="radio_group1"  value="option1" checked> Motor vehicle accident ? 
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="radio_group1"  value="option2"> Work injury ?  
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- patient details #5 -->
    <!-- <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title uppercase bold">Patient Details #5</h3>
        </div>
        <div class="panel-body" style="padding:2em">
            <div class="row">
                <h4 class="control-label col-md-12 col-sm-12">Next of Kin/Guardian</h4>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Name">
                            <label class="control-label">Name</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Relationship">
                            <label class="control-label">Relationship</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-icon">
                            <input type="text" class="form-control" placeholder="Contact Number">
                            <label class="control-label">Contact Number</label>
                            <div class="form-control-focus"> </div>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
