<!-- <div class="tabbable-line tabbable-full-width">
	<ul class="nav nav-tabs">
	    <li class="active">
	        <a href="a#confirm_practitioner" data-toggle="tab"> Practitioners' Detail </a>
	    </li>
	    <li>
	        <a href="a#confirm_patient" data-toggle="tab"> Patient Details </a>
	    </li>
	    <li>
	        <a href="a#confirm_referral" data-toggle="tab"> Referral Details </a>
	    </li>
	    <li>
	        <a href="a#confirm_clinical" data-toggle="tab"> Clinical Information </a>
	    </li>
	</ul>
	<div class="tab-content">
	    <div class="tab-pane active" id="confirm_practitioner">
	       <div ng-include="'modules/WAAppointment/views/WAAppointmentGP_Confirm_PractitionersDetail.html'"></div>
	    </div>
	    
	    <div class="tab-pane" id="confirm_patient">
	        <div ng-include="'modules/WAAppointment/views/WAAppointmentGP_Confirm_PatientDetails.html'"></div>
	    </div>
	    
	    <div class="tab-pane" id="confirm_referral">
	        <div ng-include="'modules/WAAppointment/views/WAAppointmentGP_Confirm_ReferralDetails.html'"></div>
	    </div>
	    
	    <div class="tab-pane" id="confirm_clinical">
	    	<div ng-include="'modules/WAAppointment/views/WAAppointmentGP_Confirm_ClinicalInformation.html'"></div>
	    </div>
	</div>
</div> -->

<div class="row profile-account">
    <div class="col-md-3">
        <ul class="ver-inline-menu tabbable margin-bottom-10">
            <li class="active">
                <a data-toggle="tab" href="index.html#tab_1-1">
                    <i class="fa fa-cog"></i> Practitioners Detail </a>
                <span class="after"> </span>
            </li>
            <li>
                <a data-toggle="tab" href="index.html#tab_2-2">
                    <i class="fa fa-picture-o"></i> Patient Details </a>
            </li>
            <li>
                <a data-toggle="tab" href="index.html#tab_3-3">
                    <i class="fa fa-lock"></i> Referral Details </a>
            </li>
           <!--  <li>
                <a data-toggle="tab" href="index.html#tab_4-4">
                    <i class="fa fa-eye"></i> Clinical Information </a>
            </li> -->
        </ul>
    </div>
    <div class="col-md-9">
        <div class="tab-content">
            <div id="tab_1-1" class="tab-pane active">
                <div ng-include="'modules/WAAppointment/views/WAAppointmentGP_Confirm_PractitionersDetail.html'"></div>
            </div>
            <div id="tab_2-2" class="tab-pane">
                <div ng-include="'modules/WAAppointment/views/WAAppointmentGP_Confirm_PatientDetails.html'"></div>
            </div>
            <div id="tab_3-3" class="tab-pane">
                <div ng-include="'modules/WAAppointment/views/WAAppointmentGP_Confirm_ReferralDetails.html'"></div>
            </div>
            <!-- <div id="tab_4-4" class="tab-pane">
                <div ng-include="'modules/WAAppointment/views/WAAppointmentGP_Confirm_ClinicalInformation.html'"></div>
            </div> -->
        </div>
    </div>
    <!--end col-md-9-->
</div>