<div class="row">
    <div class="col-md-3 col-sm-3">
        <!-- <ul class="ver-inline-menu tabbable margin-bottom-10"> -->
        <ul class="nav nav-tabs tabs-left">
            <li class="filter active" data-filter="Arm Foot Head Body" ng-click="tab_body_part='all';">
                <a>All </a>
            </li>
        </ul>
    </div>
    <div class="col-md-9 col-sm-9">
        <div class="row mix-grid" style="">
                 <div class="col-md-3 col-sm-3 mix Arm Foot Head Body mix_all" style=" display: block; opacity: 1;" ng-repeat="p in FileUploadImage" ng-if="p.FileType == 'MedicalImage'">
                    <div class="mix-inner">
                        <img class="img-responsive" dimage dimage-uid="p.UID" dimage-size="'200'" style="height:200px;">
                        <div class="mix-details">
                            <h4>Cascusamus et iusto odio</h4>
                            <a class="mix-link">
                                <i class="fa fa-link"></i>
                            </a>
                            <a class="mix-preview" ng-click="showImage(Url,p.UID)" title="Project Name" data-rel="fancybox-button">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>