<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">Urgent Care <small>Urgent Care List</small></h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<b>Urgent Care</b>
		</li>
	</ul>
</div>
<!-- END PAGE HEADER-->

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green">
            <i class="icon-list font-green"></i>
            <span class="caption-subject bold uppercase">Urgent Care</span>
        </div>
        <div class="actions">
            <a href="javascript:;" class="btn btn-circle red-thunderbird btn-sm" ng-click="toggleFilter()">
                <i class="fa fa-filter"></i> Filter
            </a>
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
        </div>
    </div>
    <div class="portlet-body">
        <!-- begin table -->
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-bordered table-striped table-condensed flip-content table-hover">
                    <!-- <table class="table table-hover table-bordered flip-content"> -->
                        <thead class="flip-content">
                            <tr>
                                <th width="1">#</th>
                                <th>
                                    Full Name
                                    <i class="fa fa-sort-asc sortDataTable" ng-click="sortDataTable('FullName','ASC')" ng-show="typeFullName == 'ASC'"></i>
                                    <i class="fa fa-sort-desc sortDataTable" ng-click="sortDataTable('FullName','DESC')" ng-show="typeFullName == 'DESC'"></i>
                                </th>
                                <th>Request Type</th>
                                <th width="200px">
                                    Request Time
                                </th>
                                <th>Phone Number</th>
                                <th>Suburb</th>
                                <th width="170px">Status</th>
                            </tr>
                            <tr ng-hide="toggle">
                                <td></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td>
                                    <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="dd-mm-yyyy">
                                        <input type="text" class="form-control" name="from">
                                        <span class="input-group-addon"> to </span>
                                        <input type="text" class="form-control" name="to"> 
                                    </div>
                                </td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td>
                                    <select class="form-control">
                                        <option value="">All</option>
                                        <option value="">Pending</option>
                                        <option value="">Confirmed</option>
                                        <option value="">Not Responded</option>
                                    </select>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tbody>
                                <tr ng-click="openModal()">
                                    <td>1</td>
                                    <td>Hitoshi Yagami</td>
                                    <td>Type 1</td>
                                    <td>20/12/2015 11:22:44</td>
                                    <td>61 2456 7896</td>
                                    <td></td>
                                    <td><span class="label label-warning">Pending</span></td>
                                </tr>
                                <tr ng-click="openModal()">
                                    <td>2</td>
                                    <td>Hitoshi Yagami</td>
                                    <td>Type 1</td>
                                    <td>20/12/2015 11:22:44</td>
                                    <td>61 2456 7896</td>
                                    <td></td>
                                    <td><span class="label label-success">Confirmed</span></td>
                                </tr>
                                <tr ng-click="openModal()">
                                    <td>3</td>
                                    <td>Hitoshi Yagami</td>
                                    <td>Type 1</td>
                                    <td>20/12/2015 11:22:44</td>
                                    <td>61 2456 7896</td>
                                    <td></td>
                                    <td><span class="label label-danger">Not Responded</span></td>
                                </tr>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end table -->
        <!-- begin pagination -->
        <div class="row">
            <div class="col-md-5 col-sm-12">
                {{filteredTodos.length }}
            </div>
            <div class="col-md-7 col-sm-12" style="text-align:right">
                <div class="dataTables_paginate paging_simple_numbers" id="sample_1_paginate">
                    <pagination boundary-links="true " total-items="filteredTodos.length " ng-model="currentPage " class="pagination-sm " previous-text="&lsaquo; " next-text="&rsaquo; " first-text="&laquo; " last-text="&raquo; " items-per-page="numPerPage " max-size="maxSize "></pagination>
                </div>
            </div>
        </div>
        <!-- end pagination -->
    </div>
</div>