<!-- BEGIN PAGE HEADER-->
<div class="page-bar margin-bottom-20">
    <ul class="page-breadcrumb">
        <li><a ui-sref="authentication.home.list">Homepage</a></li>
        <li><i class="fa fa-circle"></i><span>Urgent Care</span></li>
    </ul>
</div>
<!-- END PAGE HEADER-->

<!-- <h3 class="page-title bold">Urgent Care</h3> -->


<div class="portlet">
    <div class="portlet-title">
        <div class="caption uppercase bold font-blue">
            <i class="icon-rocket font-blue"></i>
            <span class="caption-subject">Urgent Care</span>
        </div>
        <div class="actions">
            <a href="javascript:;" class="btn btn-outline blue" ng-click="toggleFilter()">
                <i class="fa fa-filter"></i> Filter
            </a>
            <!-- <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a> -->
        </div>
    </div>
    <div class="portlet-body">
        <!-- begin table -->
        <div class="row margin-top-10">
            <div class="col-md-12 col-sm-12">
                <div class="table-scrollable table-scrollable-borderless table-responsive dt-responsive margin-top-20">
                    <table class="table table-light table-hover table-striped">
                        <thead class="flip-content">
                            <tr class="uppercase">
                                <th colspan="7">
                                    <div class="dataTables_info" id="sample_3_info" role="status" aria-live="polite">Total : {{ filteredTodos.length }} records</div>
                                    <div class="dataTables_paginate paging_simple_numbers" id="sample_1_paginate">
                                        <uib-pagination 
                                            boundary-links="true " 
                                            total-items="count " 
                                            ng-model="searchObjectMap.currentPage " 
                                            class="pagination-md" 
                                            previous-text="&lsaquo; " 
                                            next-text="&rsaquo; " 
                                            first-text="&laquo; " 
                                            last-text="&raquo; " 
                                            items-per-page="searchObjectMap.limit " 
                                            max-size="searchObjectMap.maxSize "
                                            ng-change="setPage()">
                                        </uib-pagination>
                                    </div>
                                </th>
                            </tr>
                            <tr class="uppercase">
                                <th width="1">#</th>
                                <th>
                                    Full Name
                                    <i class="fa fa-sort-asc"  ng-click="sort('FirstName','ASC')" ng-show="fieldSort.FirstName=='ASC'"></i>
                                    <i class="fa fa-sort-desc" ng-click="sort('FirstName','DESC')"ng-show="fieldSort.FirstName=='DESC'"></i>
                                </th>
                                <th>
                                    Request Type
                                    <i class="fa fa-sort-asc"  ng-click="sort('UrgentRequestType','ASC')" ng-show="fieldSort.UrgentRequestType=='ASC'" ></i>
                                    <i class="fa fa-sort-desc" ng-click="sort('UrgentRequestType','DESC')"ng-show="fieldSort.UrgentRequestType=='DESC'"></i>
                                </th>
                                <th>
                                    Request Time
                                    <i class="fa fa-sort-asc"  ng-click="sort('RequestDate','ASC')" ng-show="fieldSort.RequestDate=='ASC'"></i>
                                    <i class="fa fa-sort-desc" ng-click="sort('RequestDate','DESC')"ng-show="fieldSort.RequestDate=='DESC'"></i>
                                </th>
                                <th>
                                    Phone Number
                                    <i class="fa fa-sort-asc"  ng-click="sort('PhoneNumber','ASC')" ng-show="fieldSort.PhoneNumber=='ASC'" ></i>
                                    <i class="fa fa-sort-desc" ng-click="sort('PhoneNumber','DESC')"ng-show="fieldSort.PhoneNumber=='DESC'"></i>
                                </th>
                                <th>
                                    Suburb
                                    <i class="fa fa-sort-asc"  ng-click="sort('Suburb','ASC')" ng-show="fieldSort.Suburb=='ASC'"></i>
                                    <i class="fa fa-sort-desc" ng-click="sort('Suburb','DESC')"ng-show="fieldSort.Suburb=='DESC'"></i>
                                </th>
                                <th>
                                    Status
                                    <i class="fa fa-sort-asc"  ng-click="sort('Status','ASC')" ng-show="fieldSort.Status=='ASC'"></i>
                                    <i class="fa fa-sort-desc" ng-click="sort('Status','DESC')"ng-show="fieldSort.Status=='DESC'"></i>
                                </th>
                            </tr>
                            <tr ng-hide="toggle">
                                <td></td>
                                <td><input type="text" class="form-control" ng-model="search.FullName" ng-keypress="Search(search,$event.which)"></td>
                                <td><input type="text" class="form-control" ng-model="search.RequestType" ng-keypress="Search(search,$event.which)"></td>
                                <td>
                                    <div class="form-inline">
                                        <input type="text" class="form-control date-picker input-small"  ng-model="search.RequestDate.from" style="font-size:13px;" data-date-format="dd/mm/yyyy" ng-change="Search(search,flag)" placeholder="dd/mm/yyyy"/>  to 
                                        <input type="text" class="form-control date-picker input-small"  ng-model="search.RequestDate.to" data-date-format="dd/mm/yyyy" ng-change="Search(search,flag)" placeholder="dd/mm/yyyy"/>
                                    </div>
                                    <!-- <div class="input-group input-medium date-picker input-daterange" data-date-format="dd/mm/yyyy" >
                                        <input type="text" class="form-control" ng-model="search.RequestDate.from" ng-change="Search(search,flag)">
                                        <span class="input-group-addon"> to </span>
                                        <input type="text" class="form-control" ng-model="search.RequestDate.to" ng-change="Search(search,flag)"> 
                                    </div> -->
                                </td>
                                <td><input type="text" class="form-control" ng-model="search.PhoneNumber" ng-keypress="Search(search,$event.which)"></td>
                                <td><input type="text" class="form-control" ng-model="search.Suburb" ng-keypress="Search(search,$event.which)"></td>
                                <td>
                                    <select class="form-control" ng-model="search.Status" ng-change="Search(search,flag)" ng-options=" s.id as s.name for s in status">
                                        <option value="">All</option>
                                        <option value="">Pending</option>
                                        <option value="">Confirmed</option>
                                        <option value="">Not Responded</option>
                                    </select>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat=" u in urgent" ng-click="clickDetail(u.UID)">
                                <td>{{u.stt}}</td>
                                <td>{{u.FirstName}} {{u.LastName}}</td>
                                <td>{{u.UrgentRequestType}}</td>
                                <td>{{u.RequestDate}}</td>
                                <td>{{u.PhoneNumber}}</td>
                                <td>{{u.Suburb}}</td>
                                <td>
                                    <span class="label" ng-class="{'label-warning':u.Status=='pending','label-success':u.Status=='confirmed','label-danger':u.Status=='spending'}">{{u.Status}}</span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="sample_1_paginate">
                                        <uib-pagination 
                                            boundary-links="true " 
                                            total-items="count " 
                                            ng-model="searchObjectMap.currentPage " 
                                            class="pagination-md" 
                                            previous-text="&lsaquo; " 
                                            next-text="&rsaquo; " 
                                            first-text="&laquo; " 
                                            last-text="&raquo; " 
                                            items-per-page="searchObjectMap.limit " 
                                            max-size="searchObjectMap.maxSize "
                                            ng-change="setPage()">
                                        </uib-pagination>
                                    </div>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- end table -->
    </div>
</div>
<script type="text/ng-template " id="urgentCareDetail">
    <urgentcare-detail on-data="data" on-cancel="close" ></urgentcare-detail>
</script>