<div class="portlet box green" style="margin-bottom:0px;">
    <div class="portlet-title">
        <div class="caption">
            <i class="glyphicon glyphicon-th-list"></i>
            <span class="caption-subject">Urgent Care Detail</span>
        </div>
        <div class="tools">
        	<a class="remove" data-original-title title></a>
        </div>
    </div>
    <div class="portlet-body form">
    	<form>
    		<div class="form-body margin-bottom-40" style="padding:0em 2em;">
	    		<urgentcare-detail></urgentcare-detail>
		    </div>
		    <div class="form-actions">
		    	<div class="row pull-right">
		    		<div class="col-md-12">
		    			<button class="btn default" ng-click="close()">
		    				<i class="icon-action-undo"></i> Close</button>
		    			<button class="btn green" ng-click="save()">
		    				<i class="glyphicon glyphicon-save"></i> Save change
		    			</button>
		    		</div>
		    	</div>
		    </div>
    	</form>
    </div>
</div>