<!-- BEGIN PAGE HEADER-->
<div class="page-bar ">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="authentication.company.home">Company</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <a ui-sref="authentication.company.list">List</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <b>Detail</b>
        </li>
    </ul>
</div>
<br>
<!-- END PAGE HEADER-->
<h3 class="page-title bold">Company Detail<small>Company Detail</small></h3>
<!-- content page -->
<company-detail on-uid="uid"></company-detail>
<!-- end content page -->
