<!-- BEGIN PAGE HEADER-->
<div class="page-bar ">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="authentication.company.home">Company</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <a ui-sref="authentication.company.list">List</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <b>Detail</b>
        </li>
    </ul>
</div>
<br>
<!-- END PAGE HEADER-->

<!-- content page -->
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-list"></i>
            <span class="caption-subject bold uppercase">Company Detail</span>
        </div>
        <!-- <div class="tools hidden-xs">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="fullscreen"> </a>
        </div> -->
        <ul class="nav nav-tabs">
            <li>
                <a href="index.html#tab_3" data-toggle="tab"> Staff List </a>
            </li>
            <li>
                <a href="index.html#tab_2" data-toggle="tab"> Insurer List </a>
            </li>
            <li class="active">
                <a href="index.html#tab_1" data-toggle="tab"> Basic Information </a>
            </li>
        </ul>
    </div>
    <div class="portlet-body form">
        <form class="form">
            <div class="form-body" style="margin-left:1em; margin-right:1em;">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <h3 class="form-section bold">Basic info</h3>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Company Name</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <textarea class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <h3 class="form-section bold">Site info</h3>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Site Name</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Address1</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Address2</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-sm-8">
                                        <div class="form-group">
                                            <label class="control-label">Suburb</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Postcode</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Country</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">State</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-sm-8">
                                        <div class="form-group">
                                            <label class="control-label">Contact Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Contact Number</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_2">
                        <h3 class="form-section bold">
                            Insurer List
                            <a class="btn btn-lg green pull-right" ng-click="insurer('add',-1)">
                                <i class="glyphicon glyphicon-plus"></i> Add
                            </a>
                        </h3>
                        <div class="table-scrollable margin-top-30">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr style="width:100%;">
                                        <th width="1">#</th>
                                        <th>Name</th>
                                        <th width="1"></th>
                                        <th width="1"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="c in companys.insurers">
                                        <td>{{$index+1}}</td>
                                        <td>{{c.name}}</td>
                                        <td>
                                            <a href="javascript:;" class="btn btn-circle btn-only-icon btn-icon-only blue" 
                                                ng-click="insurer('update',$index)">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn btn-circle btn-only-icon btn-icon-only red"
                                                ng-click="insurer('delete',$index)">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_3">
                        <h3 class="form-section bold">
                            Staff List
                            <a class="btn btn-lg green pull-right" ng-click="staff('add',-1)">
                                <i class="glyphicon glyphicon-plus"></i> Add
                            </a>
                        </h3>
                        <div class="table-scrollable margin-top-30">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr style="width:100%;">
                                        <th width="1">#</th>
                                        <th>Name</th>
                                        <th width="1"></th>
                                        <th width="1"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="s in companys.staffs">
                                        <td>{{$index+1}}</td>
                                        <td>{{s.name}}</td>
                                        <td>
                                            <a href="javascript:;" class="btn btn-circle btn-only-icon btn-icon-only blue" 
                                                ng-click="staff('update',$index)">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn btn-circle btn-only-icon btn-icon-only red"
                                                ng-click="staff('delete',$index)">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <button type="submit" class="btn btn-lg green">
                    Submit <i class="glyphicon glyphicon-save"></i></button>
            </div>
        </form>
    </div>
</div>
<!-- end content page -->
