<link rel="stylesheet" href="theme/assets/global/libs/REDIPS_drag/example03/style.css" type="text/css" media="screen" />
<script type="text/javascript" src="theme/assets/global/libs/REDIPS_drag/redips-drag-min.js"></script>
<script type="text/javascript" src="theme/assets/global/libs/REDIPS_drag/example03/script.js"></script>

<div class="portlet light bordered">
	<div id="main_container">
		<div id="redips-drag">
			<div id="right">
				<table id="table1" class="table table-bordered">
					<thead>
						<colgroup>
							<col width="1"/>
							<col width="100"/>
							<col width="100"/>
							<col width="100"/>
						</colgroup>
						<tr>
							<th colspan="3" id="message" class="redips-mark" title="Message line">Message line</th>
						</tr>
						<tr>
							<tr>
								<th class="redips-trash" width="1%">Trash</th>
								<th class="redips-mark dark">Dr 01</th>
								<th class="redips-mark dark">Dr 02</th>
								<th class="redips-mark dark">Dr 03</th>
							</tr>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="redips-mark dark">8:00</td>
							<td><div id="arc01" class="redips-drag ar">01</div></td>
							<td><div id="link1" class="redips-drag t1">02<br>2</div></td>
							<td><div id="link1" class="redips-drag t1">03<br>3</div></td>
						</tr>
						<tr>
							<td class="redips-mark dark">9:00</td>
							<td><div id="link1" class="redips-drag t1">04<br>4</div></td>
							<td><div id="link1" class="redips-drag t1">05<br>5</div></td>
							<td><div id="link1" class="redips-drag t1">06<br>6</div></td>
						</tr>
						<tr>
							<td class="redips-mark dark">10:00</td>
							<td><div id="link1" class="redips-drag t1">07<br>7</div></td>
							<td><div id="link1" class="redips-drag t1">08<br>8</div></td>
							<td><div id="link1" class="redips-drag t1">09<br>9</div></td>
						</tr>
						<tr>
							<td class="redips-mark dark">11:00</td>
							<td><div id="link1" class="redips-drag t1">10<br>10</div></td>
							<td><div id="link1" class="redips-drag t1">11<br>11</div></td>
							<td><div id="link1" class="redips-drag t1">12<br>12</div></td>
						</tr>
						<tr>
							<td class="redips-mark dark">12:00</td>
							<td class="redips-mark lunch" colspan="3">Lunch</td>
						</tr>
						<tr>
							<td class="redips-mark dark">13:00</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>




<div class="portlet light bordered">
	
	<div id="redips-drag">
		<table id="table1" class="table table-bordered">
			<!-- define table columns -->
			<colgroup>
				<col width="240"/>
				<col width="240"/>
				<col width="240"/>
			</colgroup>
			<!-- message line -->
			<tr>
				<th colspan="3" id="message" class="redips-mark" title="Message line">Message line</th>
			</tr>
			<!-- table data -->
			<tr>
				<td>
					<div id="link1" class="redips-drag t1">Example 00<br/>
						<a href="example00/index1.html">Minimal steps</a> / 
						<a href="example00/index2.html">AJAX jQuery</a>
					</div>
				</td>
				<td><div id="link1" class="redips-drag t1">Example 10<br/><a href="example10/">Sticky tables</a></div></td>
				<td><div id="link1" class="redips-drag t1">Example 20<br/><a href="example20/">Clone and delete table rows</a></div></td>
			</tr>
			<tr>
				<td><div id="link1" class="redips-drag t1">Example 01<br/><a href="example01/">Three tables</a></div></td>
				<td><div id="link1" class="redips-drag t1">Example 11<br/><a href="example11/">Drag handle on titlebar</a></div></td>
				<td><div id="link1" class="redips-drag t1">Example 21<br/><a href="example21/">Shift table content</a> / <a href="example21/simple/index.html">simple</a></div></td>
			</tr>
			<tr>
				<td><div id="link1" class="redips-drag t1">Example 02<br/><a href="example02/">Green and orange elements</a></div></td>
				<td><div id="link1" class="redips-drag t1">Example 12<br/><a href="example12/">Select and move more elements</a></div></td>
				<td><div id="link1" class="redips-drag t1">Example 22<br/><a href="example22/">Drag and form details</a></div></td>
			</tr>
			<tr>
				<td><div id="link1" class="redips-drag t1">Example 03<br/><a href="example03/index.php">School timetable</a> (<a href="example03/index_static.html">static</a>)</div></td>
				<td><div id="link1" class="redips-drag t1">Example 13<br/><a href="example13/">Nested tables</a></div></td>
				<td><div id="link1" class="redips-drag t1">Example 23<br/><a href="example23/">Shopping cart</a></div></td>
			</tr>
			<tr>
				<td><div id="link1" class="redips-drag t1">Example 04<br/><a href="example04/">Tic Tac Toe</a></div></td>
				<td><div id="link1" class="redips-drag t1">Example 14<br/><a href="example14/">Sort elements in long table</a></div></td>
				<td><div id="link1" class="redips-drag t1">Example 24<br/><a href="example24/">Table editor</a></div></td>
			</tr>
			<tr>
				<td><div id="link1" class="redips-drag t1">Example 05<br/><a href="example05/">Scrollable DIV containers</a></div></td>
				<td><div id="link1" class="redips-drag t1">Example 15<br/><a href="example15/">Drag and drop table rows</a></div></td>
				<td><div id="link1" class="redips-drag t1">Example 25<br/><a href="example25/">Math 4 Kids</a></div></td>
			</tr>
			<tr>
				<td><div id="link1" class="redips-drag t1">Example 06<br/><a href="example06/">Scrollable and fixed containers</a></div></td>
				<td><div id="link1" class="redips-drag t1">Example 16<br/><a href="example16/">AJAX, hover, sticky, redips-dragging</a></div></td>
				<td><div id="link1" class="redips-drag t1">Example 26<br/><a href="example26/">jQuery dialog</a></div></td>
			</tr>
			<tr>
				<td><div id="link1" class="redips-drag t1">Example 07<br/><a href="example07/index1.html">A B C D</a> / <a href="example07/index2.html">E F</a></div></td>
				<td><div id="link1" class="redips-drag t1">Example 17<br/><a href="example17/">Move object (animation)</a></div></td>
				<td><div id="link1" class="redips-drag t1">Example 27<br/><a href="example27/">TD content</a></div></td>
			</tr>
			<tr>
				<td><div id="link1" class="redips-drag t1">Example 08<br/><a href="example08/">Tables in separated containers</a></div></td>
				<td><div id="link1" class="redips-drag t1">Example 18<br/><a href="example18/">Simple element animation</a> / <a href="example18/index1.html">row</a></div></td>
				<td></td>
			</tr>
			<tr>
				<td><div id="link1" class="redips-drag t1">Example 09<br/><a href="example09/">Single and shift mode</a></div></td>
				<td><div id="link1" class="redips-drag t1">Example 19<br/><a href="example19/">Groups and table rows</a></div></td>
				<td></td>
			</tr>
			<tr>
				<td><div id="link1" class="redips-drag t1">dsdsds</div></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
</div>