<!-- BEGIN PAGE HEADER-->
<div class="page-bar ">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <b>Doctor Calling</b>
        </li>
    </ul>
</div>
<br>
<!-- END PAGE HEADER-->

<div class="profile-content">
    <!-- BEGIN PORTLET -->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption caption-md">
                <i class="icon-list theme-font"></i>
                <span class="caption-subject font-blue-madison bold uppercase">List Doctor</span>
                <span class="caption-helper hide">weekly stats...</span>
            </div>
            <div class="inputs">
                <div class="portlet-input input-inline input-small">
                    <div class="input-icon right">
                        <i class="icon-magnifier"></i>
                        <input type="text" class="form-control input-circle" placeholder="search..."> </div>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light">
                    <thead>
                        <tr class="uppercase">
                            <th colspan="2"> DOCTOR </th>
                            <th> Status </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fit">
                                <img class="user-pic" src="theme/assets/pages/media/users/avatar4.jpg"> </td>
                            <td>
                                <a href="javascript:;" class="primary-link">Dr.Brain</a>
                            </td>
                            <td><label class="label label-success">Active</label></td>
                        </tr>
                        <tr>
                            <td class="fit">
                                <img class="user-pic" src="theme/assets/pages/media/users/avatar5.jpg"> </td>
                            <td><a href="javascript:;" class="primary-link">Dr.Nick</a></td>
                            <td><label class="label label-warning">Away</label></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <a href="javascript:;" class="btn blue-madison pull-right">
                            <i class="glyphicon glyphicon-plus"></i> Add</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PORTLET -->
</div>