<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">Doctor Profile</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="" ui-sref="authentication.doctor.list">Doctor</a>
		</li>
		<li>
			<i class="fa fa-angle-right"></i>
			<b>Profile</b>
		</li>
	</ul>
</div>
<!-- END PAGE HEADER-->

<!-- content page -->
<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption font-blue">
			<i class="icon-list font-blue"></i>
			<span class="caption-subject bold uppercase"> Profile</span>
		</div>
	</div>
	<div class="portlet-body">
		<div class="row">
			<!-- begin username -->
			<div class="col-md-4">
				<div class="form-group form-md-line-input has-info">
					<input type="text" class="form-control" id="Firstname" disabled="true" placeholder="Username" value="GoenitzLeopod">
					<label for="Firstname">Username</label>
					<span class="help-block">Some help goes here...</span>
				</div>
			</div>
			<!-- end username -->
			<!-- begin change password -->
			<div class="col-md-4">
				<div class="form-group form-md-line-input has-info">
					<button class="btn btn-danger" ng-click="changePassword()"><i class="icon-key"></i> Change password</button>
				</div>
			</div>
			<!-- end change password -->
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">
			<!-- begin Firstname -->
			<div class="col-md-2">
				<div class="form-group form-md-line-input has-info">
					<input type="text" class="form-control" id="Firstname" disabled="true" placeholder="Firstname" value="Goenitz">
					<label for="Firstname">Firstname</label>
				</div>
			</div>
			<!-- end Firstname -->
			<!-- begin Lastname -->
			<div class="col-md-2">
				<div class="form-group form-md-line-input has-info">
					<input type="text" class="form-control" id="Lastname" disabled="true" placeholder="Lastname" value="Leopod">
					<label for="Lastname">Lastname</label>
				</div>
			</div>
			<!-- end Lastname -->
			<!-- begin Date of birth -->
			<div class="col-md-4">
				<div class="form-group form-md-line-input has-info">
					<input type="text" class="form-control" id="Date of birth" disabled="true" placeholder="Email" value="Goenitz@gmail.com">
					<label for="Date of birth">Email</label>
				</div>
			</div>
			<!-- end Date of birth -->
			<!-- begin address -->
			<div class="col-md-4">
				<div class="form-group form-md-line-input has-info">
					<input type="text" class="form-control" id="Address" disabled="true" placeholder="Address" value="12 Elizabeth Mendel Australia">
					<label for="Address">Address</label>
				</div>
			</div>
			<!-- end address -->
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">
			
			<!-- begin telephone -->
			<div class="col-md-2">
				<div class="form-group form-md-line-input has-info">
					<input type="text" class="form-control" id="telephone" disabled="true" placeholder="telephone" value="08 1234 4321">
					<label for="telephone">Telephone</label>
				</div>
			</div>
			<!-- end telephone -->
			<!-- begin healthlink id -->
			<div class="col-md-2">
				<div class="form-group form-md-line-input has-info">
					<input type="text" class="form-control" id="Healthlink_ID" disabled="true" placeholder="Healthlink ID" value="redimspc">
					<label for="Healthlink_ID">Healthlink ID</label>
					<span class="help-block">Some help goes here...</span>
				</div>
			</div>
			<!-- begin healthlink id -->
			<!-- begin postcode -->
			<div class="col-md-2">
				<div class="form-group form-md-line-input has-info">
					<input type="number" class="form-control" id="Postcode" disabled="true" placeholder="Post code" value="1234">
					<label for="Postcode">Postcode</label>
					<span class="help-block">Some help goes here...</span>
				</div>
			</div>
			<!-- end postcode -->
			<!-- begin Provider_Number -->
			<div class="col-md-2">
				<div class="form-group form-md-line-input has-info">
					<input type="number" class="form-control" id="Provider_Number" disabled="true" placeholder="Provider Number" value="4789">
					<label for="Provider_Number">Provider Number</label>
				</div>
			</div>
			<!-- end Provider_Number -->
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">			
		</div>
		<div class="row">&nbsp;</div>
	</div>
</div>
<!-- end content page -->
