<div class="my-call">
	<img src="theme/assets/global/images/patient01.jpg" width="100%" class="bg">
	<div class="name-call">
		<h2>Marcus Doe</h2>
		<h2>02:56</h2>
	</div>
	<div class="video-call">
		<img id="zoom" src="theme/assets/global/images/E-call_09.png">
		<img id="video" src="theme/assets/global/images/drHanh.jpg">
	</div>
	<div class="calling">
		<div>Calling...</div>
		<div>00:25</div>
	</div>
	<div class="my-button-group">
		<div class="group-left">
			<img src="theme/assets/global/images/E-call_17.png" id="call-list">
			<img src="theme/assets/global/images/E-call_13.png" id="call-on">
			<img src="theme/assets/global/images/E-call_06.png" id="call-misc">
			<span id="call-plus" >
				<img src="theme/assets/global/images/E-call_22.png" id="call-plus1" ng-click="Skype()">
				<div class="call-skype" ng-show="toggle">
					<div class="header">
						<span class="font-green">Address Book</span>
						<form>
							<input type="text" size="17" placeholder="search">
						</form>
					</div>
					<ul class="scroller" style="height: 400px;">
						<li class="title uppercase">Redimed</li>
						<li>
							<a>
								<img src="theme/assets/global/images/patient01.jpg">
								<i class="online fa fa-angle-down"></i>
								<span>John Cena</span>
							</a>
						</li>
						<li>
							<a>
								<img src="theme/assets/global/images/jaimie-3.jpg">
								<i class="away fa fa-angle-left"></i>
								<span>Randy Ortant</span>
							</a>
						</li>
						<li>
							<a>
								<img src="theme/assets/global/images/drHanh.jpg">
								<i class="away fa fa-angle-left"></i>
								<span>Dr Hanh</span>
							</a>
						</li>
						<li class="title uppercase">Reception</li>
						<li>
							<a>
								<img src="theme/assets/global/images/drHanh.jpg">
								<i class="away fa fa-angle-left"></i>
								<span>Dr Hanh</span>
							</a>
						</li>
					</ul>
					<div class="footer">
						<a href="javascript:;" class="btn btn-circle blue-soft"><i class="fa fa-phone"></i> More to call</a>
					</div>
					<div class="arrow-down"></div>
				</div>
			</span>
			<img src="theme/assets/global/images/E-call_18.png" id="call-off">
		</div>
		<div class="group-right">
			<img src="theme/assets/global/images/E-call_23.png" id="call-signal">
			<img src="theme/assets/global/images/E-call_14.png" id="call-message">
		</div>
	</div>
	
</div>


