<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="authentication.home.list">Home</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <a ui-sref="authentication.consultation.list">Consultation</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <b>Consult Note</b>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<br/>

<div class="portlet box red">
    <div class="portlet-title">
        <div class="caption">
            <i class="glyphicon glyphicon-pencil"></i>
            <span class="caption-subject bold uppercase">Consult Note</span>
            <!-- <span class="caption-helper"></span> -->
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
            <a href="javascript:;" class="fullscreen"> </a>
        </div>
    </div>
    <div class="portlet-body form">
        <form name="form" class="form-horizontal" novalidate ng-submit="submit()">
            <div class="form-body">
                <br/>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3">History of previous skin cancers and treatment</label>
                    <div class="col-md-8 col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3">History of immunosuppression</label>
                    <div class="col-md-8 col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>

                <hr/>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <h4 class="bold">RELEVANT CLINICAL FEATURES OF LESION (S)</h4>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">Biopsied proven</label>
                            <div class="col-md-8 col-sm-8">
                                <div class="radio-list">
                                    <label class="radio-inline">
                                        <input type="radio" name="Biopsied_proven" value="Yes"> Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="Biopsied_proven" value="No"> No
                                    </label>
                                    <label class="radio-inline">
                                        Which pathology provider
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">SITE</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">DIMENSION</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">COLOUR</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">BORDER</label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">ULCERATION</label>
                            <div class="col-md-8 col-sm-8">
                                <div class="radio-list">
                                    <label class="radio-inline">
                                        <input type="radio" name="ULCERATION" value="Yes"> Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="ULCERATION" value="No"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">SATELLITE LESION</label>
                            <div class="col-md-8 col-sm-8">
                                <div class="radio-list">
                                    <label class="radio-inline">
                                        <input type="radio" name="SATELLITE_LESION" value="Yes"> Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="SATELLITE_LESION" value="No"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">PERINEURAL SYMPTOMS</label>
                            <div class="col-md-8 col-sm-8">
                                <div class="radio-list">
                                    <label class="radio-inline">
                                        <input type="radio" name="PERINEURAL_SYMPTOMS" value="Yes"> Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="PERINEURAL_SYMPTOMS" value="No"> No
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4">
                                <input type="checkbox"
                                    ng-model="consultNote.OTHER"
                                    ng-checked="OtherCheckbox('OTHER',consultNote.OTHER)"> OTHER
                            </label>
                            <div class="col-md-8 col-sm-8">
                                <input type="text" class="form-control" placeholder="Enter Other"
                                    ng-model="consultNote.OTHER_TEXTBOX"
                                    ng-disabled="consultNote.OTHER == false">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <div class="thumbnail">
                            <img src="theme/assets/global/images/Option 4 newW.jpg" width="100%">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 bold">DDX</label>
                    <div class="col-md-9 col-sm-9">
                        <div class="checkbox-list">
                            <div class="row">
                                <div class="col-md-2 col-sm-2">
                                    <label class="checkbox-inline bold">
                                        <input type="checkbox" ng-model="consultNote.DDX.BCC"> BCC
                                    </label>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <label class="checkbox-inline bold">
                                        <input type="checkbox" ng-model="consultNote.DDX.SCC"> SCC
                                    </label>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <label class="checkbox-inline bold">
                                        <input type="checkbox" ng-model="consultNote.DDX.Melanonia"> Melanonia
                                    </label>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <label class="checkbox-inline bold">
                                        <input type="checkbox" ng-model="consultNote.DDX.Merkel"> Merkel
                                    </label>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <label class="checkbox-inline bold">
                                        <input type="checkbox" 
                                            ng-model="consultNote.DDX.Other"
                                            ng-checked="OtherCheckbox('DDXOther',consultNote.DDX.Other)"> Other
                                    </label>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <input type="text" class="form-control" placeholder="Enter Other"
                                        ng-model="consultNote.DDX.OtherTextbox"
                                        ng-disabled="consultNote.DDX.Other == false">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <hr/>
                <h4 class="bold">RECOMMENDATIONS</h4>
                <div class="row margin-top-20">
                    <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                        <div class="form-group">
                            <div class="checkbox-list">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> Biopsy
                                        </label>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> Effudex/Aldara
                                        </label>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> Cryotherapy
                                        </label>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> Laser ablation
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox-list">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> Surgical excision
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> Risk and complication explained
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox-list">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> Flap
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox-list">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3">   
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> Graft
                                        </label>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> SSG
                                        </label>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> FTSG
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox-list">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> Lymph node removal
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox-list">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3">   
                                        <label class="checkbox-inline">Adjunct therapy - Refer to</label>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> Oncologist
                                        </label>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> Radiation Oncologist
                                        </label>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> Palliative
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox-list">
                                <div class="row margin-bottom-20">
                                    <div class="col-md-12 col-sm-12">
                                        <label class="checkbox-inline">
                                            Further Investigation :
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> US
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> WD
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> ENVISION
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> INSIGHT
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"
                                                ng-model="consultNote.Further_Investigation.US_Other"
                                                ng-checked="OtherCheckbox('US_Other',consultNote.Further_Investigation.US_Other)"> Other Provider
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <input type="text" class="form-control" placeholder="Enter Other"
                                            ng-model="consultNote.Further_Investigation.US_OtherTextbox"
                                            ng-disabled="consultNote.Further_Investigation.US_Other == false">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox-list">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> CT
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> WD
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> ENVISION
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> INSIGHT
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"
                                                ng-model="consultNote.Further_Investigation.CT_Other"
                                                ng-checked="OtherCheckbox('CT_Other',consultNote.Further_Investigation.CT_Other)"> Other Provider
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <input type="text" class="form-control" placeholder="Enter Other"
                                            ng-model="consultNote.Further_Investigation.CT_OtherTextbox"
                                            ng-disabled="consultNote.Further_Investigation.CT_Other == false">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox-list">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> MRI
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> WD
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> ENVISION
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> INSIGHT
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"
                                                ng-model="consultNote.Further_Investigation.MRI_Other"
                                                ng-checked="OtherCheckbox('MRI_Other',consultNote.Further_Investigation.MRI_Other)"> Other Provider
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <input type="text" class="form-control" placeholder="Enter Other"
                                            ng-model="consultNote.Further_Investigation.MRI_OtherTextbox"
                                            ng-disabled="consultNote.Further_Investigation.MRI_Other == false">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox-list">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> PET scan
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> WD
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> ENVISION
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"> INSIGHT
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <label class="checkbox-inline">
                                            <input type="checkbox"
                                                ng-model="consultNote.Further_Investigation.PET_scan_Other"
                                                ng-checked="OtherCheckbox('PET_scan_Other',consultNote.Further_Investigation.PET_scan_Other)"> Other Provider
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <input type="text" class="form-control" placeholder="Enter Other"
                                            ng-model="consultNote.Further_Investigation.PET_scan_OtherTextbox"
                                            ng-disabled="consultNote.Further_Investigation.PET_scan_Other == false">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 bold">Recommended Anaesthesia</label>
                    <div class="col-md-7 col-sm-7">
                        <div class="checkbox-list">
                            <div class="row">
                                <div class="col-md-2 col-sm-2">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> GA
                                    </label>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> LA
                                    </label>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> IV Sedation
                                    </label>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> Regional block
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 bold">Urgency</label>
                    <div class="col-md-7 col-sm-7">
                        <div class="checkbox-list">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                   <label class="checkbox-inline">
                                        <input type="checkbox"> Category 1 (within 30 days)
                                   </label>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> Category 2 (31 -90 days)
                                    </label>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> Category 3 (90 days to 1 year)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 bold">Suithble for</label>
                    <div class="col-md-7 col-sm-7">
                        <div class="checkbox-list">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> Outpatient
                                    </label>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> JHC/Bentley/Osborne Park -Inpatient required
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> JHC/Bentley/Osborne Park -Day Surger
                                    </label>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"> Tertiary Care required - RPH/FSH/SCGH
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <a class="btn btn-lg dark">
                    <i class="glyphicon glyphicon-arrow-left"></i> Cancel</a>
                <button type="submit" class="btn btn-lg red">
                    <i class="glyphicon glyphicon-save"></i> Submit</button>
            </div>
        </form>
    </div>
</div>
