<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="authentication.home.list">Home</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <a ui-sref="authentication.consultation.list">Consultation</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <a ui-sref="authentication.consultation.detail">Treating Doctor</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <b>Consult Note</b>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<br/>
<div class="row">
	<div class="col-md-9 col-sm-9">
   		<consult-note consultationuid="consultationuid"></consult-note>
	</div>
    <div class="col-md-3 col-sm-3">
    	<listapp-consultation uid="uid"></listapp-consultation>
        <listpatient-consultation></listpatient-consultation>
    </div>
    
</div>
