<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="panel-group accordion">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle"                             
                            ui-sref="authentication.consultation.detail1.eform.drawing"> Drawing
                        </a>
                    </h4>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" 
                            ui-sref="authentication.consultation.detail1.eform.prescription"> Prescription
                        </a>
                    </h4>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" 
                            
                            ui-sref="authentication.consultation.detail1.eform.image"> Image Capture
                        </a>
                    </h4>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" 
                            
                            ui-sref="authentication.consultation.detail1.eform.admission"> Admission Forms
                        </a>
                    </h4>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" 
                            
                            ui-sref="authentication.consultation.detail1.eform.billing"> Billing Code
                        </a>
                    </h4>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" 
                            
                            ui-sref="authentication.consultation.detail1.eform.appointment"> Appointment
                        </a>
                    </h4>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" 
                            
                            ui-sref="authentication.consultation.detail1.eform.workCover"> WorkCover
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-12" >
        <div ui-view></div>
    </div>
</div>