<div ui-view>
	<ul class="feeds">
        <li>
            <div class="col1">
                <div class="cont">
                    <div class="cont-col1">
                        <div class="label label-green">
                            <i class="fa fa-file-text-o"></i>
                        </div>
                    </div>
                    <div class="cont-col2">
                        <div class="desc"> Patient Admission</div>
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="date"> View </div>
            </div>
        </li>
        <li>
            <div class="col1">
                <div class="cont">
                    <div class="cont-col1">
                        <div class="label label-info">
                            <i class="fa fa-file-text-o"></i>
                        </div>
                    </div>
                    <div class="cont-col2">
                        <div class="desc">WorkCover WA FIRST</div>
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="date">View</div>
            </div>
        </li>
    </ul>
</div>