<div class="panel-group accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle"> Lorem Ipsum .
                </a>
            </h4>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle"> Lorem Ipsum đã được sử dụng như một văn bản chuẩn
                </a>
            </h4>
        </div>
    </div>
</div>
    