<div ui-view>
    <div class="page-bar margin-bottom-20">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="javascript:;" ui-sref="authentication.home.list">Home</a>
            </li>
            <li>
                <i class="fa fa-angle-right"></i>
                <a href="javascript:;" ui-sref="authentication.consultation.list">Consultation</a>
            </li>
            <li>
                <i class="fa fa-angle-right"></i>
                <b>Consultation Detail</b>
            </li>
        </ul>
    </div>
    <!-- <h3 class="page-title bold">Consultation Detail</h3> -->
    <div class="row">
        <div class="col-lg-9 col-md-8 col-xs-6" id="col9">
            <div class="portlet light bordered" ng-hide="HasRoleAdminOrPractitioner == false">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bubbles font-blue"></i>
                        <span class="caption-subject bold uppercase font-blue">Consultation Detail</span>
                        <span class="caption-helper">Consultation</span>
                    </div>
                    <div class="actions">
                        <a href="javascript:;" class="btn btn-default btn-circle" ng-click="fullScreen()">
                            <span id="label_name">{{iconCol}}</span>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <div class="dashboard-stat2" ng-click="consultNote()">
                                <div class="display">
                                    <div class="number">
                                        <h3 class="font-red">
                                            <span data-counter="counterup" data-value="7800"><i class="fa fa-comments"></i></span>
                                            <small class="font-red"></small>
                                        </h3>
                                        <small class="font-red">CONSULT NOTE</small>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                                <div class="progress-info">
                                    <div class="progress">
                                        <span style="width: 100%;" class="progress-bar progress-bar-info red">
                                            <span class="sr-only"></span>
                                        </span>
                                    </div>
                                    <div class="status">
                                        <div class="status-title">view</div>
                                        <div class="status-number"><i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <div class="dashboard-stat2" ng-click="telehealthDetail()">
                                <div class="display">
                                    <div class="number">
                                        <h3 class="font-green-jungle">
                                            <span data-counter="counterup" data-value="7800"><i class="fa fa-calendar"></i></span>
                                            <small class="font-green-jungle"></small>
                                        </h3>
                                        <small class="font-green-jungle">appointment detail</small>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                                <div class="progress-info">
                                    <div class="progress">
                                        <span style="width: 100%;" class="progress-bar progress-bar-info green-jungle">
                                            <span class="sr-only"></span>
                                        </span>
                                    </div>
                                    <div class="status">
                                        <div class="status-title">view</div>
                                        <div class="status-number"><i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <div class="dashboard-stat2" ng-click="getEFormByPatient()">
                                <div class="display">
                                    <div class="number">
                                        <h3 class="font-blue">
                                            <span data-counter="counterup" data-value="7800"><i class="fa fa-folder"></i></span>
                                            <small class="font-blue"></small>
                                        </h3>
                                        <small class="font-blue">all patient e-form</small>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                                <div class="progress-info">
                                    <div class="progress">
                                        <span style="width: 100%;" class="progress-bar progress-bar-info blue">
                                            <span class="sr-only"></span>
                                        </span>
                                    </div>
                                    <div class="status">
                                        <div class="status-title">view</div>
                                        <div class="status-number"><i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="dashboard-stat red-thunderbird" ng-click="consultNote()">
                                <div class="visual">
                                    <i class="icon-notebook"></i>
                                </div>
                                <div class="details">
                                    <div class="number">Consult Note</div>
                                    <div class="desc bold uppercase" style="font-size:1.5em;">&nbsp;</div>
                                </div>
                                <a class="more" href="javascript:;" ui-sref="authentication.consultation.detail.consultNote">
                                    Open And Edit  <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="dashboard-stat blue-steel" ng-click="telehealthDetail()">
                                <div class="visual">
                                    <i class=" icon-rocket"></i>
                                </div>
                                <div class="details">
                                    <div class="number">Appointment Detail</div>
                                    <div class="desc bold uppercase" style="font-size:1.5em;">&nbsp;</div>
                                </div>
                                <a class="more" href="javascript:;" ng-click="telehealthDetail()">
                                    View  <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="dashboard-stat yellow-crusta" ng-click="getEFormByPatient()">
                                <div class="visual">
                                    <i class="icon-docs"></i>
                                </div>
                                <div class="details">
                                    <div class="number">All Patient E-Form</div>
                                    <div class="desc bold uppercase" style="font-size:1.5em;">&nbsp;</div>
                                </div>
                                <a class="more" href="javascript:;">
                                    View  <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- EFORM -->
            <div class="portlet box blue-madison">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-clone"></i>
                        <span class="caption-subject bold uppercase">EForm List</span>
                        <span class="caption-helper"></span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="javascript:;" class="fullscreen"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <!-- ROW -->
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="dashboard-stat2" ng-click="admission()">
                                <div class="display">
                                    <div class="number">
                                        <h3 class="font-yellow-crusta">
                                            <span data-counter="counterup" data-value="7800">
                                                <i class="fa fa-file"></i>
                                            </span>
                                            <small class="font-yellow-crusta"></small>
                                        </h3>
                                        <small class="font-yellow-crusta">Patient Admission</small>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                                <div class="progress-info">
                                    <div class="progress">
                                        <span style="width: 100%;" class="progress-bar progress-bar-info yellow-crusta">
                                            <span class="sr-only"></span>
                                        </span>
                                    </div>
                                    <div class="status">
                                        <div class="status-title">view</div>
                                        <div class="status-number"><i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 10px;">
                                <div class="dashboard-stat green-jungle" ng-click="admission()">
                                    <div class="visual">
                                        <i class="icon-drawer"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">Patient Admission</div>
                                        <div class="desc bold uppercase" style="font-size:1.5em;">&nbsp;</div>
                                    </div>
                                    <a class="more" href="javascript:;" ui-sref="authentication.consultation.detail.admission.detail">
                                        View  <i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                </div>
                        </div> -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" 
                            ng-repeat="eformTemplate in eformTemplates track by $index">
                            <div class="dashboard-stat2" 
                                ng-class="styleFunction(eformTemplate.EForms)"
                                ng-click="eFormTemplate(eformTemplate)">
                                <div class="display">
                                    <div class="number">
                                        <h3 class="font-blue">
                                            <span data-counter="counterup" data-value="7800"><i class="fa fa-file"></i></span>
                                            <small class="font-blue"></small>
                                        </h3>
                                        <small class="font-blue">{{eformTemplate.Name}}</small>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                                <div class="progress-info">
                                    <div class="progress">
                                        <span style="width: 100%;" class="progress-bar progress-bar-info blue">
                                            <span class="sr-only"></span>
                                        </span>
                                    </div>
                                    <div class="status">
                                        <div class="status-title">view</div>
                                        <div class="status-number"><i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="eformTemplate in eformTemplates track by $index" style="margin-bottom: 10px;">
                            <div class="dashboard-stat"
                                ng-class="styleFunction(eformTemplate.EForms)"
                                ng-click="eFormTemplate(eformTemplate)">
                                <div class="visual">
                                    <i class="fa fa-file-text-o"></i>
                                </div>
                                <div class="details">
                                    <div class="number">{{eformTemplate.Name}}</div>
                                </div>
                                <a class="more" href="javascript:;" ng-click="eFormTemplate(eformTemplate)">
                                    View  <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div> -->
                    </div>
                    <!-- END ROW -->
                </div>
            </div>
            <!-- END EFORM -->
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6" id="col3">
            <patient-detail-directive info="dataDirective"></patient-detail-directive>
            <appointment-detail-directive info="dataDirective"></appointment-detail-directive>
            <medicare-directive info="dataDirective"></medicare-directive>
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-haze">
                        <span class="caption-subject bold uppercase">
                            <i class="glyphicon glyphicon-bell font-green-haze"></i> Notification List
                        </span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <ol class="profile-desc-text">
                        <li>Reuse of syringes to access medication vials used for > 1 patient</li>
                        <li>Failure to property reprocess reusable medical equipment</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
