<div ui-view>
    <div class="page-bar ">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="javascript:;" ui-sref="authentication.home.list">Home</a>
            </li>
            <li>
                <i class="fa fa-angle-right"></i>
                <a href="javascript:;" ui-sref="authentication.consultation.list">Consultation</a>
            </li>
            <li>
                <i class="fa fa-angle-right"></i>
                <b>Consultation Detail</b>
            </li>
        </ul>
    </div>
    <h3 class="page-title bold">Consultation Detail <small>Consultation Detail</small></h3>
    <div class="row">
        <div class="col-lg-9 col-md-12" id="col9">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bubbles font-blue"></i>
                        <span class="caption-subject bold uppercase font-blue">Consultation Detail</span>
                        <span class="caption-helper">Consultation</span>
                    </div>
                    <div class="actions">
                        <a href="javascript:;" class="btn btn-default btn-circle" ng-click="fullScreen()">
                            <span id="label_name">{{iconCol}}</span>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-show="checkPatient === 'Y'">
                            <div class="dashboard-stat red-thunderbird" ng-click="consultNote()">
                                <div class="visual">
                                    <i class="icon-notebook"></i>
                                </div>
                                <div class="details">
                                    <div class="number">Consult Note</div>
                                    <div class="desc bold uppercase" style="font-size:1.5em;">&nbsp;</div>
                                </div>
                                <a class="more" href="javascript:;" ui-sref="authentication.consultation.detail.consultNote">
                                    Open And Edit  <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <!-- TELEHEALTH -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-show="checkPatient === 'Y'">
                            <div class="dashboard-stat blue-steel" ng-click="telehealthDetail()">
                                <div class="visual">
                                    <i class=" icon-rocket"></i>
                                </div>
                                <div class="details">
                                    <div class="number">Telehealth Detail</div>
                                    <div class="desc bold uppercase" style="font-size:1.5em;">&nbsp;</div>
                                </div>
                                <a class="more" href="javascript:;" ng-click="telehealthDetail()">
                                    View  <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                        <!-- END TELEHEALTH -->
                    </div>
                    <div class="row margin-top-10">
                       
                    </div>
                </div>
            </div>
            <!-- EFORM -->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bubbles font-blue"></i>
                        <span class="caption-subject bold uppercase font-blue">EForm List</span>
                        <span class="caption-helper">EForm</span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="javascript:;" class="fullscreen"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <!-- ROW -->
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-bottom: 10px;">
                                <div class="dashboard-stat green-jungle" ng-click="admission()">
                                    <div class="visual">
                                        <i class="icon-drawer"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">Patient Admission</div>
                                        <div class="desc bold uppercase" style="font-size:1.5em;">&nbsp;</div>
                                    </div>
                                    <a class="more" href="javascript:;" ui-sref="authentication.consultation.detail.admission.detail">
                                        View  <i class="m-icon-swapright m-icon-white"></i>
                                    </a>
                                </div>
                            </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="eformTemplate in eformTemplates" style="margin-bottom: 10px;">
                            <div class="dashboard-stat"
                                ng-class="styleFunction(eformTemplate.EForms)"
                                ng-click="eFormTemplate(eformTemplate)">
                                <div class="visual">
                                    <i class="fa fa-file-text-o"></i>
                                </div>
                                <div class="details">
                                    <div class="number">{{eformTemplate.Name}}</div>
                                </div>
                                <a class="more" href="javascript:;" ng-click="eFormTemplate(eformTemplate)">
                                    View  <i class="m-icon-swapright m-icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- END ROW -->
                </div>
            </div>
            <!-- END EFORM -->
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12" id="col3">
            <patient-detail-directive apptuid="Params.UID"></patient-detail-directive>
            <appointment-detail-directive apptuid="Params.UID"></appointment-detail-directive>
            <medicare-directive apptuid="Params.UID"></medicare-directive>
            <div class="portlet portlet-fit box grey-mint">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold uppercase">
                            <i class="glyphicon glyphicon-bell"></i> Notification List
                        </span>
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <p>1) Reuse of syringes to access medication vials used for > 1 patient</p>
                    <p>2) Failure to property reprocess reusable medical equipment</p>
                </div>
            </div>
        </div>
    </div>
</div>