<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="javascript:;" ui-sref="authentication.home.list">Home</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <a ui-sref="authentication.consultation.list">Consultation</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <a ui-sref="authentication.consultation.detail" ui-sref-opts="{cache: false,reload:true}">Consultation Detail</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <b>Consult Note</b>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<h3 class="page-title bold">Consult Note</h3>
<div class="row">
    <div class="col-lg-9 col-md-12 col-xs-12">
        <consult-note consultationuid="consultationuid"></consult-note>
    </div>
    <div class="col-lg-3 col-md-12 col-xs-12">
        <listpatient-consultation uid="uid"></listpatient-consultation>
    </div>
</div>
