<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="javascript:;" ui-sref="authentication.home.list">
                Home</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <a href="javascript:;" ui-sref="authentication.consultation.list">
                Consultation</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <a href="javascript:;" ui-sref="authentication.consultation.detail">
                Treating Doctor</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <b>Add Drawing</b>
        </li>
    </ul>
</div>

<div class="portlet light bordered margin-top-20">
    <div class="portlet-title">
        <div class="caption">
            <i class="glyphicon glyphicon-list-alt font-yellow"></i>
            <span class="caption-subject bold uppercase font-yellow">Add Drawing</span>
            <span class="caption-helper font-yellow">Drawing Template</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
            <a href="javascript:;" class="reload"> </a>
            <a href="javascript:;" class="fullscreen"> </a>
            <a href="javascript:;" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body form">
       	<form class="form-horizontal">
       		<div class="form-body">
       		</div>
       		<div class="form-actions right">
       			<button type="reset" class="btn btn-default">Reset</button>
       			<button type="submit" class="btn yellow">Submit</button>
       		</div>
       	</form>
    </div>
</div>