<div class="row ">
    <div class="col-lg-11 col-md-11 col-sm-11 patientContent">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject">
						<i class="glyphicon glyphicon-pencil"></i> Register With Us
					</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form name="step1" class="" role="form" novalidate ng-show="number == 1" ng-submit="Next(1)">
                    <div class="form-body my-form-body-padding">
                        <br/>
                        <div class="row">
                            <div class="col-lg-3 col-md-12 col-sm-12 col-lg-offset-1">
                                <fieldset>
                                    <legend class="bold">Basic Info</legend>
                                    <div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.Title.$invalid]">
                                        <label class="control-label">Title <span class="required">*</span></label>
                                        <select class="form-control" name="Title" ng-model="postData.data.Title" required>
                                            <option value=""></option>
                                            <option value="Mr">Mr</option>
                                            <option value="Mrs">Mrs</option>
                                            <option value="Ms">Ms</option>
                                            <option value="Miss">Miss</option>
                                            <option value="Master">Master</option>
                                            <option value="Dr">Dr</option>
                                        </select>
                                        <p class="help-block required-text" ng-if="submitted && step1.Title.$error.required">
                                            This field is required.</p>
                                    </div>
                                    <div class="form-group" ng-class="{true: 'has-error', false: ''}[(submitted && step1.FirstName.$invalid) || step1.FirstName.$error.pattern]">
                                        <label class="control-label">First Name <span class="required">*</span></label>
                                        <input type="text" class="form-control" name="FirstName" ng-model="postData.data.FirstName" ng-pattern="/^[a-zA-Z0-9\s]{0,255}$/" required />
                                        <p ng-show="submitted && step1.FirstName.$error.pattern" class="help-block required-text">Please enter a valid First Name.</p>
                                        <p class="help-block required-text" ng-if="submitted && step1.FirstName.$error.required">
                                            This field is required.</p>
                                    </div>
                                    <div class="form-group" ng-class="{true: 'has-error', false: ''}[step1.MiddleName.$error.pattern]">
                                        <label class="control-label">Middle Name</label>
                                        <input type="text" class="form-control" name="MiddleName" ng-model="postData.data.MiddleName" ng-pattern="/^[a-zA-Z0-9\s]{0,255}$/" />
                                        <p ng-show="step1.MiddleName.$error.pattern" class="help-block required-text">Please enter a valid Middle Name.</p>
                                    </div>
                                    <div class="form-group" ng-class="{true: 'has-error', false: ''}[(submitted && step1.LastName.$invalid) || step1.LastName.$error.pattern]">
                                        <label class="control-label">Last Name <span class="required">*</span></label>
                                        <input type="text" name="LastName" class="form-control" ng-model="postData.data.LastName" ng-pattern="/^[a-zA-Z0-9\s]{0,255}$/" required />
                                        <p ng-show="submitted && step1.LastName.$error.pattern" class="help-block required-text">Please enter a valid Last Name.</p>
                                        <p class="help-block required-text" ng-if="submitted && step1.LastName.$error.required">
                                            This field is required.</p>
                                    </div>
                                    <div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.DOB.$invalid]">
                                        <label class="control-label">Date of Birth <span class="required">*</span></label>
                                        <input type="text" class="form-control date-picker" name="DOB" placeholder="dd/mm/yyyy" data-date-format="dd/mm/yyyy" ng-model="postData.data.DOB" required>
                                        <p class="help-block required-text" ng-if="submitted && step1.DOB.$error.required">
                                            This field is required.</p>
                                    </div>
                                    <div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.Gender.$invalid]">
                                        <label class="control-label">Gender <span class="required">*</span></label>
                                        <div class="radio-list">
                                            <label class="radio-inline">
                                                <input type="radio" class="regular-radio" name="Gender" value="Male" ng-model="postData.data.Gender"> Male
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" class="regular-radio" name="Gender" value="Female" ng-model="postData.data.Gender"> Female
                                            </label>
                                        </div>
                                        <p class="help-block required-text" ng-if="submitted && step1.Gender.$error.required">
                                            This field is required.</p>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Occupation <span class="required">&nbsp;</span></label>
                                        <input type="text" class="form-control" ng-model="postData.data.Occupation">
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-lg-offset-1 margin-top-20">
                                <fieldset>
                                    <legend class="bold">Contact Info</legend>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.HomePhoneNumber.$invalid]">
                                                <label class="control-label">Home Phone</label>
                                                <input type="text" class="form-control" ng-model="postData.data.HomePhoneNumber" name="HomePhoneNumber" ng-pattern="/^[0-9]{6,10}$/">
                                                <p ng-show="submitted && step1.HomePhoneNumber.$error.pattern" class="help-block required-text">This is not a home phone number</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.PhoneNumber.$invalid]">
                                                <label class="control-label">Mobile</label>
                                                <input type="text" class="form-control" ng-model="postData.data.PhoneNumber" name="PhoneNumber" ng-pattern="/^(\+61|0061|0)?4[0-9]{8}$/" />
                                                <p ng-show="submitted && step1.PhoneNumber.$error.pattern" class="help-block required-text">This is not a mobile phone number</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.WorkPhoneNumber.$invalid]">
                                                <label class="control-label">Work Phone</label>
                                                <input type="text" class="form-control" ng-model="postData.data.WorkPhoneNumber" name="WorkPhoneNumber" ng-pattern="/^[0-9]{6,10}$/">
                                                <p ng-show="submitted && step1.WorkPhoneNumber.$error.pattern" class="help-block required-text">This is not a work phone number</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.Email.$invalid]">
                                                <label class="control-label">Email</label>
                                                <input type="text" class="form-control" ng-model="postData.data.Email1" ng-pattern="/^\w+([a-zA-Z0-9\.-]?\w+)*@\w+([a-z][\.-]?\w+)*([a-z]\.\w{2,4})+$/" name="Email">
                                                <p ng-show="submitted && step1.Email.$error.pattern" class="help-block required-text">Please enter a valid email address.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.Address1.$invalid]">
                                                <label class="control-label">Address1 <span class="required">*</span></label>
                                                <input type="text" class="form-control" name="Address1" ng-model="postData.data.Address1" required>
                                                <p class="help-block required-text" ng-if="submitted && step1.Address1.$error.required">This field is required.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">Address2</label>
                                                <input type="text" class="form-control" name="Address2" ng-model="postData.data.Address2">
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8">
                                            <div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.Suburb.$invalid]">
                                                <label class="control-label">Suburb (Township) <span class="required">*</span></label>
                                                <input type="text" class="form-control" name="Suburb" ng-model="postData.data.Suburb" required>
                                                <p class="help-block required-text" ng-if="submitted && step1.Suburb.$error.required">This field is required.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.Postcode.$invalid]">
                                                <label class="control-label">Postcode <span class="required">*</span></label>
                                                <input type="text" class="form-control" name="Postcode" ng-model="postData.data.Postcode" ng-pattern="/^[0-9]{4,10}$/" required>
                                                <p class="help-block required-text" ng-if="submitted && step1.Postcode.$error.required">This field is required.</p>
                                                <p ng-show="submitted && step1.Postcode.$error.pattern" class="help-block required-text">Postcode must be at least 4 no more than 10 number</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.State.$invalid]">
                                                <label class="control-label">State <span class="required">*</span></label>
                                                <select class="form-control" ng-model="postData.data.State" ng-init="postData.data.State = 'WA'" required name="State" required>
                                                    <option value=""></option>
                                                    <option value="WA">Western Australia</option>
                                                    <option value="VIC">Victoria</option>
                                                    <option value="TAS">Tasmania</option>
                                                    <option value="QLD">Queensland</option>
                                                    <option value="NSW">New South Wales</option>
                                                    <option value="NT">Northern Territory</option>
                                                    <option value="ACT">Australian Capital Territory</option>
                                                </select>
                                                <p class="help-block required-text" ng-if="submitted && step1.State.$error.required">This field is required.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.CountryID1.$invalid]">
                                                <label class="control-label">Country <span class="required">*</span></label>
                                                <select size="1" class="form-control" ng-model="postData.data.CountryID1" ng-init="postData.data.CountryID1 = 14" name="CountryID1" required ng-options="item.ID as item.ShortName for item in ListContry">
                                                    <option>{{item.ShortName}}</option>
                                                </select>
                                                <p class="help-block required-text" ng-if="submitted && step1.CountryID1.$error.required">This field is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions right">
                        <a href="javascript:;" class="btn btn-lg btn-default" ui-sref="blank.welcome" ng-show="typedoctor!='typedoctor'">
                            <i class="glyphicon glyphicon-arrow-left"></i> Cancel</a>
                        <a href="javascript:;" class="btn btn-lg btn-default" ui-sref="blank.welcomeCampaign" ng-show="typedoctor=='typedoctor'">
                            <i class="glyphicon glyphicon-arrow-left"></i> Cancel</a>
                        <button type=registerPatientCampaign "submit" class="btn btn-lg btn-primary">
                            Next <i class="glyphicon glyphicon-arrow-right"></i></button>
                    </div>
                </form>
                <form name="step2" class="" novalidate ng-show="number == 2">
                    <div class="form-body my-form-body-padding">
                        <div class="row margin-top-20">
                            <div class="col-lg-4 col-md-12 col-sm-12 col-lg-offset-1">
                                <fieldset>
                                    <legend class="bold">Next of Kin</legend>
                                    <div class="form-group margin-bottom-40">
                                        <label class="control-label">
                                            Next of kin available?
                                        </label>
                                        <div class="radio-list">
                                            <label class="radio-inline">
                                                <input type="radio" class="regular-radio" ng-model="NextOfKin" value="Y" name="NextOfKin" checked> Yes
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" class="regular-radio" ng-model="NextOfKin" value="N" name="NextOfKin"> No
                                            </label>
                                        </div>
                                    </div>
                                    <div ng-if="NextOfKin !=='N'">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4">
                                                <div class="form-group" ng-class="{true: 'has-error', false: ''}[(submitted && step2.FirstName.$invalid)||step2.FirstName.$error.pattern]">
                                                    <label class="control-label">
                                                        First Name <span class="required">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" name="FirstName" ng-model="postData.otherData.PatientKin.FirstName" ng-pattern="/^[a-zA-Z0-9\s]{0,255}$/" ng-required="NextOfKin !=='N'" />
                                                    <p class="help-block required-text" ng-if="submitted && step2.FirstName.$error.required">This field is required.</p>
                                                    <p class="help-block required-text" ng-if="step2.FirstName.$error.pattern">Please enter a valid First Name.</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4">
                                                <div class="form-group" ng-class="{true: 'has-error', false: ''}[step2.MiddleName.$error.pattern]">
                                                    <label class="control-label">
                                                        Middle Name <span class="required">&nbsp;</span>
                                                    </label>
                                                    <input type="text" class="form-control" name="MiddleName" ng-model="postData.otherData.PatientKin.MiddleName" ng-pattern="/^[a-zA-Z0-9\s]{0,255}$/" />
                                                    <p class="help-block required-text" ng-if="step2.MiddleName.$error.pattern">Please enter a valid Middle Name.</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4">
                                                <div class="form-group" ng-class="{true: 'has-error', false: ''}[(submitted && step2.LastName.$invalid)||step2.LastName.$error.pattern]">
                                                    <label class="control-label">
                                                        Last Name <span class="required">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" name="LastName" ng-model="postData.otherData.PatientKin.LastName" ng-pattern="/^[a-zA-Z0-9\s]{0,255}$/" ng-required="NextOfKin !=='N'"/>
                                                    <p class="help-block required-text" ng-if="submitted && step2.LastName.$error.required">This field is required.</p>
                                                    <p class="help-block required-text" ng-if="step2.LastName.$error.pattern">Please enter a valid First Name.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.HomePhoneNumber.$invalid]">
                                                    <label class="control-label">
                                                        Home Phone
                                                    </label>
                                                    <input type="text" class="form-control" name="HomePhoneNumber" ng-model="postData.otherData.PatientKin.HomePhoneNumber" ng-pattern="/^[0-9]{6,10}$/">
                                                    <p ng-show="submitted && step2.HomePhoneNumber.$error.pattern" class="help-block required-text">This is not a home phone number</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.MobilePhoneNumber.$invalid]">
                                                    <label class="control-label">
                                                        Mobile Phone
                                                    </label>
                                                    <input type="text" class="form-control" name="MobilePhoneNumber" ng-model="postData.otherData.PatientKin.MobilePhoneNumber" ng-pattern="/^(\+61|0061|0)?4[0-9]{8}$/">
                                                    <p ng-show="submitted && step2.MobilePhoneNumber.$error.pattern" class="help-block required-text">This is not a mobile phone number</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.Address1.$invalid]">
                                                    <label class="control-label">
                                                        Address
                                                    </label>
                                                    <input type="text" class="form-control" name="Address1" ng-model="postData.otherData.PatientKin.Address1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-8 col-md-8">
                                                <div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.Suburb.$invalid]">
                                                    <label class="control-label">
                                                        Suburb
                                                    </label>
                                                    <input type="text" class="form-control" name="Suburb" ng-model="postData.otherData.PatientKin.Suburb">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4">
                                                <div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.Postcode.$invalid]">
                                                    <label class="control-label">
                                                        Postcode
                                                    </label>
                                                    <input type="text" class="form-control" name="Postcode" ng-model="postData.otherData.PatientKin.Postcode" ng-pattern="/^[0-9]{4,10}$/">
                                                    <p ng-show="submitted && step2.Postcode.$error.pattern" class="help-block required-text">Postcode must be at least 4 no more than 10 number</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.State.$invalid]">
                                                    <label class="control-label">
                                                        State
                                                    </label>
                                                    <select class="form-control" ng-model="postData.otherData.PatientKin.State" ng-init="postData.otherData.PatientKin.State = 'WA'" name="State">
                                                        <option value=""></option>
                                                        <option value="WA">Western Australia</option>
                                                        <option value="VIC">Victoria</option>
                                                        <option value="TAS">Tasmania</option>
                                                        <option value="QLD">Queensland</option>
                                                        <option value="NSW">New South Wales</option>
                                                        <option value="NT">Northern Territory</option>
                                                        <option value="ACT">Australian Capital Territory</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.CountryID.$invalid]">
                                                    <label class="control-label">
                                                        Country
                                                    </label>
                                                    <select size="1" class="form-control" ng-model="postData.otherData.PatientKin.CountryID" ng-init="postData.otherData.PatientKin.CountryID = 14" name="CountryID" ng-options="item.ID as item.ShortName for item in ListContry">
                                                        <option>{{item.ShortName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-lg-5 col-md-12 col-sm-12 col-lg-offset-1">
                                <fieldset class="margin-bottom-20">
                                    <legend class="bold">GP Information</legend>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    GP First Name
                                                </label>
                                                <input type="text" class="form-control" ng-model="postData.otherData.PatientGP.FirstName">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    GP Last Name
                                                </label>
                                                <input type="text" class="form-control" ng-model="postData.otherData.PatientGP.LastName">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Clinic Name/Address
                                                </label>
                                                <input type="text" class="form-control" ng-model="postData.otherData.PatientGP.Address1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Contact Number
                                                </label>
                                                <input type="text" class="form-control" ng-model="postData.otherData.PatientGP.PhoneNumber">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="margin-bottom-20">
                                    <legend class="bold">Medicare Information</legend>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="form-group" ng-class="{true: 'has-error', false: ''}[(submitted && step2.MedicareNumber.$invalid)||step2.MedicareNumber.$error.pattern]">
                                                <label class="control-label">
                                                    Medicare No. <span class="required">*</span>
                                                </label>
                                                <input type="text" class="form-control" name="MedicareNumber" ng-model="postData.otherData.PatientMedicare.MedicareNumber" ng-required="true" />
                                                <p class="help-block required-text" ng-if="submitted && step2.MedicareNumber.$error.required">This field is required.</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="form-group" ng-class="{true: 'has-error', false: ''}[(submitted && step2.MedicareReferenceNumber.$invalid)||step2.MedicareReferenceNumber.$error.pattern]">
                                                <label class="control-label">
                                                    Medicare Ref. <span class="required">*</span>
                                                </label>
                                                <input type="text" class="form-control" name="MedicareReferenceNumber" ng-model="postData.otherData.PatientMedicare.MedicareReferenceNumber" ng-required="true" />
                                                <p class="help-block required-text" ng-if="submitted && step2.MedicareReferenceNumber.$error.required">This field is required.</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="form-group" ng-class="{true: 'has-error', false: ''}[(submitted && step2.ExpiryDate.$invalid)||step2.ExpiryDate.$error.pattern]">
                                                <label class="control-label">
                                                    Medicare Expiry. <span class="required">*</span>
                                                </label>
                                                <input type="text" class="form-control" name="ExpiryDate" id="dpMonths" data-date-format="mm/yyyy" data-start-view="year" data-min-view="year" placeholder="mm/yyyy" ng-model="postData.otherData.PatientMedicare.ExpiryDate" ng-required="true"/>
                                                <p class="help-block required-text" ng-if="submitted && step2.ExpiryDate.$error.required">This field is required.</p>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="margin-bottom-20">
                                    <legend class="bold">Fund Information</legend>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Membership No.
                                                </label>
                                                <input type="text" class="form-control" ng-model="postData.otherData.Fund.MembershipNumber">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    UPI
                                                </label>
                                                <input type="text" class="form-control" ng-model="postData.otherData.Fund.UPI">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Private Fund
                                                </label>
                                                <select class="form-control" ng-model="postData.otherData.Fund.PrivateFund">
                                                    <option value=''>Select Fund</option>
                                                    <option value='ACA'>ACA Health Benefits Fund</option>
                                                    <option value='AHM'>ahm Health Insurance</option>
                                                    <option value='AUF'>Australian Unity Health Limited</option>
                                                    <option value='BUP'>Bupa Australia Pty Ltd</option>
                                                    <option value='CBH'>CBHS Health Fund Limited</option>
                                                    <option value='CDH'>CDH Benefits Fund</option>
                                                    <option value='CPS'>CUA Health Limited</option>
                                                    <option value='AHB'>Defence Health Limited</option>
                                                    <option value='AMA'>Doctors' Health Fund</option>
                                                    <option value='GMF'>GMF Health</option>
                                                    <option value='GMH'>GMHBA Limited</option>
                                                    <option value='FAI'>Grand United Corporate Health</option>
                                                    <option value='HBF'>HBF Health Limited</option>
                                                    <option value='HCF'>HCF</option>
                                                    <option value='HCI'>Health Care Insurance Limited</option>
                                                    <option value='HIF'>Health Insurance Fund of Australia Limited</option>
                                                    <option value='SPS'>Health Partners</option>
                                                    <option value='HEA'>health.com.au</option>
                                                    <option value='LHS'>Latrobe Health Services</option>
                                                    <option value='MBP'>Medibank Private Limited</option>
                                                    <option value='MDH'>Mildura Health Fund</option>
                                                    <option value='OMF'>National Health Benefits Australia Pty Ltd (onemedifund)</option>
                                                    <option value='NHB'>Navy Health Ltd</option>
                                                    <option value='NIB'>NIB Health Funds Ltd.</option>
                                                    <option value='LHM'>Peoplecare Health Insurance</option>
                                                    <option value='PWA'>Phoenix Health Fund Limited</option>
                                                    <option value='SPE'>Police Health</option>
                                                    <option value='QCH'>Queensland Country Health Fund Ltd</option>
                                                    <option value='RTE'>Railway and Transport Health Fund Limited</option>
                                                    <option value='RBH'>Reserve Bank Health Society Ltd</option>
                                                    <option value='SLM'>St.Lukes Health</option>
                                                    <option value='NTF'>Teachers Health Fund</option>
                                                    <option value='TFS'>Transport Health Pty Ltd</option>
                                                    <option value='QTU'>TUH</option>
                                                    <option value='WFD'>Westfund Limited</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="margin-bottom-20">
                                    <legend class="bold">DVA Information</legend>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    DVA No.
                                                </label>
                                                <input type="text" class="form-control" ng-model="postData.otherData.PatientDVA.DVANumber">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    DVA Disability
                                                </label>
                                                <input type="text" class="form-control" ng-model="postData.otherData.PatientDVA.DVADisability">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    DVA Card Colour:
                                                </label>
                                                <select class="bs-select form-control" data-show-subtext="true" ng-model="postData.otherData.PatientDVA.DVACardColour">
                                                    <option value="" data-content="">Select color</option>
                                                    <option value="blue" data-content="<div class='bg-blue'>&nbsp;</div>"></option>
                                                    <option value="green" data-content="<div class='bg-green-jungle'>&nbsp;</div>"></option>
                                                    <option value="yellow" data-content="<div class='bg-yellow-lemon'>&nbsp;</div>"></option>
                                                    <option value="red" data-content="<div class='bg-red'>&nbsp;</div>"></option>
                                                    <option value="purple" data-content="<div class='bg-purple-medium'>&nbsp;</div>"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="margin-bottom-20">
                                    <legend class="bold">Pension Information</legend>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    HCC/Pension No.
                                                </label>
                                                <input type="text" class="form-control" ng-model="postData.otherData.PatientPension.HCCPensionNumber">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Expiry
                                                </label>
                                                <input type="text" class="form-control date-picker" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" ng-model="postData.otherData.PatientPension.ExpiryDate">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12"></div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions right">
                        <button class="btn btn-lg btn-default" ng-click="Back()">
                            <i class="glyphicon glyphicon-arrow-left"></i> Back</button>
                        <button type="submit" class="btn btn-lg btn-primary" id ="btn2" ng-click="Next(2)">
                            Next <i class="glyphicon glyphicon-arrow-right"></i></button>
                    </div>
                </form>
                <form name="step3" class="form-horizontal" novalidate ng-show="number == 3">
                    <div class="form-body my-form-body-padding">
                        <div class="form-group margin-top-20" ng-class="{true: 'has-error', false: ''}[submitted && step3.PinNumber.$invalid]">
                            <label class="control-label col-md-3 col-sm-3">
                                PIN Number / Password <span class="required">*</span>
                            </label>
                            <div class="col-md-5 col-sm-5">
                                <input type="text" class="form-control" name="PinNumber" ng-model="postData.data.PinNumber" ng-pattern="/^[0-9]{6}$/" required>
                                <span class="help-block">This Pin code is your password to access your online health information through REDIMED, at your convenience. </span>
                                <p class="help-block required-text" ng-if="submitted && step3.PinNumber.$error.required">This field is required.</p>
                                <p ng-show="submitted && step3.PinNumber.$error.pattern" class="help-block required-text">PIN Number must be 6 digits.</p>
                            </div>
                        </div>
                       	<div ng-show="typedoctor == 'typedoctor'">
	                        <div class="form-group">
	                            <div class="col-md-3 col-sm-3">
	                            </div>
	                            <div class="col-md-5 col-sm-5">
	                                <label>How did you hear about our Skin Screen service?</label>
	                                <div class="checkbox-list" style="margin-left: 2em;">
	                                    <label>
	                                        <input type="checkbox"  class="regular-checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="AppointmentData['Appointment.Telehealth.Screenservice.webpage'].Value"> Shire's webpage</label>
	                                    <label>
	                                        <input type="checkbox"  class="regular-checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="AppointmentData['Appointment.Telehealth.Screenservice.Facebook'].Value"> Facebook</label>
	                                    <label>
	                                        <input type="checkbox"  class="regular-checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="AppointmentData['Appointment.Telehealth.Screenservice.Wordofmouth'].Value"> Word of mouth</label>
	                                    <label>
	                                        <input type="checkbox"  class="regular-checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="AppointmentData['Appointment.Telehealth.Screenservice.Noticeboards'].Value"> Notice boards</label>
	                                    <label>
	                                        <input type="checkbox"  class="regular-checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="AppointmentData['Appointment.Telehealth.Screenservice.Newspaper'].Value"> Newspaper</label>
	                                    <label>
	                                        <input type="checkbox"  class="regular-checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="AppointmentData['Appointment.Telehealth.Screenservice.Localclinic'].Value"> Local clinic</label>
	                                    <div class="form-inline">
	                                        <label>
	                                            <input type="checkbox"  class="regular-checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="AppointmentData['Appointment.Telehealth.Screenservice.Otherspleasespecify'].Value">&nbsp;Others (please specify)</label>
	                                        <input type="text" class="form-control">
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <div class="col-md-3 col-sm-3">
	                            </div>
	                            <div class="col-md-5 col-sm-5">
	                                <label>Would you be interested to have annual Skin Screens by Redimed?</label>
	                                <div class="radio-list">
	                                    <label class="radio-inline">
	                                        <input type="radio" class="regular-radio" name="byRedimed" value="Y" ng-model="AppointmentData['Appointment.Telehealth.Screenservice.Skinscreensbyredimed'].Value"> Yes</label>
	                                    <label class="radio-inline">
	                                        <input type="radio" class="regular-radio" name="byRedimed" value="N" ng-model="AppointmentData['Appointment.Telehealth.Screenservice.Skinscreensbyredimed'].Value"> No</label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <div class="col-md-3 col-sm-3">
	                            </div>
	                            <div class="col-md-5 col-sm-5">
	                                <label>Would you be happy for Redimed to provide your town with other health services on a regular basis?</label>
	                                <div class="radio-list">
	                                    <label class="radio-inline">
	                                        <input type="radio" class="regular-radio" name="regularbasis" value="Y" ng-model="AppointmentData['Appointment.Telehealth.Screenservice.Regularbasis'].Value"> Yes</label>
	                                    <label class="radio-inline">
	                                        <input type="radio" class="regular-radio" name="regularbasis" value="N" ng-model="AppointmentData['Appointment.Telehealth.Screenservice.Regularbasis'].Value"> No</label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <div class="col-md-3 col-sm-3">
	                            </div>
	                            <div class="col-md-5 col-sm-5">
	                                <label> If yes, what kind of health service?</label>
	                                <input type="text" class="form-control" ng-model="AppointmentData['Appointment.Telehealth.Screenservice.Ifhealthservice'].Value"></input>
	                            </div>
	                        </div>
	                     </div>
                    </div>
                    <div class="form-actions right">
                        <button class="btn btn-lg btn-default" ng-click="Back()">
                            <i class="glyphicon glyphicon-arrow-left"></i> Back</button>
                        <button type="submit" class="btn btn-lg btn-primary" ng-click="Submit()">
                            Submit <i class="glyphicon glyphicon-save"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
