<div class="contentPatient">
	<div class="row">
		<div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
			<div class="portlet box blue">
				<div class="portlet-title">
					<div class="caption">
						<span class="caption-subject">
							<i class="glyphicon glyphicon-pencil"></i> Register With Us
						</span>
					</div>
				</div>
				<div class="portlet-body form">
					<form name="step1" class="form-horizontal" role="form" novalidate ng-show="number == 1" ng-submit="Next(1)">
						<div class="form-body my-form-body-padding">
							<div class="row marin-top-20">
								<div class="col-md-4 col-sm-4">
									<fieldset>
										<legend class="bold">Basic Information</legend>
										<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.title.$invalid]">
											<label class="control-label col-md-4 col-sm-4">
												Title <span class="required">*</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<select class="form-control" name="title" 
													ng-model="data.title" required>
													<option value=""></option>
													<option value="Mr">Mr</option>
													<option value="Ms">Ms</option>
													<option value="Dr">Dr</option>
												</select>
												<p class="help-block" ng-if="submitted && step1.title.$error.required">
													Required</p>
											</div>
										</div>
										<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.firstname.$invalid]">
											<label class="control-label col-md-4 col-sm-4">
												Firstname <span class="required">*</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" name="firstname" 
												ng-model="data.firstname" required>
												<p class="help-block" ng-if="submitted && step1.firstname.$error.required">
													Required</p>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												Middlename <span class="required">&nbsp;</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.lastname.$invalid]">
											<label class="control-label col-md-4 col-sm-4">
												Lastname <span class="required">*</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" name="lastname" class="form-control" 
												ng-model="data.lastname" required>
												<p class="help-block" ng-if="submitted && step1.lastname.$error.required">
													Required</p>
											</div>
										</div>
										<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.dob.$invalid]">
											<label class="control-label col-md-4 col-sm-4">
												Date of Birth <span class="required">*</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control date-picker" name="dob" data-date-format="dd/mm/yyyy"
												ng-model="data.dob" required>
												<p class="help-block" ng-if="submitted && step1.dob.$error.required">
													Required</p>
											</div>
										</div>
										<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.gender.$invalid]">
											<label class="control-label col-md-4 col-sm-4">
												Gender <span class="required">*</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<div class="radio-list">
													<label class="radio-inline">
														<input type="radio" name="gender" value="M" 
														ng-model="data.Gender" required> Male
													</label>
													<label class="radio-inline">
														<input type="radio" name="gender" value="F" 
														ng-model="data.Gender" required> Female
													</label>
												</div>
												<p class="help-block" ng-if="submitted && step1.gender.$error.required">
													Required</p>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												Occupation <span class="required">&nbsp;</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control">
											</div>
										</div>
									</fieldset>
								</div>
								<div class="col-md-8 col-sm-8">
									<fieldset>
										<legend class="bold">Contact Information</legend>
										<div class="row">
											<div class="col-md-6 col-sm-6">
												<div class="form-group">
													<label class="control-label col-md-4 col-sm-4">Email</label>
													<div class="col-md-8 col-sm-8">
														<input type="text" class="form-control">
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-4 col-sm-4">Homephone</label>
													<div class="col-md-8 col-sm-8">
														<input type="text" class="form-control">
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-4 col-sm-4">Mobile</label>
													<div class="col-md-8 col-sm-8">
														<input type="text" class="form-control">
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-4 col-sm-4">Workphone</label>
													<div class="col-md-8 col-sm-8">
														<input type="text" class="form-control">
													</div>
												</div>
												<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.address1.$invalid]">
													<label class="control-label col-md-4 col-sm-4">Address1 <span class="required">*</span></label>
													<div class="col-md-8 col-sm-8">
														<input type="text" class="form-control" name="address1" ng-model="data.address1" required>
														<p class="help-block" ng-if="submitted && step1.address1.$error.required">Required</p>
													</div>
												</div>
												<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.address2.$invalid]">
													<label class="control-label col-md-4 col-sm-4">Address2 <span class="required">*</span></label>
													<div class="col-md-8 col-sm-8">
														<input type="text" class="form-control" name="address2" ng-model="data.address2" required>
														<p class="help-block" ng-if="submitted && step1.address2.$error.required">Required</p>
													</div>
												</div>
											</div>
											<div class="col-md-6 col-sm-6">
												<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.suburb.$invalid]">
													<label class="control-label col-md-4 col-sm-4">Suburb <span class="required">*</span></label>
													<div class="col-md-8 col-sm-8">
														<input type="text" class="form-control" name="suburb" ng-model="data.suburb" required>
														<p class="help-block" ng-if="submitted && step1.suburb.$error.required">Required</p>
													</div>
												</div>
												<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.postcode.$invalid]">
													<label class="control-label col-md-4 col-sm-4">Postcode <span class="required">*</span></label>
													<div class="col-md-8 col-sm-8">
														<input type="text" class="form-control" name="postcode" ng-model="data.postcode" required>
														<p class="help-block" ng-if="submitted && step1.postcode.$error.required">Required</p>
													</div>
												</div>
												<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.state.$invalid]">
													<label class="control-label col-md-4 col-sm-4">State <span class="required">*</span></label>
													<div class="col-md-8 col-sm-8">
														<input type="text" class="form-control" name="state" ng-model="data.state" required>
														<p class="help-block" ng-if="submitted && step1.state.$error.required">Required</p>
													</div>
												</div>
												<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.country.$invalid]">
													<label class="control-label col-md-4 col-sm-4">Country <span class="required">*</span></label>
													<div class="col-md-8 col-sm-8">
														<input type="text" class="form-control" name="country" ng-model="data.country" required>
														<p class="help-block" ng-if="submitted && step1.country.$error.required">Required</p>
													</div>
												</div>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
						<div class="form-actions right">
							<a href="javascript:;" class="btn btn-lg btn-default" ui-sref="blank.welcome">
								<i class="glyphicon glyphicon-arrow-left"></i> Cancel</a>
							<button type="submit" class="btn btn-lg btn-primary">
								Next <i class="glyphicon glyphicon-arrow-right"></i></button>
						</div>
					</form>
					<form name="step2" class="form-horizontal" novalidate ng-show="number == 2">
						<div class="form-body my-form-body-padding">
							<div class="row margin-top-20">
								<div class="col-md-4 col-sm-4">
									<fieldset>
										<legend class="bold">Next of Kin</legend>
										<div class="form-group"  ng-class="{true: 'has-error', false: ''}[submitted && step2.NOKfirstname.$invalid]">
											<label class="control-label col-md-4 col-sm-4">
												Firstname <span class="required">*</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" name="NOKfirstname" ng-model="data.NOKfirstname" required>
												<p class="help-block" ng-if="submitted && step2.NOKfirstname.$error.required">Required</p>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												Middlename <span class="required">&nbsp;</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.NOKlastname.$invalid]">
											<label class="control-label col-md-4 col-sm-4">
												Lastname <span class="required">*</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" name="NOKlastname" ng-model="data.NOKlastname" required>
												<p class="help-block" ng-if="submitted && step2.NOKlastname.$error.required">Required</p>
											</div>
										</div>
										<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.NOKhomePhone.$invalid]">
											<label class="control-label col-md-4 col-sm-4">
												Homephone <span class="required">*</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" name="NOKhomePhone" ng-model="data.NOKhomePhone" required>
												<p class="help-block" ng-if="submitted && step2.NOKhomePhone.$error.required">Required</p>
											</div>
										</div>
										<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.NOKmobile.$invalid]">
											<label class="control-label col-md-4 col-sm-4">
												Mobilephone <span class="required">*</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" name="NOKmobile" ng-model="data.NOKmobile" required>
												<p class="help-block" ng-if="submitted && step2.NOKmobile.$error.required">Required</p>
											</div>
										</div>
										<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.NOKaddress.$invalid]">
											<label class="control-label col-md-4 col-sm-4">
												Address <span class="required">*</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" name="NOKaddress" ng-model="data.NOKaddress" required>
												<p class="help-block" ng-if="submitted && step2.NOKaddress.$error.required">Required</p>
											</div>
										</div>
										<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.NOKsuburb.$invalid]">
											<label class="control-label col-md-4 col-sm-4">
												Suburb <span class="required">*</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" name="NOKsuburb" ng-model="data.NOKsuburb" required>
												<p class="help-block" ng-if="submitted && step2.NOKsuburb.$error.required">Required</p>
											</div>
										</div>
										<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.NOKpostcode.$invalid]">
											<label class="control-label col-md-4 col-sm-4">
												Postcode <span class="required">*</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" name="NOKpostcode" ng-model="data.NOKpostcode" required>
												<p class="help-block" ng-if="submitted && step2.NOKpostcode.$error.required">Required</p>
											</div>
										</div>
										<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.NOKstate.$invalid]">
											<label class="control-label col-md-4 col-sm-4">
												State <span class="required">*</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" name="NOKstate" ng-model="data.NOKstate" required>
												<p class="help-block" ng-if="submitted && step2.NOKstate.$error.required">Required</p>
											</div>
										</div>
										<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.NOKcountry.$invalid]">
											<label class="control-label col-md-4 col-sm-4">
												Country <span class="required">*</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" name="NOKcountry" ng-model="data.NOKcountry" required>
												<p class="help-block" ng-if="submitted && step2.NOKcountry.$error.required">Required</p>
											</div>
										</div>
									</fieldset>
								</div>
								<div class="col-md-4 col-sm-4">
									<fieldset>
										<legend class="bold">Medicare Information</legend>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												Medicare No. 
											</label>
											<div class="col-md-5 col-sm-5">
												<input type="text" class="form-control">
											</div>
											<label class="col-md-3 col-sm-3">Ref <input type="checkbox"></label>
										</div>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												Medicare Expiry 
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control">
											</div>
										</div>
									</fieldset>
									<fieldset>
										<legend class="bold">Fund Information</legend>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												Private Fund 
											</label>
											<div class="col-md-5 col-sm-5">
												<select class="form-control">
	                                                <option value=''>Select Fund</option>
	                                                <option value='ACA'>ACA Health Benefits Fund</option>
	                                                <option value='AHM'>ahm Health Insurance</option>
	                                                <option value='AUF'>Australian Unity Health Limited</option>
	                                                <option value='BUP'>Bupa Australia Pty Ltd</option>
	                                                <option value='CBH'>CBHS Health Fund Limited</option>
	                                                <option value='CDH'>CDH Benefits Fund</option>
	                                                <option value='CPS'>CUA Health Limited</option>
	                                                <option value='AHB'>Defence Health Limited</option>
	                                                <option value='AMA'>Doctors' Health Fund</option>
	                                                <option value='GMF'>GMF Health</option>
	                                                <option value='GMH'>GMHBA Limited</option>
	                                                <option value='FAI'>Grand United Corporate Health</option>
	                                                <option value='HBF'>HBF Health Limited</option>
	                                                <option value='HCF'>HCF</option>
	                                                <option value='HCI'>Health Care Insurance Limited</option>
	                                                <option value='HIF'>Health Insurance Fund of Australia Limited</option>
	                                                <option value='SPS'>Health Partners</option>
	                                                <option value='HEA'>health.com.au</option>
	                                                <option value='LHS'>Latrobe Health Services</option>
	                                                <option value='MBP'>Medibank Private Limited</option>
	                                                <option value='MDH'>Mildura Health Fund</option>
	                                                <option value='OMF'>National Health Benefits Australia Pty Ltd (onemedifund)</option>
	                                                <option value='NHB'>Navy Health Ltd</option>
	                                                <option value='NIB'>NIB Health Funds Ltd.</option>
	                                                <option value='LHM'>Peoplecare Health Insurance</option>
	                                                <option value='PWA'>Phoenix Health Fund Limited</option>
	                                                <option value='SPE'>Police Health</option>
	                                                <option value='QCH'>Queensland Country Health Fund Ltd</option>
	                                                <option value='RTE'>Railway and Transport Health Fund Limited</option>
	                                                <option value='RBH'>Reserve Bank Health Society Ltd</option>
	                                                <option value='SLM'>St.Lukes Health</option>
	                                                <option value='NTF'>Teachers Health Fund</option>
	                                                <option value='TFS'>Transport Health Pty Ltd</option>
	                                                <option value='QTU'>TUH</option>
	                                                <option value='WFD'>Westfund Limited</option>
	                                            </select>
											</div>
											<label class="col-md-3 col-sm-3">UPI <input type="checkbox"></label>
										</div>
										<div class="form-group">
											<label class="control-label col-md-5 col-sm-5">
												Membership No. 
											</label>
											<div class="col-md-7 col-sm-7">
												<input type="text" class="form-control">
											</div>
										</div>
									</fieldset>
									<fieldset>
										<legend class="bold">DVA Information</legend>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												DVA No.
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												DVA Disability
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-5 col-sm-5">
												DVA Card Colour:
											</label>
											<div class="col-md-7 col-sm-7">
												<select class="bs-select form-control" data-show-subtext="true">
													<option data-content="">Select color</option>
													<option 
                                                    	data-content="<div class='bg-blue'>&nbsp;</div>">
													</option>
                                                    <option 
                                                    	data-content="<div class='bg-green-jungle'>&nbsp;</div>">
													</option>
													<option 
                                                    	data-content="<div class='bg-yellow-lemon'>&nbsp;</div>">
													</option>
													<option 
                                                    	data-content="<div class='bg-red'>&nbsp;</div>">
													</option>
													<option 
                                                    	data-content="<div class='bg-purple-medium'>&nbsp;</div>">
													</option>                                                        
                                                </select>
											</div>
										</div>
									</fieldset>
								</div>
								<div class="col-md-4 col-sm-4">
									<fieldset>
										<legend class="bold">Pension Information</legend>
										<div class="form-group">
											<label class="control-label col-md-5 col-sm-5">
												HCC/Pension No
											</label>
											<div class="col-md-7 col-sm-7">
												<select class="form-control">
													<option></option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												Expiry
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control">
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
						<div class="form-actions right">
							<button type="button" class="btn btn-lg btn-default" ng-click="Back()">
								<i class="glyphicon glyphicon-arrow-left"></i> Back</button>
							<button type="submit" class="btn btn-lg btn-primary" ng-click="Next(2)">
								Next <i class="glyphicon glyphicon-arrow-right"></i></button>
						</div>
					</form>
					<form name="step3" class="form-horizontal" novalidate ng-show="number == 3">
						<div class="form-body my-form-body-padding">
							<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step3.PINnumber.$invalid]">
								<label class="control-label col-md-3 col-sm-3">
									PIN number <span class="required">*</span>
								</label>
								<div class="col-md-4 col-sm-4">
									<input type="text" class="form-control" name="PINnumber" ng-model="data.PINnumber" required>
									<p class="help-block" ng-if="submitted && step3.PINnumber.$error.required">Required</p>
								</div>
							</div>
						</div>
						<div class="form-actions right">
							<button type="button" class="btn btn-lg btn-default" ng-click="Back()">
								<i class="glyphicon glyphicon-arrow-left"></i> Back</button>
							<button type="submit" class="btn btn-lg btn-primary" ng-click="Submit()">
								Submit <i class="glyphicon glyphicon-save"></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	.contentPatient{
		vertical-align: middle;
		padding-top: 6em;
	}
	.my-form-body-padding{
		padding-left: 2em !important; 
		padding-right:2em !important;
	}
</style>