<div class="contentPatient">
	<div class="row">
		<div class="col-md-10 col-sm- col-md-offset-1 col-sm-offset-1">
			<div class="portlet box blue">
				<div class="portlet-title">
					<div class="caption">
						<span class="caption-subject">
							<i class="glyphicon glyphicon-pencil"></i> Register With Us
						</span>
					</div>
				</div>
				<div class="portlet-body form">
					<form name="step1" class="form-horizontal" role="form" novalidate ng-show="number == 1" ng-submit="Next(1)">
						<div class="form-body my-form-body-padding">
							<div class="row marin-top-20">
								<div class="col-md-4 col-sm-4">
									<fieldset>
										<legend class="bold">Basic Information</legend>
										<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.Title.$invalid]">
											<label class="control-label col-md-4 col-sm-4">
												Title <span class="required">*</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<select class="form-control" name="Title" ng-model="postData.data.Title" required>
													<option value=""></option>
													<option value="Mr">Mr</option>
													<option value="Ms">Ms</option>
													<option value="Dr">Dr</option>
												</select>
												<p class="help-block required-text" ng-if="submitted && step1.Title.$error.required">
													This field is required.</p>
											</div>
										</div>
										<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.FirstName.$invalid]">
											<label class="control-label col-md-4 col-sm-4">
												First Name <span class="required">*</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" name="FirstName" ng-model="postData.data.FirstName" required>
												<p class="help-block required-text" ng-if="submitted && step1.FirstName.$error.required">
													This field is required.</p>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												Middle Name
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" name="MiddleName" ng-model="postData.data.MiddleName">
											</div>
										</div>
										<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.LastName.$invalid]">
											<label class="control-label col-md-4 col-sm-4">
												Last Name <span class="required">*</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" name="LastName" class="form-control" ng-model="postData.data.LastName" required>
												<p class="help-block required-text" ng-if="submitted && step1.LastName.$error.required">
													This field is required.</p>
											</div>
										</div>
										<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.DOB.$invalid]">
											<label class="control-label col-md-4 col-sm-4">
												Date of Birth <span class="required">*</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control date-picker" name="DOB" data-date-end-date="0d" placeholder="dd/mm/yyyy" data-date-format="dd/mm/yyyy"ng-model="postData.data.DOB" required>
												<p class="help-block required-text" ng-if="submitted && step1.DOB.$error.required">
													This field is required.</p>
											</div>
										</div>
										<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.Gender.$invalid]">
											<label class="control-label col-md-4 col-sm-4">
												Gender <span class="required">*</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<div class="radio-list">
													<label class="radio-inline">
														<input type="radio" name="Gender" value="Male" ng-model="postData.data.Gender" required> Male
													</label>
													<label class="radio-inline">
														<input type="radio" name="Gender" value="Female" ng-model="postData.data.Gender" required> Female
													</label>
												</div>
												<p class="help-block required-text" ng-if="submitted && step1.Gender.$error.required">
													This field is required.</p>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												Occupation <span class="required">&nbsp;</span>
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" ng-model="postData.data.Occupation">
											</div>
										</div>
									</fieldset>
								</div>
								<div class="col-md-8 col-sm-8">
									<fieldset>
										<legend class="bold">Contact Information</legend>
										<div class="row">
											<div class="col-md-6 col-sm-6">
												<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.Email.$invalid]">
													<label class="control-label col-md-4 col-sm-4">Email</label>
													<div class="col-md-8 col-sm-8">
														<input type="text" class="form-control" ng-model="postData.data.Email1" ng-pattern="/^\w+([a-zA-Z0-9\.-]?\w+)*@\w+([a-z][\.-]?\w+)*([a-z]\.\w{2,4})+$/" name="Email">
														<p ng-show="submitted && step1.Email.$error.pattern" class="help-block required-text">Please enter a valid email address.</p>
													</div>
												</div>
												<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.HomePhoneNumber.$invalid]">
													<label class="control-label col-md-4 col-sm-4">Home Phone</label>
													<div class="col-md-8 col-sm-8">
														<input type="text" class="form-control" ng-model="postData.data.HomePhoneNumber" name="HomePhoneNumber" ng-pattern="/^[0-9]{6,10}$/">
														<p ng-show="submitted && step1.HomePhoneNumber.$error.pattern" class="help-block required-text">This is not a home phone number</p>
													</div>
												</div>
												<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.PhoneNumber.$invalid]">
													<label class="control-label col-md-4 col-sm-4">Mobile</label>
													<div class="col-md-8 col-sm-8">
														<input type="text" class="form-control" ng-model="postData.data.PhoneNumber" name="PhoneNumber" ng-pattern="/^(\+61|0061|0)?4[0-9]{8}$/">
														<p ng-show="submitted && step1.PhoneNumber.$error.pattern" class="help-block required-text">This is not a mobile phone number</p>
													</div>
												</div>
												<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.WorkPhoneNumber.$invalid]">
													<label class="control-label col-md-4 col-sm-4">Work Phone</label>
													<div class="col-md-8 col-sm-8">
														<input type="text" class="form-control" ng-model="postData.data.WorkPhoneNumber" name="WorkPhoneNumber" ng-pattern="/^[0-9]{6,10}$/">
														<p ng-show="submitted && step1.WorkPhoneNumber.$error.pattern" class="help-block required-text">This is not a work phone number</p>
													</div>
												</div>
												<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.Address1.$invalid]">
													<label class="control-label col-md-4 col-sm-4">Address1 <span class="required">*</span></label>
													<div class="col-md-8 col-sm-8">
														<input type="text" class="form-control" name="Address1" ng-model="postData.data.Address1" required>
														<p class="help-block required-text" ng-if="submitted && step1.Address1.$error.required">This field is required.</p>
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-4 col-sm-4">Address2</label>
													<div class="col-md-8 col-sm-8">
														<input type="text" class="form-control" name="Address2" ng-model="postData.data.Address2">
													</div>
												</div>
											</div>
											<div class="col-md-6 col-sm-6">
												<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.Suburb.$invalid]">
													<label class="control-label col-md-4 col-sm-4">Suburb <span class="required">*</span></label>
													<div class="col-md-8 col-sm-8">
														<input type="text" class="form-control" name="Suburb" ng-model="postData.data.Suburb" required>
														<p class="help-block required-text" ng-if="submitted && step1.Suburb.$error.required">This field is required.</p>
													</div>
												</div>
												<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.Postcode.$invalid]">
													<label class="control-label col-md-4 col-sm-4">Postcode <span class="required">*</span></label>
													<div class="col-md-8 col-sm-8">
														<input type="text" class="form-control" name="Postcode" ng-model="postData.data.Postcode" ng-pattern="/^[0-9]{4,10}$/" required>
														<p class="help-block required-text" ng-if="submitted && step1.Postcode.$error.required">This field is required.</p>
														<p ng-show="submitted && step1.Postcode.$error.pattern" class="help-block required-text">Postcode must be at least 4 no more than 10 character</p>
													</div>
												</div>
												<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.State.$invalid]">
													<label class="control-label col-md-4 col-sm-4">State <span class="required">*</span></label>
													<div class="col-md-8 col-sm-8">
														<select class="form-control" ng-model="postData.data.State" required name="State" required>
                                                            <option value=""></option>
                                                            <option value="WA">Western Australia</option>
                                                            <option value="VIC">Victoria</option>
                                                            <option value="TAS">Tasmania</option>
                                                            <option value="QLD">Queensland</option>
                                                            <option value="NSW">New South Wales</option>
                                                            <option value="NT">Northern Territory</option>
                                                            <option value="ACT">Australian Capital Territory</option>
                                                        </select>
														<p class="help-block required-text" ng-if="submitted && step1.State.$error.required">This field is required.</p>
													</div>

												</div>
												<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step1.CountryID1.$invalid]">
													<label class="control-label col-md-4 col-sm-4">Country <span class="required">*</span></label>
													<div class="col-md-8 col-sm-8">
														<select size="1" class="form-control" ng-model="postData.data.CountryID1" name="CountryID1" required ng-options="item.ID as item.ShortName for item in ListContry">
                                                            <option>{{item.ShortName}}</option>
                                                        </select>
														<p class="help-block required-text" ng-if="submitted && step1.CountryID1.$error.required">This field is required.</p>
													</div>
												</div>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
						<div class="form-actions right">
							<a href="javascript:;" class="btn btn-lg btn-default" ui-sref="blank.welcome">
								<i class="glyphicon glyphicon-arrow-left"></i> Cancel</a>
							<button type="submit" class="btn btn-lg btn-primary">
								Next <i class="glyphicon glyphicon-arrow-right"></i></button>
						</div>
					</form>
					<form name="step2" class="form-horizontal" novalidate ng-show="number == 2">
						<div class="form-body my-form-body-padding">
							<div class="row margin-top-20">
								<div class="col-md-4 col-sm-4">
									<fieldset>
										<legend class="bold">Next of Kin</legend>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												Next of kin available?
											</label>
											<div class="col-md-8 col-sm-8">
												<div class="radio-list">
													<label class="radio-inline">
														<input type="radio" ng-model="NextOfKin" value="Y" name="NextOfKin" checked> Yes
													</label>
													<label class="radio-inline">
														<input type="radio" ng-model="NextOfKin" value="N" name="NextOfKin"> No
													</label>
												</div>
											</div>
										</div>
										<div ng-if="NextOfKin !=='N'">
											<div class="form-group"  ng-class="{true: 'has-error', false: ''}[submitted && step2.FirstName.$invalid]">
												<label class="control-label col-md-4 col-sm-4">
													First Name <span class="required">*</span>
												</label>
												<div class="col-md-8 col-sm-8">
													<input type="text" class="form-control" name="FirstName" ng-model="postData.otherData.PatientKin.FirstName" ng-required="NextOfKin !=='N'">
													<p class="help-block required-text" ng-if="submitted && step2.FirstName.$error.required">This field is required.</p>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-4 col-sm-4">
													Middle Name <span class="required">&nbsp;</span>
												</label>
												<div class="col-md-8 col-sm-8">
													<input type="text" class="form-control" ng-model="postData.otherData.PatientKin.MiddleName">
												</div>
											</div>
											<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.LastName.$invalid]">
												<label class="control-label col-md-4 col-sm-4">
													Last Name <span class="required">*</span>
												</label>
												<div class="col-md-8 col-sm-8">
													<input type="text" class="form-control" name="LastName" ng-model="postData.otherData.PatientKin.LastName" ng-required="NextOfKin !=='N'">
													<p class="help-block required-text" ng-if="submitted && step2.LastName.$error.required">This field is required.</p>
												</div>
											</div>
											<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.HomePhoneNumber.$invalid]">
												<label class="control-label col-md-4 col-sm-4">
													Home Phone <span class="required">*</span>
												</label>
												<div class="col-md-8 col-sm-8">
													<input type="text" class="form-control" name="HomePhoneNumber" ng-model="postData.otherData.PatientKin.HomePhoneNumber" ng-pattern="/^[0-9]{6,10}$/" ng-required="NextOfKin !=='N'">
													<p class="help-block required-text" ng-if="submitted && step2.HomePhoneNumber.$error.required">This field is required.</p>
													<p ng-show="submitted && step2.HomePhoneNumber.$error.pattern" class="help-block required-text">This is not a home phone number</p>
												</div>
											</div>
											<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.MobilePhoneNumber.$invalid]">
												<label class="control-label col-md-4 col-sm-4">
													Mobile Phone <span class="required">*</span>
												</label>
												<div class="col-md-8 col-sm-8">
													<input type="text" class="form-control" name="MobilePhoneNumber" ng-model="postData.otherData.PatientKin.MobilePhoneNumber" ng-pattern="/^(\+61|0061|0)?4[0-9]{8}$/" ng-required="NextOfKin !=='N'">
													<p class="help-block required-text" ng-if="submitted && step2.MobilePhoneNumber.$error.required">This field is required.</p>
													<p ng-show="submitted && step2.MobilePhoneNumber.$error.pattern" class="help-block required-text">This is not a mobile phone number</p>
												</div>
											</div>
											<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.Address1.$invalid]">
												<label class="control-label col-md-4 col-sm-4">
													Address <span class="required">*</span>
												</label>
												<div class="col-md-8 col-sm-8">
													<input type="text" class="form-control" name="Address1" ng-model="postData.otherData.PatientKin.Address1" ng-required="NextOfKin !=='N'">
													<p class="help-block required-text" ng-if="submitted && step2.Address1.$error.required">This field is required.</p>
												</div>
											</div>
											<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.Suburb.$invalid]">
												<label class="control-label col-md-4 col-sm-4">
													Suburb <span class="required">*</span>
												</label>
												<div class="col-md-8 col-sm-8">
													<input type="text" class="form-control" name="Suburb" ng-model="postData.otherData.PatientKin.Suburb" ng-required="NextOfKin !=='N'">
													<p class="help-block required-text" ng-if="submitted && step2.Suburb.$error.required">This field is required.</p>
												</div>
											</div>
											<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.Postcode.$invalid]">
												<label class="control-label col-md-4 col-sm-4">
													Postcode <span class="required">*</span>
												</label>
												<div class="col-md-8 col-sm-8">
													<input type="text" class="form-control" name="Postcode" ng-model="postData.otherData.PatientKin.Postcode" ng-pattern="/^[0-9]{4,10}$/" ng-required="NextOfKin !=='N'">
													<p class="help-block required-text" ng-if="submitted && step2.Postcode.$error.required">This field is required.</p>
													<p ng-show="submitted && step2.Postcode.$error.pattern" class="help-block required-text">Postcode must be at least 4 no more than 10 character</p>
												</div>
											</div>
											<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.State.$invalid]">
												<label class="control-label col-md-4 col-sm-4">
													State <span class="required">*</span>
												</label>
												<div class="col-md-8 col-sm-8">
														<select class="form-control" ng-model="postData.otherData.PatientKin.State" name="State" ng-required="NextOfKin !=='N'">
                                                            <option value=""></option>
                                                            <option value="WA">Western Australia</option>
                                                            <option value="VIC">Victoria</option>
                                                            <option value="TAS">Tasmania</option>
                                                            <option value="QLD">Queensland</option>
                                                            <option value="NSW">New South Wales</option>
                                                            <option value="NT">Northern Territory</option>
                                                            <option value="ACT">Australian Capital Territory</option>
                                                        </select>
														<p class="help-block required-text" ng-if="submitted && step2.State.$error.required">This field is required.</p>
												</div>
											</div>
											<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step2.CountryID.$invalid]">
												<label class="control-label col-md-4 col-sm-4">
													Country <span class="required">*</span>
												</label>
												<div class="col-md-8 col-sm-8">
													<select size="1" class="form-control" ng-model="postData.otherData.PatientKin.CountryID" name="CountryID" ng-options="item.ID as item.ShortName for item in ListContry" ng-required="NextOfKin !=='N'">
                                                        <option>{{item.ShortName}}</option>
                                                    </select>
													<p class="help-block required-text" ng-if="submitted && step2.CountryID.$error.required">This field is required.</p>
												</div>
											</div>
										</div>
									</fieldset>
								</div>
								<div class="col-md-4 col-sm-4">
									<fieldset>
										<legend class="bold">Medicare Information</legend>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												Medicare No. 
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" ng-model="postData.otherData.PatientMedicare.MedicareNumber">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												Medicare Ref
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" ng-model="postData.otherData.PatientMedicare.MedicareReferenceNumber">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												Medicare Expiry 
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control date-picker" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" ng-model="postData.otherData.PatientMedicare.ExpiryDate">
											</div>
										</div>
									</fieldset>
									<fieldset>
										<legend class="bold">Fund Information</legend>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												Membership No. 
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" ng-model="postData.otherData.Fund.MembershipNumber">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												UPI
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" ng-model="postData.otherData.Fund.UPI">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												Private Fund 
											</label>
											<div class="col-md-8 col-sm-8">
												<select class="form-control" ng-model="postData.otherData.Fund.PrivateFund">
	                                                <option value=''>Select Fund</option>
	                                                <option value='ACA'>ACA Health Benefits Fund</option>
	                                                <option value='AHM'>ahm Health Insurance</option>
	                                                <option value='AUF'>Australian Unity Health Limited</option>
	                                                <option value='BUP'>Bupa Australia Pty Ltd</option>
	                                                <option value='CBH'>CBHS Health Fund Limited</option>
	                                                <option value='CDH'>CDH Benefits Fund</option>
	                                                <option value='CPS'>CUA Health Limited</option>
	                                                <option value='AHB'>Defence Health Limited</option>
	                                                <option value='AMA'>Doctors' Health Fund</option>
	                                                <option value='GMF'>GMF Health</option>
	                                                <option value='GMH'>GMHBA Limited</option>
	                                                <option value='FAI'>Grand United Corporate Health</option>
	                                                <option value='HBF'>HBF Health Limited</option>
	                                                <option value='HCF'>HCF</option>
	                                                <option value='HCI'>Health Care Insurance Limited</option>
	                                                <option value='HIF'>Health Insurance Fund of Australia Limited</option>
	                                                <option value='SPS'>Health Partners</option>
	                                                <option value='HEA'>health.com.au</option>
	                                                <option value='LHS'>Latrobe Health Services</option>
	                                                <option value='MBP'>Medibank Private Limited</option>
	                                                <option value='MDH'>Mildura Health Fund</option>
	                                                <option value='OMF'>National Health Benefits Australia Pty Ltd (onemedifund)</option>
	                                                <option value='NHB'>Navy Health Ltd</option>
	                                                <option value='NIB'>NIB Health Funds Ltd.</option>
	                                                <option value='LHM'>Peoplecare Health Insurance</option>
	                                                <option value='PWA'>Phoenix Health Fund Limited</option>
	                                                <option value='SPE'>Police Health</option>
	                                                <option value='QCH'>Queensland Country Health Fund Ltd</option>
	                                                <option value='RTE'>Railway and Transport Health Fund Limited</option>
	                                                <option value='RBH'>Reserve Bank Health Society Ltd</option>
	                                                <option value='SLM'>St.Lukes Health</option>
	                                                <option value='NTF'>Teachers Health Fund</option>
	                                                <option value='TFS'>Transport Health Pty Ltd</option>
	                                                <option value='QTU'>TUH</option>
	                                                <option value='WFD'>Westfund Limited</option>
	                                            </select>
											</div>
										</div>
									</fieldset>
									<fieldset>
										<legend class="bold">DVA Information</legend>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												DVA No.
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" ng-model="postData.otherData.PatientDVA.DVANumber">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												DVA Disability
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control" ng-model="postData.otherData.PatientDVA.DVADisability">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												DVA Card Colour:
											</label>
											<div class="col-md-8 col-sm-8">
												<select class="bs-select form-control" data-show-subtext="true" ng-model="postData.otherData.PatientDVA.DVACardColour">
													<option data-content="">Select color</option>
													<option value="blue" data-content="<div class='bg-blue'>&nbsp;</div>"></option>
                                                    <option value="green" data-content="<div class='bg-green-jungle'>&nbsp;</div>"></option>
													<option value="yellow" data-content="<div class='bg-yellow-lemon'>&nbsp;</div>" ></option>
													<option value="red" data-content="<div class='bg-red'>&nbsp;</div>"></option>
													<option value="purple" data-content="<div class='bg-purple-medium'>&nbsp;</div>"></option>          
                                                </select>
											</div>
										</div>
									</fieldset>
								</div>
								<div class="col-md-4 col-sm-4">
									<fieldset>
										<legend class="bold">Pension Information</legend>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												HCC/Pension No
											</label>
											<div class="col-md-8 col-sm-8">
												<select class="form-control" ng-model="postData.otherData.PatientPension.HCCPensionNumber">
													<option value="HCC/Pension No">HCC/Pension No 1</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-4 col-sm-4">
												Expiry
											</label>
											<div class="col-md-8 col-sm-8">
												<input type="text" class="form-control date-picker" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" ng-model="postData.otherData.PatientPension.ExpiryDate">
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
						<div class="form-actions right">
							<button class="btn btn-lg btn-default" ng-click="Back()">
								<i class="glyphicon glyphicon-arrow-left"></i> Back</button>
							<button type="submit" class="btn btn-lg btn-primary" ng-click="Next(2)">
								Next <i class="glyphicon glyphicon-arrow-right"></i></button>
						</div>
					</form>
					<form name="step3" class="form-horizontal" novalidate ng-show="number == 3">
						<div class="form-body my-form-body-padding">
							<div class="form-group" ng-class="{true: 'has-error', false: ''}[submitted && step3.PINnumber.$invalid]">
								<label class="control-label col-md-3 col-sm-3">
									PIN number <span class="required">*</span>
								</label>
								<div class="col-md-4 col-sm-4">
									<input type="text" class="form-control" name="PINnumber" ng-model="data.PINnumber" required>
									<p class="help-block required-text" ng-if="submitted && step3.PINnumber.$error.required">This field is required.</p>
								</div>
							</div>
						</div>
						<div class="form-actions right">
							<button class="btn btn-lg btn-default" ng-click="Back()">
								<i class="glyphicon glyphicon-arrow-left"></i> Back</button>
							<button type="submit" class="btn btn-lg btn-primary" ng-click="Submit()">
								Submit <i class="glyphicon glyphicon-save"></i></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	.contentPatient{
		vertical-align: middle;
		padding-top: 6em;
	}
	.my-form-body-padding{
		padding-left: 2em !important; 
		padding-right:2em !important;
	}
</style>