<div class="welcome">
	<img src="theme/assets/global/images/patient.jpg" width="100%">
	<div class="logo">
		<img src="theme/assets/global/images/logo-redimed.png">
	</div>
	<div class="content">
		<div class="my-button-group">
			<h1>Welcome to REDIMED</h1>
			<div class="my-button registration">
				<a href="javascript:;" ui-sref="blank.registerPatient">Registration</a>
			</div>
			<div class="my-button existing-patient">
				<a href="javascript:;" ui-sref="blank.searchPatient">Existing Patient</a>
			</div>
		</div>
		<div class="footer">
			2015 @ REDIMED. Admin Dashboard Template.
		</div>
	</div>
</div>