<script type="text/javascript">
    document.body.className = "full-background-compaign";
</script>

<div class="welcome">
	<img src="theme/assets/global/images/logo-redimed.png">
	<div class="content">
		<div class="button-group">
			<h1>Welcome to Campaign</h1>
			<a class="registration" ui-sref="blank.registerPatientCampaign">
				Registration
			</a>
			<a class="existing" ui-sref="blank.searchPatient">
				Existing Patient
			</a>
		</div>
		<div class="footer">
			2015 &copy; REDIMED. Admin Dashboard Template.
		</div>
	</div>
</div>

