<h3 class="page-title">Telehealth Appointment Request</h3>

<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="index.html">Appoiment</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#"><b>Request</b></a>
			<i class="fa fa-angle-right"></i>
		</li>
	</ul>
</div>


<div class="note note-info note-bordered">

	<label>Duration of referral :</label> 
	<label class="checkbox-inline">
		<div class="checker">
			<span><input type="checkbox" value="option1"></span>
		</div> 
		3 months
	</label>

	<label class="checkbox-inline">
		<div class="checker">
			<span><input type="checkbox" value="option2"></span>
		</div> 
		12 months
	</label>

	<label class="checkbox-inline">
		<div class="checker">
			<span><input type="checkbox" value="option3"></span>
		</div> 
		indefinite
	</label>
</div>

<!-- BEGIN Patient details (Affix Patient Label Here)-->
<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-gift"></i> Patient details (Affix Patient Label Here)
		</div>
		<div class="tools">
			<a href="" class="collapse"></a>
		</div>
	</div>
	<div class="portlet-body form">
        <form role="form">
            <div class="form-body">
	            <div class="row">
	            	<div class="form-group col-sm-4">
	            		<label class="label-control">Firstname</label>
	            		<input type="text" class="form-control" placeholder="firstname">
	            	</div>
	            	<div class="form-group col-sm-4">
	            		<label class="label-control">Lastname</label>
	            		<input type="text" class="form-control" placeholder="lasttname">
	            	</div>
	            	<div class="form-group col-sm-4">
	            		<label class="label-control">DOB</label>
	            		<input type="date" class="form-control" placeholder="lasttname">
	            	</div>
	            </div>
	            <div class="row">
	            	<div class="form-group col-sm-12">
	            		<label class="label-control">Address</label>
	            		<input type="text" class="form-control" placeholder="address">
	            	</div>
	            </div>
	            <div class="row">
	            	<div class="form-group col-sm-8">
	            		<label class="label-control">Suburd</label>
	            		<input type="text" class="form-control" placeholder="suburd">
	            	</div>
	            	<div class="form-group col-sm-4">
	            		<label class="label-control">Post code</label>
	            		<input type="text" class="form-control" placeholder="post code">
	            	</div>
	            </div>
	            <div class="row">
	            	<div class="form-group col-sm-4">
	            		<label class="label-control">Contact number (M)</label>
	            		<input type="text" class="form-control" placeholder="contact number (mobile phone)">
	            	</div>
	            	<div class="form-group col-sm-4">
	            		<label class="label-control">Contact number (H)</label>
	            		<input type="text" class="form-control" placeholder="Contact number (home phone)">
	            	</div>
	            	<div class="form-group col-sm-4">
	            		<label class="label-control">Email</label>
	            		<input type="text" class="form-control" placeholder="Email">
	            	</div>
	            </div>
	            <!-- <div class="row">
	            	<div class="form-group col-sm-6">
	            		<label class="label-control">Appointment date</label>
	            		<input type="text" class="form-control" placeholder="appointment date">
	            	</div>
	            	<div class="form-group col-sm-6">
	            		<label class="label-control">Appointment time</label>
	            		<input type="text" class="form-control" placeholder="appointment time">
	            	</div>
	            </div> -->
            </div>
        </form>
	</div>
</div>
<!-- END Patient details (Affix Patient Label Here)-->

<!-- BEGIN Examination Requested (Please Tick)-->
<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-gift"></i> Examination Requested (Please Tick)
		</div>
		<div class="tools">
			<a href="" class="collapse"></a>
		</div>
	</div>
	<div class="portlet-body form">
        <form role="form">
            <div class="form-body">
	            <div class="row">
	            	<div class="form-group col-sm-12">
	            		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
	            		<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
	            			<label class="label-control"><input type="checkbox" > Private</label>
	            		</div>
						<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
	            			<label class="label-control"><input type="checkbox" > Public</label>
	            		</div>
	            		<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
	            			<label class="label-control"><input type="checkbox" > DVA</label>
	            		</div>
	            		<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
	            			<label class="label-control"><input type="checkbox" > Workers Comp</label>
	            		</div>
	            		<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
	            			<label class="label-control"><input type="checkbox" > MVIT</label>
	            		</div>
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
	            	</div>
	            </div>
            </div>
        </form>
	</div>
</div>
<!-- END Examination Requested (Please Tick)-->

<!-- BEGIN Referred Plastic Surgeon-->
<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-gift"></i> Referred Plastic Surgeon
		</div>
		<div class="tools">
			<a href="" class="collapse"></a>
		</div>
	</div>
	<div class="portlet-body form">
        <form role="form">
            <div class="form-body">
	            <div class="row">
	            	<div class="form-group col-sm-12">
	            		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
	            		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
	            			<label class="label-control"><input type="checkbox" > First Surgeon Available</label>
	            		</div>
	            		<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
	            			<label class="label-control"><input type="checkbox" > Mr Hanh Nguyen</label>
	            		</div>
						<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
	            			<label class="label-control"><input type="checkbox" > Mr Adrian Brooks</label>
	            		</div>
	            		<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
	            			<label class="label-control"><input type="checkbox" > Mr Dan Luo</label>
	            		</div>
	            		<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
	            			<label class="label-control"><input type="checkbox" > Ms Sharon Chu</label>
	            		</div>
	            	</div>
	            </div>
            </div>
        </form>
	</div>
</div>
<!-- END Referred Plastic Surgeon-->

<!-- BEGIN Clinical Details & Relevant Medical History -->
<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-gift"></i> Clinical Details & Relevant Medical History
		</div>
		<div class="tools">
			<a href="" class="collapse"></a>
		</div>
	</div>
	<div class="portlet-body form">
        <form role="form">
            <div class="form-body">
	            <div class="row">
	            	<div class="form-group col-sm-12">
	            		<div class="col-xs-6 col-lg-4">
			            	<textarea rows="20" cols="40" class="form-control"></textarea>
			            </div>
			            <div class="col-xs-6 col-lg-4" style="font-size:75%;">
			            	<div class="row">
			            		<div class="caption">
			            			<label><b>Trauma</b></label>
			            		</div>
			            	</div>
			            	<div class="row">&nbsp;</div>
			            	<div class="row">
			            		<div class="col-md-6">
			            			<label><input type="checkbox" class="margin-checkbox"/>Dislocation</label>
			            		</div>
			            	</div>
			            	<div class="row">&nbsp;</div>
			            	<div class="row">
			            		<div class="col-md-12">
			            			<label>Fracture</label>
			            			<input type="text" />
			            		</div>
			            	</div>
			            	<div class="row">&nbsp;</div>
			            	<div class="row">
			            		<div class="col-md-6">
			            			<label><input type="checkbox" class="margin-checkbox"/>Open</label>
			            		</div>
			            		<div class="col-md-6">
			            			<label><input type="checkbox" class="margin-checkbox"/>Closed</label>
			            		</div>
			            	</div>
			            	<div class="row">&nbsp;</div>
			            	<div class="row">
			            		<div class="col-md-6">
			            			<label><input type="checkbox" class="margin-checkbox"/>Displaced</label>
			            		</div>
			            	</div>
			            	<div class="row">&nbsp;</div>
			            	<div class="row">
			            		<div class="caption">
			            			<label><b>Lacerations</b></label>
			            		</div>
			            	</div>
			            	<div class="row">&nbsp;</div>
			            	<div class="row">
			            		<div class="col-md-6">
			            			<label><input type="checkbox" class="margin-checkbox"/>Hand</label>
			            		</div>
			            		<div class="col-md-6">
			            			<label><input type="checkbox" class="margin-checkbox"/>Nerve</label>
			            		</div>
			            	</div>
			            	<div class="row">&nbsp;</div>
			            	<div class="row">
			            		<div class="col-md-6">
			            			<label><input type="checkbox" class="margin-checkbox"/>Tendon/Muscle</label>
			            		</div>
			            		<div class="col-md-6">
			            			<label><input type="checkbox" class="margin-checkbox"/>Facial</label>
			            		</div>
			            	</div>
			            	<div class="row">&nbsp;</div>
			            	<div class="row">
			            		<div class="col-md-6">
			            			<label><input type="checkbox" class="margin-checkbox"/>Others</label>
			            			<input type="text" style="width: 50%;" />
			            		</div>
			            		<div class="col-md-6">
			            			<label><input type="checkbox" class="margin-checkbox"/>Skin loss</label>
			            		</div>
			            	</div>
			            	<div class="row">&nbsp;</div>
			            	<div class="row">&nbsp;</div>
			            	<div class="row">&nbsp;</div>
			            	<div class="row">
			            		<label style="font-size: 130%; color: red;"><b>*Please call for advise on fasting status for urgent surgical intervention</b></label>
			            	</div>
			            </div>
			            <div class="col-xs-6 col-lg-4" style="font-size:75%;">
			            	<div class="row">
			            		<div class="caption">
			            			<label><b>Elective</b></label>
			            		</div>
			            	</div>
			            	<div class="row">&nbsp;</div>
			            	<div class="row">
			            		<div class="caption">
			            			<label><b>Skin Cancer</b></label>
			            		</div>
			            	</div>
			            	<div class="row">&nbsp;</div>
			            	<div class="row">
			            		<div class="col-md-6">
			            			<label><input type="checkbox" class="margin-checkbox"/>BCC/SCC</label>
			            		</div>
			            		<div class="col-md-6">
			            			<label><input type="checkbox" class="margin-checkbox"/>Melanoma</label>
			            		</div>
			            	</div>
			            	<div class="row">&nbsp;</div>
			            	<div class="row">
			            		<div class="col-md-6">
			            			<label><input type="checkbox" class="margin-checkbox"/>Other</label>
			            		</div>
			            	</div>
			            	<div class="row">&nbsp;</div>
			            	<div class="row">
			            		<div class="caption">
			            			<label><b>Hand Condition</b></label>
			            		</div>
			            	</div>
			            	<div class="row">&nbsp;</div>
			            	<div class="row">
			            		<div class="col-md-6">
			            			<label><input type="checkbox" class="margin-checkbox"/>Ganglion</label>
			            		</div>
			            		<div class="col-md-6">
			            			<label><input type="checkbox" class="margin-checkbox"/>Arthritis</label>
			            		</div>
			            	</div>
			            	<div class="row">&nbsp;</div>
			            	<div class="row">
			            		<div class="col-md-6">
			            			<input type="checkbox" class="margin-checkbox"/>
			            			<label style="float:left;margin-top: -15%; margin-left: 12%;">DeQuervains/Trigger</label>
			            		</div>
			            		<div class="col-md-6">
			            			<label><input type="checkbox" class="margin-checkbox"/>Contracture</label>
			            		</div>
			            	</div>
			            	<div class="row">&nbsp;</div>
			            	<div class="row">
			            		<div class="caption">
			            			<label><b>PNS</b></label>
			            		</div>
			            	</div>
			            	<div class="row">&nbsp;</div>
			            	<div class="row">
			            		<div class="col-md-6">
			            			<label><input type="checkbox" class="margin-checkbox"/>Corpal Tunnel</label>
			            		</div>
			            		<div class="col-md-6">
			            			<label><input type="checkbox" class="margin-checkbox"/>Cubital Tunnel</label>
			            		</div>
			            	</div>
			            	<div class="row">&nbsp;</div>
			            	<div class="row">
			            		<div class="col-md-6">
			            			<label><input type="checkbox" class="margin-checkbox"/>Tarsal Tunnel</label>
			            		</div>
			            		<div class="col-md-6">
			            			<label><input type="checkbox" class="margin-checkbox"/>Other</label>
			            		</div>
			            	</div>
			            	<div class="row">&nbsp;</div>
			            	<div class="row">
			            		<div class="col-md-12">
			            			<label><input type="checkbox" class="margin-checkbox" />Complex Reconstructive Case</label>
			            		</div>
			            	</div>
			            </div>
	            	</div>
	            </div>
            </div>
        </form>
	</div>
</div>
<!-- END Clinical Details & Relevant Medical History -->

<!-- BEGIN Referring Practitioner (including healthlink ID)-->
<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-gift"></i> Referring Practitioner (including healthlink ID)
		</div>
		<div class="tools">
			<a href="" class="collapse"></a>
		</div>
	</div>
	<div class="portlet-body form">
        <form role="form">
            <div class="form-body">
	            <div class="row">
	            	<div class="form-group col-sm-6">
	            		<label class="label-control">Name</label>
	            		<input type="text" class="form-control" placeholder="name">
	            	</div>
	            	<div class="form-group col-sm-6">
	            		<label class="label-control">Healthlink</label>
	            		<input type="text" class="form-control" placeholder="healthlink">
	            	</div>
	            </div>
	            <div class="row">
	            	<div class="form-group col-sm-12">
	            		<label class="label-control">Address</label>
	            		<input type="text" class="form-control" placeholder="address">
	            	</div>
	            </div>
	            <div class="row">
	            	<div class="form-group col-sm-8">
	            		<label class="label-control">Telephone</label>
	            		<input type="number" class="form-control" placeholder="telephone">
	            	</div>
	            	<div class="form-group col-sm-4">
	            		<label class="label-control">Postcode</label>
	            		<input type="number" class="form-control" placeholder="postcode">
	            	</div>
	            </div>
	            <div class="row">
	            	<div class="form-group col-sm-8">
	            		<label class="label-control">Signature</label>
	            		<input type="number" class="form-control" placeholder="signature">
	            	</div>
	            	<div class="form-group col-sm-4">
	            		<label class="label-control">Date</label>
	            		<input type="date" class="form-control" placeholder="date">
	            	</div>
	            </div>
	             <div class="row">
	            	<div class="form-group col-sm-6">
	            		<label class="label-control">Provider Number</label>
	            		<input type="number" class="form-control" placeholder="Provider number">
	            	</div>
	            </div>
            </div>
        </form>
	</div>
</div>
<!-- END Referring Practitioner (including healthlink ID)-->

<!-- Button send request -->
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
	<button type="button" class="btn btn-success">Send request</button>
</div>
<!-- end button -->
<!-- CSS -->
<style type="text/css">
	.margin-checkbox{
		margin-right : 4px !important;
	}
</style>
<!-- END CSS -->
