<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">Telehealth Appointments</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<b>Telehealth Appointments</b>
			<i class="fa fa-angle-right"></i>
		</li>
	</ul>
</div>
<!-- END PAGE HEADER-->

<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption font-blue">
			<i class="icon-list font-blue"></i>
			<span class="caption-subject bold uppercase"> Telehealth Appointments</span>
		</div>
		<div class="actions">
			<a href="javascript:;" class="btn blue btn-sm" ui-sref="loggedIn.appointment.request">
			<i class="icon-envelope"></i>  Send request </a>
			<a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
			</a>
		</div>
	</div>
	<div class="portlet-body">
		<div class="row">
			<div class="panel-group accordion col-md-12" id="filter">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#filter" href="#collapse_1" aria-expanded="false">
								Filter
							</a>
						</h4>
					</div>
					<div id="collapse_1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label class="label-control">Patient</label>
										<input type="text" class="form-control" placeholder="Filter patient">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="label-control">Request From Date</label>
										<input type="date" class="form-control" placeholder="Request From Date">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="label-control">Request To date</label>
										<input type="date" class="form-control" placeholder="Request To Date">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label class="label-control">Doctor</label>
										<input type="text" class="form-control" placeholder="Filter doctor">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="label-control">Approval From Date</label>
										<input type="date" class="form-control" placeholder="Approval From Date">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="label-control">Approval To Date</label>
										<input type="date" class="form-control" placeholder="Approval To Date">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2 col-md-offset-10">
									<a class="btn btn-md blue hidden-print">Filter <i class="fa fa-filter"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- begin filter -->
		<!-- <div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="dataTables_length" id="sample_6_length">
					<label>
						Show 
						<div class="select2-container form-control input-xsmall input-inline" id="s2id_autogen11">
							<a href="javascript:void(0)" class="select2-choice" tabindex="-1">   
								<span class="select2-chosen" id="select2-chosen-12">5</span>
								<abbr class="select2-search-choice-close"></abbr>   
								<span class="select2-arrow" role="presentation">
									<b role="presentation"></b>
								</span>
							</a>
							<label for="s2id_autogen12" class="select2-offscreen"></label>
							<input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-12" id="s2id_autogen12">
							<div class="select2-drop select2-display-none select2-with-searchbox">   
								<div class="select2-search">       
									<label for="s2id_autogen12_search" class="select2-offscreen"></label>       
									<input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-12" id="s2id_autogen12_search" placeholder="">   
								</div>   
								<ul class="select2-results" role="listbox" id="select2-results-12">
								</ul>
							</div>
						</div>
						<select name="sample_6_length" aria-controls="sample_6" class="form-control input-xsmall input-inline select2-offscreen" tabindex="-1" title="">
							<option value="5">5</option>
							<option value="15">15</option>
							<option value="20">20</option>
							<option value="-1">All</option>
						</select> 
						entries
					</label>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div id="sample_6_filter" class="dataTables_filter">
					<label>
						Search:
						<input type="search" class="form-control input-small input-inline" placeholder="" aria-controls="sample_6">
					</label>
				</div>
			</div>
		</div> -->
		<!-- end filter -->

		<!-- begin table -->
		<div class="table-scrollable">
			<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Patient</th>
					<th>Doctor</th>
					<th>Request Date</th>
					<th>Status</th>
					<th>Approval Date</th>
					<th>Correspondence</th>
				</tr>
			</thead>
			<tbody>
			<tbody>
				<tr class="odd gradeX" ng-click="openAppointmentModal()">
					<td>1</td>
					<td>Hana Montana</td>
					<td>Dr Hanh</td>
					<td>01/01/2015 01:01:01</td>
					<td><span class="label label-success">Booked </span></td>
					<td>01/01/2015 01:01:01</td>
					<td><div class="checker"><span class="checked"><input type="checkbox" class="checkboxes" value="1" disabled="true"></span></div></td>
					
				</tr>
				<tr class="odd gradeX">
					
					<td>2</td>
					<td>Andy Bordgard</td>
					<td>Mai Shimura</td>
					<td>01/01/2015 01:01:01</td>
					<td><span class="label label-default">Calling </span></td>
					<td>01/01/2015 01:01:01</td>
					<td><div class="checker"><span class="checked"><input type="checkbox" class="checkboxes" value="1" disabled="true"></span></div></td>
				</tr>
				<tr class="odd gradeX">
					<td>3</td>
					<td>Joe Higatoshi</td>
					<td>Mai Shimura</td>
					<td>01/01/2015 01:01:01</td>
					<td><span class="label label-warning">Pending </span></td>
					<td>01/01/2015 01:01:01</td>
					<td><div class="checker"><span class="checked"><input type="checkbox" class="checkboxes" value="1" disabled="true"></span></div></td>
				</tr>
				<tr class="odd gradeX">
					<td>4</td>
					<td>Mai Shimura</td>
					<td>Joe Higatoshi</td>
					<td>01/01/2015 01:01:01</td>
					<td><span class="label label-danger">Cancel </span></td>
					<td>01/01/2015 01:01:01</td>
					<td><div class="checker"><span class="checked"><input type="checkbox" class="checkboxes" value="1" disabled="true"></span></div></td>
				</tr>
				<tr class="odd gradeX">
					<td>5</td>
					<td>Chizuru Kagura</td>
					<td>Joe Higatoshi</td>
					<td>01/01/2015 01:01:01</td>
					<td><span class="label label-info">Finished </span></td>
					<td>01/01/2015 01:01:01</td>
					<td><div class="checker"><span class="checked"><input type="checkbox" class="checkboxes" value="1" disabled="true"></span></div></td>
				</tr>
			</tbody>
			</table>
		</div>
		<!-- end table -->

		<!-- begin pagination -->
		<div class="row">
			<div class="col-md-5 col-sm-12">
				<div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite">
					Showing 1 to 5 of 43 entries
				</div>
			</div>
			<div class="col-md-7 col-sm-12">
				<div class="dataTables_paginate paging_simple_numbers" id="sample_1_paginate">
					<ul class="pagination">
						<li class="paginate_button previous disabled" aria-controls="sample_1" tabindex="0" id="sample_1_previous">
							<a href="#">
								<i class="fa fa-angle-left"></i>
							</a>
						</li>
						<li class="paginate_button active" aria-controls="sample_1" tabindex="0"><a href="#">1</a></li>
						<li class="paginate_button " aria-controls="sample_1" tabindex="0"><a href="#">2</a></li>
						<li class="paginate_button " aria-controls="sample_1" tabindex="0"><a href="#">3</a></li>
						<li class="paginate_button " aria-controls="sample_1" tabindex="0"><a href="#">4</a></li>
						<li class="paginate_button " aria-controls="sample_1" tabindex="0"><a href="#">5</a></li>
						<li class="paginate_button next" aria-controls="sample_1" tabindex="0" id="sample_1_next">
							<a href="#"><i class="fa fa-angle-right"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- end pagination -->
	</div>
</div>