<div class="modal-content">
	<div class="modal-header my-modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="modal_close()"></button>
		<h4 class="modal-title"><b><i class="fa fa-child"></i>  Body Part</b></h4>
	</div>
	<!-- <div class="modal-body" style="overflow-y:scroll; overflow-x:hidden; max-height:400px;"> -->
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<img src="assets/img/Option 4 newW.jpg" width="100%">
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn default" data-dismiss="modal" ng-click="close()"><i class="icon-action-undo"></i> Close</button>
		<button type="button" class="btn green"><i class="glyphicon glyphicon-save"></i> Save</button>
	</div>
</div>

<script>
	ComponentsPickers.init(); // init todo page
	Portfolio.init(); // coi hinh
	Metronic.initAjax();
	ComponentsDropdowns.init(); // init todo page
</script>
