.eform-dialog-fixed {
    display: none;
    padding: 15px;
    border: 1px solid black;
    position:fixed;
    top: 0;
    bottom:0;
    right:0;
    z-index: 10;
    overflow-y:scroll;
    overflow-x:hidden;
    width: 25%;
    background-color: white;

}

.eform-font-sm {
    font-size: 12px;
}

.eform-word-wrap {
    word-wrap: break-word;
}

.eform-btn-toolbar-size {
    width: 40px;
}

.eform-bg-hover-blue:hover {
    background: #2a70a5;
    color: white;
}

.eform-col-center {
    margin: auto;
    max-width: 50%;
}

.eform-selection-field {
    border-left: 4px solid #00A0D1!important;
}