<!-- BEGIN PAGE HEADER-->
<div class="page-bar ">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="authentication.onsite.home">Onsite </a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <b>Appointment</b>
        </li>
    </ul>
</div>
<br>
<!-- END PAGE HEADER-->

<!-- content page -->
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-calendar"></i>
            <span class="caption-subject bold uppercase">Onsite Appointment</span>
        </div>
        <!-- <div class="tools hidden-xs">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="fullscreen"> </a>
        </div> -->
        <ul class="nav nav-tabs">
            <li>
                <a href="index.html#tab_4" data-toggle="tab"> Medical Images</a>
            </li>
            <li>
                <a href="index.html#tab_3" data-toggle="tab"> Treating Practitioner</a>
            </li>
            <li>
                <a href="index.html#tab_2" data-toggle="tab"> Patient</a>
            </li>
            <li class="active">
                <a href="index.html#tab_1" data-toggle="tab"> Basic Information</a>
            </li>
        </ul>
    </div>
    <div class="portlet-body form">
        <form class="form">
            <div class="form-body" style="margin-left:1em; margin-right:1em;">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <h3 class="form-section bold">Basic Information</h3>
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Appointment Date</label>
                                    <input type="text" class="form-control date-picker"
                                        data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy"
                                        readonly="true" data-date-start-date="0d"
                                        ng-model="appointment.appointmentDate">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Appointment Time</label>
                                    <input type="text" class="form-control timepicker timepicker-no-seconds"
                                        data-default-time="" data-format="hh:mm A" readonly="true"
                                        placeholder="hh:mm">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Patient Name</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_2">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-md-offset-1 col-sm-offset-1">
                                <h3 class="form-section bold">Basic Information</h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Title</label>
                                            <select class="form-control" ng-model="appointment.title">
                                                <option value="">Select title</option>
                                                <option value="mr">Mr</option>
                                                <option value="mrs">Mrs</option>
                                                <option value="Miss">Miss</option>
                                                <option value="Dr">Doctor</option>
                                                <option value="Master">Master</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Firstname</label>
                                            <input type="text" class="form-control" ng-model="appointment.firstname">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Middlename</label>
                                            <input type="text" class="form-control" ng-model="appointment.middlename">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Lastname</label>
                                            <input type="text" class="form-control" ng-model="appointment.lastname">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">DOB</label>
                                            <input type="text" class="form-control date-picker" 
                                                data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy"
                                                ng-model="appointment.dob">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Gender</label>
                                            <div class="radio-list">
                                                <label class="radio-inline">
                                                    <input type="radio" name="gender" ng-model="appointment.gender" value="m"> Male
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="gender" ng-model="appointment.gender" value="f"> Female
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Marital Status</label>
                                            <select class="form-control" ng-model="appointment.marital_status">
                                                <option value="">Select status</option>
                                                <option value="married">Married</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label">Indigenrous Status</label>
                                            <div class="radio-list">
                                                <label class="radio-inline">
                                                    <input type="radio" name="gender" ng-model="appointment.indigenrous" value="aboriginal"> Aboriginal
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="gender" ng-model="appointment.indigenrous" value="torres_strait_islander"> Torres Strait Islander
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="gender" ng-model="appointment.indigenrous" value="none"> None
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 col-sm-5">
                                        <div class="form-group">
                                            <label class="control-label">Interpreter required ?</label>
                                            <div class="radio-list">
                                                <label class="radio-inline">
                                                    <input type="radio" name="gender" ng-model="appointment.interpreter" value="y"> Yes
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="gender" ng-model="appointment.interpreter" value="n"> No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        <div class="form-group">
                                            <label class="control-label">If yes, language/dialect</label>
                                            <input type="text" class="form-control" ng-model="appointment.language">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label">Other special needs ?</label>
                                            <input type="text" class="form-control" ng-model="appointment.other_special_need">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1">
                                <h3 class="form-section bold">Contact Information</h3>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Contact Number (M)</label>
                                            <input type="text" class="form-control" ng-model="appointment.mobile">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Contact Number (H)</label>
                                            <input type="text" class="form-control" ng-model="appointment.homephone">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-sm-8">
                                        <div class="form-group">
                                            <label class="control-label">Email</label>
                                            <input type="text" class="form-control" ng-model="appointment.email">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Fax Number</label>
                                            <input type="text" class="form-control" ng-model="appointment.fax">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label">Address1</label>
                                            <input type="text" class="form-control" ng-model="appointment.address1">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label">Address2</label>
                                            <input type="text" class="form-control" ng-model="appointment.address2">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-sm-8">
                                        <div class="form-group">
                                            <label class="control-label">Suburb</label>
                                            <input type="text" class="form-control" ng-model="appointment.suburb">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Postcode</label>
                                            <input type="text" class="form-control" ng-model="appointment.postcode">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">State</label>
                                            <select class="form-control" ng-model="appointment.state">
                                                <option value="">Select state</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Country</label>
                                            <select class="form-control" ng-model="appointment.country">
                                                <option value="">Select country</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-md-offset-1 col-sm-offset-1">
                                <h3 class="form-section bold">Next of Kin/Guardian</h3>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label">Name</label>
                                            <input type="text" class="form-control" ng-model="appointment.nok_name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Relationship</label>
                                            <input type="text" class="form-control" ng-model="appointment.nok_relationship">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Contact Number</label>
                                            <input type="text" class="form-control" ng-model="appointment.nok_contact_number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1">
                                <h3 class="form-section bold">Medicare Information</h3>
                                <div class="row">
                                    <div class="col-md-12 -col-sm-12">
                                        <div class="form-group">
                                            <div class="radio-list">
                                                <label class="radio-inline">Medicare Eligible</label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="medicare_eligible" value="y"> Yes
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="medicare_eligible" value="n"> No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Medicare Number</label>
                                            <input type="text" class="form-control" ng-model="appointment.medicare_number">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Medicare Reference Number</label>
                                            <input type="text" class="form-control" ng-model="appointment.medicare_reference_number">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Expiry Date</label>
                                            <input type="text" class="form-control date-picker" placeholder="dd/mm/yyyy"
                                                data-date-format="dd/mm/yyyy"
                                                ng-model="appointment.medicare_expiry_date">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">DVA Number</label>
                                            <input type="text" class="form-control" ng-model="appointment.medicare_DVA">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_3">
                        <h3 class="form-section bold">Treating Practitioner</h3>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-md-offset-1 col-sm-offset-1">
                                <div class="form-group">
                                    <label class="control-label">Doctor Type</label>
                                    <select class="form-control">
                                        <option value="">Select doctor type</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Doctor List</label>
                                    <select class="form-control" size="5">
                                        <option value="">Select doctor</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Firstname</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Middlename</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label class="control-label">Lastname</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Contact Number</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Department</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_4">
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <button type="submit" class="btn btn-lg green">
                    Submit <i class="glyphicon glyphicon-save"></i></button>
            </div>
        </form>
    </div>
</div>
<!-- end content page -->
