<!-- BEGIN Activation FORM -->
<form class="register-form" method="post">
	<h3 class="form-title">Activation</h3>
	<div class="alert alert-danger display-hide">
		<button class="close" data-close="alert"></button>
		<span>
		Enter any activation code. </span>
	</div>
	<div class="form-group">
		<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
		<label class="control-label visible-ie8 visible-ie9">Activation</label>
		<div class="input-icon">
			<i class="fa fa-key"></i>
			<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Activation" name="username"/>
		</div>
	</div>
	<div class="orm-actions">
		<a href="" id="register-back-btn" class="btn btn-default pull" ui-sref="unAuthentication.register">
            <i class="m-icon-swapleft"></i> Cancel 
        </a>
         <button type="submit" id="register-submit-btn" class="btn green pull-right">
            Activation <i class="m-icon-swapright m-icon-white"></i>
        </button>
	</div>
</form>
<!-- END Activation FORM -->