<div ng-show="isCheck==true"> 
    <form method="post" class="forget-form" novalidate name="changepassForm">
        <h3 class="form-title">Change Password </h3>
        <p>Enter your new password to reset your password.</p>
        <div class="form-group">
            <input class="form-control placeholder-no-fix" type="password" ng-model="data.newpass" placeholder="New Password" name="newpass" ng-style="err.newpass.css" ng-change="err.newpass='';checkDataNull('newpass')" />
            <!--validate-->
            <span style="color:red;">{{err.newpass.msg}}</span>
            <!--end validate-->
        </div>
        <div class="form-group">
            <input class="form-control placeholder-no-fix" type="password" ng-model="data.verifypass" placeholder="Verify Password" name="verifypass" ng-style="err.verifypass.css" ng-change="err.verifypass='';checkDataNull('verifypass')" />
            <!--validate-->
            <span style="color:red;">{{err.verifypass.msg}}</span>
            <!--end validate-->
        </div>
        <div class="form-actions">
            <button type="button" id="back-btn" ui-sref="unAuthentication.login" class="btn red">Back </button>
            <button class="btn green pull-right" ng-click="changePass()">Submit</button>
        </div>
    </form>
</div>