<!-- BEGIN LOGO -->
<div class="logo">
    <a href="">
    <!-- <img src="assets/metronic/assets/admin/layout/img/logo-big.png" alt=""/> -->
    <img src="/{{settings.globalPath}}/images/logoRedimed.png" alt="" style="width:15%"/>
    </a>
</div>
<!-- END LOGO -->
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->

<div class="content">
    <form method="post" class="forget-form" novalidate name="forgetForm" style="display: block;">
        <h3 class="form-title font-green">Forget Password ?</h3>
        <p>Enter your e-mail address below to reset your password.</p>
        <div class="form-group">
            <input class="form-control placeholder-no-fix" ng-model="email" placeholder="Email" name="email" ng-style="errors" ng-change="errors='';emailError='';checkDataNull()" />
            <!--validate-->
            <span style="color:red;">{{emailError}}</span>
            <!--end validate-->
        </div>
        <div class="form-actions">
            <button type="button" id="back-btn" ui-sref="unAuthentication.login" class="btn btn-default uppercase">
                <i class="glyphicon glyphicon-arrow-left"></i> Back </button>
            <button class="btn green uppercase pull-right" ng-click="forgotPass()">
                Submit <i class="glyphicon glyphicon-arrow-right"></i>
            </button>
        </div>
    </form>
</div>

<div class="copyright"> 2015 © Redimed. Admin Dashboard Template. </div>