<div class="content-patient">
	<div class="content-button">
		<div class="btn-group my-btn-group">
			<a href="javascript:;" 
				ui-sref="unAuthentication.registerPatient" 
				class="btn "><img src="theme/assets/global/images/btn-registration.png"></a>
			<a href="javascript:;" 
				ui-sref="unAuthentication.searchPatient" 
				class="btn"><img src="theme/assets/global/images/btn-searchPatient.png"></a>
		</div>
	</div>
</div>

<script type="text/javascript">
    document.body.className = "login";
</script>