<form class="register-form margin-bottom-40" role="form" class="">
    <h3><b>Sign Up</b></h3>
    <p>Enter your personal details below:</p>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <h4><span class="my-step-number">1</span><b>User Account</b></h4></div>
        <div class="col-md-4 col-sm-4">
            <h4><span class="my-step-number">2</span><b>Personal Info</b></h4></div>
        <div class="col-md-4 col-sm-4">
            <h4><span class="my-step-number">3</span><b>Signature</b></h4></div>
    </div>
    <div ng-show="step==1">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="progress progress-sm progress-striped active">
                    <div class="progress-bar progress-bar-danger " style="width: 30%">
                        <span class="sr-only">35% Complete (success) </span>
                    </div>
                    <!-- <div class="progress-bar progress-bar-warning" style="width: 40%">
						<span class="sr-only">20% Complete (warning) </span>
					</div>
					<div class="progress-bar progress-bar-danger" style="width: 40%">
						<span class="sr-only">10% Complete (danger) </span>
					</div> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <input class="form-control" ng-model="data.UserName" />
                    <label for="Username">Username</label>
                    <!-- <span class="help-block">Error Username</span> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <input class="form-control" type="password" id="register_password" ng-model="data.Password" />
                    <label for="Password">Password</label>
                    <!-- <span class="help-block">Error Password</span> -->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <input class="form-control" type="password" ng-model="data.RePassword" />
                    <label for="RePassword">Re-type Your Password</label>
                    <!-- <span class="help-block">Error Re-type Your Password</span> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <input type="input" class="form-control" id="txtMobile" maxlength="17" ng-model="data.PhoneNumber">
                    <label for="Mobile">Mobile</label>
                    <!-- <span class="help-block">Error Mobile</span> -->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <input id="txtEmail" class="form-control" type="text" ng-model="data.Email" />
                    <label for="Email">Email</label>
                    <!-- <span class="help-block">Error Mobile</span> -->
                </div>
            </div>
        </div>
        <hr>
        <div class="form-actions">
            <a href="" id="register-back-btn" class="btn btn-default pull" ui-sref="unAuthentication.login"><i class="m-icon-swapleft"></i> Cancel </a>
            <button type="submit" id="register-submit-btn" class="btn blue pull-right" ng-click="checkUser(data)">Continue <i class="m-icon-swapright m-icon-white"></i></button>
        </div>
    </div>
    <div ng-show="step==2">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="progress progress-sm progress-striped active">
                    <div class="progress-bar progress-bar-danger" style="width: 30%">
                        <span class="sr-only">35% Complete (success) </span>
                    </div>
                    <div class="progress-bar progress-bar-warning" style="width: 50%">
                        <span class="sr-only">20% Complete (warning) </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <br>
                <div class="form-group ">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 200px;">
                            <!-- <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" /> -->
                            <img src="{{settings.globalPath}}/images/no_image.png" width="200px" height="200px">
                        </div>
                        <br>
                        <div>
                            <span class="btn green btn-file">
                            <span class="fileinput-new">
                            Select Image </span>
                            <span class="fileinput-exists">
                            Change </span>
                            <input type="file" nv-file-select uploader="uploaders">
                            </span>
                            <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput">
                            Remove </a>
                        </div>
                    </div>
                    <div class="clearfix margin-top-10">
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group form-md-line-input form-md-floating-label">
                            <input type="input" class="form-control" id="txtFirstName" ng-model="data.FirstName">
                            <label for="Firstname">Firstname</label>
                            <!-- <span class="help-block">Error Firstname</span> -->
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group form-md-line-input form-md-floating-label">
                            <input type="input" class="form-control" id="txtMiddlename" ng-model="data.MiddleName">
                            <label for="Middlename">Middlename</label>
                            <!-- <span class="help-block">Error Middlename</span> -->
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group form-md-line-input form-md-floating-label">
                            <input type="input" class="form-control" id="txtLastName" ng-model="data.LastName">
                            <label for="Lastname">Lastname</label>
                            <!-- <span class="help-block">Error Lastname</span> -->
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <input id="txtHealthlinkID" only-number class="form-control" type="text" ng-model="data.HealthlinkID">
                    <label for="HealthlinkID">Healthlink ID</label>
                    <!-- <span class="help-block">Error HealthlinkID</span> -->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <input type="input" only-number class="form-control" id="txtProviderNumber" ng-model="data.ProviderNumber">
                    <label for="Providernumber">Providernumber</label>
                    <!-- <span class="help-block">Error Providernumber</span> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <input type="input" maxlength="9" class="form-control" id="txtWorkphone" ng-model="data.WorkPhoneNumber">
                    <label for="Workphone">Workphone</label>
                    <!-- <span class="help-block">Error Workphone</span> -->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <input type="input" maxlength="9" class="form-control" id="txtWorkphone" ng-model="data.HomePhoneNumber">
                    <label for="Homephone">Homephone</label>
                    <!-- <span class="help-block">Error Homephone</span> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <input class="form-control" type="text" ng-model="data.Address1">
                    <label for="Address1">Address1</label>
                    <!-- <span class="help-block">Error Address1</span> -->
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <input class="form-control" type="text" ng-model="data.Address2">
                    <label for="Address2">Address2</label>
                    <!-- <span class="help-block">Error Address2</span> -->
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <input id="txtPostcode" maxlength="4" class="form-control" type="text" ng-model="data.Postcode">
                    <label for="Postcode">Postcode</label>
                    <!-- <span class="help-block">Error Postcode</span> -->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <input id="txtSuburb" class="form-control" type="text" ng-model="data.Suburb">
                    <label for="Suburb">Suburb</label>
                    <!-- <span class="help-block">Error Suburb</span> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <select ng-model="data.State" id="States" class="form-control">
                        <option value=""></option>
                        <option value="Victoria">Victoria</option>
                        <option value="New_South_Wales">New South Wales</option>
                        <option value="Queensland">Queensland</option>
                        <option value="Austria_Capital_Territory">Austria Capital Territory</option>
                        <option value="Northern_Territory">Northern Territory</option>
                        <option value="Western_Australia">Western Australia</option>
                        <option value="Tasmania">Tasmania</option>
                    </select>
                    <label for="State">States</label>
                    <!-- <span class="help-block">Error State</span> -->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <select ng-model="data.CountryID" ng-options="c.ID as c.ShortName for c in country" id="Country" class="form-control edited" disabled>
                        <option value=""></option>
                    </select>
                    <label for="Country">Country</label>
                    <!-- <span class="help-block">Error Country</span> -->
                </div>
            </div>
        </div>
        <hr>
        <div class="form-actions">
            <a href="" id="register-back-btn" class="btn btn-default pull" ng-click="btn_back()"><i class="m-icon-swapleft"></i> Back</a>
            <!-- <button type="submit" id="register-submit-btn" class="btn green pull-right">Register <i class="m-icon-swapright m-icon-white"></i></button> -->
            <button type="submit" id="register-submit-btn" class="btn blue pull-right" ng-click="checkInfo(data)">Continue <i class="m-icon-swapright m-icon-white"></i></button>
        </div>
    </div>
    <div ng-show="step==3">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="progress progress-sm progress-striped active">
                    <div class="progress-bar progress-bar-danger" style="width: 30%">
                        <span class="sr-only">35% Complete (success) </span>
                    </div>
                    <div class="progress-bar progress-bar-warning" style="width: 50%">
                        <span class="sr-only">20% Complete (warning) </span>
                    </div>
                    <div class="progress-bar progress-bar-success" style="width: 20%">
                        <span class="sr-only">10% Complete (danger) </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="form-group ">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 400px; height: 150px;">
                            <!-- <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" /> -->
                        </div>
                        <br>
                        <div style="text-align:right;">
                            <span class="btn green btn-file">
                            <span class="fileinput-new">
                            Signature </span>
                            <span class="fileinput-exists">
                            Change </span>
                            <input type="file" nv-file-select uploader="uploader">
                            </span>
                            <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput">
                            Remove </a>
                        </div>
                    </div>
                    <div class="clearfix margin-top-10">
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <!-- BEGIN REPCAPTCHA -->
                    <!--<div id="recaptcha_widget" class="form-recaptcha">
                        <div class="form-recaptcha-img" style="width: 400px">
                            <a id="recaptcha_image" href="javascript:;"> </a>
                            <div class="recaptcha_only_if_incorrect_sol display-none" style="color:red"> Incorrect please try again </div>
                        </div>
                        <div class="input-group" style="width: 400px">
                            <input type="text" class="form-control" id="recaptcha_response_field" ng-model="recaptcha_response_field">
                            <div class="input-group-btn">
                                <a class="btn default" href="javascript:Recaptcha.reload()">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a class="btn default recaptcha_only_if_image" href="javascript:Recaptcha.switch_type('audio')">
                                    <i title="Get an audio CAPTCHA" class="fa fa-headphones"></i>
                                </a>
                                <a class="btn default recaptcha_only_if_audio" href="javascript:Recaptcha.switch_type('image')">
                                    <i title="Get an image CAPTCHA" class="fa fa-picture-o"></i>
                                </a>
                                <a class="btn default" href="javascript:Recaptcha.showhelp()">
                                    <i class="fa fa-question-circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <p class="help-block">
                        <span class="recaptcha_only_if_image"> Enter the words above </span><br>
                        <span class="recaptcha_only_if_audio"> Enter the numbers you hear </span>
                    </p>
                    <!-- END REPCAPTCHA -->
        <!--        </div>
            </div>
        </div>
        <hr>-->
        <div class="form-actions">
            <a href="" id="register-back-btn" class="btn btn-default pull" ng-click="btn_back()"><i class="m-icon-swapleft"></i> Back</a>
            <button type="submit" id="register-submit-btn" class="btn green pull-right" ng-click="save(data)">Register <i class="m-icon-swapright m-icon-white"></i></button>
        </div>
    </div>
</form>
<style type="text/css">
@media (min-width: 1368px) {
    .login .content {
        width: 35% !important;
    }
}

@media (max-width: 1367px) {
    .login .content {
        width: 60% !important;
    }
}
</style>
<script>
// Metronic.setAssetsPath('theme/assets/'); // Set the assets folder path
// Login.init();
</script>
<script type="text/javascript">
// Metronic.setAssetsPath('theme/assets/'); // Set the assets folder path	
// FormWizard.init(); // form step
</script>
