<!-- <div class="login" style="background-color: #fff !important;"> -->
	<!-- BEGIN LOGO -->
	<div class="logo">
		<a href="index.html">
		<!-- <img src="assets/metronic/assets/admin/layout/img/logo-big.png" alt=""/> -->
		<img src="assets/img/logoRedimed.png" alt="" style="width:15%"/>
		</a>
	</div>
	<!-- END LOGO -->
	<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
	<div class="menu-toggler sidebar-toggler">
	</div>
	<!-- END SIDEBAR TOGGLER BUTTON -->
	<!-- BEGIN LOGIN -->
	<div ui-view="main-content" class="content">
	</div>
	<!-- END LOGIN -->
<!-- </div> -->

<script type="text/javascript">
    document.body.className = "login";
</script>