<!-- <div class="login" style="background-color: #fff !important;"> -->
	<!-- BEGIN LOGO -->
	<!-- <div class="logo">
		<a href="">
		<img src="/{{settings.globalPath}}/images/logoRedimed.png" alt="" style="width:15%"/>
		</a>
	</div> -->
	<!-- END LOGO -->
	<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
	<!-- <div class="menu-toggler sidebar-toggler"></div> -->
	<!-- END SIDEBAR TOGGLER BUTTON -->
	<!-- BEGIN LOGIN -->
	<div ui-view="main-content"></div>
	<!-- <div class="copyright"> 2015 © Redimed. Admin Dashboard Template. </div> -->
	<!-- END LOGIN -->
<!-- </div> -->

<script type="text/javascript">
    document.body.className = "login";
</script>