<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">User Management</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<b>User Management</b>
			<!-- <i class="fa fa-angle-right"></i> -->
		</li>
	</ul>
</div>
<!-- END PAGE HEADER-->

<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption font-green">
			<i class="icon-list font-green"></i>
			<span class="caption-subject bold uppercase"> User Management</span>
		</div>
		<div class="actions">
			<a href="javascript:;" class="btn btn-circle red-thunderbird btn-sm" ng-click="toggleFilter()">
				<i class="fa fa-filter"></i> Filter
			</a>
			<a href="javascript:;" class="btn btn-circle blue btn-sm">
				<i class="fa fa-plus"></i> Create
			</a>
			<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
		</div>
	</div>
	<div class="portlet-body">
		<!-- begin filter -->
		<span ng-hide="toggle">
            <div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label class="label-control">Username</label>
						<input type="text" class="form-control input-sm" placeholder="Username">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="label-control">Email</label>
						<input type="text" class="form-control input-sm" placeholder="Email">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="label-control">Phone Number</label>
						<input type="text" class="form-control input-sm" placeholder="Phone Number">
					</div>
				</div>
			</div>
        </span>
        <span ng-show="toggle"></span>
		<!-- end filter -->

		<!-- begin table -->
		<div class="table-scrollable">
			<table class="table table-striped table-bordered table-hover" id="sample_1">
			<thead>
				<tr>
					<th>#</th>
					<th>
						Username
						<span class="fa fa-sort-asc sortTable_ASC" ng-click="sortASC('FirstName ASC')" ></span>
	 					<span class="fa fa-sort-desc sortTable_DESC" ng-click="sortDESC('FirstName DESC')"></span>
					</th>
					<th>
						Email
						<span class="fa fa-sort-asc sortTable_ASC" ng-click="sortASC('Email ASC')" ></span>
	 					<span class="fa fa-sort-desc sortTable_DESC" ng-click="sortDESC('Email DESC')"></span>
					</th>
					<th>
						Phone Number
						<span class="fa fa-sort-asc sortTable_ASC" ng-click="sortASC('PhonNumber ASC')" ></span>
	 					<span class="fa fa-sort-desc sortTable_DESC" ng-click="sortDESC('PhonNumber DESC')"></span>
					</th>
					<th width="1%">Active</th>
					<th width="1%">Enable</th>
				</tr>
			</thead>
			<tbody>
				<tr class="odd gradeX" ng-click="userListDetail()">
					<td>1</td>
					<td>Ioriyagami</td>
					<td>iori@yagami.au</td>
					<td>09 6969 6969</td>
					<td class="my-table-td"><input type="checkbox" class="icheck" checked></td>
					<td class="my-table-td"><input type="checkbox" class="icheck" checked></td>
				</tr>
				<tr class="odd gradeX">
					<td>2</td>
					<td>Kyokusanagi</td>
					<td>kyo@kusagini.au</td>
					<td>09 8484 8484</td>
					<td class="my-table-td"><input type="checkbox" class="icheck" ></td>
					<td class="my-table-td"><input type="checkbox" class="icheck" ></td>
				</tr>
			</tbody>
			</table>
		</div>
		<!-- end table -->

		<!-- begin pagination -->
		<div class="row">
			<div class="col-md-5 col-sm-12">
				<div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite">
					<!-- Showing 1 to 20 of 103 entries -->
				</div>
			</div>
			<div class="col-md-7 col-sm-12">
				<div class="dataTables_paginate paging_simple_numbers" id="sample_1_paginate">
					<ul class="pagination">
						<li class="paginate_button previous disabled" aria-controls="sample_1" tabindex="0" id="sample_1_previous">
							<a href="#"><i class="fa fa-angle-left"></i></a>
						</li>
						<li class="paginate_button active" aria-controls="sample_1" tabindex="0"><a href="#">1</a></li>
						<li class="paginate_button " aria-controls="sample_1" tabindex="0"><a href="#">2</a></li>
						<li class="paginate_button " aria-controls="sample_1" tabindex="0"><a href="#">3</a></li>
						<li class="paginate_button " aria-controls="sample_1" tabindex="0"><a href="#">4</a></li>
						<li class="paginate_button " aria-controls="sample_1" tabindex="0"><a href="#">5</a></li>
						<li class="paginate_button next" aria-controls="sample_1" tabindex="0" id="sample_1_next">
							<a href="#"><i class="fa fa-angle-right"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- end pagination -->
	</div>
</div>