/*body { background-color: white;}*/

.login{
	background-color: white !important;
}
.content{ 
	border: 1px solid #ccc;
}

.register-form {display: block !important;}
.page-header {background-color: white;}
.page-header.navbar {
	background: white url('../img/bk-header.png') ;
	background-size: 100% 46px ;
}


.page-header.navbar .page-logo .logo-default {
    margin: 0px 0 0 0;
    width: 200px;
	height: 46px;
}

.app-modal-window .modal-dialog{
	width: 75%;
}

.my-modal-header{
	background-color: #45B6AF;
    color: #fff;
}

.portlet-body .my-portlet-body {
	margin: 1em 1em;
}

.bootstrap-select.btn-group .dropdown-menu {
    z-index: 99999999 !important;
}
