<html>

<head>
    <meta charset="UTF-8">
    <title>Welcome - Register Patient</title>
</head>

<body>
	<div>Thank you for checking in with REDIMED Total Health Solutions.</div><br/>
    <div>Your username and password is <b><%= userInfo.UserName %> / <%= userInfo.Password %>. </b> </div><br/>
    <div> You will need this code for any future appointments with REDIMED so we can better track your Skin Screening history.</div><br/><br/>
    <div>Kind regards</div><br/>
    <div>REDIMED Team</div><br/>
</body>
</html>