<form name="form" ng-submit="submit()">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" 
			aria-hidden="true" ng-click="cancel()"></button>
		<h4 class="modal-title uppercase bold font-red">
			<i class="glyphicon glyphicon-calendar"></i> {{selectedDate}}</h4>
	</div>
	<div class="modal-body">
		<div class="col-md-6 col-sm-6 form-group">
			<label class="control-label">Service</label>
			<select class="form-control"
				ng-options="item.UID as item.ServiceName for item in listServices"
				ng-model="formData.service">
			</select>
		</div>
		<div class="col-md-6 col-sm-6 form-group">
			<label class="control-label">Site</label>
			<select class="form-control"
				ng-options="item.UID as item.SiteName for item in listSites"
				ng-model="formData.site">
			</select>
		</div>
		<div class="col-md-6 col-sm-6 form-group">
			<label class="control-label">From Time</label>
			<input type="text" class="form-control timepicker timepicker-24" data-default-time='' 
				ng-model="formData.fromTime">
		</div>
		<div class="col-md-6 col-sm-6 form-group">
			<label class="control-label">To Time</label>
			<input type="text" class="form-control timepicker timepicker-24" data-default-time=''
				data-time-start-time="10:00"
				ng-model="formData.toTime">
		</div>
		<div class="col-md-12 form-group">
			<!-- <label>Is Reoccurance</label> -->
			<div class="radio-list">
				<label>
					<input type="checkbox" 
					name="isReoccurance"
					ng-model="formData.isReoccurance"
					ng-true-value="'Y'"
					ng-false-value="'N'"
					ng-change="checkReoccurance(formData.isReoccurance)"> Is Recurrance
				</label>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 form-group" ng-show="formData.isReoccurance == 'Y'">
			<label class="control-label">Recurrance Type</label>
			<select class="form-control" ng-model="formData.reoccuranceType">
				<option value=""></option>
				<option value="daily">Daily</Dailyn>
				<option value="weekly">Weekly</option>
			</select>
		</div>
		<div class="col-md-6 col-sm-6 form-group" ng-show="formData.isReoccurance == 'Y'">
			<label class="control-label">End Recurrance</label>
			<input type="text" class="form-control date-picker" readonly 
				data-date-format="dd/mm/yyyy"
				data-date-start-date="{{selectedDate}}" 
				
				ng-model="formData.endReoccurance">
		</div>
	</div>
	<center style="margin-bottom: 10px;">
		<button type="button" class="btn btn-lg dark" data-dismiss="modal" 
			ng-click="cancel()">Cancel</button>
		<button type="submit" class="btn btn-lg red">
			<i class="glyphicon glyphicon-save"></i> Submit</button>
	</center>
</form>
