/* here you can put your own css to customize and override the theme */


.content-patient{
    background-color: blue;
    background-image: url('../../../global/images/bkloginPatient.jpg');  
    background-repeat: no-repeat;
    position: relative;
    margin: 3% auto;
    width: 1054px;
    height:818px;
}
.content-patient .content-button{
    position: fixed;
    position: absolute;
    width: 44%;
    height: 462px;
    left: 0;
    bottom: 0;
    margin-bottom: 34px;
    margin-left: 35px;

}
.content-patient .content-button .my-btn-group{
    margin-top: 217px;
    margin-left: 10px;
}

.content-patient .content-button .my-btn-group a{
    padding: 16px 23px;
    margin-bottom: 13px;
}

.login {
    background-color: #ccc !important;
}

.content {
    /*border: 1px solid #ccc;*/
    /*width: 380px !important;*/
}

.register-form {
    display: block !important;
}

.contentPatient{
    vertical-align: middle;
    padding-top: 6em;
}
.my-form-body-padding{
    padding-left: 2em !important; 
    padding-right:2em !important;
}

.page-header {
    background-color: white;
}

.page-header.navbar {
    background-color: white;
    box-shadow: 0px 0px 10px 0px #888; 
    height: 60px;
}

.page-header.navbar .search-form{
    background-color: #f1f4f7 !important;
    border-radius: 20px;
    margin: 7px 0px;
}

.page-header.navbar .search-form .input-group .form-control {
    color: #959fad;
}

.page-header.navbar .page-logo {
    width: 300px;
    margin: 7px 0px;
}

.page-header.navbar .top-menu ul {
    margin: 7px 0;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown:last-child a:hover {
    background-color: #f1f4f7;
}

.my-page-title{
    background-color: #454d58;
    color: white;
    display: block;
    margin: -6px 0px 10px -20px;
    padding: 12px 20px;
    /*font-weight: bold;*/
    font-family: sans-serif;
}

.page-container-bg-solid .page-bar, .page-content-white .page-bar {
    margin: 0px -20px 0 !important;
}

.my-modal-body {
    padding: 0em 2em 2em 2em;
}

.page-sidebar .page-sidebar-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
    margin-top: 77px;
}

.progress-bar-purple {
    background-color: purple;
}
/*fix sitebar*/
@media (min-width: 992px){}
.page-sidebar {
    width: 300px;
}

@media (min-width: 992px){}
.page-content-wrapper .page-content {
    margin-left: 300px; 
    margin-top: -5px;
}

/*fix label input_md*/

.form-group.form-md-line-input .form-control~label {
    font-size: 16px;
}


/* fix font panel*/

.panel-body {
    font-size: 14px !important;
}

.page-header.navbar .page-logo .logo-default {
    margin: 0px 0 0 0;
    width: 200px;
    height: 46px;
}

table:hover{
    cursor: pointer;
}
@media (min-width: 1368px) {
    .app-modal-window .modal-dialog {
        width: 75%;
    }
}

@media (max-width: 1367px) {
    .app-modal-window .modal-dialog {
        width: 90%;
    }
}

ul.my-ul {
    list-style-type: none;
}

.my-modal-header {
    background-color: #36c6d3;
    color: #fff;
}

.portlet-body .my-portlet-body {
    margin: 1em 1em;
}

.bootstrap-select.btn-group .dropdown-menu {
    z-index: 99999999 !important;
}

.my-step-number {
    background-color: #dde3ec;
    display: inline-block;
    text-align: center !important;
    font-size: 16px;
    font-weight: 300;
    padding: 14px 15px 13px 15px;
    margin-right: 10px;
    height: 45px;
    width: 45px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.tableSort {
    float: right;
}

.sortDataTable {
    float: right;
}

#recaptcha_widget_div {
    display: none;
}


/*modal*/

.page-header.navbar.navbar-fixed-top,
.page-header.navbar.navbar-static-top {
    z-index: 995 !important;
}


/*portfilo*/

.mix-grid .mix .mix-details {
    background-color: rgba(126, 126, 126, 0.5) !important;
}

.mix-grid .mix a.mix-link,
.mix-grid .mix a.mix-preview {
    background: #ccc;
}

.nav-tabs>li>a {
    background: #ddd;
}


/*begin custom left sitebar*/

.tabs-left.nav-tabs>li>i {
    width: 37px;
    height: 37px;
    display: inline-block;
    color: #b9cbd5;
    font-size: 15px;
    padding: 12px 10px 10px 8px;
    margin: 0 8px 0 0;
    text-align: center;
    background: #e0eaf0!important;
}

.tabs-left.nav-tabs>li>a {
    color: #557386;
    font-size: 1.25em;
    background-color: #f0f6fa;
    border-left: solid 5px #c4d5df;
}

.tabs-left.nav-tabs>li>a {
    font: 1.5em !important;
    padding: 1em 15px;
}

.tabs-left.nav-tabs>li>a:focus,
.tabs-left.nav-tabs>li>a:hover {
    border: none;
    border-left: 5px solid #99a8b1!important;
    background-color: #c4d5df;
}

.tabs-left.nav-tabs>li.active>a,
.tabs-left.nav-tabs>li.active>a:hover>li.active>a:focus {
    border: none;
    color: white;
    background-color: #169ef4;
    border-left: solid 5px #0c91e5 !important;
}


/*end custom left sitebar*/


/*.nav-tabs>li>a {
    background-color: #eee;
}*/


/*custom time picker*/

.bootstrap-timepicker-widget.dropdown-menu.open {
    z-index: 1050 !important;
}

.my-fileinput{
    border: 1px solid #ccc;
}

img.profile-imge{
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}
/*phan quoc chien*/

.sweet-alert .sa-icon {
    border-radius: 50% !important;
}

.sweet-alert .sa-icon.sa-success .sa-placeholder {
    border-radius: 50% !important;
}

.help-block-error {
    color: #e73d4a;
}

.c_radio_custom {
    padding-left: 10px;
}

.c_radio_custom .radio {
    padding-top: 2px;
}

.loading-page {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: url(../img/big-f0f0f0.gif) center no-repeat;
    display: none;
}


/*giang*/

.is-Choose {
    background-color: #CCFFFF !important;
}

.is-Selected {
    color: #31b0d5;
}

.is-notSelected {
    color: red;
}

span.glyphicon:hover {
    color: #00BFFF;
}

.sort {
    color: #00BFFF !important;
}
