<!-- BEGIN PAGE HEADER-->
<h1 class="my-page-title">User Profile</h1>
<!-- END PAGE HEADER-->

<!-- DOCTOR PROFILE -->
<div class="row" ng-if="user.doctor!=null">
	<div class="col-md-12">
		<doctor-detail on-uid="uid" on-data="data" on-showfull="false" on-speciality="special" on-listshow="listDoctor" action="action" on-cancel="close"></doctor-detail>
	</div>
</div>
<!-- END DOCTOR PROFILE -->

<!-- PATIENT PROFILE -->
<div class="row" ng-if="user.patient!=null">
	<div class="col-md-12">
		<div class=" portlet light">
			<patient-listmodal on-uid="patientUID" on-showfull="false" on-listshow="listPatient" ng-if="patientUID!=null" on-disabled="true" ></patient-listmodal>
		</div>
	</div>
</div>
<!-- END PATIENT PROFILE -->

<!-- test -->
<!-- <auto-table on-item="listname" on-listfunction="listfunc"></auto-table> -->