<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
	<ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="javascript:;" ui-sref="authentication.home.list">Home</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <b>User Profile</b>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<h3 class="page-title bold">User Profile</h3>

<div class="row" id="user-content"></div>

<!-- test -->
<!-- <auto-table on-item="listname" on-listfunction="listfunc"></auto-table> -->