<html>

<head>
    <meta charset="UTF-8">
    <title>Urgent Received</title>
</head>

<body>
        <h5>Please be informed that your enquiry has been received and our Redimed staff will contact you shortly.</h5>
            <a href="http://localhost:3004/#/changepass/<%=UID%>/<%=data%>" target="_blank"><%=data%></a>
</body>
</html>