<div ng-show="editor==false" id="{{'form_view '+option.value1}}">
	<div class="row">
		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-4">
					<label class="control-label">{{option.value1}}</label>
				</div>
				<div class="radio-list">
					<div class="radio-list">
						<div class="radio-inline">
							<input type="radio" ng-model="info.value3" ng-change="changeValue('value3')" ng-value="'Yes'" name="{{id}}" />{{option.value2=='1'?'Yes':'True'}}
						</div>
						<div class="radio-inline">
							<input type="radio" ng-model="info.value3" ng-change="changeValue('value3')" ng-value="'No'" name="{{id}}" />{{option.value2=='1'?'No':'False'}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-show="editor==true" id="{{idform}}">
	<div class="col-md-12">
		<div class="col-md-2"><label>Question Name : </label></div>
		<div class="col-md-2">
			<input type="text" ng-model="option.value1" />
		</div>
		<div class="col-md-2">
			<div class="radio-list">
				<div class="radio-inline">
					<input type="radio" ng-model="option.value1" ng-value="'Y'" name="{{id}}" disabled="true" />
				</div>
				<div class="radio-inline">
					<input type="radio" ng-model="option.value1" ng-value="'N'" name="{{id}}" disabled="true" />
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<select ng-model="option.value2" ng-options="t.id as t.name for t in listChose "></select>
		</div>
	</div>
</div>