<div ng-show="editor==false" id="{{'form_view '+option.value1}}">
	<div class='col-md-12'>
		<div class='col-md-6'>
			<label>{{option.value1}}</label><input type='text' ng-model='info.value1' class="form-control" ng-change="changeValue('value1')" ng-true-value="0" ng-false-value="1" />
		</div>
		<div class='col-md-6'>
			<div class="radio-list">
				<div class="radio-list">
					<div class="radio-inline">
						<label><input type="radio" ng-model="info.value2" ng-change="changeValue('value2')" ng-value="option.value2" name="{{option.value1}}" />{{option.value2}}</label>
					</div>
					<div class="radio-inline">
						<label><input type="radio" ng-model="info.value2" ng-change="changeValue('value2')" ng-value="option.value3" name="{{option.value1}}" />{{option.value3}}</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-show="editor==true" id="{{idform}}">
	<div class="col-md-12">
		<div class="col-md-3">
			<label>Label Name</label>
		</div>
		<div class="col-md-5">
			<input type="text" ng-model="option.value1" />
		</div>
	</div>
	<div class="col-md-12">&nbsp;</div>
	<div class="col-md-12">
		<div class="col-md-3">
			<label>Checkbox1 Label Name</label>
		</div>
		<div class="col-md-5">
			<input type="text" ng-model="option.value2" />
		</div>
	</div>
	<div class="col-md-12">&nbsp;</div>
	<div class="col-md-12">
		<div class="col-md-3">
			<label>Checkbox2 Label Name</label>
		</div>
		<div class="col-md-5">
			<input type="text" ng-model="option.value3" />
		</div>
	</div>
	<div class="col-md-12">&nbsp;</div>
</div>