<div ng-show="editor==false" id="{{'form_view '+option.value1}}">
	<div class="col-md-12">
		<h3>EMPLOYER’S DETAILS</h3>
	</div>
	<div class="col-md-12">&nbsp;</div>
	<div class="col-md-12">
		<div class="col-md-2">
			<label>Employer’s name</label>
		</div>
		<div class="col-md-4">
			<input type="text" ng-model="info.value1" ng-change="changeValue('value1')" class="form-control" />
		</div>
		<div class="col-md-2">
			<label>Employer’s phone</label>
		</div>
		<div class="col-md-4">
			<input type="text" ng-model="info.value2" ng-change="changeValue('value2')" class="form-control" />
		</div>
	</div>
	<div class="col-md-12">&nbsp;</div>
	<div class="col-md-12">
		<div class="col-md-2">
			<label>Employer’s address</label>
		</div>
		<div class="col-md-10">
			<input type="text" ng-model="info.value3" ng-change="changeValue('value3')" class="form-control" />
		</div>
	</div>
</div>
<div ng-show="editor==true" id="{{idform}}">
	<div class="col-md-12">
		<h3>EMPLOYER’S DETAILS</h3>
	</div>
</div>