<!-- content page -->
<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption font-green">
			<i class="icon-list font-green"></i>
			<span class="caption-subject bold uppercase"> Patient</span>
		</div>
		<div class="actions">
			<a href="javascript:;" class="btn btn-circle red btn-sm" ng-click="toggleFilter()"><i class="fa fa-filter"></i> Filter</a>
			<a  href="javascript:;" class="btn btn-circle blue btn-sm" ng-click="createPatient()" ng-show="isShowCreateButton">
			<i class="glyphicon glyphicon-plus"></i> Create</a>
			<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
		</div>
	</div>
	<div class="portlet-body">
		<!-- begin filter -->
		<span ng-hide="toggle">
			<div class="table-scrollable">
				<table class="table table-hover">
					<thead>
						<tr style="width:100%;">
							<th ng-repeat="i in items">
								<label class="label-control">{{i.name}} </label>
							</th>
							<th style="width:10%;">Enable</th>
						</tr>
					</thead>
					<tbody>
						<tr style="width:100%;">
							<td ng-repeat="i in items">
								<input type="text" class="form-control" placeholder="{{i.name}}" ng-model="search[i.field]" ng-change="Search(search)">
							</td>
							<td style="width:10%;">
								<select class="form-control" ng-change="Search(search)" ng-model="search.Enable" ng-options="e.id as e.name for e in EnableChoose"></select>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
        </span>
        <span ng-show="toggle"></span>
        <!-- end filter -->
		<!-- begin table -->
		<div class="table-scrollable">
			<table class="table table-bordered table-hover">
			<thead>
				<tr style="width:100%;">
					<th style="width:10%;">#</th>
					<th ng-repeat="i in items">
						<label>{{i.name}} </label>
						<span class="glyphicon glyphicon-chevron-up" ng-click="sort(i.field,'ASC')" style="float: right; margin-top: -4px;"></span>
	 					<span class="glyphicon glyphicon-chevron-down" ng-click="sort(i.field,'DESC')" style="float: right; margin-top: 9px; margin-right: -14px;"></span>
 					</th>
 					<th ng-if="isShowSelectButton">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
			<tbody>
				<tr ng-repeat="p in patients" style="width:100%;margin-top: -50px;margin-left: -50px;" ng-class="{'is-Choose': p.UID === uidReturn}">
					<td style="width:10%;" ng-click="clickOpen(p.UID)">{{p.stt}}</td>
					<td ng-repeat="i in items" ng-click="clickOpen(p.UID)">{{i.field=='UserAccount'?p[i.field]['PhoneNumber']:i.field!='Gender'?p[i.field]:p[i.field]=='M'?'Male':'Female'}}</td>
					<td style="width:10%; text-align:center;" ng-if="isShowSelectButton" >
						<i ng-click="selectPatient(p.UID)" ng-class="{'glyphicon glyphicon-ok is-Selected':p.UID === uidReturn,'glyphicon glyphicon-remove is-notSelected':p.UID !== uidReturn}"></i>
					</td>
				</tr>
			</tbody>
			</table>
		</div>
		<!-- begin pagination -->
		<div class="row">
			<div class="col-md-5 col-sm-12">
				&nbsp;
			</div>
			<div class="col-md-7 col-sm-12">
				<div class="dataTables_paginate paging_simple_numbers" id="sample_1_paginate">
					<uib-pagination 
					boundary-links="true" 
					total-items="count" 
					ng-model="searchObjectMap.currentPage" 
					class="pagination-sm " 
					previous-text="&lsaquo; " 
					next-text="&rsaquo; " 
					first-text="&laquo; " 
					last-text="&raquo; " 
					items-per-page="searchObjectMap.limit" 
					max-size="searchObjectMap.maxSize"
					ng-change="setPage()"></uib-pagination>
				</div>
			</div>
		</div>
		<!-- end pagination -->
		<!-- end table -->

		<!-- begin pagination -->
		<!-- end paginatiton -->
	</div>
</div>
<!-- end content page -->
<script type="text/ng-template " id="patientListmodal">
    <patient-listmodal on-uid="ID" action="action" on-cancel="close"></patient-listmodal>
</script>
<script type="text/ng-template " id="patientCreatemodal">
    <patient-create appointment="appointment"></patient-create>
</script>