<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<div class="portlet light bordered" id="form_wizard_1">
			<div class="portlet-title">
				<div class="caption font-green">
					<i class="icon-user-follow font-green"></i> 
					<span class="caption-subject bold uppercase"> Create New Patient - </span><span class="step-title">Step 1 of 2 </span>
				</div>
				<div class="tools hidden-xs">
					<a href="javascript:;" class="collapse"></a>
				</div>
			</div>
			<div class="portlet-body form">
				<form action="#" class="form-horizontal" id="submit_form" method="POST">
					<div class="form-wizard">
						<div class="form-body">
							<ul class="nav nav-pills nav-justified steps">
								<li>
									<a href="#tab1" data-toggle="tab" class="step">
									<span class="number">1 </span>
									<span class="desc">
									<i class="fa fa-check"></i> User Account </span>
									</a>
								</li>
								<li>
									<a href="#tab2" data-toggle="tab" class="step">
									<span class="number">2 </span>
									<span class="desc">
									<i class="fa fa-check"></i> Create New Patient </span>
									</a>
								</li>
							</ul>
							<div id="bar" class="progress progress-sm progress-striped active" role="progressbar">
								<div class="progress-bar progress-bar-info"></div>
							</div>
							<div class="tab-content">
								<div class="alert alert-danger display-none">
									<button class="close" data-dismiss="alert"></button>
									You have some form errors. Please check below.
								</div>
								<div class="alert alert-success display-none">
									<button class="close" data-dismiss="alert"></button>
									Your form validation is successful!
								</div>
								<div class="tab-pane active" id="tab1">
									<!-- Begin Firstname -->
									<div class="form-group">
										<label class="control-label col-md-4">Firstname <span class="required">* </span></label>
										<div class="col-md-4">
											<input type="text" class="form-control" name="Firstname" placeholder="Firstname"ng-model="data.FirstName" ng-style="er.FirstName" ng-disabled="isBlockStep1" ng-change="ermsg.FirstName=''" /><span style="color:red;">{{ermsg.FirstName}}</span>
											<span class="help-block">Provide your Firstname </span>
										</div>
									</div>
									<!-- End Firstname -->
									<!-- Begin Middlename -->
									<div class="form-group">
										<label class="control-label col-md-4">Middlename</label>
										<div class="col-md-4">
											<input type="text" class="form-control" placeholder="Middlename"ng-model="data.MiddleName" ng-style="er.MiddleName" ng-disabled="isBlockStep1" ng-change="ermsg.MiddleName=''" />
											<span style="color:red;">{{ermsg.MiddleName}}</span>
											<span class="help-block">Provide your MiddleName </span>
										</div>
									</div>
									<!-- End Middlename -->
									<!-- Begin Lastname -->
									<div class="form-group ">
										<label class="control-label col-md-4">Lastname <span class="required">* </span></label>
										<div class="col-md-4">
											<input type="text" class="form-control" name="Lastname" placeholder="Lastname" ng-model="data.LastName" ng-style="er.LastName" ng-disabled="isBlockStep1" ng-change="ermsg.LastName=''" /><span style="color:red;">{{ermsg.LastName}}</span>
											<span class="help-block">Provide your Lastname </span>
										</div>
									</div>
									<!-- End Lastname -->
									<!-- begin phone -->
									<div class="form-group">
										<label class="control-label col-md-4">Mobilephone <span class="required">* </span>
										</label>
										<div class="col-md-4">
											<input type="text" class="form-control" name="Mobilephone" placeholder="+61 8888 8888" ng-model="data.PhoneNumber" ng-style="er.PhoneNumber" ng-disabled="isBlockStep1" ng-change="ermsg.PhoneNumber=''" />
											<span style="color:red;">{{ermsg.PhoneNumber}}</span>
											<span class="help-block">Provide your Mobilephone </span>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tab2">
									<div style="margin:3em;">
										<div class="row">
											<!-- begin avatar -->
											<div class="col-md-3">
												<!-- avatar -->
												<div ng-form name="checkInForm" novalidate>
													
													<div class="form-group">
														<div class="fileinput fileinput-new" data-provides="fileinput">
															<div class="fileinput-new thumbnail" style="width: 300px; height: 300px;">
																
															</div>
															<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 300px; max-height: 300px;">
															</div>
															<div>
																<span class="btn green btn-file">
																	<span class="fileinput-new">
																	Select Image </span>
																	<span class="fileinput-exists">
																	Change </span>
																	 <input type="file" nv-file-select="" uploader="uploader" />
																</span>
																<a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput">Remove </a>
															</div>
														</div>
													</div>
												</div>
												
											</div>
											<!-- end avatar -->
											<!-- begin basic -->
											<div class="col-md-4">
												<h4><b>Basic Information</b></h4>
												<hr>
												<!-- begin title -->
									            <div class="form-group">
									            	<label class="control-label col-md-4">Title<span style="color:red;" ng-if="ermsg.Title!=undefined&&ermsg.Title!=''&&ermsg.Title!=null">*</span></label>
									            	<div class="col-md-8">
									            		<select class="form-control" ng-options="t.id as t.name for t in titles" ng-model="data.Title" ng-style="er.Title" ng-change="ermsg.Title=''" ></select>
									            		<span style="color:red;">{{ermsg.Title}}</span>
									            	</div>
									            </div>
									            <!-- end title -->
												<!-- Begin First name -->
												<div class="form-group">
													<label class="control-label col-md-4">Firstname<span style="color:red;" ng-if="ermsg.FirstName!=undefined&&ermsg.FirstName!=''&&ermsg.FirstName!=null">*</span></label>
													<div class="col-md-8">
														<input type="text" class="form-control" placeholder="Firstname"ng-model="data.FirstName" ng-style="er.FirstName" ng-style="er.FirstName" ng-change="ermsg.FirstName=''" />
														<span style="color:red;">{{ermsg.FirstName}}</span>
													</div>
												</div>
												<!-- End First name -->
												<!-- Begin Middle name -->
												<div class="form-group">
													<label class="control-label col-md-4">Middlename</label>
													<div class="col-md-8">
														<input type="text" class="form-control" placeholder="Middlename" ng-model="data.MiddleName" ng-style="er.MiddleName" ng-change="ermsg.MiddleName=''" />
														<span style="color:red;">{{ermsg.MiddleName}}</span>
													</div>
												</div>
												<!-- End Middle name -->
												<!-- Begin Sur name -->
												<div class="form-group ">
													<label class="control-label col-md-4">Lastname<span style="color:red;" ng-if="ermsg.LastName!=undefined&&ermsg.LastName!=''&&ermsg.LastName!=null">*</span></label>
													<div class="col-md-8">
														<input type="text" class="form-control" placeholder="Lastname" ng-model="data.LastName" ng-style="er.LastName" ng-change="ermsg.LastName=''" />
														<span style="color:red;">{{ermsg.LastName}}</span>
													</div>
												</div>
												<!-- End Sur name -->
												<!-- Date of Birth -->
												<div class="form-group">
													<label class="control-label col-md-4">Date of Birth<span style="color:red;" ng-if="ermsg.DOB!=undefined&&ermsg.DOB!=''&&ermsg.DOB!=null">*</span></label>
													<div class="col-md-8">
													 <input class="form-control form-control-inline date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" ng-model="data.DOB" id="DOB" ng-style="er.DOB" ng-change="ermsg.DOB=''" / readonly>
														<span style="color:red;">{{ermsg.DOB}}</span></div>
												</div>
												<!-- end Date of Birth -->
												<!-- Gender -->
												<div class="form-group">
													<label class="control-label col-md-4">Gender<span style="color:red;" ng-if="ermsg.Gender!=undefined&&ermsg.Gender!=''&&ermsg.Gender!=null">*</span></label>
													<div class="col-md-8">
														<select class="form-control" ng-model="data.Gender" ng-style="er.Gender" ng-change="ermsg.Gender=''">
															<option value="M">Male</option>
															<option value="F">Female</option>
														</select>
													</div>
												</div>
												<!-- end Gender -->
												<!-- Occupation -->
												<div class="form-group">
													<label class="control-label col-md-4">Occupation</label>
													<div class="col-md-8"><input type="text" class="form-control" placeholder="Occupation" ng-model="data.Occupation" ng-style="er.Occupation" ng-change="ermsg.Occupation=''" />
														<span style="color:red;">{{ermsg.Occupation}}</span></div>
												</div>
												<!-- end Occupation -->
											</div>
											<!-- end basic -->
											<!-- begin contact -->
											<div class="col-md-4">
												<h4><b>Contact Information</b></h4>
												<hr>
												<!-- begin Email -->
												<div class="form-group">
													<label class="control-label col-md-3">Email</label>
													<div class="col-md-8">
														<div class="input-icon">
															<i class="fa fa-envelope"></i>
															<input type="text" class="form-control" placeholder="Email1" ng-disabled="isShowEmail1?true:false" ng-model="data.Email1" ng-style="er.Email1" ng-change="ermsg.Email1=''" />
														<span style="color:red;">{{ermsg.Email1}}</span>
														</div>
													</div>
												</div>
												<!-- end Email -->
												<!-- begin Home Phone -->
												<div class="form-group">
													<label class="control-label col-md-3">Homephone</label>
													<div class="col-md-8">
														<div class="input-icon">
															<i class="fa fa-phone"></i>
															<input type="text" class="form-control" placeholder="Homephone" ng-model="data.HomePhoneNumber" ng-style="er.HomePhoneNumber" ng-change="ermsg.HomePhoneNumber=''" />
														<span style="color:red;">{{ermsg.HomePhoneNumber}}</span>
														</div>
													</div>
												</div>
												<!-- end Home Phone -->
												<!-- begin Mobile -->
												<div class="form-group">
													<label class="control-label col-md-3">Mobile</label>
													<div class="col-md-8">
														<div class="input-icon">
															<i class="fa fa-mobile"></i>
															<input type="text" class="form-control" placeholder="Mobile" ng-disabled="true" ng-model="data.PhoneNumber" ng-style="er.PhoneNumber">
														</div>
													</div>
												</div>
												<!-- end Mobile -->
												<!-- begin WorkPhone -->
												<div class="form-group">
													<label class="control-label col-md-3">Workphone</label>
													<div class="col-md-8">
														<div class="input-icon">
															<i class="fa fa-phone"></i>
															<input type="text" class="form-control" placeholder="Workphone" ng-model="data.WorkPhoneNumber" ng-style="er.WorkPhoneNumber" ng-change="ermsg.WorkPhoneNumber=''" />
														<span style="color:red;">{{ermsg.WorkPhoneNumber}}</span>
														</div>
													</div>
												</div>
												<!-- end WorkPhone -->
												<!-- Begin Address1 -->
												<div class="form-group ">
													<label class="control-label col-md-3">Address1<span style="color:red;" ng-if="ermsg.Address1!=undefined&&ermsg.Address1!=''&&ermsg.Address1!=null">*</span></label>
													<div class="col-md-8">
														<div class="input-icon">
															<i class="fa  fa-paper-plane"></i>
															<input type="text" class="form-control" placeholder="Address1"ng-model="data.Address1" ng-style="er.Address1" ng-change="ermsg.Address1=''" />
														<span style="color:red;">{{ermsg.Address1}}</span>
														</div>
													</div>
												</div>
												<!-- End Address1 -->
												<!-- Begin Address2 -->
												<div class="form-group ">
													<label class="control-label col-md-3">Address2</label>
													<div class="col-md-8">
														<div class="input-icon">
															<i class="fa  fa-paper-plane"></i>
															<input type="text" class="form-control" placeholder="Address2" ng-model="data.Address2" ng-style="er.Address2" ng-change="ermsg.Address2=''" />
														<span style="color:red;">{{ermsg.Address2}}</span>
														</div>
													</div>
												</div>
												<!-- End Address2 -->
												<!-- begin Suburb -->
												<div class="form-group">
													<label class="control-label col-md-3">Suburb<span style="color:red;" ng-if="ermsg.Suburb!=undefined&&ermsg.Suburb!=''&&ermsg.Suburb!=null">*</span></label>
													<div class="col-md-8">
														<input type="text" class="form-control" placeholder="Suburb" ng-model="data.Suburb" ng-style="er.Suburb" ng-change="ermsg.Suburb=''" />
														<span style="color:red;">{{ermsg.Suburb}}</span>
													</div>
												</div>
												<!-- end Suburb -->
												<!-- begin Postcode -->
												<div class="form-group">
													<label class="control-label col-md-3">Postcode<span style="color:red;" ng-if="ermsg.Postcode!=undefined&&ermsg.Postcode!=''&&ermsg.Postcode!=null">*</span></label>
													<div class="col-md-8">
														<input type="text" class="form-control" placeholder="Postcode" ng-model="data.Postcode" ng-style="er.Postcode" ng-change="ermsg.Postcode=''" />
														<span style="color:red;">{{ermsg.Postcode}}</span>
													</div>
												</div>
												<!-- end Postcode -->
												<!-- State -->
													<div class="form-group">
														<label class="control-label col-md-3">State<span style="color:red;" ng-if="ermsg.State!=undefined&&ermsg.State!=''&&ermsg.State!=null">*</span></label>
														<div class="col-md-8">
															<select class="form-control" ng-model="data.State"ng-options="s.code as s.name for s in state" ng-style="er.State" ng-change="ermsg.State=''" >
															</select>
														<span style="color:red;">{{ermsg.State}}</span>
														</div>
													</div>
													<!-- end State -->
													<!-- Country -->
													<div class="form-group">
														<label class="control-label col-md-3">Country<span style="color:red;" ng-if="ermsg.CountryID1!=undefined&&ermsg.CountryID1!=''&&ermsg.CountryID1!=null">*</span></label>
														<div class="col-md-8">
															<select class="form-control" ng-model="data.CountryID1"ng-options="country.ID as country.ShortName for country in countries" ng-style="er.CountryID1" ng-change="ermsg.CountryID1=''" >
															</select>
															<span style="color:red;">{{ermsg.CountryID1}}</span>
														</div>
													</div>
													<!-- end Country -->
											</div>
											<!-- end contact -->
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-4 col-md-9">
									<a href="javascript:;" class="btn default button-previous" ng-click="Back()">
									<i class="m-icon-swapleft"></i> Back </a>
									<a href="javascript:;" class="btn default" ng-hide="isShowCreate" ng-click="Cancel()">
									<i class="m-icon-swapleft"></i>Cancel</a>
									<button class="btn blue" ng-click="checkPhone(data)" ng-hide="isShowNext" ng-disabled="loadingCheck">
									Verify <i class="m-icon-swapright m-icon-white"></i>
									</button>
									<a href="javascript:;" class="btn blue button-next" ng-show="isShowNext" ng-click="isShowCreate=true">
									Continue <i class="m-icon-swapright m-icon-white"></i>
									</a>
									<button class="btn green"ng-show="isShowCreate" ng-click="createPatient(data)" ng-disabled="loadingCreate">
									Create <i class="m-icon-swapright m-icon-white"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- END PAGE CONTENT-->


