<!-- BEGIN PAGE HEADER-->
<div class="page-bar ">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="authentication.consultation.list">Consultation</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <a ui-sref="authentication.consultation.detail">Consultation Detail</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <a ui-sref="authentication.eForm.home">E-Form</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <b>E-Form List</b>
        </li>
    </ul>
</div>
<br>
<!-- END PAGE HEADER-->

<eform-list></eform-list>