<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a ui-sref="loggedIn.home.list">
            <img src="{{settings.globalPath}}/images/logoRedimed-02.png" alt="logoRedimed-02" class="logo-default" width="100%" />
        </a>
        <div class="menu-toggler sidebar-toggler">
            <span></span>
        </div>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN HEADER SEARCH BOX -->
    <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
    <!-- <form class="search-form open" action="extra_search.html" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Patient search ..." name="query">
                <span class="input-group-btn">
                    <a href="javascript:;" class="btn submit">
                        <i class="icon-magnifier"></i>
                    </a>
                </span>
            </div>
        </form> -->
    <!-- END HEADER SEARCH BOX -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        <span></span>
    </a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <!-- BEGIN NOTIFICATION DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li private-notify class="dropdown dropdown-extended dropdown-inbox" id="header_notification_bar">
            </li>
            <!-- END NOTIFICATION DROPDOWN -->
            <!-- BEGIN INBOX DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li global-notify class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar"></li>
            <!-- END INBOX DROPDOWN -->
            <li class="dropdown dropdown-user">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <img alt="" dimage dimage-uid="info.fileupload[0].UID" dimage-size="'300'" class="img-circle" ng-if="info.fileupload.length > 0" />
                    <img alt="" src="theme/assets/global/images/no_person.jpg" class="img-circle" ng-if="info.fileupload.length == 0">
                    <span class="username username-hide-on-mobile">
                    {{info.doctor?info.doctor.FirstName+' '+info.doctor.LastName:info.patient.FirstName+' '+info.patient.LastName}} </span>
                    <i class="fa fa-angle-down"></i>
                    </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a href="javascript:;" ui-sref="authentication.user.profile">
                            <i class="icon-user"></i> User Profile </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-lock"></i> Lock Screen </a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="logout()">
                            <i class="icon-key"></i> Log Out </a>
                    </li>
                </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->
            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-quick-sidebar-toggler" ng-hide="Role === 'PATIENT'">
                <a href="javascript:;" class="dropdown-toggle">
                    <i class="icon-logout"></i>
                </a>
            </li>
            <!-- END QUICK SIDEBAR TOGGLER -->
        </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->
</div>
<!-- END HEADER INNER -->

<script type="text/javascript">
    Layout.initHeader(); // init header
</script>
