<!-- BEGIN CONTENT -->
<!-- <div class="page-content-wrapper"> -->
	<!-- BEGIN PAGE CONTENT-->
	<!-- <div class="page-content"> -->
		<!-- BEGIN PAGE HEADER-->
		<h3 class="page-title">
		Urgent Care <small>urgent care page</small>
		</h3>
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="index.html">Urgent Care</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<!-- <li>
					<a href="#">Pages</a>
					<i class="fa fa-angle-right"></i>
				</li> -->
			</ul>
		</div>
		<!-- END PAGE HEADER-->
	<!-- </div> -->
	<!-- END PAGE CONTENT-->
<!-- </div> -->
<!-- END CONTENT -->