<h3><span>{{words}}</span></h3>

<div class="row">
	<div class="col-md-2"><button class="btn" ng-click="changeState()">ChangeState()</button></div>
	<div class="col-md-2">
		<div class="form-group">
			<label>Firstname</label>
			<input type="text" class="form-control">
		</div>
	</div>
	<div class="col-md-2">
		<div class="form-group">
			<label>Firstname</label>
			<input type="text" class="form-control">
		</div>
	</div>
	<div class="col-md-2">
		<div class="form-group">
			<label>Firstname</label>
			<input type="text" class="form-control">
		</div>
	</div>
</div>