<h1 class="my-page-title">{{$state.current.data.pageTitle}}</h1>
<div class="portlet box green margin-top-20">
	<div class="portlet-title">
		<div class="caption bold uppercase">
			<span class="caption-subject"><i class="fa fa-calendar"></i> Telehealth Appointment</span>
		</div>
		<div class="actions">
			<a href="javascript:;" class="btn red-sunglo" ng-click="Filter()">
				Filter <i class="glyphicon glyphicon-filter"></i>
			</a>
			<a href="javascript:;" class="btn btn-primary" ng-click="open()">open</a>
		</div>
	</div>
    <div class="portlet-body form">
    	<form>
    		<div class="form-body">
    			<div class="table-scrollable">
			        <table class="table table-stripe">
			            <thead>
			                <tr>
			                    <th>#</th>
			                    <th>Patient {{searchObject.Search[0].PatientAppointment.FullName}}</th>
			                    <th>Treating Practitioner</th>
			                    <th>Request Date</th>
			                    <th>Correspondence</th>
			                </tr>
			                <tr ng-hide="toggle">
			                	<td></td>
			                	<td>
			                		<input type="text" 
			                		class="form-control" 
			                		ng-model="searchObject.Search[0].PatientAppointment.FullName"
			                		ng-enter="init()" />
			                	</td>
			                	<td>
			                		<input type="text" 
			                		class="form-control" 
			                		ng-model="searchObject.Search[1].Doctor.FullName"
			                		ng-enter="init()" />
			                	</td>
			                	<td class="form-inline">
			                		<input date-picker class="input-small" 
			                		ng-model="searchObject.Range[0].Appointment.FromTime[0]"
			                		data-date-end-date = "searchObject.Range[0].Appointment.FromTime[1]"
			                		ng-change="init()" /> to
			                		<input date-picker class="input-small" 
			                		ng-model="searchObject.Range[0].Appointment.FromTime[1]"
			                		data-date-start-date = "searchObject.Range[0].Appointment.FromTime[0]"
			                		ng-change="init()" />
			                	</td>
			                	<td></td>
			                </tr>
			            </thead>
			            <tbody>
			                <tr ng-repeat="a in appointments" ng-click="OpenModal(a.UID,'lg')">
			                    <td>{{(searchObject.currentPage-1)*searchObject.Limit + $index+1}}</td>
			                    <td>{{a.TelehealthAppointment.PatientAppointment.FirstName}}
			                    	{{a.TelehealthAppointment.PatientAppointment.MiddleName}}
			                    	{{a.TelehealthAppointment.PatientAppointment.LastName}}
			                   	</td>
			                    <td>
			                    	<span ng-if="a.Doctors[0].Title != null">{{a.Doctors[0].Title}}</span>
			                    	<span ng-if="a.Doctors[0].FirstName != null">{{a.Doctors[0].FirstName}}</span>
			                    	<span ng-if="a.Doctors[0].MiddleName != null">{{a.Doctors[0].MiddleName}}</span>
			                    	<span ng-if="a.Doctors[0].LastName != null">{{a.Doctors[0].LastName}}</span>
			                    </td>
			                    <td>{{a.RequestDate | date: 'dd/MM/yyyy - hh:mm' : 'UTC'}}</td>
			                    <td><i class="glyphicon" 
			                    	ng-class="{true: 'glyphicon-ok font-green', false: 'glyphicon-remove font-red'}[a.TelehealthAppointment.Correspondence == 'Y']"></i>
			                    </td>
			                </tr>
			            </tbody>
			        </table>
		        </div>
    		</div>
    		<div class="form-actions right">
	        	<!-- <div class="pull-left">Total : {{totalItem}}</div> -->
	        	<div class="btn-set pull-right">
	        		<pagination
	        			class="pagination-lg"
	        			boundary-links="true"
	        			total-items="totalItem"
	        			ng-model="searchObject.currentPage"
	        			previous-text="&lsaquo;" 
	        			next-text="&rsaquo;"
	        			first-text="&laquo;" 
	        			last-text="&raquo;"
	        			items-per-page="searchObject.Limit" 
	        			max-size="searchObject.maxSize"
	        			ng-change="SetPage()">
	        		</pagination>
	        	</div>
    		</div>
    	</form>
    </div>
</div>
