<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">Home</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <b>Home</b>
            <!-- <i class="fa fa-angle-right"></i> -->
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12 ">
		<i class="fa fa-5x fa-spinner fa-spin text-warning"></i>
		<i class="fa fa-5x fa-circle-o-notch fa-spin text-success"></i>
		<i class="fa fa-5x fa-refresh fa-spin text-danger"></i>
		<i class="fa fa-5x fa-cog fa-spin text-primary"></i>
		<i class="fa fa-5x fa-spinner fa-pulse text-info"></i>
	</div>
</div>
<!-- END PAGE CONTENT-->



            


