<!-- BEGIN PAGE HEADER-->
<div class="page-bar ">
    <ul class="page-breadcrumb">
        <li>
            <span>Homepage</span>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->

<h3 class="page-title">Home</h3>

<div class="portlet light bordered">
    <!-- <div class="portlet-title">
        <div class="caption">
            <i class="icon-bubbles font-blue"></i>
            <span class="caption-subject bold uppercase font-blue">{{UserRole}}</span>
            <span class="caption-helper"></span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
            <a href="javascript:;" class="fullscreen"> </a>
        </div>
    </div> -->
    <div class="portlet-body">
        <div class="row">
            <!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-buttom-30">
                <div class="dashboard-stat purple" ng-click="eForms()">
                    <div class="visual">
                        <i class="fa fa-file-text-o"></i>
                    </div>
                    <div class="details">
                        <div class="number">E-Forms</div>
                    </div>
                    <a class="more" href="javascript:;" ui-sref="authentication.eForms.list">
                        View  <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-buttom-30">
                <div class="dashboard-stat green">
                    <div class="visual">
                        <i class="glyphicon glyphicon-user"></i>
                    </div>
                    <div class="details">
                        <div class="number">Patient Admission</div>
                    </div>
                    <a class="more" href="javascript:;" ui-sref="authentication.consultation.detail.admission.detail">
                        View  <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div> -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-buttom-30" ng-show="!checkRole" ng-click="ListTodayConsultation('todaylist')">
                <div class="dashboard-stat red" >
                    <div class="visual">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="details">
                        <div class="number">Today's Consultation List</div>
                    </div>
                    <a class="more" href="javascript:;" ng-click="ListTodayConsultation('todaylist')">
                        Open And Edit  <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-buttom-30" ng-show="checkRole">
                <p style="font-size:15px;" class="font-blue">Please Click Today’s consultation to complete required questionnaire</p>
                <div class="dashboard-stat purple" ng-click="ListTodayConsultation('today')">
                    <div class="visual">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="details">
                        <div class="number">Today's Consultation</div>
                    </div>
                    <a class="more" href="javascript:;">
                        Open And Edit  <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding-buttom-30" ng-show="checkRole">
                <p style="font-size:15px;">&nbsp;</p>
                <div class="dashboard-stat green" ng-click="ListTodayConsultation('list')" >
                    <div class="visual">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="details">
                        <div class="number">Consultation List History</div>
                    </div>
                    <a class="more" href="javascript:;" >
                        Open And Edit  <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
