
<!-- BEGIN BODY -->
<div class="portlet box green portlet-datatable">
    <div class="portlet-title">
        <div class="caption bold uppercase">
            <i class="icon-list"></i>
            <span class="caption-subject">{{$state.current.data.pageTitle}}</span>
            <!-- <span class="caption-helper font-yellow-lemon"></span> -->
        </div>
    </div>
    
    <div class="portlet-body">
        <div class="table-scrollable margin-top-10">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th width="1">#</th>
                        <th >Code</th>
                        <th>Patient Name</th>
                        <th>Treating Practitioner</th>
                        <th>
                            Date Enrolled
                            <i class="fa fa-sort-asc sortDataTable" ng-click="sortDataTable('SubmitDate','ASC')" ng-show="typeSubmitDate == 'ASC'"></i>
                            <i class="fa fa-sort-desc sortDataTable" ng-click="sortDataTable('SubmitDate','DESC')" ng-show="typeSubmitDate == 'DESC'"></i>
                        </th>
                        <th width="1" align="center" style="text-align:center">
                            <img src="./theme/assets/layouts/layout/imgStatus/ReferralTracking.png">
                        </th>
                    </tr>
                    <tr ng-hide="info.toggle">
                        <td>
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="info.data.Filter[0].Appointment.Code" ng-enter="reloadData()" capitalize>
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="info.data.Search[0].Patient.FullName" ng-enter="reloadData()">
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="info.data.Search[1].Doctor.FullName" ng-enter="reloadData()">
                        </td>
                        <td class="form-inline" align="center">
                            <input type="text" class="form-control date-picker input-small" style="width: 100% !important" data-date-format="dd/mm/yyyy" ng-model="fromCreateDate" ng-change="reloadData()">
                        </td>
                        <td width="131px">
                            {{info.data.Filter.Appointment.Status}}
                            <select class="form-control" ng-model="info.data.Filter[0].Appointment.Status" name="Status" ng-options="item.value as item.name for item in info.apptStatus" ng-change="reloadData()">
                                <option value="">All</option>
                            </select>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tbody>
                        <tr ng-click="Detail(appt)" ng-repeat="appt in info.listWaapointment.rows">
                            <td>{{($index+1)+ 20*(info.paging.currentPage-1)}}</td>
                            <td>{{appt.Code}}</td>
                            <td>
                                </span>
                                {{(appt.Patients[0].FirstName !== 0)?appt.Patients[0].FirstName:""}} {{(appt.Patients[0].LastName !== null)?appt.Patients[0].LastName:""}}
                                </span>
                            </td>
                            <td>{{((appt.Doctors[0].Title !=null)?appt.Doctors[0].Title:"")+" "+((appt.Doctors[0].FirstName != null)?appt.Doctors[0].FirstName:"") +" "+((appt.Doctors[0].LastName != null)?appt.Doctors[0].LastName:"")}}</td>
                            <td>{{appt.CreatedDate | date: 'dd/MM/yyyy':'UTC'}}</td>
                            <td>
                                <span ng-if="appt.Status === info.apptStatus[3].value"><img src="./theme/assets/layouts/layout/imgStatus/attended.png" ></span>
                                <span ng-if="appt.Status === info.apptStatus[4].value"><img src="./theme/assets/layouts/layout/imgStatus/waitlist.png" ></span>
                                <span ng-if="appt.Status === info.apptStatus[1].value"><img src="./theme/assets/layouts/layout/imgStatus/pending.png" ></span>
                                <span ng-if="appt.Status === info.apptStatus[0].value"><img src="./theme/assets/layouts/layout/imgStatus/received.png" ></span>
                                <span ng-if="appt.Status === info.apptStatus[6].value" class="label label-danger">Cancelled</span>
                                <span ng-if="appt.Status === info.apptStatus[2].value"><img src="./theme/assets/layouts/layout/imgStatus/time.png" ></span>
                                <span ng-if="appt.Status === info.apptStatus[5].value"><img src="./theme/assets/layouts/layout/imgStatus/finish.png" ></span>
                            </td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <div class="dataTables_info">Total: {{info.listWaapointment.count}} records</div>
            </div>
            <div class="col-md-7 col-md-7" style="text-align:right">
                <div class="dataTables_paginate paging_simple_numbers" id="sample_1_paginate">
                    <pagination boundary-links="true" total-items="info.listWaapointment.count" ng-model="info.paging.currentPage" class="pagination-lg" previous-text="&lsaquo;" next-text="&rsaquo; " first-text="&laquo; " last-text="&raquo;" items-per-page="info.paging.itemsPerPage" max-size="info.paging.maxSize" ng-change="reloadData()"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END BODY-->
<script type="text/javascript">
ComponentsDateTimePickers.init();
</script>
