<!-- BEGIN BODY -->
<div class="portlet light bordered portlet-datatable">
    <div class="portlet-title">
        <div class="caption bold uppercase bold font-blue">
            <i class="icon-list font-blue"></i>
            <span class="caption-subject">Consultation</span>
            <!-- <span class="caption-helper font-yellow-lemon"></span> -->
        </div>
        <div class="actions">
            <a href="javascript:;" class="btn blue" ng-click="LoadData()">
                <i class="fa fa-refresh"></i> Refresh
            </a>
            <a href="javascript:;" class="btn default" ng-click="ClearSearch()">
                <i class="glyphicon glyphicon-remove"></i> Clear Search
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable table-scrollable-borderless table-responsive dt-responsive margin-top-20">
            <table class="table table-light table-hover table-striped">
                <thead>
                    <tr class="uppercase">
                        <th width="1">#</th>
                        <th>Code</th>
                        <th>Patient Name</th>
                        <th>Treating Practitioner</th>
                        <th width="160px">Consultation Type</th>
                        <th>
                            Consultation Date
                            <i class="fa fa-sort-asc sortDataTable" ng-click="sortDataTable('SubmitDate','ASC')" ng-show="typeSubmitDate == 'ASC'"></i>
                            <i class="fa fa-sort-desc sortDataTable" ng-click="sortDataTable('SubmitDate','DESC')" ng-show="typeSubmitDate == 'DESC'"></i>
                        </th>
                        <th width="1" align="center" style="text-align:center">
                            <img src="./theme/assets/layouts/layout/imgStatus/ReferralTracking.png">
                        </th>
                    </tr>
                    <tr ng-hide="info.toggle">
                        <td>
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="info.data.Filter[0].Appointment.Code" ng-enter="reloadData()" capitalize>
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="info.data.Search[0].Patient.FullName" ng-enter="reloadData()">
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="info.data.Search[1].Doctor.FullName" ng-enter="reloadData()">
                        </td>
                        <td>
                            <select class="form-control" ng-model="info.data.Filter[0].Appointment.Type" name="Type" ng-change="reloadData()">
                                <option value="">All</option>
                                <option value="Telehealth">Teleheath</option>
                                <option value="Onsite">On Site</option>
                                <option value="PreEmployment">PreEmployment</option>
                                <option value="Campaign">Campaign</option>
                                <option value="RediSite">RediSite</option>
                            </select>
                        </td>
                        <td class="form-inline" align="center">
                            <input type="text" class="form-control date-picker input-small" style="width: 100% !important" data-date-format="dd/mm/yyyy" ng-model="fromCreateDate" ng-change="reloadData()">
                        </td>
                        <td width="131px">
                            {{info.data.Filter.Appointment.Status}}
                            <select class="form-control" ng-model="info.data.Filter[0].Appointment.Status" name="Status" ng-options="item.value as item.name for item in info.apptStatus" ng-change="reloadData()">
                                <option value="">All</option>
                            </select>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-click="Detail(appt)" ng-repeat="appt in info.listWaapointment.rows">
                        <td>{{($index+1)+ 20*(info.paging.currentPage-1)}}</td>
                        <td>{{appt.Code}}</td>
                        <td>
                            </span>
                            {{(appt.Patients[0].FirstName !== 0)?appt.Patients[0].FirstName:""}} {{(appt.Patients[0].LastName !== null)?appt.Patients[0].LastName:""}}
                            </span>
                        </td>
                        <td>
                            <!--{{((appt.Doctors[0].Title !=null)?appt.Doctors[0].Title:"")+" "+((appt.Doctors[0].FirstName != null)?appt.Doctors[0].FirstName:"") +" "+((appt.Doctors[0].LastName != null)?appt.Doctors[0].LastName:"")}}-->
                            <span
                                    data-toggle="tooltip"
                                    data-placement="left"
                                    title="{{appt.DoctorsName}}">
                                {{appt.Doctors.length>1?'Group':appt.DoctorsName}}
                            </span>
                        </td>
                        <td>{{(appt.Type !== "Onsite")?appt.Type:"On Site"}}</td>
                        <td>{{appt.FromTime | date: 'dd/MM/yyyy - HH:mm'}}</td>
                        <td>
                            <span ng-if="appt.Status === info.apptStatus[3].value"><img src="./theme/assets/layouts/layout/imgStatus/attended.png" ></span>
                            <span ng-if="appt.Status === info.apptStatus[4].value"><img src="./theme/assets/layouts/layout/imgStatus/waitlist.png" ></span>
                            <span ng-if="appt.Status === info.apptStatus[1].value"><img src="./theme/assets/layouts/layout/imgStatus/pending.png" ></span>
                            <span ng-if="appt.Status === info.apptStatus[0].value"><img src="./theme/assets/layouts/layout/imgStatus/received.png" ></span>
                            <span ng-if="appt.Status === info.apptStatus[6].value" class="label label-danger">Cancelled</span>
                            <span ng-if="appt.Status === info.apptStatus[2].value"><img src="./theme/assets/layouts/layout/imgStatus/time.png" ></span>
                            <span ng-if="appt.Status === info.apptStatus[5].value"><img src="./theme/assets/layouts/layout/imgStatus/finish.png" ></span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <th colspan="7">
                        <div class="dataTables_info">Total: {{info.listWaapointment.count}} records</div>
                        <div class="dataTables_paginate paging_simple_numbers pull-right" id="sample_1_paginate">
                            <pagination boundary-links="true" total-items="info.listWaapointment.count" ng-model="info.paging.currentPage" class="pagination-md" previous-text="&lsaquo;" next-text="&rsaquo; " first-text="&laquo; " last-text="&raquo;" items-per-page="info.paging.itemsPerPage" max-size="info.paging.maxSize" ng-change="reloadData()"></pagination>
                        </div>
                    </th>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!-- END BODY-->
<script type="text/javascript">
ComponentsDateTimePickers.init();
</script>
