<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="glyphicon glyphicon-pencil"></i>
            <span class="caption-subject bold uppercase">Patient Consult History</span>
            <!-- <span class="caption-helper"></span> -->
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
            <!-- <a href="javascript:;" class="fullscreen"> </a> -->
        </div>
    </div>
    <div class="portlet-body">
       <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th width="1">#</th>
                    <th>Doctors</th>
                    <th>Created Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in consultation" ng-click="uid.show(p.UID)">
                    <td>{{(searchObjectMap.currentPage-1)*searchObjectMap.Limit +$index +1}}</td>
                    <td>{{p.Appointments[0].Doctors[0].FirstName}} {{p.Appointments[0].Doctors[0].LastName}}</td>
                    <td>{{p.CreatedDate | date: 'dd/MM/yyyy':'UTC'}}</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-5 col-sm-12">
                Total {{CountRow }} records
            </div>
            <div class="col-md-7 col-sm-12" style="text-align:right">
                <div class="dataTables_paginate paging_simple_numbers" id="sample_1_paginate">
                    <pagination boundary-links="true " total-items="CountRow " ng-model="searchObjectMap.currentPage " class="pagination" previous-text="&lsaquo; " next-text="&rsaquo; " first-text="&laquo; " last-text="&raquo; " items-per-page="searchObjectMap.Limit " max-size="searchObjectMap.maxSize " ng-change="SetPage() ">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</div>
