<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">Create New Doctor</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a ui-sref="authentication.doctor.list">Doctor</a>
		</li>
		<li>
			<i class="fa fa-angle-right"></i>
			<b>Create New Doctor</b>
		</li>
	</ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<div class="portlet light bordered" id="form_wizard_1">
			<div class="portlet-title">
				<div class="caption font-green">
					<i class="fa fa-plus-circle font-green"></i> Create New Doctor - <span class="step-title">Step 1 of 2 </span>
				</div>
				<div class="tools hidden-xs">
					<a href="javascript:;" class="collapse"></a>
				</div>
			</div>
			<div class="portlet-body form">
				<form class="form-horizontal" id="submit_form" role="form">
					<div class="form-wizard">
						<div class="form-body">
							<ul class="nav nav-pills nav-justified steps">
								<li>
									<a href="#tab1" data-toggle="tab" class="step">
									<span class="number">1 </span>
									<span class="desc">
									<i class="fa fa-check"></i> User Account </span>
									</a>
								</li>
								<li>
									<a href="#tab2" data-toggle="tab" class="step">
									<span class="number">2 </span>
									<span class="desc">
									<i class="fa fa-check"></i> Personal Information </span>
									</a>
								</li>
								<li>
									<a href="#tab3" data-toggle="tab" class="step">
									<span class="number">3 </span>
									<span class="desc">
									<i class="fa fa-check"></i> Specialist Information </span>
									</a>
								</li>
							</ul>
							<div id="bar" class="progress progress-striped active" role="progressbar">
								<div class="progress-bar progress-bar-success"></div>
							</div>
							<div class="tab-content">
								<div class="alert alert-danger display-none">
									<button class="close" data-dismiss="alert"></button>
									You have some form errors. Please check below.
								</div>
								<div class="alert alert-success display-none">
									<button class="close" data-dismiss="alert"></button>
									Your form validation is successful!
								</div>
								<div class="tab-pane active" id="tab1">
									<!-- country -->
									<div class="form-group">
										<label class="control-label col-md-4">Title</label>
										<div class="col-md-4">
											<select class="select2 form-control" ng-model="data.Titles" ng-disabled="isBlockStep2" ng-options="options.id as options.name for options in titles">
												<option value="">Select Title</option>
											</select>
										</div>
									</div>
									<!-- end country -->
									<!-- Begin Firstname -->
									<div class="form-group">
										<label class="control-label col-md-4">Firstname <span class="required">* </span></label>
										<div class="col-md-4">
											<input type="text" class="form-control" placeholder="Firstname" ng-model="data.FirstName" ng-keyup="upper(data.FirstName)" ng-disabled="isBlockStep1">
										</div>
									</div>
									<!-- End Firstname -->
									<!-- Begin Middlename -->
									<div class="form-group">
										<label class="control-label col-md-4">Middlename</label>
										<div class="col-md-4">
											<input type="text" class="form-control" placeholder="Middlename" ng-model="data.MiddleName" ng-disabled="isBlockStep1">
										</div>
									</div>
									<!-- End Middlename -->
									<!-- Begin Surname -->
										<div class="form-group ">
											<label class="control-label col-md-4">Lastname <span class="required">* </span></label>
											<div class="col-md-4">
												<input type="text" class="form-control" placeholder="Lastname" ng-model="data.LastName" ng-disabled="isBlockStep1">
											</div>
										</div>
									<!-- End Surname -->
									<!-- begin MobilePhone -->
									<div class="form-group">
										<label class="control-label col-md-4">MobilePhone <span class="required">* </span></label>
										<div class="col-md-4">
											<div class="input-icon">
												<i class="icon-call-end"></i>
												<input type="text" class="form-control" placeholder="+614 8888 8888" ng-model="data.PhoneNumber" maxlength="17" ng-disabled="isBlockStep1">
											</div>
										</div>
									</div>
									<!-- end MobilePhone -->
									<!-- begin Email -->
									<div class="form-group">
										<label class="control-label col-md-4">Email</label>
										<div class="col-md-4">
											<div class="input-icon">
												<i class="fa fa-envelope"></i>
												<input type="text" class="form-control" placeholder="Email" ng-model="data.Email" ng-disabled="isBlockStep2">
											</div>
										</div>
									</div>
									<!-- end Email -->
								</div>
								<div class="tab-pane" id="tab2">
									<div style="margin:3em;">
										<div class="row">
											<div class="col-md-4">
												<!-- profileImage -->
												<div class="form-group">
													<div class="fileinput fileinput-new" data-provides="fileinput">
														<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 100%; height: 100%;">
															<img src="theme/assets/global/images/no_person.jpg">
														</div>
														<div>
															<span class="btn green btn-file">
															<span class="fileinput-new">
															Select Image </span>
															<span class="fileinput-exists">
															Change </span>
															<input type="file" nv-file-select uploader="uploaders">
															</span>
															<a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput">
															Remove </a>
														</div>
													</div>
													<div class="clearfix margin-top-10"></div>
												</div>
												<!-- end profileImage -->
											</div>
											<div class="col-md-4">
												<!-- Healthlink ID -->
												<div class="form-group">
													<label class="control-label col-md-3">Healthlink ID</label>
													<div class="col-md-9">
														<input type="text" placeholder="Healthlink ID" class="form-control" ng-model="data.HealthLinkID" ng-disabled="isBlockStep2">
													</div>
												</div>
												<!-- End Healthlink ID -->
												<!-- begin DOB -->
												<div class="form-group">
													<label class="control-label col-md-3">Date of Birth</label>
													<div class="col-md-9">
														<div class="input-icon">
															<i class="fa fa-calendar"></i>
	           												<input type="text" class="form-control form-control-inline date-picker" ng-model="data.DOB">
														</div>
													</div>
												</div>
												<!-- end DOB -->
												<!-- Begin Address1 -->
												<div class="form-group ">
													<label class="control-label col-md-3">Address1</label>
													<div class="col-md-9">
														<div class="input-icon">
															<i class="fa  fa-paper-plane"></i>
															<input type="text" class="form-control" placeholder="Address1" ng-model="data.Address1" ng-disabled="isBlockStep2">
														</div>
													</div>
												</div>
												<!-- End Address1 -->
												<!-- Begin Address2 -->
												<div class="form-group ">
													<label class="control-label col-md-3">Address2</label>
													<div class="col-md-9">
														<div class="input-icon">
															<i class="fa  fa-paper-plane"></i>
															<input type="text" class="form-control" placeholder="Address2" ng-model="data.Address2" ng-disabled="isBlockStep2">
														</div>
													</div>
												</div>
												<!-- End Address2 -->
											</div>
											<div class="col-md-4">
												
												
												
												<!-- begin Homephone -->
												<div class="form-group">
													<label class="control-label col-md-3">Homephone</label>
													<div class="col-md-9">
														<div class="input-icon">
															<i class="icon-call-end"></i>
															<input type="text" class="form-control" placeholder="Homephone" maxlength="9" ng-model="data.HomePhoneNumber" ng-disabled="isBlockStep2">
														</div>
													</div>
												</div>
												<!-- end Homephone -->
												<!-- begin Workphone -->
												<div class="form-group">
													<label class="control-label col-md-3">Workphone</label>
													<div class="col-md-9">
														<div class="input-icon">
															<i class="icon-call-end"></i>
															<input type="text" class="form-control" placeholder="Workphone" maxlength="9" ng-model="data.WorkPhoneNumber" ng-disabled="isBlockStep2">
														</div>
													</div>
												</div>
												<!-- end Workphone -->
												<!-- begin Postcode -->
												<div class="form-group">
													<label class="control-label col-md-3">Postcode</label>
													<div class="col-md-9">
														<input type="text" class="form-control" placeholder="Postcode" ng-model="data.Postcode" maxlength="4" ng-disabled="isBlockStep2">
													</div>
												</div>
												<!-- end Postcode -->
												<!-- begin Suburb -->
												<div class="form-group">
													<label class="control-label col-md-3">Suburb</label>
													<div class="col-md-9">
														<input type="text" class="form-control" placeholder="Suburb" ng-model="data.Suburb" ng-disabled="isBlockStep2">
													</div>
												</div>
												<!-- end Suburb -->
												<!-- begin State -->
												<div class="form-group">
													<label class="control-label col-md-3">State</label>
													<div class="col-md-9">
														<input type="text" class="form-control" placeholder="State" ng-model="data.State" ng-disabled="isBlockStep2">
													</div>
												</div>
												<!-- end State -->
												<!-- country -->
												<div class="form-group">
													<label class="control-label col-md-3">Country</label>
													<div class="col-md-9">
														<select class="select2 form-control" ng-model="data.CountryID" ng-disabled="isBlockStep2" ng-options="c.ID as c.ShortName for c in country">
															<option value="">Select Country</option>
														</select>
													</div>
												</div>
												<!-- end country -->
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tab3">
									<div style="margin:3em;">
										<div class="row">
											<!--  Clinical Department-->
											<div class="form-group">
												<label class="control-label col-md-3">Clinical Department</label>
												<div class="col-md-4">
													<select class="form-control" ng-model="data.DepartmentID" ng-options="d.ID as d.DepartmentName for d in department">
														<option value="">Clinical Department</option>
													</select>
												</div>
											</div>
											<!-- end Clinical Department -->
											<!-- Provider Number -->
											<div class="form-group">
												<label class="control-label col-md-3">Provider Number</label>
												<div class="col-md-4">
													<input type="text" placeholder="Provider Number" class="form-control" only-number ng-model="data.ProviderNumber">
												</div>
											</div>
											<!-- Provider Number -->
											<!-- Type -->
											<div class="form-group">
												<label class="control-label col-md-3">Type</label>
												<div class="col-md-4">
													<select class="form-control" ng-model="data.Type">
														<option value="">Type</option>
														<option value="EXTERTAL_PRACTITIONER">External Practition</option>
														<option value="INTERNAL_PRACTITIONER">Internal Practition</option>
													</select>
												</div>
											</div>
											<!-- End Type -->
											<!-- Type -->
											<div class="form-group">
												<label class="control-label col-md-3">Speciality</label>
												<div class="col-md-4">
													<select class="form-control" ng-model="data.Speciality">
														<option value="">Type</option>
														<option value="PlasticSurgeon">Plastic Surgeon</option>
														<option value="OrthopaedicSurgeon">Orthopaedic Surgeon</option>
													</select>
												</div>
											</div>
											<!-- End Type -->
											<!-- signature -->
											<div class="form-group">
												<label class="control-label col-md-3">Signature</label>
												<div class="fileinput fileinput-new col-md-4" data-provides="fileinput">
													<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 100%; height: 100%;">
															<img src="theme/assets/global/images/no_image.png">
														</div>
													<div>
														<span class="btn green btn-file">
														<span class="fileinput-new">
														Signature </span>
														<span class="fileinput-exists">
														Change </span>
														<input type="file" nv-file-select uploader="uploader">
														</span>
														<a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput">
														Remove </a>
													</div>
													<br>												</div>
												<div class="clearfix margin-top-10"></div>
											</div>
											<!-- end signature -->
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-4 col-md-9">
									<!--<a href="javascript:;" ng-click="Back()" class="btn default button-previous">
									<i class="m-icon-swapleft"></i> Back </a>-->

									<!--Step 1-->
									<a href="javascript:;" class="btn blue" ng-click="show(data)" ng-show="isShowNext">
									Verify <i class="m-icon-swapright m-icon-white"></i>
									</a>
									<a href="javascript:;" class="btn blue button-next" ng-show="isShowNext2" ng-click="show2()">
									Continue <i class="m-icon-swapright m-icon-white"></i>
									</a>
									<a href="javascript:;" class="btn default button-previous" ng-show="isShowBack3" ng-click="back_1()"><i class="m-icon-swapleft"></i> Back </a>
									<a href="javascript:;" class="btn blue" ng-show="isShowNext3" ng-click="show3(data)">
									Confirm <i class="m-icon-swapright m-icon-white"></i>
									</a>
									<a href="javascript:;" class="btn blue button-next" ng-show="isShowNext4" ng-click="show4()">
									Continue <i class="m-icon-swapright m-icon-white"></i>
									</a>
									<!--step 2-->
									<a href="javascript:;" class="btn default button-previous" ng-show="isShowBack4" ng-click="back_2()"><i class="m-icon-swapleft"></i> Back </a>
									<!--<a href="javascript:;" class="btn blue" ng-show="isShowNext5" ng-click="show5(data)">
									Confirm <i class="m-icon-swapright m-icon-white"></i>
									</a>-->
									<a href="javascript:;" class="btn green" ng-show="isShowCreate" ng-click="create(data)">
									Create <i class="m-icon-swapright m-icon-white"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- END PAGE CONTENT-->


<script type="text/javascript">
FormWizard.init(); // form step
ComponentsDateTimePickers.init(); // init todo page
</script>