<!-- BEGIN PAGE HEADER-->
<div class="page-bar ">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="javascript:;" ui-sref="authentication.home.list">Home</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <b>Patient</b>
        </li>
    </ul>
</div>
<br>
<!-- END PAGE HEADER-->

<!-- DIRECTIVE PATIENT LIST -->
<patient-list on-create="true" on-select="false" uid-return="uid"></patient-list>
<!-- END DIRECTIVE PATIENT LIST -->
