<!-- BEGIN Portlet PORTLET-->
<div class="portlet light bordered">
	<div class="portlet-title tabbable-line">
		<div class="caption">
			<i class="icon-pin font-green"></i>
			<span class="caption-subject bold font-green uppercase">Create New Patient </span>
		</div>
		<div class="actions">
			<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
		</div>
	</div>
	<div class="portlet-body form">
		<form class="form-horizontal" role="form">
			<div class="form-body">
				<div class="tab-content">
					<div class="tabbable">
						<!-- header tab -->
						<ul class="nav nav-tabs nav-tabs-lg">
							<li class="active">
								<a href="index.html#Personal_info" data-toggle="tab" aria-expanded="true">Personal Information </a>
							</li>
							<!-- <li class="">
								<a href="index.html#Specialist_info" data-toggle="tab" aria-expanded="false">Specialist Information </a>
							</li> -->
						</ul>
						<!-- end header tab -->
						<!-- content tab -->
						<div class="tab-content">
							<div class="tab-pane active" id="Personal_info">
								<div style="margin:3em;">
									<div class="row">
										<!-- begin avatar -->
										<div class="col-md-4">
											<!-- avatar -->
											<div class="form-group">
												<div class="fileinput fileinput-new" data-provides="fileinput">
													<div class="fileinput-new thumbnail" style="width: 350px; height: 350px;">
														<!-- <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""/> -->
													</div>
													<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 400px; max-height: 400px;">
													</div>
													<div>
														<span class="btn green btn-file">
															<span class="fileinput-new">
															Select Image </span>
															<span class="fileinput-exists">
															Change </span>
															<input type="file" name="...">
														</span>
														<a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput">Remove </a>
													</div>
												</div>
											</div>
											<!-- end avatar -->
										</div>
										<!-- end avatar -->
										<!-- begin information -->
										<div class="col-md-4">
											<h4><b>Basic Information</b></h4>
											<hr>
											<!-- Begin First name -->
											<div class="form-group">
												<label class="control-label col-md-4">First Name</label>
												<div class="col-md-8">
													<input type="text" class="form-control" placeholder="First Name">
												</div>
											</div>
											<!-- End First name -->
											<!-- Begin Sur name -->
											<div class="form-group ">
												<label class="control-label col-md-4">Sur Name</label>
												<div class="col-md-8">
													<input type="text" class="form-control" placeholder="Sur Name">
												</div>
											</div>
											<!-- End Sur name -->
											<!-- Begin Middle name -->
											<div class="form-group">
												<label class="control-label col-md-4">Middle Name</label>
												<div class="col-md-8">
													<input type="text" class="form-control" placeholder="Middle Name">
												</div>
											</div>
											<!-- End Middle name -->
											<!-- Date of Birth -->
											<div class="form-group">
												<label class="control-label col-md-4">Date of Birth</label>
												<div class="col-md-8"><input type="text" class="form-control" placeholder="Date of Birth"></div>
											</div>
											<!-- end Date of Birth -->
											<!-- Gender -->
											<div class="form-group">
												<label class="control-label col-md-4">Gender</label>
												<div class="col-md-8">
													<select class="form-control">
														<option value="Male">Male</option>
														<option value="Female">Female</option>
													</select>
												</div>
											</div>
											<!-- end Gender -->
											<!-- Occupation -->
											<div class="form-group">
												<label class="control-label col-md-4">Occupation</label>
												<div class="col-md-8"><input type="text" class="form-control" placeholder="Occupation"></div>
											</div>
											<!-- end Occupation -->
										</div>
										<!-- end information -->
										<!-- begin contact -->
										<div class="col-md-4">
											<h4><b>Contact Information</b></h4>
											<hr>
											<!-- begin Email -->
											<div class="form-group">
												<label class="control-label col-md-3">Email</label>
												<div class="col-md-8">
													<div class="input-icon">
														<i class="fa fa-envelope"></i>
														<input type="text" class="form-control" placeholder="Email">
													</div>
												</div>
											</div>
											<!-- end Email -->
											<!-- begin Home Phone -->
											<div class="form-group">
												<label class="control-label col-md-3">Home Phone</label>
												<div class="col-md-8">
													<div class="input-icon">
														<i class="icon-call-end"></i>
														<input type="text" class="form-control" placeholder="Home Phone">
													</div>
												</div>
											</div>
											<!-- end Home Phone -->
											<!-- begin Mobile -->
											<div class="form-group">
												<label class="control-label col-md-3">Mobile</label>
												<div class="col-md-8">
													<div class="input-icon">
														<i class="icon-call-end"></i>
														<input type="text" class="form-control" placeholder="Mobile">
													</div>
												</div>
											</div>
											<!-- end Mobile -->
											<!-- Begin Address -->
											<div class="form-group ">
												<label class="control-label col-md-3">Address</label>
												<div class="col-md-8">
													<div class="input-icon">
														<i class="fa  fa-paper-plane"></i>
														<input type="text" class="form-control" placeholder="Address">
													</div>
												</div>
											</div>
											<!-- End Address -->
											<!-- begin Sururb -->
											<div class="form-group">
												<label class="control-label col-md-3">Sururb</label>
												<div class="col-md-8">
													<div class="input-icon">
														<i class="icon-call-end"></i>
														<input type="text" class="form-control" placeholder="Sururb">
													</div>
												</div>
											</div>
											<!-- end Sururb -->
											<!-- begin Postcode -->
											<div class="form-group">
												<label class="control-label col-md-3">Postcode</label>
												<div class="col-md-8">
													<div class="input-icon">
														<i class="icon-call-end"></i>
														<input type="text" class="form-control" placeholder="Postcode">
													</div>
												</div>
											</div>
											<!-- end Postcode -->
											<!-- State -->
												<div class="form-group">
													<label class="control-label col-md-3">State</label>
													<div class="col-md-8">
														<select class="form-control">
															<option ng-repeat="s in states" value="{{s.name}}">{{s.name}}</option>
														</select>
													</div>
												</div>
												<!-- end State -->
												<!-- Country -->
												<div class="form-group">
													<label class="control-label col-md-3">Country</label>
													<div class="col-md-8">
														<select class="form-control">
															<option ng-repeat="country in countries" value="{{country.name}}">
																{{country.name}}
															</option>
														</select>
													</div>
												</div>
												<!-- end Country -->
										</div>
										<!-- end contact -->
									</div>
								</div>
							</div>
						</div>
						<!-- end content tab -->
					</div>
				</div>
			</div>
			<div class="form-actions right">
				<div class="row">
					<div class="col-md-offset-3 col-md-9">
						<a class="btn default" ui-sref="authentication.patient.list"><i class="icon-arrow-left"></i> Cancel</a>
						<a class="btn green"><i class="glyphicon glyphicon-save"></i> Create</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- END Portlet PORTLET-->