<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">Create New Patient</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a ui-sref="authentication.patient.list">Patient</a>
		</li>
		<li>
			<i class="fa fa-angle-right"></i>
			<b>Create New Patient</b>
		</li>
	</ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<div class="portlet light bordered" id="form_wizard_1">
			<div class="portlet-title">
				<div class="caption font-green">
					<i class="fa fa-plus-circle font-green"></i> Create New Patient - <span class="step-title">Step 1 of 2 </span>
				</div>
				<div class="tools hidden-xs">
					<a href="javascript:;" class="collapse"></a>
				</div>
			</div>
			<div class="portlet-body form">
				<form action="#" class="form-horizontal" id="submit_form" method="POST">
					<div class="form-wizard">
						<div class="form-body">
							<ul class="nav nav-pills nav-justified steps">
								<li>
									<a href="#tab1" data-toggle="tab" class="step">
									<span class="number">1 </span>
									<span class="desc">
									<i class="fa fa-check"></i> Validation </span>
									</a>
								</li>
								<li>
									<a href="#tab2" data-toggle="tab" class="step">
									<span class="number">2 </span>
									<span class="desc">
									<i class="fa fa-check"></i> Create New Patient </span>
									</a>
								</li>
							</ul>
							<div id="bar" class="progress progress-striped active" role="progressbar">
								<div class="progress-bar progress-bar-success"></div>
							</div>
							<div class="tab-content">
								<div class="alert alert-danger display-none">
									<button class="close" data-dismiss="alert"></button>
									You have some form errors. Please check below.
								</div>
								<div class="alert alert-success display-none">
									<button class="close" data-dismiss="alert"></button>
									Your form validation is successful!
								</div>
								<div class="tab-pane active" id="tab1">
									<!-- Begin Firstname -->
									<div class="form-group">
										<label class="control-label col-md-4">Firstname <span class="required">* </span></label>
										<div class="col-md-4">
											<input type="text" class="form-control" name="Firstname" placeholder="Firstname"ng-model="data.FirstName" ng-style="er.FirstName" ng-disabled="isBlockStep1" />
											<span class="help-block">Provide your Firstname </span>
										</div>
									</div>
									<!-- End Firstname -->
									<!-- Begin Surname -->
									<div class="form-group ">
										<label class="control-label col-md-4">Surname <span class="required">* </span></label>
										<div class="col-md-4">
											<input type="text" class="form-control" name="Surname" placeholder="Surname" ng-model="data.LastName" ng-style="er.LastName" ng-disabled="isBlockStep1" />
											<span class="help-block">Provide your Surname </span>
										</div>
									</div>
									<!-- End Surname -->
									<!-- Begin Middlename -->
									<div class="form-group">
										<label class="control-label col-md-4">Middlename <span class="required">* </span></label>
										<div class="col-md-4">
											<input type="text" class="form-control" placeholder="Middlename">
											<span class="help-block">Provide your Middlename </span>
										</div>
									</div>
									<!-- End Middlename -->
									<!-- begin phone -->
									<div class="form-group">
										<label class="control-label col-md-4">Mobilephone <span class="required">* </span>
										</label>
										<div class="col-md-4">
											<input type="text" class="form-control" name="Mobilephone" placeholder="+61 8888 8888" ng-model="data.PhoneNumber" ng-style="er.PhoneNumber" ng-disabled="isBlockStep1" />
											<span class="help-block">Provide your Mobilephone </span>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tab2">
									<div style="margin:3em;">
										<div class="row">
											<!-- begin avatar -->
											<div class="col-md-4">
												<!-- avatar -->
												<div class="form-group">
													<div class="fileinput fileinput-new" data-provides="fileinput">
														<div class="fileinput-new thumbnail" style="width: 350px; height: 350px;">
															<!-- <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""/> -->
														</div>
														<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 400px; max-height: 400px;">
														</div>
														<div>
															<span class="btn green btn-file">
																<span class="fileinput-new">
																Select Image </span>
																<span class="fileinput-exists">
																Change </span>
																<input type="file" name="...">
															</span>
															<a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput">Remove </a>
														</div>
													</div>
												</div>
											</div>
											<!-- end avatar -->
											<!-- begin basic -->
											<div class="col-md-4">
												<h4><b>Basic Information</b></h4>
												<hr>
												<!-- begin title -->
									            <div class="form-group">
									            	<label class="control-label col-md-4">Title</label>
									            	<div class="col-md-8">
									            		<select class="form-control"> </select>
									            	</div>
									            </div>
									            <!-- end title -->
												<!-- Begin First name -->
												<div class="form-group">
													<label class="control-label col-md-4">First Name</label>
													<div class="col-md-8">
														<input type="text" class="form-control" placeholder="First Name"ng-model="data.FirstName">
													</div>
												</div>
												<!-- End First name -->
												<!-- Begin Sur name -->
												<div class="form-group ">
													<label class="control-label col-md-4">Sur Name</label>
													<div class="col-md-8">
														<input type="text" class="form-control" placeholder="Sur Name" ng-model="data.LastName">
													</div>
												</div>
												<!-- End Sur name -->
												<!-- Begin Middle name -->
												<div class="form-group">
													<label class="control-label col-md-4">Middle Name</label>
													<div class="col-md-8">
														<input type="text" class="form-control" placeholder="Middle Name" ng-model="data.MiddleName">
													</div>
												</div>
												<!-- End Middle name -->
												<!-- Date of Birth -->
												<div class="form-group">
													<label class="control-label col-md-4">Date of Birth</label>
													<div class="col-md-8">  <input ng-model="data.DOB" type="text" class="form-control input-sm" name="dob" datepicker-popup="dd/MM/yyyy" is-open="openDOB" ng-click="openDOB = true" datepicker-options="dateOptions" close-text="Close" style="text-align:center;font-weight:bold;color:blue;"></div>
												</div>
												<!-- end Date of Birth -->
												<!-- Gender -->
												<div class="form-group">
													<label class="control-label col-md-4">Gender</label>
													<div class="col-md-8">
														<select class="form-control" ng-model="data.Gender">
															<option ng-value="M">Male</option>
															<option ng-value="F">Female</option>
														</select>
													</div>
												</div>
												<!-- end Gender -->
												<!-- Occupation -->
												<div class="form-group">
													<label class="control-label col-md-4">Occupation</label>
													<div class="col-md-8"><input type="text" class="form-control" placeholder="Occupation" ng-model="data.Occupation"></div>
												</div>
												<!-- end Occupation -->
											</div>
											<!-- end basic -->
											<!-- begin contact -->
											<div class="col-md-4">
												<h4><b>Contact Information</b></h4>
												<hr>
												<!-- begin Email -->
												<div class="form-group">
													<label class="control-label col-md-3">Email</label>
													<div class="col-md-8">
														<div class="input-icon">
															<i class="fa fa-envelope"></i>
															<input type="text" class="form-control" placeholder="Email"ng-disabled="data.Email?true:false" ng-model="data.Email">
														</div>
													</div>
												</div>
												<!-- end Email -->
												<!-- begin Home Phone -->
												<div class="form-group">
													<label class="control-label col-md-3">Home Phone</label>
													<div class="col-md-8">
														<div class="input-icon">
															<i class="icon-call-end"></i>
															<input type="text" class="form-control" placeholder="Home Phone" ng-model="data.HomePhoneNumber">
														</div>
													</div>
												</div>
												<!-- end Home Phone -->
												<!-- begin Mobile -->
												<div class="form-group">
													<label class="control-label col-md-3">Mobile</label>
													<div class="col-md-8">
														<div class="input-icon">
															<i class="icon-call-end"></i>
															<input type="text" class="form-control" placeholder="Mobile" ng-disabled="true" ng-model="data.PhoneNumber">
														</div>
													</div>
												</div>
												<!-- end Mobile -->
												<!-- begin WorkPhone -->
												<div class="form-group">
													<label class="control-label col-md-3">WorkPhone</label>
													<div class="col-md-8">
														<div class="input-icon">
															<i class="icon-call-end"></i>
															<input type="text" class="form-control" placeholder="WorkPhone" ng-model="data.WorkPhone">
														</div>
													</div>
												</div>
												<!-- end WorkPhone -->
												<!-- Begin Address1 -->
												<div class="form-group ">
													<label class="control-label col-md-3">Address1</label>
													<div class="col-md-8">
														<div class="input-icon">
															<i class="fa  fa-paper-plane"></i>
															<input type="text" class="form-control" placeholder="Address1"ng-model="data.Address1">
														</div>
													</div>
												</div>
												<!-- End Address1 -->
												<!-- Begin Address2 -->
												<div class="form-group ">
													<label class="control-label col-md-3">Address2</label>
													<div class="col-md-8">
														<div class="input-icon">
															<i class="fa  fa-paper-plane"></i>
															<input type="text" class="form-control" placeholder="Address2" ng-model="data.Address2">
														</div>
													</div>
												</div>
												<!-- End Address2 -->
												<!-- begin Suburb -->
												<div class="form-group">
													<label class="control-label col-md-3">Suburb</label>
													<div class="col-md-8">
														<input type="text" class="form-control" placeholder="Suburb" ng-model="data.Suburb">
													</div>
												</div>
												<!-- end Suburb -->
												<!-- begin Postcode -->
												<div class="form-group">
													<label class="control-label col-md-3">Postcode</label>
													<div class="col-md-8">
														<input type="text" class="form-control" placeholder="Postcode" ng-model="data.Postcode">
													</div>
												</div>
												<!-- end Postcode -->
												<!-- State -->
													<div class="form-group">
														<label class="control-label col-md-3">State</label>
														<div class="col-md-8">
															<select class="form-control">
																<option ng-repeat="s in states" value="{{s.name}}">{{s.name}}</option>
															</select>
														</div>
													</div>
													<!-- end State -->
													<!-- Country -->
													<div class="form-group">
														<label class="control-label col-md-3">Country</label>
														<div class="col-md-8">
															<select class="form-control" ng-model="data.CountryID"ng-options="country.ID as country.ShortName for country in countries">
															</select>
														</div>
													</div>
													<!-- end Country -->
											</div>
											<!-- end contact -->
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-4 col-md-9">
									<a href="javascript:;" class="btn default button-previous" ng-click="Back()">
									<i class="m-icon-swapleft"></i> Back </a>
									<a href="javascript:;" class="btn default" ng-hide="isShowCreate" ng-click="Cancel()">
									<i class="m-icon-swapleft"></i>Cancel</a>
									<a href="javascript:;" class="btn blue" ng-click="checkPhone(data)" ng-hide="isShowNext">
									Verify <i class="m-icon-swapright m-icon-white"></i>
									</a>
									<a href="javascript:;" class="btn blue button-next" ng-show="isShowNext" ng-click="isShowCreate=true">
									Continue <i class="m-icon-swapright m-icon-white"></i>
									</a>
									<a href="javascript:;" class="btn green"ng-show="isShowCreate">
									Create <i class="m-icon-swapright m-icon-white"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- END PAGE CONTENT-->


<script type="text/javascript">
Metronic.setAssetsPath('theme/assets/'); // Set the assets folder path	
FormWizard.init(); // form step
</script>