<!-- BEGIN PAGE HEADER-->
<div class="page-bar ">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="javascript:;" ui-sref="authentication.patient.home">Patient</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <a href="javascript:;" ui-sref="authentication.patient.list">List</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <b>Create</b>
        </li>
    </ul>
</div>
<br>
<!-- END PAGE HEADER-->

<!-- DIRECTIVE CREATE PATIENT -->
<patient-create></patient-create>
<!-- END DIRECTIVE CREATE PATIENT -->