<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">Patient</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<b>Patient</b>
			<i class="fa fa-angle-right"></i>
		</li>
	</ul>
</div>
<!-- END PAGE HEADER-->

<!-- content page -->
<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption font-green">
			<i class="icon-list font-green"></i>
			<span class="caption-subject bold uppercase"> Patient</span>
		</div>
		<div class="actions">
			<a href="javascript:;" class="btn btn-circle red btn-sm" ng-click="toggleFilter()"><i class="fa fa-filter"></i> Filter</a>
			<a href="javascript:;" class="btn btn-circle blue btn-sm" ui-sref="authentication.patient.create">
			<i class="glyphicon glyphicon-plus"></i> Create</a>
			<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
		</div>
	</div>
	<div class="portlet-body">
		<!-- begin filter -->
		<span ng-hide="toggle">
            <div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label class="label-control">First Name</label>
						<input type="text" class="form-control" placeholder="First Name" ng-model="search.FirstName">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="label-control">Last Name</label>
						<input type="text" class="form-control" placeholder="Last Name" ng-model="search.LastName">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="label-control">Address</label>
						<input type="text" class="form-control" placeholder="Address" ng-model="search.Address">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="label-control">Postcode</label>
						<input type="text" class="form-control" placeholder="Postcode" ng-model="search.Postcode">
					</div>
				</div>
			</div>
        </span>
        <span ng-show="toggle"></span>
        <!-- end filter -->
		<!-- begin table -->
		<div class="table-scrollable">
			<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Address</th>
					<th>Postcode</th>
				</tr>
			</thead>
			<tbody>
			<tbody>
				<tr ng-repeat="p in patients | filter:search" ng-click="openModal(p.UID)">
					<td>{{p.ID}}</td>
					<td>{{p.FirstName}}</td>
					<td>{{p.LastName}}</td>
					<td>{{p.Address}}</td>
					<td>{{p.Postcode}}</td>
				</tr>
			</tbody>
			</table>
		</div>
		<!-- begin pagination -->
		<div class="row">
			<div class="col-md-5 col-sm-12">
				&nbsp;
			</div>
			<div class="col-md-7 col-sm-12">
				<div class="dataTables_paginate paging_simple_numbers" id="sample_1_paginate">
					<pagination 
					boundary-links="true " 
					total-items="filteredTodos.length " 
					ng-model="currentPage " 
					class="pagination-sm " 
					previous-text="&lsaquo; " 
					next-text="&rsaquo; " 
					first-text="&laquo; " 
					last-text="&raquo; " 
					items-per-page="numPerPage " 
					max-size="maxSize "></pagination>
				</div>
			</div>
		</div>
		<!-- end pagination -->
		<!-- end table -->

		<!-- begin pagination -->
		<!-- end paginatiton -->
	</div>
</div>
<!-- end content page -->

