<!--BEGIN PAGE HEADER-->
<div class="page-bar margin-bottom-20">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="javascript:;" ui-sref="authentication.home.list">Home</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <a href="javascript:;" ui-sref="authentication.patient.list">Patient</a>
        </li>
        <li>
            <i class="fa fa-angle-right"></i>
            <b>Create New Patient</b>
        </li>
    </ul>
</div>
<!-- <h3 class="page-title bold">Create New Patient</h3> -->
<!-- END PAGE HEADER-->

<!-- DIRECTIVE CREATE PATIENT -->
<patient-create></patient-create>
<!-- END DIRECTIVE CREATE PATIENT -->