<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EForm Template</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" href="/favicon.ico">
        
        <link rel="stylesheet" type="text/css" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="/default/desktop/base.css">
    </head>
    <body>
        <div id="app"></div>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/lodash.min.js"></script>
        <script type="text/javascript" src="/eFormTemplateDetail.js"></script>
    </body>
</html>