<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EForm Template List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="shortcut icon" href="/favicon.ico">
        
        <link rel="stylesheet" type="text/css" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
        <style>
        *{
            margin: 0; 
            padding: 0;
        } 
        table{
            /*border-spacing: 0;*/
            border-collapse: collapse;
        }
        table tr{
            padding: 3px 0;
            border-bottom: 1px solid #ccc;
        }
        table td{
            padding: 7px 5px ;
        }

        </style>
    </head>
    <body>
        <div id="app"></div>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/eFormTemplateList.js"></script>
    </body>
</html>