<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">Doctor</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<b>Doctor</b>
			<i class="fa fa-angle-right"></i>
		</li>
	</ul>
</div>
<!-- END PAGE HEADER-->

<!-- content page -->
<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption font-blue">
			<i class="icon-list font-blue"></i>
			<span class="caption-subject bold uppercase"> Doctors</span>
		</div>
		<div class="actions">
			<a href="javascript:;" class="btn red btn-sm" ng-click="toggleFilter()"><i class="fa fa-filter"></i> Filter</a>
			<a href="javascript:;" class="btn blue btn-sm" ui-sref="authentication.doctor.create">
			<i class="glyphicon glyphicon-plus"></i> Create</a>
			<a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
		</div>
	</div>
	<div class="portlet-body">
		<!-- begin filter -->
		<span ng-hide="toggle">
            <div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label class="label-control">Full Name</label>
						<input type="text" class="form-control" placeholder="Full Name">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="label-control">Email</label>
						<input type="text" class="form-control" placeholder="Email">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="label-control">Phone</label>
						<input type="text" class="form-control" placeholder="Phone">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="label-control">Specialties</label>
						<input type="text" class="form-control" placeholder="Specialties">
					</div>
				</div>
			</div>
        </span>
        <span ng-show="toggle"></span>
        <!-- end filter -->
		<!-- begin table -->
		<div class="table-scrollable">
			<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Full name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Specialties</th>
				</tr>
			</thead>
			<tbody>
			<tbody>
				<tr ng-click="openModalDoctor()">
					<td>1</td>
					<td>Mai Shimura</td>
					<td>mai@gamil.com</td>
					<td>0122 565 8787</td>
					<td>Duis mollis, est non commodo luctus</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Athena Kasumi</td>
					<td>athena@gamil.com</td>
					<td>0122 565 8787</td>
					<td>Duis mollis, est non commodo luctus</td>
				</tr>
			</tbody>
			</table>
		</div>
		<!-- begin pagination -->
		<div class="row">
			<div class="col-md-5 col-sm-12">
				<div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite">
					Showing 1 to 10 of 43 entries
				</div>
			</div>
			<div class="col-md-7 col-sm-12">
				<div class="dataTables_paginate paging_simple_numbers" id="sample_1_paginate">
					<ul class="pagination">
						<li class="paginate_button previous disabled" aria-controls="sample_1" tabindex="0" id="sample_1_previous">
							<a href="#">
								<i class="fa fa-angle-left"></i>
							</a>
						</li>
						<li class="paginate_button active" aria-controls="sample_1" tabindex="0"><a href="#">1</a></li>
						<li class="paginate_button " aria-controls="sample_1" tabindex="0"><a href="#">2</a></li>
						<li class="paginate_button " aria-controls="sample_1" tabindex="0"><a href="#">3</a></li>
						<li class="paginate_button " aria-controls="sample_1" tabindex="0"><a href="#">4</a></li>
						<li class="paginate_button " aria-controls="sample_1" tabindex="0"><a href="#">5</a></li>
						<li class="paginate_button next" aria-controls="sample_1" tabindex="0" id="sample_1_next">
							<a href="#"><i class="fa fa-angle-right"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- end pagination -->
		<!-- end table -->

		<!-- begin pagination -->
		<!-- end paginatiton -->
	</div>
</div>
<!-- end content page -->
