<!-- BEGIN PAGE TITLE-->
<!-- <h3 class="page-title">E-Form <small>appointment</small></h3>
 --><!-- END PAGE TITLE-->


<div class="portlet portlet box red-thunderbird">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-calendar-plus-o"></i>
            <span class="caption-subject bold uppercase">{{Name}}</span>
            <span class="caption-helper"></span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
            <a href="javascript:;" class="fullscreen"> </a>
        </div>
    </div>
    <div class="portlet-body form">
        <form>
            <div class="form-body" id="form" >
                <br>
                <!-- <button ng-click="demo()"></button> -->
            </div>
            <div class="form-actions right">
                <button class="btn btn-lg red-thunderbird" ng-show="isUpdatedata==true" ng-click="update()" >
                    <i class="glyphicon glyphicon-save"></i> Update</button>
                <button class="btn btn-lg red-thunderbird" ng-show="isUpdatedata==false" ng-click="submit()">
                    <i class="glyphicon glyphicon-save"></i> Submit</button>
            </div>
        </form>
    </div>
</div>