<div ng-show="editor==false" id="{{'form_view '+option.value1}}">
	<div class="row">
	   	<div class="col-md-12 col-sm-12">
	        <h4 class="bold uppercase">Patient Detail</h4>
	        <div class="form-group">
	            <label class="control-label">Title</label>
	            <div class="radio-list">
	                <label class="radio-inline"><input type="radio" name="chose" ng-model="info.patientInfo.Title" ng-value="'Mr'" ng-change="changeValue('Title')" />Mr</label>
	                <label class="radio-inline"><input type="radio" name="chose" ng-model="info.patientInfo.Title" ng-value="'Mrs'" ng-change="changeValue('Title')" />Mrs</label>
	                <label class="radio-inline"><input type="radio" name="chose" ng-model="info.patientInfo.Title" ng-value="'Ms'" ng-change="changeValue('Title')" />Ms</label>
	                <label class="radio-inline"><input type="radio" name="chose" ng-model="info.patientInfo.Title" ng-value="'Miss'" ng-change="changeValue('Title')" />Miss</label>
	                <label class="radio-inline"><input type="radio" name="chose" ng-model="info.patientInfo.Title" ng-value="'Master'" ng-change="changeValue('Title')" />Master</label>
	                <label class="radio-inline"><input type="radio" name="chose" ng-model="info.patientInfo.Title" ng-value="'Dr'" ng-change="changeValue('Title')" />Dr</label>
	            </div>   
	        </div>
	    </div>
	</div>
	<hr>
	<div class="row">
	    <div class="col-md-6 col-sm-6">
	        <div class="form-group">
	            <label class="control-label">Family Name</label>
	           	<input type="text" name="familyName" ng-model="info.patientInfo.FirstName" ng-change="changeValue('FirstName')" class="form-control">
	        </div>
	    </div>
	    <div class="col-md-6 col-sm-6">
	     	<div class="form-group">
	            <label class="control-label">Given Name(s)</label>
	            <input type="text" name="givenName" ng-model="info.patientInfo.LastName" ng-change="changeValue('LastName')" class="form-control">
	        </div>
	    </div>
	</div>
	<div class="row">
	    <div class="col-md-6 col-sm-6">
	        <div class="form-group">
	            <label class="control-label">Date of Birth</label>
	            <input class="form-control form-control-inline date-picker" size="16" type="text" data-date-format="dd/mm/yyyy" date-start-date="1/1/1900" data-date-end-date="0d" ng-model="info.patientInfo.DOB" ng-change="changeValue('DOB')" id="DOB"/>
	        </div>
	    </div>
	   	<div class="col-md-6 col-sm-6">
	        <div class="form-group">
	            <label class="control-label">Age</label>
	            <input type="text" name="age" ng-model="info.patientInfo.Age" ng-change="changeValue('Age')" class="form-control">
	        </div>
	    </div>
	</div>
	<div class="row">
	    <div class="col-md-12 col-sm-12">
	        <label class="control-label">Address</label>
	        <input type="text" name="address" ng-model="info.patientInfo.Address1" ng-change="changeValue('Address1')" class="form-control">
	    </div>
	</div>
	<div class="row">
	    <div class="col-md-6 col-sm-6">
	      	<label class="control-label">Suburb</label>
	        <input type="text" name="suburb" ng-model="info.patientInfo.Suburb" ng-change="changeValue('Suburb')" class="form-control">
	    </div>
	    <div class="col-md-6 col-sm-6">
	        <label class="control-label">Postcode</label>
	        <input type="text" name="postcode" ng-model="info.patientInfo.Postcode" ng-change="changeValue('Postcode')" class="form-control">
	    </div>
	</div>
	<div class="row">
	    <div class="col-md-4 col-sm-4">
	        <label class="control-label">Homephone</label>
	        <input type="text" name="homephone" ng-model="info.patientInfo.HomePhoneNumber" ng-change="changeValue('HomePhoneNumber')" class="form-control">
	    </div>
	    <div class="col-md-4 col-sm-4">
	        <label class="control-label">Mobilephone</label>
	        <input type="text" name="mobilephone" ng-model="info.patientInfo.UserAccount.PhoneNumber"  class="form-control" disabled="true">
	    </div>
	    <div class="col-md-4 col-sm-4">
	        <label class="control-label">Workphone</label>
	        <input type="text" name="workphone" ng-model="info.patientInfo.WorkPhoneNumber" ng-change="changeValue('WorkPhoneNumber')" class="form-control">
	    </div>
	</div>
	<div class="row">
	    <div class="col-md-8 col-sm-8">
	        <label class="control-label">Next of Kin</label>
	        <input type="text" name="nextOfKin" ng-model="info.patientInfo.nextOfKin" ng-change="changeValue('nextOfKin')" class="form-control">
	    </div>
	    <div class="col-md-4 col-sm-4">
	        <label class="control-label">Telephone</label>
	        <input type="text" name="Telephone" ng-model="info.patientInfo.tele" ng-change="changeValue('tele')" class="form-control">
	    </div>
	</div>
</div>
<div ng-show="editor==true" id="{{idform}}">
	Details
</div>
