<div class="portlet portlet-fit box blue-soft">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject uppercase bold">
                <i class="glyphicon glyphicon-calendar"></i> Appointment</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-hover">
                <tr>
                    <td>Date</td>
                    <td>
                        {{apptDate}}
                    </td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td>
                        {{apptTime}}
                    </td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        {{appointmentInfo.Status}}
                    </td>
                </tr>
                <tr>
                    <td>Insurer</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>Treating Practitioner</td>
                    <td>
                        {{appointmentInfo.Doctors[0].FirstName +" "+ appointmentInfo.Doctors[0].LastName}}
                    </td>
                </tr>
                <tr>
                    <td>Online Users</td>
                    <td>
                        <a class="btn btn-sm btn-info" href="javascript:;" ng-click="onclick()">
                            Call &nbsp;&nbsp;<i class="glyphicon glyphicon-earphone"></i></a>
                        <a class="btn btn-sm btn-danger">Chat &nbsp;&nbsp;<i class="glyphicon glyphicon-comment"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>