<div class="portlet portlet-fit box blue-soft">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject uppercase bold">
                <i class="glyphicon glyphicon-calendar"></i> Appointment</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-hover">
                <tr>
                    <td>Date</td>
                    <td>
                        <span ng-if="apptDate && apptDate != null">{{apptDate}}</span>
                        <span ng-if="!apptDate || apptDate == null">N/A</span>
                    </td>
                </tr>
                <tr>
                    <td>Time</td>
                    <td>
                        <span ng-if="apptTime && apptTime != null">{{apptTime}}</span>
                        <span ng-if="!apptTime || apptTime == null">N/A</span>
                    </td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        <span ng-if="apptdetail.Status && apptdetail.Status != null">{{apptdetail.Status}}</span>
                        <span ng-if="!apptdetail.Status || apptdetail.Status == null">N/A</span>
                    </td>
                </tr>
                <tr>
                    <td>Insurer</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>Treating Practitioner</td>
                    <td>
                        <span ng-if="apptdetail.Doctors[0].FirstName != null || apptdetail.Doctors[0].LastName != null">{{apptdetail.Doctors[0].FirstName +" "+ apptdetail.Doctors[0].LastName}}</span>
                        <span ng-if="apptdetail.Doctors[0].FirstName == null && apptdetail.Doctors[0].LastName == null">N/A</span>
                    </td>
                </tr>
                <tr>
                    <td>Online Users</td>
                    <td>
                        <button class="btn btn-sm btn-info" ng-click="funCallOpentok()" ng-disabled="!Opentok">
                            Call &nbsp;&nbsp;<i class="glyphicon glyphicon-earphone"></i></button>
                </tr>
            </table>
        </div>
    </div>
</div>
