<div class="portlet portlet-fit box red">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject uppercase bold">
                <i class="glyphicon glyphicon-heart"></i> Medicare</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table class="table table-hover">
                <tr>
                    <td>Medicare Eligible</td>
                    <td><i class="glyphicon glyphicon-ok font-green"></i></td>
                </tr>
                <tr>
                    <td>Medicare Number</td>
                    <td>123456</td>
                </tr>
                <tr>
                    <td>Medicare Reference Number</td>
                    <td>.....</td>
                </tr>
                <tr>
                    <td>Expiry Date</td>
                    <td>12/12/2014</td>
                </tr>
                <tr>
                    <td>DVA Number</td>
                    <td>.....</td>
                </tr>
                <tr>
                    <td>Motor Vehicle Accident</td>
                    <td><i class="glyphicon glyphicon-ok font-green"></i></td>
                </tr>
                <tr>
                    <td>Work Injury</td>
                    <td><i class="glyphicon glyphicon-remove font-red"></i></td>
                </tr>
                <tr>
                    <td>Next of Kin/Guardian</td>
                    <td>.....</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>.....</td>
                </tr>
                <tr>
                    <td>Relationship</td>
                    <td>.....</td>
                </tr>
                <tr>
                    <td>Contact Number</td>
                    <td>.....</td>
                </tr>
            </table>
        </div>
    </div>
</div>