<form name="form">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" 
			aria-hidden="true" ng-click="close()"></button>
		<h4 class="modal-title uppercase bold font-green">Calendar</h4>
	</div>
	<div class="modal-body">
		<div class="form-body">
			<booking-patient on-item="item" on-type="type"></booking-patient>
		</div>
	</div>
	<div class="modal-footer">
		<div class="form-actions right">
			<button type="button" class="btn btn-lg dark" data-dismiss="modal" 
				ng-click="close()"><i class="glyphicon glyphicon-arrow-left"></i> Cancel</button>
			<!-- <button type="submit" class="btn btn-lg green"
				ng-click="Save()">Save <i class="glyphicon glyphicon-save"></i></button> -->
		</div>
	</div>
</form>