
<div class="portlet light profile-sidebar-portlet bordered">
    <div class="profile-userpic">
        <img dimage dimage-uid="patientInfo.UserAccount.FileUploads[0].UID" 
            class="img-responsive" 
            ng-if="patientInfo.UserAccount.FileUploads[0].UID"/>
        <img src="theme/assets/global/images/no_person.jpg" 
            class="img-responsive" 
            ng-if="!patientInfo.UserAccount.FileUploads[0].UID"/>
    </div>
    <div class="profile-usertitle">
        <div class="profile-usertitle-name">
            <span ng-if="patientInfo" style="text-transform:capitalize;">{{patientInfo.FirstName +" "+ patientInfo.LastName}}</span>
            <span ng-if="!patientInfo" style="text-transform:capitalize;">N/A</span>
        </div>
        <div class="profile-usertitle-job">
            <span ng-if="patientInfo.Gender">{{patientInfo.Gender}}</span>
            <span ng-if="!patientInfo.Gender">N/A</span>
        </div>
    </div>
    <div class="profile-userbuttons">
        <a href="javascript:;" class="btn btn-circle blue">New Appt</a>
        <a class="btn btn-circle red" ng-click="sendEmail(patientInfo)">Send Email</a>
    </div>
    <div class="profile-usermenu">
        <ul class="nav">
            <li>
                <a href="javascript:;">
                    <i>Date of Birth: </i>
                    <span ng-if="patientInfo.DOB">{{patientInfo.DOB}}</span>
                    <span ng-if="!patientInfo.DOB">N/A</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i>Workphone: </i>
                    <span ng-if="patientInfo.WorkPhoneNumber && patientInfo.WorkPhoneNumber != null">{{patientInfo.WorkPhoneNumber}}</span>
                    <span ng-if="!patientInfo.WorkPhoneNumber || patientInfo.WorkPhoneNumber == null">N/A</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i>Homephone: </i>
                    <span ng-if="patientInfo.HomePhoneNumber && patientInfo.HomePhoneNumber != null">{{patientInfo.HomePhoneNumber}}</span>
                    <span ng-if="!patientInfo.HomePhoneNumber || patientInfo.HomePhoneNumber == null">N/A</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i>Mobilephone: </i>
                    <span ng-if="patientInfo.UserAccount && patientInfo.UserAccount.PhoneNumber != null">{{patientInfo.UserAccount.PhoneNumber}}</span>
                    <span ng-if="!patientInfo.UserAccount || patientInfo.UserAccount.PhoneNumber == null">N/A</span>
                </a>
            </li>
        </ul>
    </div>
</div>

