<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
    <!-- ng-click="updateReadQueueJob()" -->
    <i class="icon-bell"></i>
    <span class="badge badge-default" ng-if="UnReadCount > 0 ? true : false"> {{UnReadCount > 9 ? '9+' : UnReadCount}} </span>
</a>
<ul class="dropdown-menu">
    <li class="external">
        <h3>
                            <span class="bold">Notifications</span>
                        </h3>
        <a ng-click="updateReadQueueJob()" style="position:absolute;right:66px;">dissmiss all</a>
        <a ui-sref="authentication.notification.private">view all</a>
    </li>
    <li ng-if="listNotify.length > 0">
        <ul class="dropdown-menu-list scroller" style="height: 250px; overflow: auto; width: auto;" data-handle-color="#637283">
            <li ng-repeat="not in listNotify" ng-click="updateReadQueueJob(not)">
                <a href="#">
                    <span class="subject" style="margin-left:0px">
                        <span class="from" > {{not.MsgContent.Display.Subject}} </span>
                        <span class="time">{{not.fromTime}} </span>
                    </span>
                    <span class="message" style="margin-left:0px"> {{not.Subject}} </span>
                </a>
            </li>
        </ul>
    </li>
    <li ng-if="listNotify.length <= 0">
        <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
            <li class="margin-top-20 text-center">
                <span class="details">
                    You do not notification
                </span>
            </li>
        </ul>
    </li>
</ul>
