<ng-transclude ng-show='false' id='testne'></ng-transclude>

<script type="text/ng-template" id="msg-dialog">
	<div class="modal-body">	
		{{msg}}
		<div ng-if="isYesNo">
			<button ng-click="yes();">Yes</button>
			<button ng-click="no();">No</button>
		</div>
		<div ng-if="isYesNoCancel">
			<button ng-click="yes();">Yes</button>
			<button ng-click="no();">No</button>
			<button ng-click="cancel();">Cancel</button>
		</div>
		<div ng-if="isOkCancel">
			<button ng-click="ok();">Ok</button>
			<button ng-click="cancel();">Cancel</button>
		</div>
	</div>
</script>