<style>
	#myCanvas {
	  border-bottom: 1px solid rgba(0,0,0,0.3); 
	  background-color: #EAE9E3;
	  box-shadow: 0 9px 20px -5px rgba(0,0,0,0.8);
	}
	.btn-file {
	    position: relative;
	    overflow: hidden;
	}
	.btn-file input[type=file] {
	    position: absolute;
	    top: 0;
	    right: 0;
	    min-width: 100%;
	    min-height: 100%;
	    font-size: 100px;
	    text-align: right;
	    filter: alpha(opacity=0);
	    opacity: 0;
	    outline: none;
	    background: white;
	    cursor: inherit;
	    display: block;
	}
</style>
<div class="row">
	<div class="col-md-3 col-sm-3">
		<js-tree tree-data="scope" tree-model="treeArr" tree-events="dblclick:selectNodeCB"></js-tree>
	</div>
	<div class="col-md-9 col-sm-9">
		<div>
			<a ng-click="changeColor(c.color)" href="javascript:;" class="btn btn-icon-only btn-circle" ng-class="c.color" ng-repeat="c in colors" >
		    </a>
		    <a class="btn btn-icon-only btn-circle btn-default" ng-click="erase()" href="javascript:;"> 
		    	<i class="fa fa-eraser"></i>
		    </a>
		    <a class="btn btn-icon-only btn-circle btn-default" ng-click="clear()" href="javascript:;"> 
		    	<i class="fa fa-trash-o"></i>
		    </a>
		    <a class="btn btn-icon-only btn-circle btn-default" ng-click="capture()" href="javascript:;"> 
		    	<i class="fa fa-save"></i>
		    </a>
		    <span class="btn btn-default btn-file">
			    Load Picture<input type="file" id="imageLoader" accept="image/*">
			</span>
		</div>
		<br/>
		<canvas id="myCanvas"></canvas> 
	</div>
</div>


