<script type="text/ng-template" id="nodes_renderer.html">

	
	<a ng-if="node.state" href="javascript:;" ui-sref="{{node.state||null}}" class="nav-link nav-toggle">
        <i ng-class="node.icon"></i>
        <span class="title">{{node.name}}</span>
        <span class="arrow"></span>
    </a>

    <a ng-if="!node.state" href="javascript:;" class="nav-link nav-toggle">
        <i ng-class="node.icon"></i>
        <span class="title">{{node.name}}</span>
        <span class="arrow"></span>
    </a>
		
	
    <ul  ng-if="node.nodes" class="sub-menu">
        <li class="nav-item"  ng-repeat="(key,node) in node.nodes" ng-include="'nodes_renderer.html'">
        </li>
    </ul>
</script>

<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
	<li class="sidebar-toggler-wrapper">
		<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
		<div class="sidebar-toggler">
		</div>
		<!-- END SIDEBAR TOGGLER BUTTON -->
	</li>
	<!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
	<li class="sidebar-search-wrapper">
		<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
		<!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
		<!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
		<form class="sidebar-search " action="extra_search.html" method="POST">
			<a href="javascript:;" class="remove">
			<i class="icon-close"></i>
			</a>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search...">
				<span class="input-group-btn">
				<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
				</span>
			</div>
		</form>
		<!-- END RESPONSIVE QUICK SEARCH FORM -->
	</li>

	<li class="start active ">
		<a href="javascript:;" ui-sref="authentication.home.list">
		<i class="icon-home"></i>
		<span class="title">Homepage</span>
		<span class="selected"></span>
		<span class="arrow open"></span>
		</a>
	</li>
    <li class="nav-item" ng-repeat="(key,node) in menus"  ng-include="'nodes_renderer.html'">
    </li>
    <li class="nav-item">
    	<a href="javascript:;" ui-sref="authentication.user.profile" class="nav-link">
            <i class="icon-user"></i>
            <span class="title">User Profile</span>
            <span class="arrow"></span>
        </a>
    </li>
</ul>
<!-- <a href="http://localhost:3005/api/user-account/test" download>download </a>
<img ng-src="{{objectUrl}}" width:"400" height:'400'/> -->

<script>
	Layout.init(); // init current layout
</script>
