<script type="text/ng-template" id="nodes_renderer.html">
	<a ng-if="node.state" ui-sref="{{node.state||null}}" >
        <i class="fa fa-circle"></i>
        <span class="title">{{node.name}}</span>
    </a>

    <a ng-if="!node.state" href="javascript:;" class="nav-link nav-toggle" >
        <i class="fa fa-circle"></i>
        <span class="title">{{node.name}}</span>
        <span class="arrow"></span>
    </a>
		
    <ul ng-if="node.nodes" class="sub-menu">
        <li class="" ng-repeat="(key,node) in node.nodes" ng-include="'nodes_renderer.html'" finish-render>
        </li>
    </ul>
</script>

<ul class="page-sidebar-menu page-sidebar-menu-closed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" id="sidebar">
    <li class="sidebar-toggler-wrapper hide">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler">
            <span></span>
        </div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
    </li>
	<li class="nav-item start">
		<a ui-sref="authentication.home.list" ui-sref-opts="{reload:true}">
    		<i class="icon-home"></i>
    		<span class="title">Homepage</span>
		</a>
	</li>
    <li class="nav-item" ng-repeat="(key,node) in menus"  ng-include="'nodes_renderer.html'" finish-render></li>
    <!-- <li class="nav-item" ng-repeat="(key,node) in menus"  ng-include="'nodes_renderer.html'"></li> -->
    <li class="nav-item">
    	<a ui-sref="authentication.user.profile" ui-sref-opts="{reload:true}">
            <i class="glyphicon glyphicon-user"></i>
            <span class="title">User Profile</span>
            <!-- <span class="arrow"></span> -->
        </a>
    </li>
</ul>
<!-- 
<img dimage dimage-uid="'bb965155-2b92-41f8-aa78-aa072e70b452'" dimage-size="'30'" width:"400" height:'400'/>
<button ng-click="test();">Test</button> -->
