<a class="btn green" ng-click="Add()">Add File</a>

<script type="text/ng-template " id="ChoseFile">
    <div class="portlet box green" style="margin-bottom:0">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-list"></i>
                <span class="caption-subject bold uppercase"> Choose File</span>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-horizontal">
                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-12">EForm Name:</label>
                        <div class="col-md-8 col-sm-12">
                            <input type="text" ng-model="EFormName" class="form-control" ng-style="errorObj" />
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <div ng-form name="checkInForm" novalidate>
                                <div class="form-group">
                                    <div class="container">
                                        <label for="fileUpload" style="float:left; padding-right: 1%;">
                                            <span class="btn green" ng-if="isChose==false" style="width: 120px;">Select File</span>
                                            <span class="btn green" ng-if="isChose==true" style="width: 120px;">Change File</span>
                                            <input type="file" id="fileUpload" ng-model="aaa" name="fileUpload" nv-file-select uploader="uploader" style="color: transparent;  opacity: 0 !important; position: fixed;"/>
                                        </label>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="isShowListAppt">
                        <label class="control-label col-md-2 col-sm-12"></label>
                        <div class="col-md-12 col-sm-12">
                            <div class="scroller-height">
                                <table class="table table-striped table-bordered table-hover table-checkable  order-column" id="sample_1">
                                    <thead>
                                        <tr class="uppercase">
                                            <th>&nbsp;
                                            <!-- <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                                <span></span>
                                            </label> -->
                                            </th>
                                            <th>Code</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in list" class="odd gradeX">
                                            <td>
                                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                    <input type="checkbox" class="checkboxes" value="1" id="{{item.Code}}" ng-model="checkbox[item.Code]" ng-change="whenChange(item.Code, item, arr_ApptUID)" ng-true-value="'Y'" ng-false-value="'N'" />
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>{{item.Code}}</td>
                                            <td>{{item.CreatedDate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- <select class="form-control" multiple ng-model="AppointmentUID" ng-options="item.UID as item.Code for item in list">
                            </select> -->
                        </div>
                    </div>
                </div>
                <div class="form-actions right">
                    <a class="btn green" ng-click="Submit()">Submit</a>
                </div>
            </div>
        </div>
    </div>
</script>

<style type="text/css">
    .scroller-height {
        max-height: 500px;
        overflow: scroll;
    }
</style>